src/flows/AGG_FL02_PSA_InformNewAndPriorResourceByEmail.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>IQVIAPSA-6705</description>
        <name>AGG_WEA05_PSA_SG_Primary_Scientist_Assignment_Notification</name>
        <label>AGG WEA05 PSA SG Primary Scientist Assignment Notification</label>
        <locationX>842</locationX>
        <locationY>1187</locationY>
        <actionName>Aggregate_Report__c.AGG_WEA05_PSA_SG_Primary_Scientist_Assignment_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_IQVIA_Primary_GSO_added</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Aggregate_Report__c.AGG_WEA05_PSA_SG_Primary_Scientist_Assignment_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-6705</description>
        <name>AGG_WEA05_PSA_SG_Primary_Scientist_Assignment_Notification_on_update</name>
        <label>AGG WEA05 PSA SG Primary Scientist Assignment Notification on update</label>
        <locationX>2426</locationX>
        <locationY>1187</locationY>
        <actionName>Aggregate_Report__c.AGG_WEA05_PSA_SG_Primary_Scientist_Assignment_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_IQVIA_Primary_GSO_updated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Aggregate_Report__c.AGG_WEA05_PSA_SG_Primary_Scientist_Assignment_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-6705</description>
        <name>AGG_WEA09_PSA_SG_Primary_GSO_Assignment_Notification</name>
        <label>AGG WEA09 PSA SG Primary GSO Assignment Notification</label>
        <locationX>842</locationX>
        <locationY>1487</locationY>
        <actionName>Aggregate_Report__c.AGG_WEA09_PSA_SG_Primary_GSO_Assignment_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_IQVIA_Secondary_GSO_added</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Aggregate_Report__c.AGG_WEA09_PSA_SG_Primary_GSO_Assignment_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-6705</description>
        <name>AGG_WEA09_PSA_SG_Primary_GSO_Assignment_Notification_on_update</name>
        <label>AGG WEA09 PSA SG Primary GSO Assignment Notification on update</label>
        <locationX>2426</locationX>
        <locationY>1487</locationY>
        <actionName>Aggregate_Report__c.AGG_WEA09_PSA_SG_Primary_GSO_Assignment_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_IQVIA_Secondary_GSO_updated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Aggregate_Report__c.AGG_WEA09_PSA_SG_Primary_GSO_Assignment_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-6705</description>
        <name>AGG_WEA10_PSA_SG_Secondary_GSO_Assignment_Notification</name>
        <label>AGG WEA10 PSA SG Secondary GSO Assignment Notification</label>
        <locationX>842</locationX>
        <locationY>1787</locationY>
        <actionName>Aggregate_Report__c.AGG_WEA10_PSA_SG_Secondary_GSO_Assignment_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Are_IQVIA_Primary_GSO_and_IQVIA_TAH_added</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Aggregate_Report__c.AGG_WEA10_PSA_SG_Secondary_GSO_Assignment_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-6705</description>
        <name>AGG_WEA10_PSA_SG_Secondary_GSO_Assignment_Notification_on_update</name>
        <label>AGG WEA10 PSA SG Secondary GSO Assignment Notification on update</label>
        <locationX>2426</locationX>
        <locationY>1787</locationY>
        <actionName>Aggregate_Report__c.AGG_WEA10_PSA_SG_Secondary_GSO_Assignment_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Are_IQVIA_Primary_GSO_and_IQVIA_TAH_updated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Aggregate_Report__c.AGG_WEA10_PSA_SG_Secondary_GSO_Assignment_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-5353</description>
        <name>New_Coordinator_Email_Notification_when_insert</name>
        <label>New Coordinator Email Notification when insert</label>
        <locationX>50</locationX>
        <locationY>2495</locationY>
        <actionName>Aggregate_Report__c.AGG_WEA24_PSA_New_Coordinator_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Line_Listing_Reviewer_added</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Aggregate_Report__c.AGG_WEA24_PSA_New_Coordinator_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-5353</description>
        <name>New_Coordinator_Email_Notification_when_updated</name>
        <label>New Coordinator Email Notification when updated</label>
        <locationX>1414</locationX>
        <locationY>4571</locationY>
        <actionName>Aggregate_Report__c.AGG_WEA24_PSA_New_Coordinator_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Prior_Coordinator_having_email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Aggregate_Report__c.AGG_WEA24_PSA_New_Coordinator_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-5352</description>
        <name>New_Line_Listing_Qcer_Email_Notification_when_insert</name>
        <label>New Line Listing Qcer Email Notification when insert</label>
        <locationX>50</locationX>
        <locationY>3095</locationY>
        <actionName>Aggregate_Report__c.AGG_WEA28_PSA_New_Line_Listing_Qcer_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Primary_Medical_Reviewer_added</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Aggregate_Report__c.AGG_WEA28_PSA_New_Line_Listing_Qcer_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-5352</description>
        <name>New_Line_Listing_Qcer_Email_Notification_when_updated</name>
        <label>New Line Listing Qcer Email Notification when updated</label>
        <locationX>1414</locationX>
        <locationY>6155</locationY>
        <actionName>Aggregate_Report__c.AGG_WEA28_PSA_New_Line_Listing_Qcer_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Prior_Line_Listing_Qcer_having_email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Aggregate_Report__c.AGG_WEA28_PSA_New_Line_Listing_Qcer_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-5351</description>
        <name>New_Line_Listing_Reviewer_Email_Notification_when_insert</name>
        <label>New Line Listing Reviewer Email Notification when insert</label>
        <locationX>50</locationX>
        <locationY>2795</locationY>
        <actionName>Aggregate_Report__c.AGG_WEA26_PSA_New_Line_Listing_Reviewer_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Line_Listing_Qcer_added</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Aggregate_Report__c.AGG_WEA26_PSA_New_Line_Listing_Reviewer_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-5351</description>
        <name>New_Line_Listing_Reviewer_Email_Notification_when_updated</name>
        <label>New Line Listing Reviewer Email Notification when updated</label>
        <locationX>1414</locationX>
        <locationY>5363</locationY>
        <actionName>Aggregate_Report__c.AGG_WEA26_PSA_New_Line_Listing_Reviewer_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Prior_Line_Listing_Reviewer_having_email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Aggregate_Report__c.AGG_WEA26_PSA_New_Line_Listing_Reviewer_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-6708</description>
        <name>New_Primary_Author_Email_Notification_when_insert</name>
        <label>New Primary Author Email Notification when insert</label>
        <locationX>50</locationX>
        <locationY>4295</locationY>
        <actionName>Aggregate_Report__c.AGG_WEA03_PSA_NS_Change_Primary_Author_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Aggregate_Report__c.AGG_WEA03_PSA_NS_Change_Primary_Author_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-6708</description>
        <name>New_Primary_Author_Email_Notification_when_update</name>
        <label>New Primary Author Email Notification when update</label>
        <locationX>1370</locationX>
        <locationY>9323</locationY>
        <actionName>Aggregate_Report__c.AGG_WEA03_PSA_NS_Change_Primary_Author_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Prior_Author_having_email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Aggregate_Report__c.AGG_WEA03_PSA_NS_Change_Primary_Author_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-5347</description>
        <name>New_Primary_BRM_Analyst_Email_Notification_when_insert</name>
        <label>New Primary BRM Analyst Email Notification when insert</label>
        <locationX>50</locationX>
        <locationY>1895</locationY>
        <actionName>Aggregate_Report__c.AGG_WEA16_PSA_New_Primary_BRM_Analyst_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Secondary_BRM_Analyst_added</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Aggregate_Report__c.AGG_WEA16_PSA_New_Primary_BRM_Analyst_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-5347</description>
        <name>New_Primary_BRM_Analyst_Email_Notification_when_update</name>
        <label>New Primary BRM Analyst Email Notification when update</label>
        <locationX>1414</locationX>
        <locationY>2987</locationY>
        <actionName>Aggregate_Report__c.AGG_WEA16_PSA_New_Primary_BRM_Analyst_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Prior_Primary_BRM_Analyst_having_email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Aggregate_Report__c.AGG_WEA16_PSA_New_Primary_BRM_Analyst_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-5525</description>
        <name>New_Primary_Medical_Reviewer_Email_Notification_when_insert</name>
        <label>New Primary Medical Reviewer Email Notification when insert</label>
        <locationX>50</locationX>
        <locationY>3395</locationY>
        <actionName>Aggregate_Report__c.AGG_WEA12_PSA_New_Primary_Medical_Reviewer_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Secondary_Medical_Reviewer_added</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Aggregate_Report__c.AGG_WEA12_PSA_New_Primary_Medical_Reviewer_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-5525</description>
        <name>New_Primary_Medical_Reviewer_Email_Notification_when_updated</name>
        <label>New Primary Medical Reviewer Email Notification when updated</label>
        <locationX>1414</locationX>
        <locationY>6947</locationY>
        <actionName>Aggregate_Report__c.AGG_WEA12_PSA_New_Primary_Medical_Reviewer_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Prior_Primary_Medical_Reviewer_having_email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Aggregate_Report__c.AGG_WEA12_PSA_New_Primary_Medical_Reviewer_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-5325</description>
        <name>New_Primary_QC_Reviewer_Email_Notification_when_insert</name>
        <label>New Primary QC Reviewer Email Notification when insert</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <actionName>Aggregate_Report__c.AGG_WEA20_PSA_New_Primary_QC_Reviewer_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Secondary_QC_Reviewer_added</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Aggregate_Report__c.AGG_WEA20_PSA_New_Primary_QC_Reviewer_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-5325</description>
        <name>New_Primary_QC_Reviewer_Email_Notification_when_update</name>
        <label>New Primary QC Reviewer Email Notification when update</label>
        <locationX>1414</locationX>
        <locationY>1403</locationY>
        <actionName>Aggregate_Report__c.AGG_WEA20_PSA_New_Primary_QC_Reviewer_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Prior_Primary_QC_Reviewer_having_email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Aggregate_Report__c.AGG_WEA20_PSA_New_Primary_QC_Reviewer_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-5798</description>
        <name>New_Secondary_Author_Email_Notification_when_insert</name>
        <label>New Secondary Author Email Notification when insert</label>
        <locationX>50</locationX>
        <locationY>3995</locationY>
        <actionName>Aggregate_Report__c.AGG_WEA30_PSA_New_Secondary_Author_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Primary_Author_inserted</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Aggregate_Report__c.AGG_WEA30_PSA_New_Secondary_Author_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-5798</description>
        <name>New_Secondary_Author_Email_Notification_when_updated</name>
        <label>New Secondary Author Email Notification when updated</label>
        <locationX>1414</locationX>
        <locationY>8531</locationY>
        <actionName>Aggregate_Report__c.AGG_WEA30_PSA_New_Secondary_Author_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Prior_Secondary_Author_having_email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Aggregate_Report__c.AGG_WEA30_PSA_New_Secondary_Author_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-5348</description>
        <name>New_Secondary_BRM_Analyst_Email_Notification_when_insert</name>
        <label>New Secondary BRM Analyst Email Notification when insert</label>
        <locationX>50</locationX>
        <locationY>2195</locationY>
        <actionName>Aggregate_Report__c.AGG_WEA18_PSA_New_Secondary_BRM_Analyst_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Coordinator_added</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Aggregate_Report__c.AGG_WEA18_PSA_New_Secondary_BRM_Analyst_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-5348</description>
        <name>New_Secondary_BRM_Analyst_Email_Notification_when_updated</name>
        <label>New Secondary BRM Analyst Email Notification when updated</label>
        <locationX>1414</locationX>
        <locationY>3779</locationY>
        <actionName>Aggregate_Report__c.AGG_WEA18_PSA_New_Secondary_BRM_Analyst_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Prior_Secondary_BRM_Analyst_having_email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Aggregate_Report__c.AGG_WEA18_PSA_New_Secondary_BRM_Analyst_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-5525</description>
        <name>New_Secondary_Medical_Reviewer_Email_Notification_when_insert</name>
        <label>New Secondary Medical Reviewer Email Notification when insert</label>
        <locationX>50</locationX>
        <locationY>3695</locationY>
        <actionName>Aggregate_Report__c.AGG_WEA14_PSA_New_Secondary_Medical_Reviewer_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Secondary_Author_added</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Aggregate_Report__c.AGG_WEA14_PSA_New_Secondary_Medical_Reviewer_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-5525</description>
        <name>New_Secondary_Medical_Reviewer_Email_Notification_when_updated</name>
        <label>New Secondary Medical Reviewer Email Notification when updated</label>
        <locationX>1414</locationX>
        <locationY>7739</locationY>
        <actionName>Aggregate_Report__c.AGG_WEA14_PSA_New_Secondary_Medical_Reviewer_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Prior_Secondary_Medical_Reviewer_having_email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Aggregate_Report__c.AGG_WEA14_PSA_New_Secondary_Medical_Reviewer_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-5346</description>
        <name>New_Secondary_QC_Reviewer_Email_Notification_when_insert</name>
        <label>New Secondary QC Reviewer Email Notification when insert</label>
        <locationX>50</locationX>
        <locationY>1595</locationY>
        <actionName>Aggregate_Report__c.AGG_WEA22_PSA_New_Secondary_QC_Reviewer_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Primary_BRM_Analyst_added</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Aggregate_Report__c.AGG_WEA22_PSA_New_Secondary_QC_Reviewer_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-5346</description>
        <name>New_Secondary_QC_Reviewer_Email_Notification_when_updated</name>
        <label>New Secondary QC Reviewer Email Notification when updated</label>
        <locationX>1414</locationX>
        <locationY>2195</locationY>
        <actionName>Aggregate_Report__c.AGG_WEA22_PSA_New_Secondary_QC_Reviewer_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Prior_Secondary_QC_Reviewer_having_email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Aggregate_Report__c.AGG_WEA22_PSA_New_Secondary_QC_Reviewer_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-6708(flow story), PSA-CLD-IQVIAPSA-1225(workflow story)</description>
        <name>Non_Sanofi_Aggregate_Reporting_Completion_Email</name>
        <label>Non-Sanofi Aggregate Reporting Completion Email</label>
        <locationX>248</locationX>
        <locationY>887</locationY>
        <actionName>Aggregate_Report__c.AGG_WEA01_PSA_NS_Completed_Report_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Are_resource_fields_not_null</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Aggregate_Report__c.AGG_WEA01_PSA_NS_Completed_Report_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIApsa-6708</description>
        <name>Non_Sanofi_Aggregate_Reporting_Completion_Email_on_updation</name>
        <label>Non-Sanofi Aggregate Reporting Completion Email on updation</label>
        <locationX>1799</locationX>
        <locationY>887</locationY>
        <actionName>Aggregate_Report__c.AGG_WEA01_PSA_NS_Completed_Report_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Are_specific_resource_fields_updated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Aggregate_Report__c.AGG_WEA01_PSA_NS_Completed_Report_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-6709</description>
        <name>Primary_PV_Scientist_Reassignment_on_insert</name>
        <label>Primary PV Scientist Reassignment on insert</label>
        <locationX>842</locationX>
        <locationY>2087</locationY>
        <actionName>Aggregate_Report__c.AGG_WEA11_PSA_SG_Primary_PV_Scientist_Reassignment</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Aggregate_Report__c.AGG_WEA11_PSA_SG_Primary_PV_Scientist_Reassignment</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-6709</description>
        <name>Primary_PV_Scientist_Reassignment_on_updater</name>
        <label>Primary PV Scientist Reassignment on updater</label>
        <locationX>2426</locationX>
        <locationY>2087</locationY>
        <actionName>Aggregate_Report__c.AGG_WEA11_PSA_SG_Primary_PV_Scientist_Reassignment</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Aggregate_Report__c.AGG_WEA11_PSA_SG_Primary_PV_Scientist_Reassignment</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-5353</description>
        <name>Relieve_Coordinator_Email_Notification_when_updated</name>
        <label>Relieve Coordinator Email Notification when updated</label>
        <locationX>1414</locationX>
        <locationY>4871</locationY>
        <actionName>Aggregate_Report__c.AGG_WEA25_PSA_Relieve_Coordinator_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Line_Listing_Reviewer_updated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Aggregate_Report__c.AGG_WEA25_PSA_Relieve_Coordinator_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-5352</description>
        <name>Relieve_Line_Listing_Qcer_Email_Notification_when_updated</name>
        <label>Relieve Line Listing Qcer Email Notification when updated</label>
        <locationX>1414</locationX>
        <locationY>6455</locationY>
        <actionName>Aggregate_Report__c.AGG_WEA29_PSA_Relieve_Line_Listing_Qcer_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Primary_Medical_Reviewer_updated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Aggregate_Report__c.AGG_WEA29_PSA_Relieve_Line_Listing_Qcer_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-5351</description>
        <name>Relieve_Line_Listing_Reviewer_Email_Notification_when_updated</name>
        <label>Relieve Line Listing Reviewer Email Notification when updated</label>
        <locationX>1414</locationX>
        <locationY>5663</locationY>
        <actionName>Aggregate_Report__c.AGG_WEA27_PSA_Relieve_Line_Listing_Reviewer_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Line_Listing_Qcer_updated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Aggregate_Report__c.AGG_WEA27_PSA_Relieve_Line_Listing_Reviewer_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-6708</description>
        <name>Relieve_Primary_Author_Email_Notification_when_updated</name>
        <label>Relieve Primary Author Email Notification when updated</label>
        <locationX>1370</locationX>
        <locationY>9623</locationY>
        <actionName>Aggregate_Report__c.AGG_WEA04_PSA_NS_Relieve_Primary_Author_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Aggregate_Report__c.AGG_WEA04_PSA_NS_Relieve_Primary_Author_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-5347</description>
        <name>Relieve_Primary_BRM_Analyst_Email_Notification_when_updated</name>
        <label>Relieve Primary BRM Analyst Email Notification when updated</label>
        <locationX>1414</locationX>
        <locationY>3287</locationY>
        <actionName>Aggregate_Report__c.AGG_WEA17_PSA_Relieve_Primary_BRM_Analyst_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Secondary_BRM_Analyst_updated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Aggregate_Report__c.AGG_WEA17_PSA_Relieve_Primary_BRM_Analyst_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-5525</description>
        <name>Relieve_Primary_Medical_Reviewer_Email_Notification_when_updated</name>
        <label>Relieve Primary Medical Reviewer Email Notification when updated</label>
        <locationX>1414</locationX>
        <locationY>7247</locationY>
        <actionName>Aggregate_Report__c.AGG_WEA13_PSA_Relieve_Primary_Medical_Reviewer_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Secondary_Medical_Reviewer_updated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Aggregate_Report__c.AGG_WEA13_PSA_Relieve_Primary_Medical_Reviewer_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-5325</description>
        <name>Relieve_Primary_QC_Reviewer_Email_Notification_when_updated</name>
        <label>Relieve Primary QC Reviewer Email Notification when updated</label>
        <locationX>1414</locationX>
        <locationY>1703</locationY>
        <actionName>Aggregate_Report__c.AGG_WEA21_PSA_Relieve_Primary_QC_Reviewer_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Secondary_QC_Reviewer_updated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Aggregate_Report__c.AGG_WEA21_PSA_Relieve_Primary_QC_Reviewer_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-5798</description>
        <name>Relieve_Secondary_Author_Email_Notification_when_updated</name>
        <label>Relieve Secondary Author Email Notification when updated</label>
        <locationX>1414</locationX>
        <locationY>8831</locationY>
        <actionName>Aggregate_Report__c.AGG_WEA31_PSA_Relieve_Secondary_Author_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Primary_Author_updated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Aggregate_Report__c.AGG_WEA31_PSA_Relieve_Secondary_Author_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-5348</description>
        <name>Relieve_Secondary_BRM_Analyst_Email_Notification_when_updated</name>
        <label>Relieve Secondary BRM Analyst Email Notification when updated</label>
        <locationX>1414</locationX>
        <locationY>4079</locationY>
        <actionName>Aggregate_Report__c.AGG_WEA19_PSA_Relieve_Secondary_BRM_Analyst_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Coordinator_updated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Aggregate_Report__c.AGG_WEA19_PSA_Relieve_Secondary_BRM_Analyst_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-5525</description>
        <name>Relieve_Secondary_Medical_Reviewer_Email_Notification_when_updated</name>
        <label>Relieve Secondary Medical Reviewer Email Notification when updated</label>
        <locationX>1414</locationX>
        <locationY>8039</locationY>
        <actionName>Aggregate_Report__c.AGG_WEA15_PSA_Relieve_Secondary_Medical_Reviewer_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Secondary_Author_updated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Aggregate_Report__c.AGG_WEA15_PSA_Relieve_Secondary_Medical_Reviewer_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-5346</description>
        <name>Relieve_Secondary_QC_Reviewer_Email_Notification_when_updated</name>
        <label>Relieve Secondary QC Reviewer Email Notification when updated</label>
        <locationX>1414</locationX>
        <locationY>2495</locationY>
        <actionName>Aggregate_Report__c.AGG_WEA23_PSA_Relieve_Secondary_QC_Reviewer_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Primary_BRM_Analyst_updated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Aggregate_Report__c.AGG_WEA23_PSA_Relieve_Secondary_QC_Reviewer_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-6708, PSA-CLD-IQVIAPSA-1224</description>
        <name>Sanofi_Galen_Aggregate_Reporting_Completion_Email</name>
        <label>Sanofi-Galen Aggregate Reporting Completion Email</label>
        <locationX>842</locationX>
        <locationY>887</locationY>
        <actionName>Aggregate_Report__c.AGG_WEA02_PSA_SG_Completed_Report_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_IQVIA_Primary_PV_Scientist_added</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Aggregate_Report__c.AGG_WEA02_PSA_SG_Completed_Report_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-6708, PSA-CLD-IQVIAPSA-1224</description>
        <name>Sanofi_Galen_Aggregate_Reporting_Completion_Email_on_update</name>
        <label>Sanofi-Galen Aggregate Reporting Completion Email on update</label>
        <locationX>2426</locationX>
        <locationY>887</locationY>
        <actionName>Aggregate_Report__c.AGG_WEA02_PSA_SG_Completed_Report_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_IQVIA_Primary_PV_Scientist_updated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Aggregate_Report__c.AGG_WEA02_PSA_SG_Completed_Report_Notification</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>IQVIAPSA-6709: AGG WR10 PSA SG Primary PV Scientist Reassignment (Workflow to flow conversion)</description>
        <name>Are_IQVIA_Primary_GSO_and_IQVIA_TAH_added</name>
        <label>Are IQVIA Primary GSO and IQVIA TAH added</label>
        <locationX>974</locationX>
        <locationY>1979</locationY>
        <defaultConnectorLabel>No IQVIA Primary GSO and IQVIA TAH not added</defaultConnectorLabel>
        <rules>
            <name>Yes_IQVIA_Primary_GSO_and_IQVIA_TAH_added</name>
            <conditionLogic>((1 AND 2) OR (3 AND 4)) AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IQVIA_Primary_GSO__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IQVIA_Primary_GSO__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IQVIA_TAH__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IQVIA_TAH__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IQVIA_Primary_PV_Scientist__r.psa_report__Resource_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Prior_PV_Scientist__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Prior_PV_Scientist__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Primary_PV_Scientist_Reassignment_on_insert</targetReference>
            </connector>
            <label>Yes IQVIA Primary GSO and IQVIA TAH added</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-6709: Workflow to flow conversion - AGG WR10 PSA SG Primary PV Scientist Reassignment</description>
        <name>Are_IQVIA_Primary_GSO_and_IQVIA_TAH_updated</name>
        <label>Are IQVIA Primary GSO and IQVIA TAH updated</label>
        <locationX>2558</locationX>
        <locationY>1979</locationY>
        <defaultConnectorLabel>No IQVIA Primary GSO and IQVIA TAH updated</defaultConnectorLabel>
        <rules>
            <name>Yes_IQVIA_Primary_GSO_and_IQVIA_TAH_updated</name>
            <conditionLogic>((1 AND 2) OR (3 AND 4)) AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IQVIA_TAH__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IQVIA_TAH__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IQVIA_Primary_GSO__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IQVIA_Primary_GSO__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IQVIA_Primary_PV_Scientist__r.psa_report__Resource_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Prior_PV_Scientist__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Prior_PV_Scientist__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Primary_PV_Scientist_Reassignment_on_updater</targetReference>
            </connector>
            <label>Yes IQVIA Primary GSO and IQVIA TAH updated</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-6708, PSA-CLD-IQVIAPSA-1224 (workflow to flow conversion)</description>
        <name>Are_IQVIA_Primary_GSO_IQVIA_Primary_PV_Scientist_IQVIA_TAH_added</name>
        <label>Are IQVIA Primary GSO, IQVIA Primary PV Scientist, IQVIA TAH added</label>
        <locationX>974</locationX>
        <locationY>779</locationY>
        <defaultConnector>
            <targetReference>Is_IQVIA_Primary_PV_Scientist_added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No IQVIA Primary GSO, IQVIA Primary PV Scientist, IQVIA TAH not added</defaultConnectorLabel>
        <rules>
            <name>Yes_IQVIA_Primary_GSO_IQVIA_Primary_PV_Scientist_IQVIA_TAH_added</name>
            <conditionLogic>((1 AND 2) OR (3 AND 4) OR (5 AND 6)) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IQVIA_Primary_GSO__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IQVIA_Primary_GSO__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IQVIA_Primary_PV_Scientist__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IQVIA_Primary_PV_Scientist__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IQVIA_TAH__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IQVIA_TAH__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sanofi_Galen_Aggregate_Reporting_Completion_Email</targetReference>
            </connector>
            <label>Yes IQVIA Primary GSO, IQVIA Primary PV Scientist, IQVIA TAH added</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-6708, PSA-CLD-IQVIAPSA-1224 (workflow to flow conversion)</description>
        <name>Are_IQVIA_Primary_GSO_IQVIA_Primary_PV_Scientist_IQVIA_TAH_updated</name>
        <label>Are IQVIA Primary GSO, IQVIA Primary PV Scientist, IQVIA TAH updated</label>
        <locationX>2558</locationX>
        <locationY>779</locationY>
        <defaultConnector>
            <targetReference>Is_IQVIA_Primary_PV_Scientist_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No IQVIA Primary GSO, IQVIA Primary PV Scientist, IQVIA TAH not updated</defaultConnectorLabel>
        <rules>
            <name>Yes_IQVIA_Primary_GSO_IQVIA_Primary_PV_Scientist_IQVIA_TAH_updated</name>
            <conditionLogic>((1 AND 2) OR (3 AND 4) OR (5 AND 6)) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IQVIA_Primary_GSO__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IQVIA_Primary_GSO__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IQVIA_Primary_PV_Scientist__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IQVIA_Primary_PV_Scientist__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IQVIA_TAH__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IQVIA_TAH__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sanofi_Galen_Aggregate_Reporting_Completion_Email_on_update</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes IQVIA Primary GSO, IQVIA Primary PV Scientist, IQVIA TAH updated</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-5325, IQVIAPSA-5346,IQVIAPSA-5347, IQVIAPSA-5348, IQVIAPSA-5353,IQVIAPSA-5351, IQVIAPSA-5352, IQVIAPSA-5525, IQVIAPSA-5798 - To check if record type is General or RA Response or Takeda and specific resource fields not null (Primary_QC_Reviewer__c, Secondary_QC_Reviewer__c,Primary_BRM_Analyst__c,Secondary_BRM_Analyst__c,Coordinator__c,Line_Listing_Reviewer__c, Line_Listing_QCer__c,Primary_Medical_Reviewer__c,Secondary_Medical_Reviewer__c,Secondary_Author__c).</description>
        <name>Are_resource_fields_not_null</name>
        <label>Are resource fields not null</label>
        <locationX>380</locationX>
        <locationY>1079</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6  OR 7 OR 8 OR 9 OR 10 OR 11)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_QC_Reviewer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Secondary_QC_Reviewer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_BRM_Analyst__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Secondary_BRM_Analyst__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Coordinator__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Line_Listing_Reviewer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Line_Listing_QCer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Medical_Reviewer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Secondary_Medical_Reviewer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Secondary_Author__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Author__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Primary_QC_Reviewer_added</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-5325, IQVIAPSA-5346, IQVIAPSA-5347, IQVIAPSA-5348, IQVIAPSA-5353,IQVIAPSA-5351, IQVIAPSA-5352, IQVIAPSA-5525, IQVIAPSA-5798 - To check if record type is General or RA Response or Takeda and specific resource fields updated (Primary_QC_Reviewer__c, Secondary_QC_Reviewer__c, Primary_BRM_Analyst__c, Secondary_BRM_Analyst__c, Coordinator__c,Line_Listing_Reviewer__c, Line Listing Qcer, Primary_Medical_Reviewer__c, Secondary_Medical_Reviewer__c, Secondary_Author__c).</description>
        <name>Are_specific_resource_fields_updated</name>
        <label>Are specific resource fields updated</label>
        <locationX>1931</locationX>
        <locationY>1079</locationY>
        <defaultConnectorLabel>No specific fields not updated</defaultConnectorLabel>
        <rules>
            <name>Yes_specific_fields_updated</name>
            <conditionLogic>(1 AND 2 ) OR (3 AND 4 ) OR (5 AND 6 ) OR (7 AND 8 ) OR (9 AND 10 ) OR (11 AND 12 ) OR (13 AND 14 ) OR (15 AND 16 ) OR (17 AND 18 ) OR (19 AND 20 ) OR (21 AND 22 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_QC_Reviewer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_QC_Reviewer__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Secondary_QC_Reviewer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Secondary_QC_Reviewer__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_BRM_Analyst__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_BRM_Analyst__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Secondary_BRM_Analyst__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Secondary_BRM_Analyst__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Coordinator__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Coordinator__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Line_Listing_Reviewer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Line_Listing_Reviewer__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Line_Listing_QCer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Line_Listing_QCer__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Medical_Reviewer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Medical_Reviewer__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Secondary_Medical_Reviewer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Secondary_Medical_Reviewer__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Secondary_Author__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Secondary_Author__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Author__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Author__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Primary_QC_Reviewer_updated</targetReference>
            </connector>
            <label>Yes specific fields updated</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-5353 -  To check if Coordinator is added and its email is present.</description>
        <name>Is_Coordinator_added</name>
        <label>Is Coordinator added</label>
        <locationX>182</locationX>
        <locationY>2387</locationY>
        <defaultConnector>
            <targetReference>Is_Line_Listing_Reviewer_added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Coordinator not added</defaultConnectorLabel>
        <rules>
            <name>Yes_Coordinator_added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Coordinator__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Coordinator__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sandoz_Report</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Coordinator_Email_Notification_when_insert</targetReference>
            </connector>
            <label>Yes Coordinator added</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-5353</description>
        <name>Is_Coordinator_having_email</name>
        <label>Is Coordinator having email</label>
        <locationX>1546</locationX>
        <locationY>4463</locationY>
        <defaultConnector>
            <targetReference>Is_Prior_Coordinator_having_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Coordinator not having email</defaultConnectorLabel>
        <rules>
            <name>Yes_Coordinator_having_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Coordinator__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Coordinator_Email_Notification_when_updated</targetReference>
            </connector>
            <label>Yes Coordinator having email</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-5353 - To check if Coordinator updated and newly assigned Coordinator is not as same as previous Coordinator.</description>
        <name>Is_Coordinator_updated</name>
        <label>Is Coordinator updated</label>
        <locationX>1700</locationX>
        <locationY>4355</locationY>
        <defaultConnector>
            <targetReference>Is_Line_Listing_Reviewer_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Coordinator not updated</defaultConnectorLabel>
        <rules>
            <name>Yes_Coordinator_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Coordinator__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Coordinator__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Coordinator__r.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Prior_Coordinator_Email__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sandoz_Report</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Coordinator_having_email</targetReference>
            </connector>
            <label>Yes Coordinator updated</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-6705 (workflow to flow conversion)
PSA-CLD-IQVIAPSA-1224- Sanofi-Galen Primary GSO Assignment Notification (workflow description)</description>
        <name>Is_IQVIA_Primary_GSO_added</name>
        <label>Is IQVIA Primary GSO added</label>
        <locationX>974</locationX>
        <locationY>1379</locationY>
        <defaultConnector>
            <targetReference>Is_IQVIA_Secondary_GSO_added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No IQVIA Primary GSO not added</defaultConnectorLabel>
        <rules>
            <name>Yes_IQVIA_Primary_GSO_added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IQVIA_Primary_GSO__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IQVIA_Secondary_GSO__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AGG_WEA09_PSA_SG_Primary_GSO_Assignment_Notification</targetReference>
            </connector>
            <label>Yes IQVIA Primary GSO added</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-6705 (workflow to flow conversion
PSA-CLD-IQVIAPSA-1224- Sanofi-Galen Primary GSO Assignment Notification</description>
        <name>Is_IQVIA_Primary_GSO_updated</name>
        <label>Is IQVIA Primary GSO updated</label>
        <locationX>2558</locationX>
        <locationY>1379</locationY>
        <defaultConnector>
            <targetReference>Is_IQVIA_Secondary_GSO_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No IQVIA Primary GSO not updated</defaultConnectorLabel>
        <rules>
            <name>Yes_IQVIA_Primary_GSO_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IQVIA_Primary_GSO__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IQVIA_Primary_GSO__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IQVIA_Primary_GSO__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AGG_WEA09_PSA_SG_Primary_GSO_Assignment_Notification_on_update</targetReference>
            </connector>
            <label>Yes IQVIA Primary GSO updated</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-6705(workflow to flow conversion)
PSA-CLD-IQVIAPSA-1224- Sanofi-Galen Primary Scientist Assignment Notification (workflow description)</description>
        <name>Is_IQVIA_Primary_PV_Scientist_added</name>
        <label>Is IQVIA Primary PV Scientist added</label>
        <locationX>974</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Is_IQVIA_Primary_GSO_added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No IQVIA Primary PV Scientist not added</defaultConnectorLabel>
        <rules>
            <name>Yes_IQVIA_Primary_PV_Scientist_added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IQVIA_Primary_PV_Scientist__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IQVIA_Primary_PV_Scientist__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AGG_WEA05_PSA_SG_Primary_Scientist_Assignment_Notification</targetReference>
            </connector>
            <label>Yes IQVIA Primary PV Scientist added</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-6705 (workflow to flow conversion)
PSA-CLD-IQVIAPSA-1224- Sanofi-Galen Primary Scientist Assignment Notification</description>
        <name>Is_IQVIA_Primary_PV_Scientist_updated</name>
        <label>Is IQVIA Primary PV Scientist updated</label>
        <locationX>2558</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Is_IQVIA_Primary_GSO_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No IQVIA Primary PV Scientist not updated</defaultConnectorLabel>
        <rules>
            <name>Yes_IQVIA_Primary_PV_Scientist_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IQVIA_Primary_PV_Scientist__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IQVIA_Primary_PV_Scientist__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IQVIA_Primary_PV_Scientist__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AGG_WEA05_PSA_SG_Primary_Scientist_Assignment_Notification_on_update</targetReference>
            </connector>
            <label>Yes IQVIA Primary PV Scientist updated</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-6705</description>
        <name>Is_IQVIA_Secondary_GSO_added</name>
        <label>Is IQVIA Secondary GSO added</label>
        <locationX>974</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>Are_IQVIA_Primary_GSO_and_IQVIA_TAH_added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No IQVIA Secondary GSO not added</defaultConnectorLabel>
        <rules>
            <name>Yes_IQVIA_Secondary_GSO_added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IQVIA_Secondary_GSO__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IQVIA_Secondary_GSO__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AGG_WEA10_PSA_SG_Secondary_GSO_Assignment_Notification</targetReference>
            </connector>
            <label>Yes IQVIA Secondary GSO added</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-6705 (workflow to flow conversion)
PSA-CLD-IQVIAPSA-1224- Sanofi-Galen Secondary GSO Assignment Notification (workflow description)</description>
        <name>Is_IQVIA_Secondary_GSO_updated</name>
        <label>Is IQVIA Secondary GSO updated</label>
        <locationX>2558</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>Are_IQVIA_Primary_GSO_and_IQVIA_TAH_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No IQVIA Secondary GSO not updated</defaultConnectorLabel>
        <rules>
            <name>Yes_IQVIA_Secondary_GSO_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IQVIA_Secondary_GSO__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IQVIA_Secondary_GSO__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IQVIA_Secondary_GSO__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AGG_WEA10_PSA_SG_Secondary_GSO_Assignment_Notification_on_update</targetReference>
            </connector>
            <label>Yes IQVIA Secondary GSO updated</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-5352 -  To check if Line Listing Qcer is added and its email is present.</description>
        <name>Is_Line_Listing_Qcer_added</name>
        <label>Is Line Listing Qcer added</label>
        <locationX>182</locationX>
        <locationY>2987</locationY>
        <defaultConnector>
            <targetReference>Is_Primary_Medical_Reviewer_added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Line Listing Qcer not added</defaultConnectorLabel>
        <rules>
            <name>Yes_Line_Listing_Qcer_added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Line_Listing_QCer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Line_Listing_QCer__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sandoz_Report</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Line_Listing_Qcer_Email_Notification_when_insert</targetReference>
            </connector>
            <label>Yes Line Listing Qcer added</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-5352</description>
        <name>Is_Line_Listing_Qcer_having_email</name>
        <label>Is Line Listing Qcer having email</label>
        <locationX>1546</locationX>
        <locationY>6047</locationY>
        <defaultConnector>
            <targetReference>Is_Prior_Line_Listing_Qcer_having_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Line Listing Qcer not having email</defaultConnectorLabel>
        <rules>
            <name>Yes_Line_Listing_Qcer_having_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Line_Listing_QCer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Line_Listing_Qcer_Email_Notification_when_updated</targetReference>
            </connector>
            <label>Yes Line Listing Qcer having email</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-5352 - To check if Line Listing Qcer updated and newly assigned Line Listing Qcer is not as same as previous Line Listing Qcer.</description>
        <name>Is_Line_Listing_Qcer_updated</name>
        <label>Is Line Listing Qcer updated</label>
        <locationX>1700</locationX>
        <locationY>5939</locationY>
        <defaultConnector>
            <targetReference>Is_Primary_Medical_Reviewer_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Line Listing Qcer not updated</defaultConnectorLabel>
        <rules>
            <name>Yes_Line_Listing_Qcer_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Line_Listing_QCer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Line_Listing_QCer__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Line_Listing_QCer__r.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Prior_Line_Listing_Qcer_Email__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sandoz_Report</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Line_Listing_Qcer_having_email</targetReference>
            </connector>
            <label>Yes Line Listing Qcer updated</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-5351 -  To check if Line Listing Reviewer is added and its email is present.</description>
        <name>Is_Line_Listing_Reviewer_added</name>
        <label>Is Line Listing Reviewer added</label>
        <locationX>182</locationX>
        <locationY>2687</locationY>
        <defaultConnector>
            <targetReference>Is_Line_Listing_Qcer_added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Line Listing Reviewer not added</defaultConnectorLabel>
        <rules>
            <name>Yes_Line_Listing_Reviewer_added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Line_Listing_Reviewer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Line_Listing_Reviewer__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sandoz_Report</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Line_Listing_Reviewer_Email_Notification_when_insert</targetReference>
            </connector>
            <label>Yes Line Listing Reviewer added</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-5351</description>
        <name>Is_Line_Listing_Reviewer_having_email</name>
        <label>Is Line Listing Reviewer having email</label>
        <locationX>1546</locationX>
        <locationY>5255</locationY>
        <defaultConnector>
            <targetReference>Is_Prior_Line_Listing_Reviewer_having_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Line Listing Reviewer not having email</defaultConnectorLabel>
        <rules>
            <name>Yes_Line_Listing_Reviewer_having_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Line_Listing_Reviewer__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Line_Listing_Reviewer_Email_Notification_when_updated</targetReference>
            </connector>
            <label>Yes Line Listing Reviewer having email</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-5351 - To check if Line Listing Reviewer updated and newly assigned Line Listing Reviewer is not as same as previous Line Listing Reviewer.</description>
        <name>Is_Line_Listing_Reviewer_updated</name>
        <label>Is Line Listing Reviewer updated</label>
        <locationX>1700</locationX>
        <locationY>5147</locationY>
        <defaultConnector>
            <targetReference>Is_Line_Listing_Qcer_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Line Listing Reviewer not updated</defaultConnectorLabel>
        <rules>
            <name>Yes_Line_Listing_Reviewer_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Line_Listing_Reviewer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Line_Listing_Reviewer__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Line_Listing_Reviewer__r.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Prior_Line_Listing_Reviewer_Email__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sandoz_Report</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Line_Listing_Reviewer_having_email</targetReference>
            </connector>
            <label>Yes Line Listing Reviewer updated</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-6708: (AGG WR01 PSA NS Completed Report Notification- workflow to flow) - To check if primary author is added.</description>
        <name>Is_Primary_Author_Added</name>
        <label>Is Primary Author Added</label>
        <locationX>380</locationX>
        <locationY>779</locationY>
        <defaultConnector>
            <targetReference>Are_resource_fields_not_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Primary Author not added</defaultConnectorLabel>
        <rules>
            <name>Yes_Primary_Author_added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_Author__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Author__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Non_Sanofi_Aggregate_Reporting_Completion_Email</targetReference>
            </connector>
            <label>Yes Primary Author added</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-6708</description>
        <name>Is_Primary_Author_having_email</name>
        <label>Is Primary Author having email</label>
        <locationX>1502</locationX>
        <locationY>9215</locationY>
        <defaultConnector>
            <targetReference>Is_Prior_Author_having_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Primary Author not having email</defaultConnectorLabel>
        <rules>
            <name>Yes_Primary_Author_having_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_Author__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Primary_Author_Email_Notification_when_update</targetReference>
            </connector>
            <label>Yes Primary Author having email</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-6708 -  To check if Primary Author is added and its email is present.</description>
        <name>Is_Primary_Author_inserted</name>
        <label>Is Primary Author inserted</label>
        <locationX>182</locationX>
        <locationY>4187</locationY>
        <defaultConnectorLabel>No PrimaryAuthor not added</defaultConnectorLabel>
        <rules>
            <name>Yes_PrimaryAuthor_added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_Author__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Author__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Primary_Author_Email_Notification_when_insert</targetReference>
            </connector>
            <label>Yes PrimaryAuthor added</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-6708</description>
        <name>Is_Primary_Author_updated</name>
        <label>Is Primary Author updated</label>
        <locationX>1700</locationX>
        <locationY>9107</locationY>
        <defaultConnectorLabel>No Primary Author not updated</defaultConnectorLabel>
        <rules>
            <name>Yes_Primary_Author_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Author__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Author__r.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Prior_Author_Email__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Author__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Primary_Author_having_email</targetReference>
            </connector>
            <label>Yes Primary Author updated</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-5347 -  To check if Primary BRM Analyst is added and its email is present.</description>
        <name>Is_Primary_BRM_Analyst_added</name>
        <label>Is Primary BRM Analyst added</label>
        <locationX>182</locationX>
        <locationY>1787</locationY>
        <defaultConnector>
            <targetReference>Is_Secondary_BRM_Analyst_added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Primary BRM Analyst not added</defaultConnectorLabel>
        <rules>
            <name>Yes_Primary_BRM_Analyst_added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_BRM_Analyst__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_BRM_Analyst__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sandoz_Report</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Primary_BRM_Analyst_Email_Notification_when_insert</targetReference>
            </connector>
            <label>Yes Primary BRM Analyst added</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-5347</description>
        <name>Is_Primary_BRM_Analyst_having_email</name>
        <label>Is Primary BRM Analyst having email</label>
        <locationX>1546</locationX>
        <locationY>2879</locationY>
        <defaultConnector>
            <targetReference>Is_Prior_Primary_BRM_Analyst_having_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Primary BRM Analyst not having email</defaultConnectorLabel>
        <rules>
            <name>Yes_Primary_BRM_Analyst_having_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_BRM_Analyst__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Primary_BRM_Analyst_Email_Notification_when_update</targetReference>
            </connector>
            <label>Yes Primary BRM Analyst having email</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-5347 - To check if Primary BRM Analyst updated and newly assigned Primary BRM Analyst is not as same as previous Primary BRM Analyst.</description>
        <name>Is_Primary_BRM_Analyst_updated</name>
        <label>Is Primary BRM Analyst updated</label>
        <locationX>1700</locationX>
        <locationY>2771</locationY>
        <defaultConnector>
            <targetReference>Is_Secondary_BRM_Analyst_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Primary BRM Analyst not updated</defaultConnectorLabel>
        <rules>
            <name>Yes_Primary_BRM_Analyst_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_BRM_Analyst__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_BRM_Analyst__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_BRM_Analyst__r.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Prior_Primary_BRM_Analyst_Email__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sandoz_Report</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Primary_BRM_Analyst_having_email</targetReference>
            </connector>
            <label>Yes Primary BRM Analyst updated</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-5525 -  To check if Primary Medical Reviewer is added and its email is present.</description>
        <name>Is_Primary_Medical_Reviewer_added</name>
        <label>Is Primary Medical Reviewer added</label>
        <locationX>182</locationX>
        <locationY>3287</locationY>
        <defaultConnector>
            <targetReference>Is_Secondary_Medical_Reviewer_added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Primary Medical Reviewer not added</defaultConnectorLabel>
        <rules>
            <name>Yes_Primary_Medical_Reviewer_added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_Medical_Reviewer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Medical_Reviewer__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Primary_Medical_Reviewer_Email_Notification_when_insert</targetReference>
            </connector>
            <label>Yes Primary Medical Reviewer added</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-5525</description>
        <name>Is_Primary_Medical_Reviewer_having_email</name>
        <label>Is Primary Medical Reviewer having email</label>
        <locationX>1546</locationX>
        <locationY>6839</locationY>
        <defaultConnector>
            <targetReference>Is_Prior_Primary_Medical_Reviewer_having_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Primary Medical Reviewer not having email</defaultConnectorLabel>
        <rules>
            <name>Yes_Primary_Medical_Reviewer_having_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_Medical_Reviewer__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Primary_Medical_Reviewer_Email_Notification_when_updated</targetReference>
            </connector>
            <label>Yes Primary Medical Reviewer having email</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-5525 - To check if Primary Medical Reviewer updated and newly assigned Primary Medical Reviewer is not as same as previous Primary Medical Reviewer.</description>
        <name>Is_Primary_Medical_Reviewer_updated</name>
        <label>Is Primary Medical Reviewer updated</label>
        <locationX>1700</locationX>
        <locationY>6731</locationY>
        <defaultConnector>
            <targetReference>Is_Secondary_Medical_Reviewer_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Primary Medical Reviewer not updated</defaultConnectorLabel>
        <rules>
            <name>Yes_Primary_Medical_Reviewer_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_Medical_Reviewer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Medical_Reviewer__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Medical_Reviewer__r.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Prior_Primary_Medical_Reviewer_Email__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Primary_Medical_Reviewer_having_email</targetReference>
            </connector>
            <label>Yes Primary Medical Reviewer updated</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-5325 -  To check if Primary QC Reviewer is added and its email is present.</description>
        <name>Is_Primary_QC_Reviewer_added</name>
        <label>Is Primary QC Reviewer added</label>
        <locationX>182</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Is_Secondary_QC_Reviewer_added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Primary QC Reviewer not added</defaultConnectorLabel>
        <rules>
            <name>Yes_Primary_QC_Reviewer_added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_QC_Reviewer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_QC_Reviewer__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sandoz_Report</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Primary_QC_Reviewer_Email_Notification_when_insert</targetReference>
            </connector>
            <label>Yes Primary QC Reviewer added</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-5325</description>
        <name>Is_Primary_QC_Reviewer_having_email</name>
        <label>Is Primary QC Reviewer having email</label>
        <locationX>1546</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Is_Prior_Primary_QC_Reviewer_having_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Primary QC Reviewer not having email</defaultConnectorLabel>
        <rules>
            <name>Yes_Primary_QC_Reviewer_having_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_QC_Reviewer__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Primary_QC_Reviewer_Email_Notification_when_update</targetReference>
            </connector>
            <label>Yes Primary QC Reviewer having email</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-5325 - To check if Primary QC Reviewer updated and newly assigned Primary QC Reviewer is not as same as previous Primary QC Reviewer.</description>
        <name>Is_Primary_QC_Reviewer_updated</name>
        <label>Is Primary QC Reviewer updated</label>
        <locationX>1700</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Is_Secondary_QC_Reviewer_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Primary QC Reviewer not updated</defaultConnectorLabel>
        <rules>
            <name>Yes_Primary_QC_Reviewer_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_QC_Reviewer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_QC_Reviewer__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_QC_Reviewer__r.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Prior_Primary_QC_Reviewer_Email__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sandoz_Report</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Primary_QC_Reviewer_having_email</targetReference>
            </connector>
            <label>Yes Primary QC Reviewer updated</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-6708</description>
        <name>Is_PrimaryAuthor_Updated</name>
        <label>Is PrimaryAuthor Updated</label>
        <locationX>1931</locationX>
        <locationY>779</locationY>
        <defaultConnector>
            <targetReference>Are_specific_resource_fields_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No PrimaryAuthor not updated</defaultConnectorLabel>
        <rules>
            <name>Yes_PrimaryAuthor_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Author__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Author__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Non_Sanofi_Aggregate_Reporting_Completion_Email_on_updation</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes PrimaryAuthor Updated</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-6708</description>
        <name>Is_Prior_Author_having_email</name>
        <label>Is Prior Author having email</label>
        <locationX>1502</locationX>
        <locationY>9515</locationY>
        <defaultConnectorLabel>No Prior Author not having email</defaultConnectorLabel>
        <rules>
            <name>Yes_Prior_Author_having_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Prior_Author_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Relieve_Primary_Author_Email_Notification_when_updated</targetReference>
            </connector>
            <label>Yes Prior Author having email</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-5353</description>
        <name>Is_Prior_Coordinator_having_email</name>
        <label>Is Prior Coordinator having email</label>
        <locationX>1546</locationX>
        <locationY>4763</locationY>
        <defaultConnector>
            <targetReference>Is_Line_Listing_Reviewer_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Prior Coordinator not having email</defaultConnectorLabel>
        <rules>
            <name>Yes_Prior_Coordinator_having_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Prior_Coordinator_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Relieve_Coordinator_Email_Notification_when_updated</targetReference>
            </connector>
            <label>Yes Prior Coordinator having email</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-5352</description>
        <name>Is_Prior_Line_Listing_Qcer_having_email</name>
        <label>Is Prior Line Listing Qcer having email</label>
        <locationX>1546</locationX>
        <locationY>6347</locationY>
        <defaultConnector>
            <targetReference>Is_Primary_Medical_Reviewer_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Prior Line Listing Qcer not having email</defaultConnectorLabel>
        <rules>
            <name>Yes_Prior_Line_Listing_Qcer_having_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Prior_Line_Listing_Qcer_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Relieve_Line_Listing_Qcer_Email_Notification_when_updated</targetReference>
            </connector>
            <label>Yes Prior Line Listing Qcer having email</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-5351</description>
        <name>Is_Prior_Line_Listing_Reviewer_having_email</name>
        <label>Is Prior Line Listing Reviewer having email</label>
        <locationX>1546</locationX>
        <locationY>5555</locationY>
        <defaultConnector>
            <targetReference>Is_Line_Listing_Qcer_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Prior Line Listing Reviewer not having email</defaultConnectorLabel>
        <rules>
            <name>Yes_Prior_Line_Listing_Reviewer_having_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Prior_Line_Listing_Reviewer_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Relieve_Line_Listing_Reviewer_Email_Notification_when_updated</targetReference>
            </connector>
            <label>Yes Prior Line Listing Reviewer having email</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-5347</description>
        <name>Is_Prior_Primary_BRM_Analyst_having_email</name>
        <label>Is Prior Primary BRM Analyst having email</label>
        <locationX>1546</locationX>
        <locationY>3179</locationY>
        <defaultConnector>
            <targetReference>Is_Secondary_BRM_Analyst_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Prior Primary BRM Analyst not having email</defaultConnectorLabel>
        <rules>
            <name>Yes_Prior_Primary_BRM_Analyst_having_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Prior_Primary_BRM_Analyst_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Relieve_Primary_BRM_Analyst_Email_Notification_when_updated</targetReference>
            </connector>
            <label>Yes Prior Primary BRM Analyst having email</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-5525</description>
        <name>Is_Prior_Primary_Medical_Reviewer_having_email</name>
        <label>Is Prior Primary Medical Reviewer having email</label>
        <locationX>1546</locationX>
        <locationY>7139</locationY>
        <defaultConnector>
            <targetReference>Is_Secondary_Medical_Reviewer_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Prior Primary Medical Reviewer not having email</defaultConnectorLabel>
        <rules>
            <name>Yes_Prior_Primary_Medical_Reviewer_having_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Prior_Primary_Medical_Reviewer_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Relieve_Primary_Medical_Reviewer_Email_Notification_when_updated</targetReference>
            </connector>
            <label>Yes Prior Primary Medical Reviewer having email</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-5325</description>
        <name>Is_Prior_Primary_QC_Reviewer_having_email</name>
        <label>Is Prior Primary QC Reviewer having email</label>
        <locationX>1546</locationX>
        <locationY>1595</locationY>
        <defaultConnector>
            <targetReference>Is_Secondary_QC_Reviewer_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Prior Primary QC Reviewer not having email</defaultConnectorLabel>
        <rules>
            <name>Yes_Prior_Primary_QC_Reviewer_having_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Prior_Primary_QC_Reviewer_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Relieve_Primary_QC_Reviewer_Email_Notification_when_updated</targetReference>
            </connector>
            <label>Yes Prior Primary QC Reviewer having email</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-5798</description>
        <name>Is_Prior_Secondary_Author_having_email</name>
        <label>Is Prior Secondary Author having email</label>
        <locationX>1546</locationX>
        <locationY>8723</locationY>
        <defaultConnector>
            <targetReference>Is_Primary_Author_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Prior Secondary Author not having email</defaultConnectorLabel>
        <rules>
            <name>Yes_Prior_Secondary_Author_having_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Prior_Secondary_Author_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Relieve_Secondary_Author_Email_Notification_when_updated</targetReference>
            </connector>
            <label>Yes Prior Secondary Author having email</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-5348</description>
        <name>Is_Prior_Secondary_BRM_Analyst_having_email</name>
        <label>Is Prior Secondary BRM Analyst having email</label>
        <locationX>1546</locationX>
        <locationY>3971</locationY>
        <defaultConnector>
            <targetReference>Is_Coordinator_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Prior Secondary BRM Analyst not having email</defaultConnectorLabel>
        <rules>
            <name>Yes_Prior_Secondary_BRM_Analyst_having_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Prior_Secondary_BRM_Analyst_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Relieve_Secondary_BRM_Analyst_Email_Notification_when_updated</targetReference>
            </connector>
            <label>Yes Prior Secondary BRM Analyst having email</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-5525</description>
        <name>Is_Prior_Secondary_Medical_Reviewer_having_email</name>
        <label>Is Prior Secondary Medical Reviewer having email</label>
        <locationX>1546</locationX>
        <locationY>7931</locationY>
        <defaultConnector>
            <targetReference>Is_Secondary_Author_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Prior Secondary Medical Reviewer not having email</defaultConnectorLabel>
        <rules>
            <name>Yes_Prior_Secondary_Medical_Reviewer_having_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Prior_Secondary_Medical_Reviewer_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Relieve_Secondary_Medical_Reviewer_Email_Notification_when_updated</targetReference>
            </connector>
            <label>Yes Prior Secondary Medical Reviewer having email</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-5346</description>
        <name>Is_Prior_Secondary_QC_Reviewer_having_email</name>
        <label>Is Prior Secondary QC Reviewer having email</label>
        <locationX>1546</locationX>
        <locationY>2387</locationY>
        <defaultConnector>
            <targetReference>Is_Primary_BRM_Analyst_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Prior Secondary QC Reviewer not having email</defaultConnectorLabel>
        <rules>
            <name>Yes_Prior_Secondary_QC_Reviewer_having_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Prior_Secondary_QC_Reviewer_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Relieve_Secondary_QC_Reviewer_Email_Notification_when_updated</targetReference>
            </connector>
            <label>Yes Prior Secondary QC Reviewer having email</label>
        </rules>
    </decisions>
    <decisions>
        <description>To check if record is newly inserted or updated.</description>
        <name>Is_record_inserted_updated</name>
        <label>Is record inserted/updated</label>
        <locationX>1648</locationX>
        <locationY>490</locationY>
        <defaultConnector>
            <targetReference>Is_record_type_Sanofi_or_Non_Sanofi_on_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record Updated</defaultConnectorLabel>
        <rules>
            <name>Record_Inserted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_record_type_Sanofi_or_Non_Sanofi</targetReference>
            </connector>
            <label>Record Inserted</label>
        </rules>
    </decisions>
    <decisions>
        <description>Sanofi Record Types: Sanofi GSO, Sanofi PVS
Non-Sanofi Record Types: General Report, Takeda Report, Sandoz Report, RA Response Report</description>
        <name>Is_record_type_Sanofi_or_Non_Sanofi</name>
        <label>Is record type Sanofi or Non-Sanofi</label>
        <locationX>677</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Are_IQVIA_Primary_GSO_IQVIA_Primary_PV_Scientist_IQVIA_TAH_added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sanofi Record Types</defaultConnectorLabel>
        <rules>
            <name>Non_Sanofi_Record_Types</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General_Report</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RA_Response</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Takeda_Report</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sandoz_Report</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Primary_Author_Added</targetReference>
            </connector>
            <label>Non-Sanofi Record Types</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-6708</description>
        <name>Is_record_type_Sanofi_or_Non_Sanofi_on_update</name>
        <label>Is record type Sanofi or Non-Sanofi on update</label>
        <locationX>2244</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Are_IQVIA_Primary_GSO_IQVIA_Primary_PV_Scientist_IQVIA_TAH_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No record type not Non-Sanofi on update</defaultConnectorLabel>
        <rules>
            <name>Yes_record_type_Non_Sanofi_on_update</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General_Report</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RA_Response</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Takeda_Report</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sandoz_Report</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_PrimaryAuthor_Updated</targetReference>
            </connector>
            <label>Yes record type Non-Sanofi on update</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-5798 -  To check if Secondary Author is added and its email is present.</description>
        <name>Is_Secondary_Author_added</name>
        <label>Is Secondary Author added</label>
        <locationX>182</locationX>
        <locationY>3887</locationY>
        <defaultConnector>
            <targetReference>Is_Primary_Author_inserted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Secondary Author not added</defaultConnectorLabel>
        <rules>
            <name>Yes_Secondary_Author_added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Secondary_Author__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Secondary_Author__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sandoz_Report</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Secondary_Author_Email_Notification_when_insert</targetReference>
            </connector>
            <label>Yes Secondary Author added</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-5798</description>
        <name>Is_Secondary_Author_having_email</name>
        <label>Is Secondary Author having email</label>
        <locationX>1546</locationX>
        <locationY>8423</locationY>
        <defaultConnector>
            <targetReference>Is_Prior_Secondary_Author_having_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Prior Secondary Author not having email</defaultConnectorLabel>
        <rules>
            <name>Yes_Secondary_Author_having_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Secondary_Author__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Secondary_Author_Email_Notification_when_updated</targetReference>
            </connector>
            <label>Yes Secondary Author having email</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-5798 - To check if Secondary Author updated and newly assigned Secondary Author is not as same as previous Secondary Author.</description>
        <name>Is_Secondary_Author_updated</name>
        <label>Is Secondary Author updated</label>
        <locationX>1700</locationX>
        <locationY>8315</locationY>
        <defaultConnector>
            <targetReference>Is_Primary_Author_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Secondary Author not updated</defaultConnectorLabel>
        <rules>
            <name>Yes_Secondary_Author_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Secondary_Author__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Secondary_Author__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Secondary_Author__r.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Prior_Secondary_Author_Email__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sandoz_Report</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Secondary_Author_having_email</targetReference>
            </connector>
            <label>Yes Secondary Author updated</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-5348 -  To check if Secondary BRM Analyst is added and its email is present.</description>
        <name>Is_Secondary_BRM_Analyst_added</name>
        <label>Is Secondary BRM Analyst added</label>
        <locationX>182</locationX>
        <locationY>2087</locationY>
        <defaultConnector>
            <targetReference>Is_Coordinator_added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Secondary BRM Analyst not added</defaultConnectorLabel>
        <rules>
            <name>Yes_Secondary_BRM_Analyst_added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Secondary_BRM_Analyst__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Secondary_BRM_Analyst__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sandoz_Report</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Secondary_BRM_Analyst_Email_Notification_when_insert</targetReference>
            </connector>
            <label>Yes Secondary BRM Analyst added</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-5348</description>
        <name>Is_Secondary_BRM_Analyst_having_email</name>
        <label>Is Secondary BRM Analyst having email</label>
        <locationX>1546</locationX>
        <locationY>3671</locationY>
        <defaultConnector>
            <targetReference>Is_Prior_Secondary_BRM_Analyst_having_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Prior Secondary BRM Analyst not having email</defaultConnectorLabel>
        <rules>
            <name>Yes_Secondary_BRM_Analyst_having_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Secondary_BRM_Analyst__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Secondary_BRM_Analyst_Email_Notification_when_updated</targetReference>
            </connector>
            <label>Yes Secondary BRM Analyst having email</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-5348 - To check if Secondary BRM Analyst updated and newly assigned Secondary BRM Analyst is not as same as previous Secondary BRM Analyst.</description>
        <name>Is_Secondary_BRM_Analyst_updated</name>
        <label>Is Secondary BRM Analyst updated</label>
        <locationX>1700</locationX>
        <locationY>3563</locationY>
        <defaultConnector>
            <targetReference>Is_Coordinator_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Secondary BRM Analyst not updated</defaultConnectorLabel>
        <rules>
            <name>Yes_Secondary_BRM_Analyst_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Secondary_BRM_Analyst__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Secondary_BRM_Analyst__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Secondary_BRM_Analyst__r.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Prior_Secondary_BRM_Analyst_Email__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sandoz_Report</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Secondary_BRM_Analyst_having_email</targetReference>
            </connector>
            <label>Yes Secondary BRM Analyst updated</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-5525 -  To check if Secondary Medical Reviewer is added and its email is present.</description>
        <name>Is_Secondary_Medical_Reviewer_added</name>
        <label>Is Secondary Medical Reviewer added</label>
        <locationX>182</locationX>
        <locationY>3587</locationY>
        <defaultConnector>
            <targetReference>Is_Secondary_Author_added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Secondary Medical Reviewer not added</defaultConnectorLabel>
        <rules>
            <name>Yes_Secondary_Medical_Reviewer_added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Secondary_Medical_Reviewer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Secondary_Medical_Reviewer__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Secondary_Medical_Reviewer_Email_Notification_when_insert</targetReference>
            </connector>
            <label>Yes Secondary Medical Reviewer added</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-5525</description>
        <name>Is_Secondary_Medical_Reviewer_having_email</name>
        <label>Is Secondary Medical Reviewer having email</label>
        <locationX>1546</locationX>
        <locationY>7631</locationY>
        <defaultConnector>
            <targetReference>Is_Prior_Secondary_Medical_Reviewer_having_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Secondary Medical Reviewer not having email</defaultConnectorLabel>
        <rules>
            <name>Yes_Secondary_Medical_Reviewer_having_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Secondary_Medical_Reviewer__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Secondary_Medical_Reviewer_Email_Notification_when_updated</targetReference>
            </connector>
            <label>Yes Secondary Medical Reviewer having email</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-5525 - To check if Secondary Medical Reviewer updated and newly assigned Secondary Medical Reviewer is not as same as previous Secondary Medical Reviewer.</description>
        <name>Is_Secondary_Medical_Reviewer_updated</name>
        <label>Is Secondary Medical Reviewer updated</label>
        <locationX>1700</locationX>
        <locationY>7523</locationY>
        <defaultConnector>
            <targetReference>Is_Secondary_Author_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Secondary Medical Reviewer not updated</defaultConnectorLabel>
        <rules>
            <name>Yes_Secondary_Medical_Reviewer_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Secondary_Medical_Reviewer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Secondary_Medical_Reviewer__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Secondary_Medical_Reviewer__r.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Prior_Secondary_Medical_Reviewer_Email__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Secondary_Medical_Reviewer_having_email</targetReference>
            </connector>
            <label>Yes Secondary Medical Reviewer updated</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-5346 -  To check if Secondary QC Reviewer is added and its email is present.</description>
        <name>Is_Secondary_QC_Reviewer_added</name>
        <label>Is Secondary QC Reviewer added</label>
        <locationX>182</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Is_Primary_BRM_Analyst_added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Secondary QC Reviewer not added</defaultConnectorLabel>
        <rules>
            <name>Yes_Secondary_QC_Reviewer_added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Secondary_QC_Reviewer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Secondary_QC_Reviewer__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sandoz_Report</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Secondary_QC_Reviewer_Email_Notification_when_insert</targetReference>
            </connector>
            <label>Yes Secondary QC Reviewer added</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-5346</description>
        <name>Is_Secondary_QC_Reviewer_having_email</name>
        <label>Is Secondary QC Reviewer having email</label>
        <locationX>1546</locationX>
        <locationY>2087</locationY>
        <defaultConnector>
            <targetReference>Is_Prior_Secondary_QC_Reviewer_having_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Secondary QC Reviewer having email</defaultConnectorLabel>
        <rules>
            <name>Yes_Secondary_QC_Reviewer_having_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Secondary_QC_Reviewer__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Secondary_QC_Reviewer_Email_Notification_when_updated</targetReference>
            </connector>
            <label>Yes Secondary QC Reviewer having email</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-5346 - To check if Secondary QC Reviewer updated and newly assigned Secondary QC Reviewer is not as same as previous Secondary QC Reviewer.</description>
        <name>Is_Secondary_QC_Reviewer_updated</name>
        <label>Is Secondary QC Reviewer updated</label>
        <locationX>1700</locationX>
        <locationY>1979</locationY>
        <defaultConnector>
            <targetReference>Is_Primary_BRM_Analyst_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Secondary QC Reviewer not updated</defaultConnectorLabel>
        <rules>
            <name>Yes_Secondary_QC_Reviewer_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Secondary_QC_Reviewer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Secondary_QC_Reviewer__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Secondary_QC_Reviewer__r.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Prior_Secondary_QC_Reviewer_Email__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sandoz_Report</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Secondary_QC_Reviewer_having_email</targetReference>
            </connector>
            <label>Yes Secondary QC Reviewer updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mulesoft_Integration_Control_Condition</name>
        <label>Mulesoft Integration Control Condition</label>
        <locationX>1460</locationX>
        <locationY>371</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mulesoft_Condition_Check</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Mulesoft_Integration_Control__c.By_Pass_Flow_Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.Mulesoft_Integration_Control__c.Is_Mulesoft_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_record_inserted_updated</targetReference>
            </connector>
            <label>Mulesoft Condition Check</label>
        </rules>
    </decisions>
    <description>IQVIAPSA-5325, IQVIAPSA-5346,IQVIAPSA-5347, IQVIAPSA-5348, IQVIAPSA-5353,IQVIAPSA-5351, IQVIAPSA-5352, IQVIAPSA-5525, IQVIAPSA-5798- This flow is used to send email to prior resource email fields (Prior_Primary_QC_Reviewer_Email__c, Prior_Secondary_QC_Reviewer_Email__c,Prior_Primary_BRM_Analyst_Email__c,Prior_Secondary_BRM_Analyst_Email__c,Prior_Coordinator_Email__c,Prior_Line_Listing_Reviewer_Email__c,Prior_Line_Listing_Qcer_Email__c,Prior_Primary_Medical_Reviewer_Email__c,Prior_Secondary_Medical_Reviewer_Email__c,Prior_Secondary_Author_Email__c).</description>
    <interviewLabel>AGG FL02 PSA InformNewAndPriorResource_Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AGG FL02 PSA InformNewAndPriorResourceByEmail</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>1334</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Mulesoft_Integration_Control_Condition</targetReference>
        </connector>
        <object>Aggregate_Report__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
