src/flows/Article_Recommendation_Auto_Launch_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Article_Recommendtion</name>
        <label>Create Article Recommendtion</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>createArticleRecommendations</actionName>
        <actionType>createArticleRecommendations</actionType>
        <connector>
            <targetReference>Recommended_Articles_Assignment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_in_Article</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>createArticleRecommendations</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Fault_in_Article</name>
        <label>Fault in Article</label>
        <locationX>440</locationX>
        <locationY>242</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>mallikarjuna.reddyb@iqvia.com,mathieu.thomas@iqvia.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Fault Error in Article Recommendation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>CSMArticleError</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Recommended_Articles_Assignment</name>
        <label>Recommended Articles Assignment</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>RecommendedArticles</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Article_Recommendtion.articleRecommendations.articleRecommendations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Relevance_Score_Above_60</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Relevance_Score_Above_60</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Relevance Score Above 60</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNextValueToReference>currentItem_Relevance_Score_Above_60</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>RecommendedArticles</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Relevance_Score_Above_60.relevanceScore</leftValueReference>
            <operator>GreaterThanOrEqualTo</operator>
            <rightValue>
                <numberValue>60.0</numberValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Sorting_Articles</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sorting_Articles</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sorting Articles</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Relevance_Score_Above_60</collectionReference>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>relevanceScore</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <environments>Default</environments>
    <interviewLabel>Article Recommendation Auto Launch Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Article Recommendation Auto Launch Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Article_Recommendtion</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CSMArticleError</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Error in Article Recommendation for Case Id: {!RecordId}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>currentItem_Relevance_Score_Above_60</name>
        <apexClass>ConnectApi__ArticleRecommendation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecommendedArticles</name>
        <apexClass>ConnectApi__ArticleRecommendation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>