src/flows/BHR_FL01_OWF_SendEmailNotification.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Agreement_Creation_Email_Notification</name>
        <label>Agreement Creation Email Notification</label>
        <locationX>116</locationX>
        <locationY>4739</locationY>
        <actionName>Bid_History__c.BHR_EA23_OWF_AgreementCreation</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Clinical_Alert_LOB_LCS</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Bid_History__c.BHR_EA23_OWF_AgreementCreation</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>BHR-WR30-OWF-GCC-Agreement Creation</description>
        <name>AgreementCreationGCC_Email_Notification</name>
        <label>AgreementCreationGCC Email Notification</label>
        <locationX>2866</locationX>
        <locationY>3239</locationY>
        <actionName>Bid_History__c.OWF_IQVIAPSA_5186_BHR_EA30_OWF_AgreementCreationGCC</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Approval_process_for_GCC</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Bid_History__c.OWF_IQVIAPSA_5186_BHR_EA30_OWF_AgreementCreationGCC</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Approval_for_GCC_Bid</name>
        <label>Approval for GCC Bid</label>
        <locationX>5770</locationX>
        <locationY>3047</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Email Alert
BHR_EA01_CRM_Awarded_email_alert_Rob_Von_Alten</description>
        <name>Awarded_Opportunity_Email_Notification_on_insert</name>
        <label>Awarded Opportunity Email Notification on insert</label>
        <locationX>1821</locationX>
        <locationY>1139</locationY>
        <actionName>Bid_History__c.BHR_EA01_CRM_Awarded_email_alert_Rob_Von_Alten</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Bid_Creation_Notification_on_insert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Bid_History__c.BHR_EA01_CRM_Awarded_email_alert_Rob_Von_Alten</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Email Alert
BHR_EA01_CRM_Awarded_email_alert_Rob_Von_Alten</description>
        <name>Awarded_Opportunity_Email_Notification_on_update</name>
        <label>Awarded Opportunity Email Notification on update</label>
        <locationX>4648</locationX>
        <locationY>1139</locationY>
        <actionName>Bid_History__c.BHR_EA01_CRM_Awarded_email_alert_Rob_Von_Alten</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Bid_Grid_QC_Budget_Analyst_Assigned_Notification_on_update</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Bid_History__c.BHR_EA01_CRM_Awarded_email_alert_Rob_Von_Alten</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Email Alert
BHR_EA02_OWF_Bid_Auto_Alert_DD</description>
        <name>Bid_Creation_Email_Notification_on_insert</name>
        <label>Bid Creation Email Notification on insert</label>
        <locationX>1821</locationX>
        <locationY>1439</locationY>
        <actionName>Bid_History__c.BHR_EA02_OWF_Bid_Auto_Alert_DD</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Bid_Grid_QC_Budget_Analyst_Assigned_Notification_on_insert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Bid_History__c.BHR_EA02_OWF_Bid_Auto_Alert_DD</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Email Alert
BHR_EA04_CRM_Bid_Grid_QC_budget_analyst_alert</description>
        <name>Bid_Grid_QC_Budget_Analyst_Assigned_Email_Notification_on_insert</name>
        <label>Bid Grid - QC Budget Analyst Assigned Email Notification on insert</label>
        <locationX>1821</locationX>
        <locationY>1739</locationY>
        <actionName>Bid_History__c.BHR_EA04_CRM_Bid_Grid_QC_budget_analyst_alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Bid_History_Exec_Review_Notification_on_insert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Bid_History__c.BHR_EA04_CRM_Bid_Grid_QC_budget_analyst_alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Email Alert
BHR_EA04_CRM_Bid_Grid_QC_budget_analyst_alert</description>
        <name>Bid_Grid_QC_Budget_Analyst_Assigned_Email_Notification_on_update</name>
        <label>Bid Grid - QC Budget Analyst Assigned Email Notification on update</label>
        <locationX>4648</locationX>
        <locationY>1439</locationY>
        <actionName>Bid_History__c.BHR_EA04_CRM_Bid_Grid_QC_budget_analyst_alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Bid_History_Exec_Review_Notification_on_update</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Bid_History__c.BHR_EA04_CRM_Bid_Grid_QC_budget_analyst_alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Email Alert
BHR_EA09_CRM_BidHistoryClientBidGridTeamAlert</description>
        <name>Bid_History_Client_Bid_Grid_Team_Notification_on_insert</name>
        <label>Bid History Client Bid Grid Team Notification on insert</label>
        <locationX>1821</locationX>
        <locationY>2639</locationY>
        <actionName>Bid_History__c.BHR_EA09_CRM_BidHistoryClientBidGridTeamAlert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Bid_History_QIP_Loaded_Notification_on_insert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Bid_History__c.BHR_EA09_CRM_BidHistoryClientBidGridTeamAlert</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Email Alert
BHR_EA09_CRM_BidHistoryClientBidGridTeamAlert</description>
        <name>Bid_History_Client_Bid_Grid_Team_Notification_on_update</name>
        <label>Bid History Client Bid Grid Team Notification on update</label>
        <locationX>4648</locationX>
        <locationY>2339</locationY>
        <actionName>Bid_History__c.BHR_EA09_CRM_BidHistoryClientBidGridTeamAlert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Bid_History_QIP_Loaded_Notification_on_update</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Bid_History__c.BHR_EA09_CRM_BidHistoryClientBidGridTeamAlert</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Email Alert
BHR_EA05_CRM_Bid_History_CSS_insufficient_information_alert</description>
        <name>Bid_History_CSS_insufficient_information_alert_on_insert</name>
        <label>Bid History - CSS insufficient information alert on insert</label>
        <locationX>3130</locationX>
        <locationY>3347</locationY>
        <actionName>Bid_History__c.BHR_EA05_CRM_Bid_History_CSS_insufficient_information_alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Bid_History__c.BHR_EA05_CRM_Bid_History_CSS_insufficient_information_alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Email Alert
BHR_EA05_CRM_Bid_History_CSS_insufficient_information_alert</description>
        <name>Bid_History_CSS_insufficient_information_alert_on_update</name>
        <label>Bid History - CSS insufficient information alert on update</label>
        <locationX>4978</locationX>
        <locationY>3047</locationY>
        <actionName>Bid_History__c.BHR_EA05_CRM_Bid_History_CSS_insufficient_information_alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Bid_History__c.BHR_EA05_CRM_Bid_History_CSS_insufficient_information_alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Email Alert
BHR_EA06_CRM_Bid_History_Exec_Review</description>
        <name>Bid_History_Exec_Review_Email_Notification_on_insert</name>
        <label>Bid History - Exec Review Email Notification on insert</label>
        <locationX>1821</locationX>
        <locationY>2039</locationY>
        <actionName>Bid_History__c.BHR_EA06_CRM_Bid_History_Exec_Review</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Bid_History_Pricing_considerations_Notification_on_insert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Bid_History__c.BHR_EA06_CRM_Bid_History_Exec_Review</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Email Alert
BHR_EA06_CRM_Bid_History_Exec_Review</description>
        <name>Bid_History_Exec_Review_Email_Notification_on_update</name>
        <label>Bid History - Exec Review Email Notification on update</label>
        <locationX>4648</locationX>
        <locationY>1739</locationY>
        <actionName>Bid_History__c.BHR_EA06_CRM_Bid_History_Exec_Review</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Bid_History_Pricing_considerations_Notification_on_update</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Bid_History__c.BHR_EA06_CRM_Bid_History_Exec_Review</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Email Alert
BHR_EA12_CRM_NotificationtoRebidownerwhenQIPhasbeenloaded</description>
        <name>Bid_History_QIP_Loaded_Notification_alert_on_insert</name>
        <label>Bid History QIP Loaded Notification alert on insert</label>
        <locationX>1821</locationX>
        <locationY>2939</locationY>
        <actionName>Bid_History__c.BHR_EA12_CRM_NotificationtoRebidownerwhenQIPhasbeenloaded</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Record_Type_check_on_Insert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Bid_History__c.BHR_EA12_CRM_NotificationtoRebidownerwhenQIPhasbeenloaded</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Email Alert
BHR_EA12_CRM_NotificationtoRebidownerwhenQIPhasbeenloaded</description>
        <name>Bid_History_QIP_Loaded_Notification_alert_on_update</name>
        <label>Bid History QIP Loaded Notification alert on update</label>
        <locationX>4648</locationX>
        <locationY>2639</locationY>
        <actionName>Bid_History__c.BHR_EA12_CRM_NotificationtoRebidownerwhenQIPhasbeenloaded</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Record_Type_check_on_Update</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Bid_History__c.BHR_EA12_CRM_NotificationtoRebidownerwhenQIPhasbeenloaded</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Biotech_Bidder_Notification_Email</name>
        <label>Biotech Bidder Notification Email</label>
        <locationX>1821</locationX>
        <locationY>539</locationY>
        <actionName>Bid_History__c.BHR_EA19_OWF_BiotechBidderNotification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Strategic_Pricing_Lead_Notification_on_insert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Bid_History__c.BHR_EA19_OWF_BiotechBidderNotification</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Budget_Analyst_Assigned_Email_Notification_on_insert</name>
        <label>Budget Analyst Assigned Email Notification on insert</label>
        <locationX>116</locationX>
        <locationY>4439</locationY>
        <actionName>Bid_History__c.BHR_EA23_OWF_BudgetAnalystAssigned</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_Agreement_Creation_Condition</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Bid_History__c.BHR_EA23_OWF_BudgetAnalystAssigned</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Budget_Analyst_Assigned_Email_Notification_on_update</name>
        <label>Budget Analyst Assigned Email Notification on update</label>
        <locationX>4450</locationX>
        <locationY>3047</locationY>
        <actionName>Bid_History__c.BHR_EA23_OWF_BudgetAnalystAssigned</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Bid_History__c.BHR_EA23_OWF_BudgetAnalystAssigned</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Clinical_Alert_LOB_LCS_Email_Notification</name>
        <label>Clinical Alert LOB LCS Email Notification</label>
        <locationX>116</locationX>
        <locationY>5039</locationY>
        <actionName>Bid_History__c.BHR_EA23_OWF_Clinical2RFP_Alert_LOB_LCS</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Clinical_Alert_LOB_intervention_Biosimilar</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Bid_History__c.BHR_EA23_OWF_Clinical2RFP_Alert_LOB_LCS</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Clinical_Bid_alert_intervention_type_Biosimilar_Email_Notification</name>
        <label>Clinical Bid alert intervention type Biosimilar Email Notification</label>
        <locationX>116</locationX>
        <locationY>5339</locationY>
        <actionName>Bid_History__c.BHR_EA25_OWF_Clinical2RFP_Alert_LOBIntervention_biosimilar</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Bid_History__c.BHR_EA25_OWF_Clinical2RFP_Alert_LOBIntervention_biosimilar</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-5430</description>
        <name>Clinical_Bid_Alert_To_CNS_Email_Notification</name>
        <label>Clinical Bid Alert To CNS Email Notification</label>
        <locationX>116</locationX>
        <locationY>3347</locationY>
        <actionName>Bid_History__c.BHR_EA28_OWF_Clinical_Bid_Alert_To_CNS</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_RNPS_service_added_for_clinical_bid</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Bid_History__c.BHR_EA28_OWF_Clinical_Bid_Alert_To_CNS</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Clinical_Bid_alert_to_RFP_mailbox_Email_Notification</name>
        <label>Clinical Bid alert to RFP mailbox Email Notification</label>
        <locationX>314</locationX>
        <locationY>4055</locationY>
        <actionName>Bid_History__c.BHR_EA11_OWF_Clinical2RFP_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_Budget_Analyst_Assigned_on_insert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Bid_History__c.BHR_EA11_OWF_Clinical2RFP_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Early_Engagement_Bid_Email_Notification</name>
        <label>Early Engagement Bid Email Notification</label>
        <locationX>2338</locationX>
        <locationY>3347</locationY>
        <actionName>Bid_History__c.BHR_EA22_EarlyEngagementBid</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Bid_History__c.BHR_EA22_EarlyEngagementBid</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-7372</description>
        <name>Email_Alert_to_RADDS_team</name>
        <label>Email Alert to RADDS team</label>
        <locationX>50</locationX>
        <locationY>3947</locationY>
        <actionName>Bid_History__c.BHR_EA31_OWF_ClinicalBid_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_Budget_Analyst_Assigned_on_insert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Bid_History__c.BHR_EA31_OWF_ClinicalBid_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Email Alert
BHR_EA08_CRM_Pricing_considerations_alert</description>
        <name>Pricing_considerations_alert_Notification_on_insert</name>
        <label>Pricing considerations alert Notification on insert</label>
        <locationX>1821</locationX>
        <locationY>2339</locationY>
        <actionName>Bid_History__c.BHR_EA08_CRM_Pricing_considerations_alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Bid_History_Client_Bid_Grid_Notification_on_insert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Bid_History__c.BHR_EA08_CRM_Pricing_considerations_alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Email Alert
BHR_EA08_CRM_Pricing_considerations_alert</description>
        <name>Pricing_considerations_alert_Notification_on_update</name>
        <label>Pricing considerations alert Notification on update</label>
        <locationX>4648</locationX>
        <locationY>2039</locationY>
        <actionName>Bid_History__c.BHR_EA08_CRM_Pricing_considerations_alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Bid_History_Client_Bid_Grid_Notification_on_update</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Bid_History__c.BHR_EA08_CRM_Pricing_considerations_alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Q2_strategic_pricing_email_notification_on_insert</name>
        <label>Q2 strategic pricing email notification on insert</label>
        <locationX>1821</locationX>
        <locationY>839</locationY>
        <actionName>Bid_History__c.BHR_EA16_OWF_StrategicPricingLead</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Awarded_Oppportunity_Notification_on_Insert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Bid_History__c.BHR_EA16_OWF_StrategicPricingLead</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Q2_strategic_pricing_email_notification_on_update</name>
        <label>Q2 strategic pricing email notification on update</label>
        <locationX>4648</locationX>
        <locationY>839</locationY>
        <actionName>Bid_History__c.BHR_EA16_OWF_StrategicPricingLead</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Awarded_Oppportunity_Notification_on_update</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Bid_History__c.BHR_EA16_OWF_StrategicPricingLead</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>RFI_Bid_Owner_assigned_Email_Notification_on_insert</name>
        <label>RFI Bid Owner assigned Email Notification</label>
        <locationX>1282</locationX>
        <locationY>3647</locationY>
        <actionName>Bid_History__c.BHR_EA14_OWF_RFI_Bid_Owner_assigned</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>RFI_Request_Alert_for_record_type_RFI_Request</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Bid_History__c.BHR_EA14_OWF_RFI_Bid_Owner_assigned</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>RFI_Bid_Owner_assigned_Email_Notification_on_update</name>
        <label>RFI Bid Owner assigned Email Notification</label>
        <locationX>3922</locationX>
        <locationY>3347</locationY>
        <actionName>Bid_History__c.BHR_EA14_OWF_RFI_Bid_Owner_assigned</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Bid_History__c.BHR_EA14_OWF_RFI_Bid_Owner_assigned</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>RFI_Request_Alert_Email_Notification</name>
        <label>RFI Request Alert Email Notification</label>
        <locationX>1810</locationX>
        <locationY>3347</locationY>
        <actionName>Bid_History__c.BHR_EA15_OWF_RFI_Request_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Bid_History__c.BHR_EA15_OWF_RFI_Request_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>RFI_Request_Alert_Email_Notification_for_record_type_RFI_Request</name>
        <label>RFI Request Alert Email Notification</label>
        <locationX>1282</locationX>
        <locationY>3947</locationY>
        <actionName>Bid_History__c.BHR_EA15_OWF_RFI_Request_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Bid_History__c.BHR_EA15_OWF_RFI_Request_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>RFI_Request_Completed_Email_Notification_On_Insert</name>
        <label>RFI Request Completed Email Notification On Insert</label>
        <locationX>1282</locationX>
        <locationY>3347</locationY>
        <actionName>Bid_History__c.BHR_EA16_OWF_RFI_Request_Completed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>RFI_Bid_Owner_assigned_on_insert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Bid_History__c.BHR_EA16_OWF_RFI_Request_Completed</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>RFI_Request_Completed_Email_Notification_On_Update</name>
        <label>RFI Request Completed Email Notification On Update</label>
        <locationX>3922</locationX>
        <locationY>3047</locationY>
        <actionName>Bid_History__c.BHR_EA16_OWF_RFI_Request_Completed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>RFI_Bid_Owner_assigned_on_update</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Bid_History__c.BHR_EA16_OWF_RFI_Request_Completed</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>RiskBasedMonitoring_Send_Email_Notification</name>
        <label>RiskBasedMonitoring Send Email Notification</label>
        <locationX>4648</locationX>
        <locationY>539</locationY>
        <actionName>Bid_History__c.BHR_EA24_OWF_RiskBasedMonitoring</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Strategic_Pricing_Lead_Notification_on_update</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Bid_History__c.BHR_EA24_OWF_RiskBasedMonitoring</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>RNPS_requested_Email_Notification_for_clinical_bid</name>
        <label>RNPS requested Email Notification</label>
        <locationX>116</locationX>
        <locationY>3647</locationY>
        <actionName>Bid_History__c.BHR_EA28_OWF_bid_creation_of_RNPS_requested</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ClinicalBidAlertWhenD</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Bid_History__c.BHR_EA28_OWF_bid_creation_of_RNPS_requested</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>RNPS_requested_Email_Notification_for_clinical_short_form</name>
        <label>RNPS requested Email Notification</label>
        <locationX>754</locationX>
        <locationY>3347</locationY>
        <actionName>Bid_History__c.BHR_EA28_OWF_bid_creation_of_RNPS_requested</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Bid_History__c.BHR_EA28_OWF_bid_creation_of_RNPS_requested</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Submit_for_Approval</name>
        <label>Submit for Approval</label>
        <locationX>2866</locationX>
        <locationY>3455</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>Submit for approval</description>
        <name>Approval_process_for_GCC</name>
        <label>Approval process for GCC</label>
        <locationX>2998</locationX>
        <locationY>3347</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Submit_Approval</name>
            <conditionLogic>1 AND ( (2 AND 4) OR (3 AND 5)) AND 6 AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Bid_History_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Operational_Lead1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Operational_Lead2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Operational_Lead1__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Operational_Lead2__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>userId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>userId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CreatedById</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_for_Approval</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Submit Approval</label>
        </rules>
    </decisions>
    <decisions>
        <name>Approval_Process_for_GCC_Bid</name>
        <label>Approval Process for GCC Bid</label>
        <locationX>5902</locationX>
        <locationY>2939</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approval_Process</name>
            <conditionLogic>1 AND ( (2 AND 4) OR (3 AND 5)) AND 6 AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Bid_History_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Operational_Lead1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Operational_Lead2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Operational_Lead1__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Operational_Lead2__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>userId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>userId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CreatedById</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_for_GCC_Bid</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Approval Process</label>
        </rules>
    </decisions>
    <decisions>
        <description>Workflow Rule
BHR-WR01-CRM-Awarded email alert - Rob Von Alten</description>
        <name>Awarded_Oppportunity_Notification_on_Insert</name>
        <label>Awarded Oppportunity Notification on Insert</label>
        <locationX>1953</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Bid_Creation_Notification_on_insert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Awarded_Opportunity_criteria</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7a. Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Additional_Services_Requested__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IVR (Cenduit)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Additional_Services_Requested__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>eDiary</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Additional_Services_Requested__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Translation Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Additional_Services_Requested__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other Services/Specific Vendor requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Awarded_Opportunity_Email_Notification_on_insert</targetReference>
            </connector>
            <label>Check Awarded Opportunity criteria</label>
        </rules>
    </decisions>
    <decisions>
        <description>Workflow Rule
BHR-WR01-CRM-Awarded email alert - Rob Von Alten</description>
        <name>Awarded_Oppportunity_Notification_on_update</name>
        <label>Awarded Oppportunity Notification on update</label>
        <locationX>4780</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Bid_Grid_QC_Budget_Analyst_Assigned_Notification_on_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Awarded_Opportunity_criteria_on_update</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7a. Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Additional_Services_Requested__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IVR (Cenduit)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Additional_Services_Requested__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>eDiary</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Additional_Services_Requested__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Translation Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Additional_Services_Requested__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other Services/Specific Vendor requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Awarded_Opportunity_Email_Notification_on_update</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Check Awarded Opportunity criteria on update</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-5430</description>
        <name>Bid_Alert_To_CNS_Email_Notification</name>
        <label>Bid Alert To CNS Email Notification</label>
        <locationX>248</locationX>
        <locationY>3239</locationY>
        <defaultConnector>
            <targetReference>Check_RNPS_service_added_for_clinical_bid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Email_for_CNS_Email_Notification</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 8) AND 6 AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clinical</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Data Sciences</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Safety &amp; Med Info</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Early Clinical Development</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outcome</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bid_History_Related_Opportunity__r.Global_project_unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Central Nervous System</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bid_History_Related_Opportunity__r.Is_this_IQVIA_Biotech__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bid_History_Related_Opportunity__r.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RWLP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clinical_Bid_Alert_To_CNS_Email_Notification</targetReference>
            </connector>
            <label>Send Email for CNS Email Notification</label>
        </rules>
    </decisions>
    <decisions>
        <description>Workflow:
BHR-WR02-CRM-Bid Auto Alert</description>
        <name>Bid_Creation_Notification_on_insert</name>
        <label>Bid Creation Notification on insert</label>
        <locationX>1953</locationX>
        <locationY>1331</locationY>
        <defaultConnector>
            <targetReference>Bid_Grid_QC_Budget_Analyst_Assigned_Notification_on_insert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Bid_Created</name>
            <conditionLogic>(1 OR 2 OR 3 OR 10) AND (4 OR 5) AND (6 OR 7 OR 8 OR 9)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Bid_History_Related_Opportunity__r.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Novella</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bid_History_Related_Opportunity__r.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clinical</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bid_History_Related_Opportunity__r.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outcome</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bid_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bid_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Re-bid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RFP_Ranking__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RFP_Ranking__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RFP_Ranking__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RFP_Ranking__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bid_History_Related_Opportunity__r.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RWLP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bid_Creation_Email_Notification_on_insert</targetReference>
            </connector>
            <label>Check Bid Created</label>
        </rules>
    </decisions>
    <decisions>
        <description>Workflow Rule
BHR-WR04-CRM-Bid Grid - QC Budget Analyst Assigned</description>
        <name>Bid_Grid_QC_Budget_Analyst_Assigned_Notification_on_insert</name>
        <label>Bid Grid - QC Budget Analyst Assigned Notification on insert</label>
        <locationX>1953</locationX>
        <locationY>1631</locationY>
        <defaultConnector>
            <targetReference>Bid_History_Exec_Review_Notification_on_insert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Bid_Grid_QC_Budget_Analyst_Assigned_criteria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Grid_QC_Assigned_to__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bid_Grid_QC_Budget_Analyst_Assigned_Email_Notification_on_insert</targetReference>
            </connector>
            <label>Check Bid Grid - QC Budget Analyst Assigned criteria</label>
        </rules>
    </decisions>
    <decisions>
        <description>Workflow Rule
BHR-WR04-CRM-Bid Grid - QC Budget Analyst Assigned</description>
        <name>Bid_Grid_QC_Budget_Analyst_Assigned_Notification_on_update</name>
        <label>Bid Grid - QC Budget Analyst Assigned Notification on update</label>
        <locationX>4780</locationX>
        <locationY>1331</locationY>
        <defaultConnector>
            <targetReference>Bid_History_Exec_Review_Notification_on_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Bid_Grid_QC_Budget_Analyst_Assigned_criteria_on_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Grid_QC_Assigned_to__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bid_Grid_QC_Budget_Analyst_Assigned_Email_Notification_on_update</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Check Bid Grid - QC Budget Analyst Assigned criteria on update</label>
        </rules>
    </decisions>
    <decisions>
        <description>Workflow Rule
BHR-WR08-CRM-Bid History Client Bid Grid Alert</description>
        <name>Bid_History_Client_Bid_Grid_Notification_on_insert</name>
        <label>Bid History Client Bid Grid Notification on insert</label>
        <locationX>1953</locationX>
        <locationY>2531</locationY>
        <defaultConnector>
            <targetReference>Bid_History_QIP_Loaded_Notification_on_insert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Bid_History_Client_Bid_Grid_criteria_on_insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Client_Bid_Grid_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request for Bid Grids</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bid_History_Client_Bid_Grid_Team_Notification_on_insert</targetReference>
            </connector>
            <label>Check Bid History Client Bid Grid criteria on insert</label>
        </rules>
    </decisions>
    <decisions>
        <description>Workflow Rule
BHR-WR08-CRM-Bid History Client Bid Grid Alert</description>
        <name>Bid_History_Client_Bid_Grid_Notification_on_update</name>
        <label>Bid History Client Bid Grid Notification on update</label>
        <locationX>4780</locationX>
        <locationY>2231</locationY>
        <defaultConnector>
            <targetReference>Bid_History_QIP_Loaded_Notification_on_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Bid_History_Client_Bid_Grid_criteria_on_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Client_Bid_Grid_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request for Bid Grids</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bid_History_Client_Bid_Grid_Team_Notification_on_update</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Check Bid History Client Bid Grid criteria on update</label>
        </rules>
    </decisions>
    <decisions>
        <description>Workflow Rule
BHR-WR09-CRM-Bid History CSS - Insufficient Information</description>
        <name>Bid_History_CSS_Insufficient_Information_Notification_on_insert</name>
        <label>Bid History CSS - Insufficient Information Notification on insert</label>
        <locationX>3262</locationX>
        <locationY>3239</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Bid_History_CSS_Insufficient_Information_criteria_on_insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Insufficient_Information__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedById</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bid_History_CSS_insufficient_information_alert_on_insert</targetReference>
            </connector>
            <label>Check Bid History CSS - Insufficient Information criteria on insert</label>
        </rules>
    </decisions>
    <decisions>
        <description>Workflow Rule
BHR-WR09-CRM-Bid History CSS - Insufficient Information</description>
        <name>Bid_History_CSS_Insufficient_Information_Notification_on_update</name>
        <label>Bid History CSS - Insufficient Information Notification on update</label>
        <locationX>5110</locationX>
        <locationY>2939</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Bid_History_CSS_Insufficient_Information_criteria_on_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Insufficient_Information__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedById</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bid_History_CSS_insufficient_information_alert_on_update</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Check Bid History CSS - Insufficient Information criteria on update</label>
        </rules>
    </decisions>
    <decisions>
        <description>Workflow Rule
BHR-WR05-CRM-Bid History - Exec Review</description>
        <name>Bid_History_Exec_Review_Notification_on_insert</name>
        <label>Bid History - Exec Review Notification on insert</label>
        <locationX>1953</locationX>
        <locationY>1931</locationY>
        <defaultConnector>
            <targetReference>Bid_History_Pricing_considerations_Notification_on_insert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Bid_History_Exec_Review_criteria_on_insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Estimated_Fees__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Greater than $20M</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bid_History_Exec_Review_Email_Notification_on_insert</targetReference>
            </connector>
            <label>Check Bid History - Exec Review criteria on insert</label>
        </rules>
    </decisions>
    <decisions>
        <description>Workflow Rule
BHR-WR05-CRM-Bid History - Exec Review</description>
        <name>Bid_History_Exec_Review_Notification_on_update</name>
        <label>Bid History - Exec Review Notification on update</label>
        <locationX>4780</locationX>
        <locationY>1631</locationY>
        <defaultConnector>
            <targetReference>Bid_History_Pricing_considerations_Notification_on_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Bid_History_Exec_Review_criteria_on_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Estimated_Fees__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Greater than $20M</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bid_History_Exec_Review_Email_Notification_on_update</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Check Bid History - Exec Review criteria on update</label>
        </rules>
    </decisions>
    <decisions>
        <description>Workflow Rule
BHR-WR07-CRM-Bid History - Pricing considerations alert</description>
        <name>Bid_History_Pricing_considerations_Notification_on_insert</name>
        <label>Bid History - Pricing considerations Notification on insert</label>
        <locationX>1953</locationX>
        <locationY>2231</locationY>
        <defaultConnector>
            <targetReference>Bid_History_Client_Bid_Grid_Notification_on_insert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Bid_History_Pricing_considerations_criteria_on_insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Bid_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Strategic_Pricing_Lead__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Strategic_Pricing_Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pricing_considerations_alert_Notification_on_insert</targetReference>
            </connector>
            <label>Check Bid History - Pricing considerations criteria on insert</label>
        </rules>
    </decisions>
    <decisions>
        <description>Workflow Rule
BHR-WR07-CRM-Bid History - Pricing considerations alert</description>
        <name>Bid_History_Pricing_considerations_Notification_on_update</name>
        <label>Bid History - Pricing considerations Notification on update</label>
        <locationX>4780</locationX>
        <locationY>1931</locationY>
        <defaultConnector>
            <targetReference>Bid_History_Client_Bid_Grid_Notification_on_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Bid_History_Pricing_considerations_criteria_on_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Bid_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Strategic_Pricing_Lead__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Strategic_Pricing_Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pricing_considerations_alert_Notification_on_update</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Check Bid History - Pricing considerations criteria on update</label>
        </rules>
    </decisions>
    <decisions>
        <description>Workflow Rule
BHR-WR13-CRM-QIP Loaded notification</description>
        <name>Bid_History_QIP_Loaded_Notification_on_insert</name>
        <label>Bid History QIP Loaded Notification on insert</label>
        <locationX>1953</locationX>
        <locationY>2831</locationY>
        <defaultConnector>
            <targetReference>Record_Type_check_on_Insert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Bid_History_QIP_Loaded_criteria_on_insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.QIP_Loaded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bid_History_QIP_Loaded_Notification_alert_on_insert</targetReference>
            </connector>
            <label>Check Bid History QIP Loaded criteria on insert</label>
        </rules>
    </decisions>
    <decisions>
        <description>Workflow Rule
BHR-WR13-CRM-QIP Loaded notification</description>
        <name>Bid_History_QIP_Loaded_Notification_on_update</name>
        <label>Bid History QIP Loaded Notification on update</label>
        <locationX>4780</locationX>
        <locationY>2531</locationY>
        <defaultConnector>
            <targetReference>Record_Type_check_on_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Bid_History_QIP_Loaded_criteria_on_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.QIP_Loaded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bid_History_QIP_Loaded_Notification_alert_on_update</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Check Bid History QIP Loaded criteria on update</label>
        </rules>
    </decisions>
    <decisions>
        <description>Workflow Rule: BHR-WR21-OWF-Biotech Bidder Notification</description>
        <name>Biotech_Bidder_Notification</name>
        <label>Biotech Bidder Notification</label>
        <locationX>1953</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Strategic_Pricing_Lead_Notification_on_insert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Email_for_Biotech_Bidder_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clinical</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IQVIA_biotech__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Biotech_Bidder_Notification_Email</targetReference>
            </connector>
            <label>Send Email for Biotech Bidder Notification</label>
        </rules>
    </decisions>
    <decisions>
        <description>Workflow Rule
BHR-WR25-OWF-AgreementCreation</description>
        <name>Check_Agreement_Creation_Condition</name>
        <label>Check Agreement Creation Condition</label>
        <locationX>248</locationX>
        <locationY>4631</locationY>
        <defaultConnector>
            <targetReference>Clinical_Alert_LOB_LCS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Agreement_Creation_Notification</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Requested_Services__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Clinical Monitoring</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3. Developing Proposal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clinical</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phase 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phase 3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agreement_Creation_Email_Notification</targetReference>
            </connector>
            <label>Send Agreement Creation Notification</label>
        </rules>
    </decisions>
    <decisions>
        <description>Workflow Rule
BHR-WR24-OWF-BudgetAnalystAssigned</description>
        <name>Check_Budget_Analyst_Assigned_on_insert</name>
        <label>Check Budget Analyst Assigned on insert</label>
        <locationX>248</locationX>
        <locationY>4331</locationY>
        <defaultConnector>
            <targetReference>Check_Agreement_Creation_Condition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Budget_Analyst_Assigned_on_insert</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Budget_Analyst_Assigned__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Budget_Analyst_Assigned__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Budget_Analyst_Assigned_Email_Notification_on_insert</targetReference>
            </connector>
            <label>Budget Analyst Assigned on insert</label>
        </rules>
    </decisions>
    <decisions>
        <description>Workflow Rule
BHR-WR24-OWF-BudgetAnalystAssigned</description>
        <name>Check_Budget_Analyst_Assigned_on_update</name>
        <label>Check Budget Analyst Assigned on update</label>
        <locationX>4582</locationX>
        <locationY>2939</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Budget_Analyst_Assigned_on_update</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Budget_Analyst_Assigned__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Budget_Analyst_Assigned__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Budget_Analyst_Assigned__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Budget_Analyst_Assigned_Email_Notification_on_update</targetReference>
            </connector>
            <label>Budget Analyst Assigned on update</label>
        </rules>
    </decisions>
    <decisions>
        <description>Workflow Rule
BGR-WR17-OWF-RFI Request Completed</description>
        <name>Check_RFI_Request_Completed_On_Insert</name>
        <label>Check RFI Request Completed On Insert</label>
        <locationX>1414</locationX>
        <locationY>3239</locationY>
        <defaultConnector>
            <targetReference>RFI_Bid_Owner_assigned_on_insert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Email_RFI_Request_Completed_On_Insert</name>
            <conditionLogic>1 AND (2 OR (3 AND 4))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Bid_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Q_Requester__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Q_Requester__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RFI_Request_Completed_Email_Notification_On_Insert</targetReference>
            </connector>
            <label>Send Email RFI Request Completed On Insert</label>
        </rules>
    </decisions>
    <decisions>
        <description>Workflow Rule
BGR-WR17-OWF-RFI Request Completed</description>
        <name>Check_RFI_Request_Completed_On_Update</name>
        <label>Check RFI Request Completed On Update</label>
        <locationX>4054</locationX>
        <locationY>2939</locationY>
        <defaultConnector>
            <targetReference>RFI_Bid_Owner_assigned_on_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Email_RFI_Request_Completed_On_Update</name>
            <conditionLogic>1 AND (2 OR (3 AND 4))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Bid_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Q_Requester__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Q_Requester__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RFI_Request_Completed_Email_Notification_On_Update</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Send Email RFI Request Completed On Update</label>
        </rules>
    </decisions>
    <decisions>
        <description>Workflow Rule
BHR WR 30 OWF RNPS service added</description>
        <name>Check_RNPS_service_added_for_clinical_bid</name>
        <label>Check RNPS service added</label>
        <locationX>248</locationX>
        <locationY>3539</locationY>
        <defaultConnector>
            <targetReference>ClinicalBidAlertWhenD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Email_for_RNPS_service_added_for_clinical_bid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Requested_Services__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>RNPS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RNPS_requested_Email_Notification_for_clinical_bid</targetReference>
            </connector>
            <label>Send Email for RNPS service added</label>
        </rules>
    </decisions>
    <decisions>
        <description>Workflow Rule
BHR WR 30 OWF RNPS service added</description>
        <name>Check_RNPS_service_added_for_clinical_short_form</name>
        <label>Check RNPS service added</label>
        <locationX>886</locationX>
        <locationY>3239</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Email_for_RNPS_service_added_for_clinical_short_form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Requested_Services__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>RNPS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RNPS_requested_Email_Notification_for_clinical_short_form</targetReference>
            </connector>
            <label>Send Email for RNPS service added</label>
        </rules>
    </decisions>
    <decisions>
        <description>Workflow Rule
BHR-WR12-OWF-Clinical2RFP_Alert</description>
        <name>Clinical2RFP_Alert</name>
        <label>Clinical2RFP_Alert</label>
        <locationX>446</locationX>
        <locationY>3947</locationY>
        <defaultConnector>
            <targetReference>Check_Budget_Analyst_Assigned_on_insert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Email_for_Clinical2RFP_Alert</name>
            <conditionLogic>1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clinical</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Data Sciences</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Safety &amp; Med Info</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Early Clinical Development</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outcome</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Novella</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bid_History_Related_Opportunity__r.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RWLP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clinical_Bid_alert_to_RFP_mailbox_Email_Notification</targetReference>
            </connector>
            <label>Send Email for Clinical2RFP_Alert</label>
        </rules>
    </decisions>
    <decisions>
        <description>Workflow Rule
BHR-WR27-OWF-Clinical_Alert_LOB&amp;intervention_Biosimilar</description>
        <name>Clinical_Alert_LOB_intervention_Biosimilar</name>
        <label>Clinical_Alert_LOB&amp;intervention_Biosimilar</label>
        <locationX>248</locationX>
        <locationY>5231</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Clinical_Alert_LOB_intervention_Biosimilar_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Intervention_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Biosimilar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Owner_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clinical_Bid_alert_intervention_type_Biosimilar_Email_Notification</targetReference>
            </connector>
            <label>Clinical_Alert_LOB&amp;intervention_Biosimilar Check</label>
        </rules>
    </decisions>
    <decisions>
        <description>Workflow Rule
BHR-WR26-OWF-Clinical_Alert_LOB_LCS</description>
        <name>Clinical_Alert_LOB_LCS</name>
        <label>Clinical_Alert_LOB_LCS</label>
        <locationX>248</locationX>
        <locationY>4931</locationY>
        <defaultConnector>
            <targetReference>Clinical_Alert_LOB_intervention_Biosimilar</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Clinical_Alert_LOB_LCS_Notification</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Safety &amp; Med Info</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Requested_Services__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Lifecycle Safety</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Owner_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clinical_Alert_LOB_LCS_Email_Notification</targetReference>
            </connector>
            <label>Clinical_Alert_LOB_LCS Notification</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-7372</description>
        <name>ClinicalBidAlertWhenD</name>
        <label>ClinicalBidAlertWhenDDRPRisSelected</label>
        <locationX>248</locationX>
        <locationY>3839</locationY>
        <defaultConnector>
            <targetReference>Clinical2RFP_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_alert_to_RADDS_Mail_Box</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clinical</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Regulatory &amp; Drug Development Solutions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Requested_Services__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Drug Dev/Pre Registration/Registration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Alert_to_RADDS_team</targetReference>
            </connector>
            <label>Email alert to RADDS Mail Box</label>
        </rules>
    </decisions>
    <decisions>
        <description>Workflow Rule
BHR-WR23-OWF-EarlyEngagementBid</description>
        <name>Early_Engagement_Bid_having_Engagement_Activity_RW_NmBRE</name>
        <label>Early Engagement Bid having Engagement Activity RW NmBRE</label>
        <locationX>2470</locationX>
        <locationY>3239</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Engagement_Activity_RW_NmBRE_Email_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type_of_Engagement_Activity__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>RW NmBRE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Early_Engagement_Bid_Email_Notification</targetReference>
            </connector>
            <label>Engagement Activity RW NmBRE Email Notification</label>
        </rules>
    </decisions>
    <decisions>
        <description>To check if record is newly inserted or updated.</description>
        <name>Is_record_inserted_updated</name>
        <label>Is record inserted/updated</label>
        <locationX>3861</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Inserted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsInsert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Biotech_Bidder_Notification</targetReference>
            </connector>
            <label>Record Inserted</label>
        </rules>
        <rules>
            <name>Record_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsInsert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RiskBasedMonitoring_Check</targetReference>
            </connector>
            <label>Record Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type_check_on_Insert</name>
        <label>Record Type check on Insert</label>
        <locationX>1953</locationX>
        <locationY>3131</locationY>
        <defaultConnectorLabel>Other Record Type</defaultConnectorLabel>
        <rules>
            <name>Clinical_Bid_On_Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clinical_Bid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bid_Alert_To_CNS_Email_Notification</targetReference>
            </connector>
            <label>Clinical Bid</label>
        </rules>
        <rules>
            <name>Clinical_Short_Form_On_Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clinical_Short_Form</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_RNPS_service_added_for_clinical_short_form</targetReference>
            </connector>
            <label>Clinical Short Form</label>
        </rules>
        <rules>
            <name>RFI_Request_On_Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RFI_Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_RFI_Request_Completed_On_Insert</targetReference>
            </connector>
            <label>RFI Request</label>
        </rules>
        <rules>
            <name>RFI_Short_Form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RFI_Short_Form</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RFI_Request_Alert</targetReference>
            </connector>
            <label>RFI Short Form</label>
        </rules>
        <rules>
            <name>Early_Engagement_Bid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Early_Engagement_Bid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Early_Engagement_Bid_having_Engagement_Activity_RW_NmBRE</targetReference>
            </connector>
            <label>Early Engagement Bid</label>
        </rules>
        <rules>
            <name>GCC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GCC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AgreementCreationGCC_Email_Notification</targetReference>
            </connector>
            <label>GCC</label>
        </rules>
        <rules>
            <name>CSS_Bid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSS Bid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bid_History_CSS_Insufficient_Information_Notification_on_insert</targetReference>
            </connector>
            <label>CSS Bid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type_check_on_Update</name>
        <label>Record Type check on Update</label>
        <locationX>4780</locationX>
        <locationY>2831</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RFI_Request_On_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RFI_Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_RFI_Request_Completed_On_Update</targetReference>
            </connector>
            <label>RFI Request</label>
        </rules>
        <rules>
            <name>Clinical_Bid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clinical_Bid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Budget_Analyst_Assigned_on_update</targetReference>
            </connector>
            <label>Clinical Bid</label>
        </rules>
        <rules>
            <name>CSS_Bid_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSS Bid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bid_History_CSS_Insufficient_Information_Notification_on_update</targetReference>
            </connector>
            <label>CSS Bid</label>
        </rules>
        <rules>
            <name>GCC_Bid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GCC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_Process_for_GCC_Bid</targetReference>
            </connector>
            <label>GCC Bid</label>
        </rules>
    </decisions>
    <decisions>
        <description>Workflow Rule
BHR-WR15-OWF-CRM-RFI Bid Owner assigned</description>
        <name>RFI_Bid_Owner_assigned_on_insert</name>
        <label>RFI Bid Owner assigned</label>
        <locationX>1414</locationX>
        <locationY>3539</locationY>
        <defaultConnector>
            <targetReference>RFI_Request_Alert_for_record_type_RFI_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Email_for_RFI_Bid_Owner_assigned_on_insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Username</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RFI_Bid_Owner_assigned_Email_Notification_on_insert</targetReference>
            </connector>
            <label>Send Email for RFI Bid Owner assigned</label>
        </rules>
    </decisions>
    <decisions>
        <description>Workflow Rule
BHR-WR15-OWF-CRM-RFI Bid Owner assigned</description>
        <name>RFI_Bid_Owner_assigned_on_update</name>
        <label>RFI Bid Owner assigned</label>
        <locationX>4054</locationX>
        <locationY>3239</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Email_for_RFI_Bid_Owner_assigned_on_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Username</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RFI_Bid_Owner_assigned_Email_Notification_on_update</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Send Email for RFI Bid Owner assigned</label>
        </rules>
    </decisions>
    <decisions>
        <description>Workflow Rule
BHR-WR16-OWF-RFI Request Alert</description>
        <name>RFI_Request_Alert</name>
        <label>RFI Request Alert</label>
        <locationX>1942</locationX>
        <locationY>3239</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Email_for_RFI_Request_Alert</name>
            <conditionLogic>1 OR (2 AND 3) OR (4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Q_Requester__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Q_Requester__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Supporting_Bid_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Supporting_Bid_Owner__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RFI_Request_Alert_Email_Notification</targetReference>
            </connector>
            <label>Send Email for RFI Request Alert</label>
        </rules>
    </decisions>
    <decisions>
        <description>Workflow Rule
BHR-WR16-OWF-RFI Request Alert</description>
        <name>RFI_Request_Alert_for_record_type_RFI_Request</name>
        <label>RFI Request Alert</label>
        <locationX>1414</locationX>
        <locationY>3839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Email_for_RFI_Request_Alert_for_record_type_RFI_Request</name>
            <conditionLogic>1 OR (2 AND 3) OR (4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Q_Requester__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Q_Requester__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Supporting_Bid_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Supporting_Bid_Owner__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RFI_Request_Alert_Email_Notification_for_record_type_RFI_Request</targetReference>
            </connector>
            <label>Send Email for RFI Request Alert</label>
        </rules>
    </decisions>
    <decisions>
        <description>Workflow Rule
BHR-WR26-OWF-RiskBasedMonitoring</description>
        <name>RiskBasedMonitoring_Check</name>
        <label>RiskBasedMonitoring Check</label>
        <locationX>4780</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Strategic_Pricing_Lead_Notification_on_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RiskBasedMonitoring_Email_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DTE_Study__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DTE_Study__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RiskBasedMonitoring_Send_Email_Notification</targetReference>
            </connector>
            <label>RiskBasedMonitoring Email Notification</label>
        </rules>
    </decisions>
    <decisions>
        <description>Workflow Rule
BHR-WR22-OWF-Strategic Pricing Lead</description>
        <name>Strategic_Pricing_Lead_Notification_on_insert</name>
        <label>Strategic Pricing Lead Notification on insert</label>
        <locationX>1953</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Awarded_Oppportunity_Notification_on_Insert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Strategic_Pricing_Lead_criteria</name>
            <conditionLogic>5 AND 1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Strategic_Pricing_Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Owner_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Strategic_Pricing_Lead__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Q2_Solutions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q2_strategic_pricing_email_notification_on_insert</targetReference>
            </connector>
            <label>Check Strategic Pricing Lead criteria</label>
        </rules>
    </decisions>
    <decisions>
        <description>Workflow Rule
BHR-WR22-OWF-Strategic Pricing Lead</description>
        <name>Strategic_Pricing_Lead_Notification_on_update</name>
        <label>Strategic Pricing Lead Notification on update</label>
        <locationX>4780</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Awarded_Oppportunity_Notification_on_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Strategic_Pricing_Lead_criteria_on_update</name>
            <conditionLogic>5 AND 1 AND 6 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Strategic_Pricing_Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Owner_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Strategic_Pricing_Lead__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Q2_Solutions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Strategic_Pricing_Lead__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q2_strategic_pricing_email_notification_on_update</targetReference>
            </connector>
            <label>Check Strategic Pricing Lead criteria on update</label>
        </rules>
    </decisions>
    <description>Bid History Flow to Send Email Notification to user</description>
    <environments>Default</environments>
    <formulas>
        <name>IsInsert</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>userId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <interviewLabel>BHR FL01 OWF SendEmailNotification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BHR FL01 OWF SendEmailNotification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>3735</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_record_inserted_updated</targetReference>
        </connector>
        <filterFormula>{!$Setup.Mulesoft_Integration_Control__c.Is_Mulesoft_User__c} || NOT({!$Setup.Mulesoft_Integration_Control__c.By_Pass_Flow_Process__c})</filterFormula>
        <object>Bid_History__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
