src/flows/CAS_WR31_CSM_SetStatusFieldBasedOnScheduledDate.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AssignRecordId</name>
        <label>AssignRecordId</label>
        <locationX>50</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>RecordID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>CSM-ACN-S-0183 - WR that sets Status to &apos;In progress&apos; &amp; substatus to blank if scheduled date is reached.</description>
    <environments>Default</environments>
    <interviewLabel>CAS_WR31_CSM_SetStatusFieldBasedOnScheduledDate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CAS_WR31_CSM_SetStatusFieldBasedOnScheduledDate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Status_and_SubStatus</name>
        <label>Update Status and SubStatus</label>
        <locationX>314</locationX>
        <locationY>288</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubStatus__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AssignRecordId</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>AND(NOT(ISBLANK({!$Record.ScheduledDatetime__c})), AND(NOT(ISPICKVAL( {!$Record.Status} , &apos;Closed&apos;)) ,NOT(ISPICKVAL( {!$Record.Status} , &apos;Resolved with Customer&apos;))))</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>SetStatusSubStatus</name>
            <connector>
                <targetReference>Update_Status_and_SubStatus</targetReference>
            </connector>
            <label>SetStatusSubStatus</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>ScheduledDatetime__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Id</elementReference>
        </value>
    </variables>
</Flow>
