src/flows/CAS_WR_CSM_Pending_Resolved_Case_Notification_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_for_Pending_Resolution_for_2_Days</name>
        <label>Email for Pending Resolution for 2 Days</label>
        <locationX>242</locationX>
        <locationY>384</locationY>
        <actionName>Case.Case_Pending_Resolution_for_2_Days</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Pending_Resolution_for_2_Days</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <constants>
        <name>AccountName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Novo Nordisk</stringValue>
        </value>
    </constants>
    <constants>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>TechnologyCase</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Criteria_Check</name>
        <label>Criteria Check</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Alert_for_Pending_Resolved_Case_Notification</name>
            <conditionLogic>(1 AND 2 AND NOT(3) ) AND (4 OR (5 AND 6)) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved with Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecordTypeName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>AccountName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SendAutomaticAcknowledgmentEmail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SendAutomaticAcknowledgmentEmail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account Choice</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.SendAutomaticCaseAcknowledgmentEmail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Low_Email_Notification_frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_for_Pending_Resolution_for_2_Days</targetReference>
            </connector>
            <label>Email Alert for Pending Resolved Case Notification</label>
        </rules>
    </decisions>
    <description>CSM-2925</description>
    <environments>Default</environments>
    <interviewLabel>CAS_WR_CSM_Pending_Resolved_Case_Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CAS_WR_CSM_Pending_Resolved_Case_Notification_Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Resolved with Customer</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Case_Pending_Resolution_for_48_hours</name>
            <connector>
                <targetReference>Criteria_Check</targetReference>
            </connector>
            <label>Case Pending Resolution for 48 hours</label>
            <offsetNumber>48</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>StatusChangedTime__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>