src/flows/Case_CSM_CSAT_Flow_All_RecordType.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CAS_OB02_CSM_QualtricsEmailOutboud_RnD</name>
        <label>CAS_OB02_CSM_QualtricsEmailOutboud_RnD</label>
        <locationX>3152</locationX>
        <locationY>1355</locationY>
        <actionName>Case.CAS_OB02_CSM_QualtricsEmailOutboud_RnD</actionName>
        <actionType>outboundMessage</actionType>
        <connector>
            <targetReference>Update_CSAT_Sent_Common</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Case.CAS_OB02_CSM_QualtricsEmailOutboud_RnD</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CAS_OB03_CSM_QualtricsEmailOutboud_TechO</name>
        <label>CAS_OB03_CSM_QualtricsEmailOutboud_TechO</label>
        <locationX>644</locationX>
        <locationY>2945</locationY>
        <actionName>Case.CAS_OB03_CSM_QualtricsEmailOutboud_TechO</actionName>
        <actionType>outboundMessage</actionType>
        <connector>
            <targetReference>Check_C_SAT_Frequency</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Case.CAS_OB03_CSM_QualtricsEmailOutboud_TechO</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CAS_OB03_CSM_QualtricsEmailOutboud_TechO_OptionD_CC</name>
        <label>CAS_OB03_CSM_QualtricsEmailOutboud_TechO_OptionD_CC</label>
        <locationX>1678</locationX>
        <locationY>755</locationY>
        <actionName>Case.CAS_OB03_CSM_QualtricsEmailOutboud_TechO</actionName>
        <actionType>outboundMessage</actionType>
        <connector>
            <targetReference>Update_CSAT_Sent_Common</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Case.CAS_OB03_CSM_QualtricsEmailOutboud_TechO</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CAS_OB04_CSM_QualtricsEmailOutboud_TechO</name>
        <label>CAS_OB04_CSM_QualtricsEmailOutboud_TechO</label>
        <locationX>886</locationX>
        <locationY>3629</locationY>
        <actionName>Case.CAS_OB04_CSM_QualtricsEmailOutboud_TechO</actionName>
        <actionType>outboundMessage</actionType>
        <connector>
            <targetReference>ForOptionC</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Case.CAS_OB04_CSM_QualtricsEmailOutboud_TechO</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CAS_OB05_CSM_QualtricsEmailOutboud_DATA</name>
        <label>CAS_OB05_CSM_QualtricsEmailOutboud_DATA</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>Case.CAS_OB05_CSM_QualtricsEmailOutboud_DATA</actionName>
        <actionType>outboundMessage</actionType>
        <connector>
            <targetReference>Update_CSAT_Sent_Common</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Case.CAS_OB05_CSM_QualtricsEmailOutboud_DATA</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CAS_OB05_CSM_QualtricsEmailOutboud_TechO</name>
        <label>CAS_OB05_CSM_QualtricsEmailOutboud_TechO</label>
        <locationX>886</locationX>
        <locationY>4037</locationY>
        <actionName>Case.CAS_OB05_CSM_QualtricsEmailOutboud_TechO</actionName>
        <actionType>outboundMessage</actionType>
        <connector>
            <targetReference>CheckToUpdateFields</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Case.CAS_OB05_CSM_QualtricsEmailOutboud_TechO</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>As per CSM-3186</description>
        <name>CAS_OB07_CSM_QualtricsEmailOutboud_RnD_S</name>
        <label>CAS_OB07_CSM_QualtricsEmailOutboud_RnD_S</label>
        <locationX>2888</locationX>
        <locationY>1355</locationY>
        <actionName>Case.CAS_OB07_CSM_QualtricsEmailOutboud_RnD_S</actionName>
        <actionType>outboundMessage</actionType>
        <connector>
            <targetReference>Update_CSAT_Sent_Common</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Case.CAS_OB07_CSM_QualtricsEmailOutboud_RnD_S</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CAS_WOM01_CSM_QualtricsEmailOutboud</name>
        <label>CAS_WOM01_CSM_QualtricsEmailOutboud</label>
        <locationX>644</locationX>
        <locationY>2537</locationY>
        <actionName>Case.CAS_WOM01_CSM_QualtricsEmailOutboud</actionName>
        <actionType>outboundMessage</actionType>
        <connector>
            <targetReference>ForOptionD</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Case.CAS_WOM01_CSM_QualtricsEmailOutboud</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Account_Ids_Assignment_from_metadata</name>
        <label>Account Ids Assignment from metadata</label>
        <locationX>1018</locationX>
        <locationY>1421</locationY>
        <assignmentItems>
            <assignToReference>AccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Storing_Values_from_Metadata.Account_Ids__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Storing_Values_from_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Matched_ST</name>
        <label>Matched ST</label>
        <locationX>2910</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>MatchingSubTypeFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_all_cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MeetConditionForOptionB</name>
        <label>MeetConditionForOptionB</label>
        <locationX>644</locationX>
        <locationY>2429</locationY>
        <assignmentItems>
            <assignToReference>ConditionMeetFORBDE</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CAS_WOM01_CSM_QualtricsEmailOutboud</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MeetConditionForOptionC</name>
        <label>MeetConditionForOptionC</label>
        <locationX>886</locationX>
        <locationY>3929</locationY>
        <assignmentItems>
            <assignToReference>ConditionMeetFORBDE</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CAS_OB05_CSM_QualtricsEmailOutboud_TechO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MeetConditionForOptionD</name>
        <label>MeetConditionForOptionD</label>
        <locationX>644</locationX>
        <locationY>2837</locationY>
        <assignmentItems>
            <assignToReference>ConditionMeetFORBDE</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CAS_OB03_CSM_QualtricsEmailOutboud_TechO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MeetConditionForOptionE</name>
        <label>MeetConditionForOptionE</label>
        <locationX>886</locationX>
        <locationY>3521</locationY>
        <assignmentItems>
            <assignToReference>ConditionMeetFORBDE</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CAS_OB04_CSM_QualtricsEmailOutboud_TechO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Product_Found</name>
        <label>Product Found</label>
        <locationX>1018</locationX>
        <locationY>1937</locationY>
        <assignmentItems>
            <assignToReference>FlagCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_to_check_product</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>As per CSM-3186</description>
        <name>R_DOptionSandoz</name>
        <dataType>String</dataType>
        <value>
            <stringValue>R&amp;D Option Sandoz</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Account_Frequency_between_non_responded_is_blank</name>
        <label>Account Frequency between non responded is blank?</label>
        <locationX>930</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Days_since_last_responded_and_Last_Submitted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not blank</defaultConnectorLabel>
        <rules>
            <name>Is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.C_SAT_Frequency_non_responded__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Days_Since_Last_Submitted</targetReference>
            </connector>
            <label>Is Blank</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check_C_SAT_Frequency</description>
        <name>Check_C_SAT_Frequency</name>
        <label>C_SAT_Frequency</label>
        <locationX>1216</locationX>
        <locationY>3305</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_C_SAT_Frequency_Result</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>C_SAT_Frequency</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ForOptionE</targetReference>
            </connector>
            <label>Check_C_SAT_Frequency</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_flag</name>
        <label>check flag</label>
        <locationX>930</locationX>
        <locationY>2213</locationY>
        <defaultConnector>
            <targetReference>Check_C_SAT_Frequency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Product Match = true</defaultConnectorLabel>
        <rules>
            <name>Product_Match_false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FlagCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ForOptionB</targetReference>
            </connector>
            <label>Product Match = false</label>
        </rules>
    </decisions>
    <decisions>
        <description>As per CSM-3186</description>
        <name>Check_Option_For_Sandoz</name>
        <label>Check Option For Sandoz</label>
        <locationX>3020</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>CAS_OB02_CSM_QualtricsEmailOutboud_RnD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>R&amp;D Option D</defaultConnectorLabel>
        <rules>
            <name>R_D_Option_Sandoz</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.C_SAT_Survey_Option_Chosen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>R_DOptionSandoz</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CAS_OB07_CSM_QualtricsEmailOutboud_RnD_S</targetReference>
            </connector>
            <label>R&amp;D Option Sandoz</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_OptionD_CC</name>
        <label>For OptionD_CC</label>
        <locationX>1810</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_OptionD_CC_Result</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChecksForOptionD_CC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CAS_OB03_CSM_QualtricsEmailOutboud_TechO_OptionD_CC</targetReference>
            </connector>
            <label>Option D_CC (CAS_WR61_CSM_CSATTechnoCC_OptionD)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>1931</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DATA_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DATACase</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>EXT Service User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initial_check_For_DATA_Cases</targetReference>
            </connector>
            <label>DATA Record Type</label>
        </rules>
        <rules>
            <name>Techno_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TechnologyCase</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>EXT Service User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initial_checks_for_Tech_cases</targetReference>
            </connector>
            <label>Techno Record Type</label>
        </rules>
        <rules>
            <name>R_D_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RandDCase</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>EXT Service User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initial_checks_for_RandD_cases</targetReference>
            </connector>
            <label>R&amp;D Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckToUpdateFields</name>
        <label>CheckToUpdateFields</label>
        <locationX>1018</locationX>
        <locationY>4229</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UpdateFields</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConditionMeetFORBDE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CSAT_Sent_ForOptionEC</targetReference>
            </connector>
            <label>UpdateFields</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cheking_Product_and_Subtypes_Decision</name>
        <label>Cheking Product and Subtypes Decision</label>
        <locationX>1150</locationX>
        <locationY>1829</locationY>
        <defaultConnector>
            <targetReference>loop_to_check_product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Product Not Found</defaultConnectorLabel>
        <rules>
            <name>Checking_Product_and_Subtypes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_to_check_product.Case_CategorizationId__r.ProductName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Case_CategorizationId__r.ProductName__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_to_check_product.Case_CategorizationId__r.SubType1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Case_CategorizationId__r.SubType1__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_to_check_product.Case_CategorizationId__r.SubType2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Case_CategorizationId__r.SubType2__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_to_check_product.Case_CategorizationId__r.SubType3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Case_CategorizationId__r.SubType3__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Found</targetReference>
            </connector>
            <label>Checking Product and Subtypes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Days_since_last_responded_and_Last_Submitted</name>
        <label>Days since last responded and Last Submitted</label>
        <locationX>1150</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_C_SAT_Frequency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Days_aree_greater_than_Frequency</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact.C_SAT_Last_Responded_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IfDaysSinceLastRespondGreaterAccountCSATFrequency</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IfDaysSinceC_SATLastSubmittedDateGreaterAccountFrequencyNonResponded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Metadata</targetReference>
            </connector>
            <label>Days are greater than Frequency</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check_C_SAT_Frequency</description>
        <name>Days_Since_Last_Submitted</name>
        <label>Days Since Last Submitted</label>
        <locationX>710</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_C_SAT_Frequency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Days_are_greater_than_frequency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>C_SAT_Frequency</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Metadata</targetReference>
            </connector>
            <label>Days are greater than frequency</label>
        </rules>
    </decisions>
    <decisions>
        <name>For_Option_B_D</name>
        <label>For Option B / D</label>
        <locationX>1216</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Check_C_SAT_Frequency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Option_B_D</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckForOptionBandD</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Frequency_between_non_responded_is_blank</targetReference>
            </connector>
            <label>Option B / D</label>
        </rules>
    </decisions>
    <decisions>
        <name>ForOptionB</name>
        <label>ForOptionB</label>
        <locationX>776</locationX>
        <locationY>2321</locationY>
        <defaultConnector>
            <targetReference>ForOptionD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OptionB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChecksForOptionB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MeetConditionForOptionB</targetReference>
            </connector>
            <label>OptionB</label>
        </rules>
    </decisions>
    <decisions>
        <name>ForOptionC</name>
        <label>ForOptionC</label>
        <locationX>1018</locationX>
        <locationY>3821</locationY>
        <defaultConnector>
            <targetReference>CheckToUpdateFields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OptionC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChecksForOptionC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MeetConditionForOptionC</targetReference>
            </connector>
            <label>OptionC</label>
        </rules>
    </decisions>
    <decisions>
        <name>ForOptionD</name>
        <label>ForOptionD</label>
        <locationX>776</locationX>
        <locationY>2729</locationY>
        <defaultConnector>
            <targetReference>Check_C_SAT_Frequency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OptionD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChecksForOptionD</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MeetConditionForOptionD</targetReference>
            </connector>
            <label>OptionD</label>
        </rules>
    </decisions>
    <decisions>
        <name>ForOptionE</name>
        <label>ForOptionE</label>
        <locationX>1018</locationX>
        <locationY>3413</locationY>
        <defaultConnector>
            <targetReference>ForOptionC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OptionE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChecksForOptionE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MeetConditionForOptionE</targetReference>
            </connector>
            <label>OptionE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Initial_check_For_DATA_Cases</name>
        <label>Initial check For DATA Cases</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Meet_all_criteria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InitialChecksForData</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CAS_OB05_CSM_QualtricsEmailOutboud_DATA</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>CAS_WR71_CSM_CSATDATAOptionB</label>
        </rules>
    </decisions>
    <decisions>
        <name>Initial_checks_for_RandD_cases</name>
        <label>Initial checks for RandD cases</label>
        <locationX>3119</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CAS_WR59_CSM_CSATRnDOptionB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InitialChecksForRandD</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Last_10_Days_Cases</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>CAS_WR59_CSM_CSATRnDOptionB</label>
        </rules>
    </decisions>
    <decisions>
        <name>Initial_checks_for_Tech_cases</name>
        <label>Initial checks for Tech cases</label>
        <locationX>1859</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Initial_Checks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InitialChecksForTech</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SLA_Policies</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Initial Checks</label>
        </rules>
    </decisions>
    <decisions>
        <description>This will match Sub Type 1,2 and 3 for all cases with the triggered case.</description>
        <name>Look_for_matching_ST</name>
        <label>Look for matching ST</label>
        <locationX>3042</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Iterate_all_cases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Match_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_all_cases.SubType1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SubType1__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_all_cases.SubType2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SubType2__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_all_cases.SubType3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SubType3__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Matched_ST</targetReference>
            </connector>
            <label>Match Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Matched_ST_Found</name>
        <label>Matched ST Found?</label>
        <locationX>2822</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Check_Option_For_Sandoz</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Matched</defaultConnectorLabel>
        <rules>
            <name>Matched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchingSubTypeFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Matched</label>
        </rules>
    </decisions>
    <decisions>
        <description>SLA_Policies</description>
        <name>SLA_Policies</name>
        <label>SLA_Policies</label>
        <locationX>1513</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Check_OptionD_CC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NOT(ISBLANK(SLA_Policies__c))</defaultConnectorLabel>
        <rules>
            <name>Check_SLA_Policies</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SLA_Policies__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>For_Option_B_D</targetReference>
            </connector>
            <label>ISBLANK(SLA_Policies__c)</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>C_SAT_Frequency</description>
        <name>C_SAT_Frequency</name>
        <dataType>Boolean</dataType>
        <expression>OR(TODAY() - IF(ISBLANK({!$Record.Account.CSAT_Frequency_For_TechSol__c}), {!$Setup.C_SAT_Default_Frequency__c.Default_Frequency_For_Techno__c}, {!$Record.Account.CSAT_Frequency_For_TechSol__c}) &gt;= {!$Record.Contact.C_SAT_Last_Submitted_Date__c}, ISBLANK({!$Record.Contact.C_SAT_Last_Submitted_Date__c}), {!$Record.Force_CSAT_Email_Survey__c} = true)</expression>
    </formulas>
    <formulas>
        <description>As per CSM-3046</description>
        <name>Check10Days</name>
        <dataType>Date</dataType>
        <expression>TODAY()- 10</expression>
    </formulas>
    <formulas>
        <name>Check5Days</name>
        <dataType>Date</dataType>
        <expression>TODAY()- 5</expression>
    </formulas>
    <formulas>
        <name>CheckForOptionBandD</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISPICKVAL( {!$Record.Status} , &apos;Closed&apos;),OR(INCLUDES({!$Record.Account.C_SAT_Survey_Option__c}, &apos;TS Option D&apos;),INCLUDES({!$Record.Account.C_SAT_Survey_Option__c}, &apos;TS Option B&apos;)), OR(CONTAINS({!$Record.InitialQueue__c}, &quot;T1&quot;),NOT(ISBLANK({!$Record.Contact.Partner_Type__c}))))</expression>
    </formulas>
    <formulas>
        <name>ChecksForOptionB</name>
        <dataType>Boolean</dataType>
        <expression>INCLUDES({!$Record.Account.C_SAT_Survey_Option__c}, &apos;TS Option B&apos;)</expression>
    </formulas>
    <formulas>
        <name>ChecksForOptionC</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISPICKVAL( {!$Record.Status} , &apos;Closed&apos;),INCLUDES({!$Record.Account.C_SAT_Survey_Option__c}, &apos;TS Option C&apos;), CONTAINS(LOWER({!$Record.Account.Name}), &apos;organon&apos;),{!$Record.Asset.Name} =&apos;ComPAS&apos; )</expression>
    </formulas>
    <formulas>
        <name>ChecksForOptionD</name>
        <dataType>Boolean</dataType>
        <expression>AND(INCLUDES({!$Record.Account.C_SAT_Survey_Option__c}, &apos;TS Option D&apos;), CONTAINS({!$Record.InitialQueue__c}, &quot;T1&quot;))</expression>
    </formulas>
    <formulas>
        <name>ChecksForOptionD_CC</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISPICKVAL({!$Record.Status} , &apos;Closed&apos;),INCLUDES({!$Record.Account.C_SAT_Survey_Option__c}, &apos;TS Option D&apos;),NOT(ISBLANK({!$Record.AccountId})),OR({!$Record.Force_CSAT_Email_Survey__c} = true, CONTAINS( {!$Record.InitialQueue__c}, &quot;T1&quot;), CONTAINS({!$Record.InitialQueue__c}, &quot;T2&quot;)))</expression>
    </formulas>
    <formulas>
        <name>ChecksForOptionE</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISPICKVAL( {!$Record.Status} , &apos;Closed&apos;),INCLUDES({!$Record.Account.C_SAT_Survey_Option__c}, &apos;TS Option E&apos;), AND(CONTAINS({!$Record.InitialQueue__c}, &quot;T2&quot;),CONTAINS({!$Record.CurrentQueue__r.Name}, &quot;T2&quot;)))</expression>
    </formulas>
    <formulas>
        <name>CurrentDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>FrequencyMinusDaysSinceCSATResponded</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Account.C_SAT_Frequency_non_responded__c} - (TODAY() -{!$Record.Contact.C_SAT_Last_Submitted_Date__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>If number of days since Last C-Sat submission are greater than the Account.C_SAT_Frequency_non_responded__c</description>
        <name>IfDaysSinceC_SATLastSubmittedDateGreaterAccountFrequencyNonResponded</name>
        <dataType>Boolean</dataType>
        <expression>TODAY() - {!$Record.Contact.C_SAT_Last_Submitted_Date__c} &gt;= {!$Record.Account.C_SAT_Frequency_non_responded__c}</expression>
    </formulas>
    <formulas>
        <description>Check if Contact  Last Response C-SAT Date Minus TODAY is greater than Account.CSAT_Frequency_For_TechSol__c or Setup.C_SAT_Default_Frequency__c.Default_Frequency_For_Techno__c if Account.CSAT_Frequency_For_TechSol__c is null.</description>
        <name>IfDaysSinceLastRespondGreaterAccountCSATFrequency</name>
        <dataType>Boolean</dataType>
        <expression>TODAY() - IF(ISBLANK({!$Record.Account.CSAT_Frequency_For_TechSol__c}), {!$Setup.C_SAT_Default_Frequency__c.Default_Frequency_For_Techno__c}, {!$Record.Account.CSAT_Frequency_For_TechSol__c}) &gt;= {!$Record.Contact.C_SAT_Last_Responded_Date__c}</expression>
    </formulas>
    <formulas>
        <name>InitialChecksForData</name>
        <dataType>Boolean</dataType>
        <expression>AND (ISPICKVAL( {!$Record.Status} , &apos;Closed&apos;), INCLUDES({!$Record.Account.C_SAT_Survey_Option__c} , &apos;DATA Option B&apos;), NOT(ISBLANK({!$Record.Contact.Email})), {!$Record.Contact.Survey_Opt_Out__c} = false, OR(TODAY() - IF(ISBLANK({!$Record.Account.CSAT_Frequency_For_DATA__c}), {!$Setup.C_SAT_Default_Frequency__c.Default_Frequency_For_DATA__c}, {!$Record.Account.CSAT_Frequency_For_DATA__c}) &gt;= {!$Record.Contact.C_SAT_Last_Submitted_Date__c}, ISBLANK({!$Record.Contact.C_SAT_Last_Submitted_Date__c}), {!$Record.Force_CSAT_Email_Survey__c} = true),   OR (NOT(ISPICKVAL({!$Record.Account.AccountCountry__c},&apos;US&apos;)), AND(ISPICKVAL({!$Record.Account.AccountCountry__c},&apos;US&apos;), NOT(ISPICKVAL({!$Record.ResolutionCode__c},&apos;Client – Data Query Not Valid&apos;)), NOT(ISPICKVAL({!$Record.ResolutionCode__c},&apos;Duplicate Inquiry&apos;)), NOT(ISPICKVAL({!$Record.ResolutionCode__c},&apos;No longer required&apos;)), NOT(ISPICKVAL({!$Record.ResolutionCode__c},&apos;No response from client&apos;)), NOT(ISPICKVAL({!$Record.ResolutionCode__c},&apos;Other – Duplicate Request&apos;)), OR( {!$Record.SubType3__c} = &apos;DDD OUTLET VOLUME INVESTIGATION&apos;,  {!$Record.SubType3__c} = &apos;XPO PRESCRIBER VOLUME INVESTIGATION&apos;,  {!$Record.SubType3__c} = &apos;ZIP/TERRITORY VOLUME/ TREND INVESTIGATION&apos;, {!$Record.SubType3__c} = &apos;XPO PLAN VOLUME INVESTIGATION&apos;) ),AND(ISPICKVAL({!$Record.Account.AccountCountry__c},&apos;US&apos;),NOT(ISPICKVAL({!$Record.ResolutionCode__c},&apos;Client – Data Query Not Valid&apos;)), NOT(ISPICKVAL({!$Record.ResolutionCode__c},&apos;Duplicate Inquiry&apos;)), NOT(ISPICKVAL({!$Record.ResolutionCode__c},&apos;No longer required&apos;)), NOT(ISPICKVAL({!$Record.ResolutionCode__c},&apos;No response from client&apos;)), NOT(ISPICKVAL({!$Record.ResolutionCode__c},&apos;Other – Duplicate Request&apos;)), OR({!$Record.ProductName__c} =&apos;NPA&apos;,{!$Record.ProductName__c} =&apos;NPA MARKET DYNAMICS&apos;,{!$Record.ProductName__c} =&apos;NPA MONTHLY&apos;,{!$Record.ProductName__c} =&apos;NPA WEEKLY&apos;,{!$Record.ProductName__c} =&apos;NPA NEW TO BRAND&apos;,{!$Record.ProductName__c} =&apos;NSP&apos;,{!$Record.ProductName__c} =&apos;NSP – MONTHLY&apos;,{!$Record.ProductName__c} =&apos;WEEKLY SALES PERSPECTIVES&apos;,{!$Record.ProductName__c} =&apos;MULTI AUDIT&apos;),OR({!$Record.SubType3__c} =&apos;NATIONAL LOW COMPLEXITY&apos;,{!$Record.SubType3__c} =&apos;NATIONAL MEDIUM COMPLEXITY&apos;,{!$Record.SubType3__c} =&apos;NATIONAL HIGH COMPLEXITY&apos;) ) ) )</expression>
    </formulas>
    <formulas>
        <name>InitialChecksForRandD</name>
        <dataType>Boolean</dataType>
        <expression>AND(
		ISPICKVAL( {!$Record.Status} , &apos;Closed&apos;) ,
		OR(INCLUDES({!$Record.CurrentQueue__r.C_SAT_Survey_Option__c}, &apos;R&amp;D Option B&apos;),
			INCLUDES({!$Record.CurrentQueue__r.C_SAT_Survey_Option__c}, &apos;R&amp;D Option Sandoz&apos;)),
		NOT(ISBLANK({!$Record.Contact.Email})),
		{!$Record.Contact.Email} &lt;&gt; &quot;infosarioprod@service-now.com&quot;, 
		NOT(ISPICKVAL({!$Record.SubStatus__c} ,&quot;Non-Actionable&quot;)), 
		{!$Record.Contact.Survey_Opt_Out__c} = false,
		{!$Record.ReOpened__c} = false 
	)</expression>
    </formulas>
    <formulas>
        <name>InitialChecksForTech</name>
        <dataType>Boolean</dataType>
        <expression>AND( ISPICKVAL( {!$Record.Status} , &apos;Closed&apos;), NOT(ISBLANK({!$Record.Contact.Email})), {!$Record.Contact.Survey_Opt_Out__c} = false,{!$Record.ReOpened__c} = false)</expression>
    </formulas>
    <interviewLabel>Case_CSM_CSAT_Flow_All_RecordType {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case_CSM_CSAT_Flow_All_RecordType</label>
    <loops>
        <description>This will loop through all the cases to match the ST-1,2,3</description>
        <name>Iterate_all_cases</name>
        <label>Iterate all cases</label>
        <locationX>2822</locationX>
        <locationY>647</locationY>
        <collectionReference>Last_10_Days_Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Look_for_matching_ST</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Matched_ST_Found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_to_check_product</name>
        <label>loop to check product</label>
        <locationX>930</locationX>
        <locationY>1721</locationY>
        <collectionReference>Get_Case_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Cheking_Product_and_Subtypes_Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>check_flag</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Storing_Values_from_Metadata</name>
        <label>Storing Values from Metadata</label>
        <locationX>930</locationX>
        <locationY>1313</locationY>
        <collectionReference>Get_Account_Metadata</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Account_Ids_Assignment_from_metadata</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Case_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Metadata</name>
        <label>Get Account Metadata</label>
        <locationX>930</locationX>
        <locationY>1205</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Storing_Values_from_Metadata</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CSAT_Account_ID__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account_Ids__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Records</name>
        <label>Get Case Records</label>
        <locationX>930</locationX>
        <locationY>1613</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_to_check_product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>CSAT_Sent__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>ClosedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Check5Days</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>In</operator>
            <value>
                <elementReference>AccountIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>As Per CSM-3046</description>
        <name>Last_10_Days_Cases</name>
        <label>Last 10 Days Cases</label>
        <locationX>2822</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_all_cases</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>CSAT_Sent__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>ClosedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Check10Days</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RandDCase</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ActivityPlan</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_C_Sat_Last_Submitted_Date_Common</name>
        <label>Update C_Sat Last Submitted Date Common</label>
        <locationX>1931</locationX>
        <locationY>5189</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>C_SAT_Last_Submitted_Date__c</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_C_Sat_Last_Submitted_Date_Option_EC</name>
        <label>Update C_Sat Last Submitted Date Option EC</label>
        <locationX>886</locationX>
        <locationY>4445</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>C_SAT_Last_Submitted_Date__c</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CSAT_Sent_Common</name>
        <label>Update CSAT_Sent_Common</label>
        <locationX>1931</locationX>
        <locationY>5081</locationY>
        <connector>
            <targetReference>Update_C_Sat_Last_Submitted_Date_Common</targetReference>
        </connector>
        <inputAssignments>
            <field>CSAT_Sent__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CSAT_Sent_ForOptionEC</name>
        <label>Update CSAT_Sent_ForOptionEC</label>
        <locationX>886</locationX>
        <locationY>4337</locationY>
        <connector>
            <targetReference>Update_C_Sat_Last_Submitted_Date_Option_EC</targetReference>
        </connector>
        <inputAssignments>
            <field>CSAT_Sent__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1805</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Record_Type</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ConditionMeetFORBDE</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CSATRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CSAT_Account_ID__mdt</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CSAT_Account_ID__mdt</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>FlagCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>MatchingSubTypeFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>StoreAccountValuesfrommetadata</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CSAT_Account_ID__mdt</objectType>
    </variables>
    <variables>
        <name>StoringAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
