src/flows/CLM_Change_Order_Amendment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_RWSSOW_FS_Amendment_Record</name>
        <label>Create RWSSOW FS Amendment Record</label>
        <locationX>1450</locationX>
        <locationY>2122</locationY>
        <actionName>UTL_CLM_Flow_ActionHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Navigate_To_Amended_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Amend_By_Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agreement</name>
            <value>
                <elementReference>Selected_CO_Agreement</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agreementId</name>
            <value>
                <elementReference>currentAgreement.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordTypeDeveloperName</name>
            <value>
                <stringValue>RWSSOW</stringValue>
            </value>
        </inputParameters>
        <nameSegment>UTL_CLM_Flow_ActionHandler</nameSegment>
        <outputParameters>
            <assignToReference>varT_Amended_RWSSOW_FS_Id</assignToReference>
            <name>flowOutputRecordId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_RWSSOW_SA_Amendment_Record</name>
        <label>Create RWSSOW SA Amendment Record</label>
        <locationX>2448</locationX>
        <locationY>1772</locationY>
        <actionName>UTL_CLM_Flow_ActionHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Navigate_To_Amended_Agreement</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Amend_By_Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agreementId</name>
            <value>
                <elementReference>currentAgreement.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunity</name>
            <value>
                <elementReference>selectedOpportunity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordTypeDeveloperName</name>
            <value>
                <stringValue>RWSSOW</stringValue>
            </value>
        </inputParameters>
        <nameSegment>UTL_CLM_Flow_ActionHandler</nameSegment>
        <outputParameters>
            <assignToReference>varT_Amended_RWSSOW_SA_Id</assignToReference>
            <name>flowOutputRecordId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Navigate_To_Agreement</name>
        <label>Navigate To Agreement</label>
        <locationX>355</locationX>
        <locationY>1062</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Navigate_To_Amended_Agreement</name>
        <label>Navigate To Amended Agreement</label>
        <locationX>2447</locationX>
        <locationY>2041</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>varT_Amended_RWSSOW_SA_Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Navigate_To_Amended_Record</name>
        <label>Navigate To Amended Record</label>
        <locationX>1452</locationX>
        <locationY>2322</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>varT_Amended_RWSSOW_FS_Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Navigate_To_Current_Record</name>
        <label>Navigate To Current Record</label>
        <locationX>2336</locationX>
        <locationY>448</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>currentAgreement.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Error_Email</name>
        <label>Send Error Email</label>
        <locationX>164</locationX>
        <locationY>842</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Navigate_To_Agreement</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>textT_ErrorMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Setup.CLM_Configuration__c.CLM_Flow_Support_Email_Address__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>clmintegration@iqvia.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>CLM Change Order Amendment Flow Error Occurred</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Related_Agreement_IDs</name>
        <label>Assign Related Agreement IDs</label>
        <locationX>1353</locationX>
        <locationY>603</locationY>
        <assignmentItems>
            <assignToReference>varT_Related_Agreement_IDs_Of_RWS_CA</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Related_Agreement_to_Agreement_Loop.Apttus__APTS_Contract_From__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Related_Agreement_to_Agreement_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Child_CO_Agreements</name>
        <label>Set Child CO Agreements</label>
        <locationX>1667</locationX>
        <locationY>1584</locationY>
        <assignmentItems>
            <assignToReference>CO_Agreement_SC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CO_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CO_Record_With_Number</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_In_Flight_CO_Amendments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Child_CO_Record</name>
        <label>Set Child CO Record</label>
        <locationX>1838</locationX>
        <locationY>1503</locationY>
        <assignmentItems>
            <assignToReference>CO_Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CO_Record_With_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CO_Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CO_Record_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Child_CO_Agreements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Child_CO_Record_With_Number</name>
        <label>Set Child CO Record With Number</label>
        <locationX>1671</locationX>
        <locationY>1439</locationY>
        <assignmentItems>
            <assignToReference>CO_Record_With_Number</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_In_Flight_CO_Amendments.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CO_Record_With_Number</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CO_Record_With_Number</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_In_Flight_CO_Amendments.Apttus__FF_Agreement_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CO_Record_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_In_Flight_CO_Amendments.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Child_CO_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Clinical_Agreement_Numbers</name>
        <label>Set Clinical Agreement Numbers</label>
        <locationX>1131</locationX>
        <locationY>1380</locationY>
        <assignmentItems>
            <assignToReference>varT_ClinicalAgr_Agreement_Numbers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Clinical_Agreements.Apttus__Agreement_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Clinical_Agreements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Combined_Opp_Of_Opp_Name</name>
        <label>Set Combined Opp Of Opp Name</label>
        <locationX>3422</locationX>
        <locationY>941</locationY>
        <assignmentItems>
            <assignToReference>combinedOpportunityName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Child_Of_Child_Opportunities_Loop.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>combinedOpportunityName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> (</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>combinedOpportunityName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Child_Of_Child_Opportunities_Loop.StageName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>combinedOpportunityName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WO_Child_Of_Child_Opportunity_ID_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Child_Of_Child_Opportunities_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Opp_Of_Opp_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Combined_Opp_Of_Opp_Of_Opp_Name</name>
        <label>Set Combined Opp Of Opp Of Opp Name</label>
        <locationX>3714</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>combinedOpportunityName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Child_Of_Child_Of_Child_Opp_Loop.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>combinedOpportunityName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> (</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>combinedOpportunityName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Child_Of_Child_Of_Child_Opp_Loop.StageName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>combinedOpportunityName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Opp_Of_Opp_Of_Opp_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Combined_Opportunity_Name</name>
        <label>Set Combined Opportunity Name</label>
        <locationX>3360</locationX>
        <locationY>585</locationY>
        <assignmentItems>
            <assignToReference>combinedOpportunityName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Child_Opportunities_Loop.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>combinedOpportunityName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> (</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>combinedOpportunityName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Child_Opportunities_Loop.StageName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>combinedOpportunityName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WO_Child_Opportunity_ID_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Child_Opportunities_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Opportunity_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opp_Of_Opp_Of_Opp_Record</name>
        <label>Set Opp Of Opp Of Opp Record</label>
        <locationX>3714</locationX>
        <locationY>1660</locationY>
        <assignmentItems>
            <assignToReference>opportunityRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Child_Of_Child_Of_Child_Opp_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>combinedOpportunityName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>opportunityRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>combinedOpportunityName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Child_Of_Child_Of_Child_Opp_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opp_Of_Opp_Record</name>
        <label>Set Opp Of Opp Record</label>
        <locationX>3433</locationX>
        <locationY>1129</locationY>
        <assignmentItems>
            <assignToReference>opportunityRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Child_Of_Child_Opportunities_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>combinedOpportunityName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>opportunityRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>combinedOpportunityName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Child_Of_Child_Opportunities_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Id_For_eCOA</name>
        <label>Set Opportunity Id For eCOA</label>
        <locationX>2264</locationX>
        <locationY>1239</locationY>
        <assignmentItems>
            <assignToReference>selectedOpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentAgreement.Apttus__Related_Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Preselected_Opportunity_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Id_For_No_eCOA</name>
        <label>Set Opportunity Id For No eCOA</label>
        <locationX>2713</locationX>
        <locationY>1589</locationY>
        <assignmentItems>
            <assignToReference>selectedOpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Child_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Selected_Opportunity_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Record</name>
        <label>Set Opportunity Record</label>
        <locationX>3363</locationX>
        <locationY>779</locationY>
        <assignmentItems>
            <assignToReference>opportunityRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Child_Opportunities_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>combinedOpportunityName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>opportunityRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>combinedOpportunityName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Child_Opportunities_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Related_Opportunity_Id_For_No_eCOA</name>
        <label>Set Related Opportunity Id For No eCOA</label>
        <locationX>2748</locationX>
        <locationY>1804</locationY>
        <assignmentItems>
            <assignToReference>selectedOpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WO_Agreement_Opportunity_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Selected_Opportunity_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Related_Opportunity_Record</name>
        <label>Set Related Opportunity Record</label>
        <locationX>2602</locationX>
        <locationY>691</locationY>
        <assignmentItems>
            <assignToReference>RelatedOpportunityOfCurrentAgreement.Description</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WO_Opportunity_Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelatedOpportunityOfCurrentAgreement.Description</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> (</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelatedOpportunityOfCurrentAgreement.Description</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WO_Opportunity_Record.StageName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelatedOpportunityOfCurrentAgreement.Description</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelatedOpportunityOfCurrentAgreement.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WO_Agreement_Opportunity_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Child_Opportunities</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Child_Opportunity_Option</name>
        <choiceText>Select the Child Opportunity to link to this Change Order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Child Opportunity</stringValue>
        </value>
    </choices>
    <choices>
        <name>Related_Opportunity_Option</name>
        <choiceText>Change Order will be created for the Work Order&apos;s Opportunity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Related Opportunity</stringValue>
        </value>
    </choices>
    <choices>
        <name>RelatedOpportunityOfAgreement</name>
        <choiceText>{!RelatedOpportunityOfCurrentAgreement.Description}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>RelatedOpportunityOfCurrentAgreement.Description</elementReference>
        </value>
    </choices>
    <collectionProcessors>
        <name>Sort_Child_Of_Child_Of_Child_Opportunities</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Child Of Child Of Child Opportunities</label>
        <locationX>3339</locationX>
        <locationY>1269</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>childOfChildOfChildOpportunities</collectionReference>
        <connector>
            <targetReference>Child_Of_Child_Of_Child_Opp_Loop</targetReference>
        </connector>
        <limit>200</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>LastModifiedDate</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sort_Child_Of_Child_Opportunities</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Child Of Child Opportunities</label>
        <locationX>3061</locationX>
        <locationY>1029</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>childOfChildOpportunities</collectionReference>
        <connector>
            <targetReference>Child_Of_Child_Opportunities_Loop</targetReference>
        </connector>
        <limit>200</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>LastModifiedDate</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sort_Child_Opportunities</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Child Opportunities</label>
        <locationX>2963</locationX>
        <locationY>692</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>childOpportunities</collectionReference>
        <connector>
            <targetReference>Child_Opportunities_Loop</targetReference>
        </connector>
        <limit>200</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>LastModifiedDate</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Check_Agreement_Scope</name>
        <label>Check Agreement Scope</label>
        <locationX>1875</locationX>
        <locationY>709</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Scope_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentAgreement.Apttus__Agreement_Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SC_For_Guidance_Message_When_AC_Is_Null</targetReference>
            </connector>
            <label>Scope is Null</label>
        </rules>
        <rules>
            <name>Agreement_is_FS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentAgreement.Apttus__Agreement_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentAgreement.Apttus__Agreement_Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Agreement</targetReference>
            </connector>
            <label>Agreement is FS</label>
        </rules>
        <rules>
            <name>Agreement_is_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentAgreement.Apttus__Agreement_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standalone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentAgreement.Apttus__Agreement_Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Services_From_Agreement</targetReference>
            </connector>
            <label>Agreement is SA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Child_Of_Child_Of_Child_Opp_Not_Null</name>
        <label>Check Child Of Child Of Child Opp Not Null</label>
        <locationX>3150</locationX>
        <locationY>1402</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Child_Of_Child_Of_Child_Are_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>childOfChildOfChildOpportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_Opportunities_Screen</targetReference>
            </connector>
            <label>Are Null</label>
        </rules>
        <rules>
            <name>Child_Of_Child_Of_Child_Are_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>childOfChildOfChildOpportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sort_Child_Of_Child_Of_Child_Opportunities</targetReference>
            </connector>
            <label>Are Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Child_Of_Child_Opportunities_Not_Null</name>
        <label>Check Child Of Child Opportunities Not Null</label>
        <locationX>2866</locationX>
        <locationY>1095</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Child_Of_Child_Are_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>childOfChildOpportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_Opportunities_Screen</targetReference>
            </connector>
            <label>Are Null</label>
        </rules>
        <rules>
            <name>Child_Of_Child_Are_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>childOfChildOpportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sort_Child_Of_Child_Opportunities</targetReference>
            </connector>
            <label>Are Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Child_Opportunities_Not_Null</name>
        <label>Check Child Opportunities Not Null</label>
        <locationX>2657</locationX>
        <locationY>958</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Are_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>childOpportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_Opportunities_Screen</targetReference>
            </connector>
            <label>Are Null</label>
        </rules>
        <rules>
            <name>Are_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>childOpportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sort_Child_Opportunities</targetReference>
            </connector>
            <label>Are Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Child_Opportunity_Or_Related_Opportunity</name>
        <label>Check Child Opportunity Or Related Opportunity</label>
        <locationX>3132</locationX>
        <locationY>1668</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Child_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Child_Opportunity_Option</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opportunity_Id_For_No_eCOA</targetReference>
            </connector>
            <label>If Child Opportunity</label>
        </rules>
        <rules>
            <name>If_Related_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Related_Opportunity_Option</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Related_Opportunity_Id_For_No_eCOA</targetReference>
            </connector>
            <label>If Related Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Services_From_Agreement</name>
        <label>Check Services From Agreement</label>
        <locationX>2203</locationX>
        <locationY>877</locationY>
        <defaultConnector>
            <targetReference>Get_WO_Agreement_Opportunity_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not contains eCOA</defaultConnectorLabel>
        <rules>
            <name>If_Contains_eCOA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentAgreement.Services__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>IQVIA eCOA (eDiary, ePRO, ClinRO, ObsRO, PerfO)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opportunity_Id_For_eCOA</targetReference>
            </connector>
            <label>If Contains eCOA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_WO_Opportunity_Id_Null</name>
        <label>Check WO Opportunity Id Null</label>
        <locationX>2467</locationX>
        <locationY>1244</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WO_Agreement_Opportunity_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_Opportunities_Screen</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
        <rules>
            <name>Is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WO_Agreement_Opportunity_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WO_Opportunity</targetReference>
            </connector>
            <label>Is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Email_To_The_Support_Team</name>
        <label>Send Email To The Support Team?</label>
        <locationX>50</locationX>
        <locationY>1051</locationY>
        <defaultConnector>
            <targetReference>Navigate_To_Agreement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Send Email</defaultConnectorLabel>
        <rules>
            <name>Send_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.CLM_Configuration__c.CLM_Flow_Support_Email_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Error_Email</targetReference>
            </connector>
            <label>Send Email</label>
        </rules>
    </decisions>
    <description>CLMCMA-11776 - This flow is used to create Change Order Amendment</description>
    <dynamicChoiceSets>
        <name>childOpportunitiesCollectionChoice</name>
        <collectionReference>opportunityRecordCollection</collectionReference>
        <dataType>String</dataType>
        <displayField>Description</displayField>
        <object>Opportunity</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CO_Collection_ChoiceSet</name>
        <collectionReference>CO_Agreement_SC</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Apttus__APTS_Agreement__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>CLM Amend RWSSOW ScreenFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM Amend RWSSOW ScreenFlow</label>
    <loops>
        <name>Child_Of_Child_Of_Child_Opp_Loop</name>
        <label>Child Of Child Of Child Opp Loop</label>
        <locationX>3434</locationX>
        <locationY>1533</locationY>
        <collectionReference>childOfChildOfChildOpportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Combined_Opp_Of_Opp_Of_Opp_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Choose_Opportunities_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Child_Of_Child_Opportunities_Loop</name>
        <label>Child Of Child Opportunities Loop</label>
        <locationX>3229</locationX>
        <locationY>1127</locationY>
        <collectionReference>childOfChildOpportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Combined_Opp_Of_Opp_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Child_Of_Child_Of_Child_Opportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Child_Opportunities_Loop</name>
        <label>Child Opportunities Loop</label>
        <locationX>3170</locationX>
        <locationY>779</locationY>
        <collectionReference>childOpportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Combined_Opportunity_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Child_of_Child_Opportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Clinical_Agreements</name>
        <label>Loop Through Clinical Agreements</label>
        <locationX>1132</locationX>
        <locationY>1150</locationY>
        <collectionReference>Get_Clinical_Agreements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Clinical_Agreement_Numbers</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_CO_Amendments_From_CA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_In_Flight_CO_Amendments</name>
        <label>Loop Through In-Flight CO/Amendments</label>
        <locationX>1441</locationX>
        <locationY>1518</locationY>
        <collectionReference>varR_Child_CO_Or_Amendements_Of_CA_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Child_CO_Record_With_Number</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Change_Order_Agreement</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Related_Agreement_to_Agreement_Loop</name>
        <label>Related Agreement to Agreement Loop</label>
        <locationX>1355</locationX>
        <locationY>826</locationY>
        <collectionReference>RelatedAgreement</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Related_Agreement_IDs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Clinical_Agreements</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Child_Of_Child_Of_Child_Opportunities</name>
        <label>Get Child Of Child Of Child Opportunities</label>
        <locationX>2948</locationX>
        <locationY>1304</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Child_Of_Child_Of_Child_Opp_Not_Null</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Opportunity__c</field>
            <operator>In</operator>
            <value>
                <elementReference>WO_Child_Of_Child_Opportunity_ID_List</elementReference>
            </value>
        </filters>
        <filters>
            <field>Parent_Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>childOfChildOfChildOpportunities</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>StageName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Child_of_Child_Opportunities</name>
        <label>Get Child of Child Opportunities</label>
        <locationX>2913</locationX>
        <locationY>919</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Child_Of_Child_Opportunities_Not_Null</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Opportunity__c</field>
            <operator>In</operator>
            <value>
                <elementReference>WO_Child_Opportunity_ID_List</elementReference>
            </value>
        </filters>
        <filters>
            <field>Parent_Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>childOfChildOpportunities</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>StageName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Child_Opportunities</name>
        <label>Get Child Opportunities</label>
        <locationX>2696</locationX>
        <locationY>794</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Child_Opportunities_Not_Null</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WO_Agreement_Opportunity_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Parent_Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>childOpportunities</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>StageName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Clinical_Agreements</name>
        <label>Get Clinical Agreements</label>
        <locationX>1131</locationX>
        <locationY>968</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Clinical_Agreements</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varT_Related_Agreement_IDs_Of_RWS_CA</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Apttus__APTS_Agreement__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Apttus__Agreement_Number__c</queriedFields>
        <queriedFields>Apttus__Version_Number__c</queriedFields>
        <queriedFields>Apttus__Subtype__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get All the Change Orders/Amendments Related to the Clinical Agreement associated with RWS Agreement through Agreement Number field.</description>
        <name>Get_CO_Amendments_From_CA</name>
        <label>Get CO/Amendments From CA</label>
        <locationX>1441</locationX>
        <locationY>1146</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_In_Flight_CO_Amendments</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>1 AND 2 AND (3 OR 4) AND 5 AND 6 AND 7 AND 8 AND 9</filterLogic>
        <filters>
            <field>Apttus__Agreement_Number__c</field>
            <operator>In</operator>
            <value>
                <elementReference>varT_ClinicalAgr_Agreement_Numbers</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Subtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Change Order</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Subtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Amendment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Status_Category__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>In Effect</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Status_Category__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Amended</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Status_Category__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Status_Category__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Status_Category__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <object>Apttus__APTS_Agreement__c</object>
        <outputReference>varR_Child_CO_Or_Amendements_Of_CA_Records</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Apttus__FF_Agreement_Number__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Apttus__Subtype__c</queriedFields>
        <queriedFields>Apttus__Status_Category__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Agreement</name>
        <label>Get Existing Agreement</label>
        <locationX>1883</locationX>
        <locationY>435</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Agreement_Scope</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Apttus__APTS_Agreement__c</object>
        <outputReference>currentAgreement</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Apttus__Related_Opportunity__c</queriedFields>
        <queriedFields>Services__c</queriedFields>
        <queriedFields>Legal_Entity_Customer__c</queriedFields>
        <queriedFields>Related_Master_Agreement__c</queriedFields>
        <queriedFields>Legal_Entity_1__c</queriedFields>
        <queriedFields>Project_Number__c</queriedFields>
        <queriedFields>Payment_Term__c</queriedFields>
        <queriedFields>Study_Name_Description__c</queriedFields>
        <queriedFields>Apttus__Owner_Expiration_Notice__c</queriedFields>
        <queriedFields>Apttus__Version_Number__c</queriedFields>
        <queriedFields>Apttus__Status__c</queriedFields>
        <queriedFields>Apttus__Status_Category__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Apttus__Agreement_Category__c</queriedFields>
        <queriedFields>Apttus__Account__c</queriedFields>
        <queriedFields>Apttus__Agreement_Number__c</queriedFields>
        <queriedFields>First_Patient_In_Date__c</queriedFields>
        <queriedFields>Last_Patient_Out_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Agreement</name>
        <label>Get Related Agreement</label>
        <locationX>1573</locationX>
        <locationY>837</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_Agreement_to_Agreement_Loop</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Apttus__Relationship_To_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Is Full Service Child Of</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__APTS_Contract_To__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentAgreement.Id</elementReference>
            </value>
        </filters>
        <object>Apttus__APTS_Related_Agreement__c</object>
        <outputReference>RelatedAgreement</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Apttus__APTS_Contract_From__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_CO_Agreement</name>
        <label>Get Selected CO Agreement</label>
        <locationX>1449</locationX>
        <locationY>1957</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_RWSSOW_FS_Amendment_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SC_Clinical_Agreement_List</elementReference>
            </value>
        </filters>
        <object>Apttus__APTS_Agreement__c</object>
        <outputReference>Selected_CO_Agreement</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Legal_Entity_1__c</queriedFields>
        <queriedFields>Legal_Entity_Customer__c</queriedFields>
        <queriedFields>Related_Master_Agreement__c</queriedFields>
        <queriedFields>Project_Number__c</queriedFields>
        <queriedFields>Payment_Term__c</queriedFields>
        <queriedFields>Study_Name_Description__c</queriedFields>
        <queriedFields>Services__c</queriedFields>
        <queriedFields>Apttus__Owner_Expiration_Notice__c</queriedFields>
        <queriedFields>Apttus__Agreement_Category__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Planned_Execution_Date__c</queriedFields>
        <queriedFields>Client_Address__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Opportunity_Details</name>
        <label>Get Selected Opportunity Details</label>
        <locationX>2448</locationX>
        <locationY>1597</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_RWSSOW_SA_Amendment_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedOpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>selectedOpportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_WO_Agreement_Opportunity_ID</name>
        <label>Get WO Agreement Opportunity ID</label>
        <locationX>2408</locationX>
        <locationY>920</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_WO_Opportunity_Id_Null</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Apttus__Agreement_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentAgreement.Apttus__Agreement_Number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Apttus__Version_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Related_Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Apttus__APTS_Agreement__c</object>
        <outputAssignments>
            <assignToReference>WO_Agreement_Opportunity_ID</assignToReference>
            <field>Apttus__Related_Opportunity__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_WO_Opportunity</name>
        <label>Get WO Opportunity</label>
        <locationX>2523</locationX>
        <locationY>939</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Related_Opportunity_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WO_Agreement_Opportunity_ID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>WO_Opportunity_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>Parent_Opportunity__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Choose_Opportunities_Screen</name>
        <label>Choose Opportunities Screen</label>
        <locationX>2784</locationX>
        <locationY>1480</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Check_Child_Opportunity_Or_Related_Opportunity</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: black;&quot;&gt;Create Change Order Agreement&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: black;&quot;&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Opportunity_Radio_Selection</name>
            <choiceReferences>Child_Opportunity_Option</choiceReferences>
            <choiceReferences>Related_Opportunity_Option</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Opportunity to create Change Order</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Child_Opportunity</name>
            <choiceReferences>childOpportunitiesCollectionChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the Child Opportunity</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Opportunity_Radio_Selection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Child Opportunity</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Related_Opportunity</name>
            <choiceReferences>RelatedOpportunityOfAgreement</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>RelatedOpportunityOfAgreement</defaultSelectedChoiceReference>
            <fieldText>Work Order&apos;s Opportunity</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Opportunity_Radio_Selection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Related Opportunity</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Create Change Order</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Change_Order_Agreement</name>
        <label>Create Change Order Agreement</label>
        <locationX>1563</locationX>
        <locationY>1821</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Get_Selected_CO_Agreement</targetReference>
        </connector>
        <fields>
            <name>SC_Create_Change_Order_Agreement</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Create Change Order Agreement&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SC_Clinical_Agreement_List</name>
            <choiceReferences>CO_Collection_ChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Clinical Agreement</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Create Change Order</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Custom_Error_Screen</name>
        <label>Custom Error Screen</label>
        <locationX>100</locationX>
        <locationY>1479</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_Email_To_The_Support_Team</targetReference>
        </connector>
        <fields>
            <name>Error_Text</name>
            <fieldText>&lt;p&gt;{!textT_ErrorMessageDisplay}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Preselected_Opportunity_Screen</name>
        <label>Preselected Opportunity Screen</label>
        <locationX>2263</locationX>
        <locationY>1409</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Get_Selected_Opportunity_Details</targetReference>
        </connector>
        <fields>
            <name>Header_1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: black;&quot;&gt;Create Change Order Agreement&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: black;&quot;&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Preselected_Opportunity_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Preselected_Opportunity_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Opportunity</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: black; font-size: 14px;&quot;&gt;Change Order will be created for the following Opportunity&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Preselected_Opportunity_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_WO_Opportunity</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: black; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!currentAgreement.Apttus__Related_Opportunity__r.Name}   (&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!currentAgreement.Apttus__Related_Opportunity__r.StageName})&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Create Change Order</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SC_For_Guidance_Message_When_AC_Is_Null</name>
        <label>SC For Guidance Message When AC Is Null</label>
        <locationX>2162</locationX>
        <locationY>445</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Navigate_To_Current_Record</targetReference>
        </connector>
        <fields>
            <name>User_Message_When_AC_Is_Null</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;The Agreement Category is not set for this agreement. Set the Agreement Category as Standalone or Full Service to Amend.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1756</locationX>
        <locationY>240</locationY>
        <connector>
            <targetReference>Get_Existing_Agreement</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>textT_ErrorMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;An unexpected error has occurred. Please contact the support team for help.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Error Details&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; :  &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Error Time&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; :&amp;nbsp;{!$Flow.CurrentDateTime}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Running User&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; : {!$User.FirstName} &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$User.LastName}&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Record Id &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;: {!recordId} 		&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>textT_ErrorMessageDisplay</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;An unexpected error has occurred. Please contact the support team for help.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Error Details&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; :  &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>childOfChildOfChildOpportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>childOfChildOpportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>childOpportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>CO_Agreement_SC</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>CO_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>CO_Record_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CO_Record_With_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>combinedOpportunityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentAgreement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_For_CO_Amendments_Of_CA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>opportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>opportunityRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelatedAgreement</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Related_Agreement__c</objectType>
    </variables>
    <variables>
        <name>RelatedOpportunityOfCurrentAgreement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Selected_CO_Agreement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>selectedOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>selectedOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varR_Child_CO_Or_Amendements_Of_CA_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>varT_Amended_RWSSOW_FS_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varT_Amended_RWSSOW_SA_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varT_ClinicalAgr_Agreement_Numbers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This variable consists of all the Full Service Master Of Related Agreement IDs of RWS CA</description>
        <name>varT_Related_Agreement_IDs_Of_RWS_CA</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WO_Agreement_Opportunity_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WO_Child_Of_Child_Opportunity_ID_List</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WO_Child_Opportunity_ID_List</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WO_Opportunity_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
