src/flows/CLM_Agreement_RecordTriggered_High_Confidence_OM.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CLM_OBM_HighConfidence</name>
        <label>CLM_OBM_HighConfidence</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Apttus__APTS_Agreement__c.CLM_OBM_HighConfidence</actionName>
        <actionType>outboundMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Apttus__APTS_Agreement__c.CLM_OBM_HighConfidence</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_Confidence_In_Approval_Of_Budget_Draft</name>
        <label>Check Confidence In Approval Of Budget Draft</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>High_Confidence</name>
            <conditionLogic>(((4 OR (5 AND (6 OR 7 OR 8 OR 9 OR 10 OR 11))) AND 1 AND 2 AND 3) AND 12)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Confidence_In_Approval_Of_Budget_Draft__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Confidence_In_Approval_Of_Budget_Draft__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Confidence_In_Approval_Of_Budget_Draft__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.High_Confidence_Budget_Link1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RWLP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apttus__Subtype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Services Agreement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apttus__Subtype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apttus__Subtype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Consulting Agreement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apttus__Subtype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Change Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apttus__Subtype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Services Agreement - Small Projects</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apttus__Subtype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Consulting Agreement - Small Projects</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.Trigger_Control_For_Migration__c.Disable_Agreement_Trigger__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CLM_OBM_HighConfidence</targetReference>
            </connector>
            <label>High Confidence</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>CLM Agreement RecordTriggered - High Confidence OM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM Agreement RecordTriggered - High Confidence OM</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Confidence_In_Approval_Of_Budget_Draft</targetReference>
        </connector>
        <object>Apttus__APTS_Agreement__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
