src/flows/CLM_Request_For_Review_USBU_ScreenFlow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Refresh_Flow</name>
        <label>Refresh Flow</label>
        <locationX>1225</locationX>
        <locationY>2548</locationY>
        <actionName>c:LXC_CLM_RefreshFlow</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>varT_SelectedAgrId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:LXC_CLM_RefreshFlow</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Requestor_Email</name>
        <label>Send Requestor Email</label>
        <locationX>979</locationX>
        <locationY>2013</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_EmailMessage_For_Requestor</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>varR_Emails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>clmintegration@iqvia.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>textT_EmailSubjectRequestor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>textT_EmailBodyRequestor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccRecipientAddressList</name>
            <value>
                <elementReference>varT_LeadEmailAddress</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Upload_Files</name>
        <label>Upload Files</label>
        <locationX>1149</locationX>
        <locationY>1445</locationY>
        <actionName>UTL_CLM_Flow_ActionHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Has_Emails</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>File</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agreementId</name>
            <value>
                <elementReference>varT_SelectedAgrId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fileList</name>
            <value>
                <elementReference>varR_Files</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputString</name>
            <value>
                <stringValue>Request Review</stringValue>
            </value>
        </inputParameters>
        <nameSegment>UTL_CLM_Flow_ActionHandler</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Set_Agreement_Id</name>
        <label>Set Agreement Id</label>
        <locationX>1620</locationX>
        <locationY>461</locationY>
        <assignmentItems>
            <assignToReference>varT_SelectedAgrId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_SelectedAgreement.Related_Opportunity__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_IQVIA_Team</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Agreement_List</name>
        <label>Set Agreement List</label>
        <locationX>1240</locationX>
        <locationY>450</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Agreements.Record_Type_Developer_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textT_AgreementLink</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Agreements.Other_Party_Signed_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Loop_Through_Agreements.Requestor__r.FirstName} {!Loop_Through_Agreements.Requestor__r.LastName}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_FinalAgreements</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Agreements</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Agreements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_File_List</name>
        <label>Set File List</label>
        <locationX>1064</locationX>
        <locationY>1138</locationY>
        <assignmentItems>
            <assignToReference>File_Upload.fData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>~Document for Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Files</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>File_Upload.fData</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Upload_Files</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lead_Email</name>
        <label>Set Lead Email</label>
        <locationX>2070</locationX>
        <locationY>662</locationY>
        <assignmentItems>
            <assignToReference>varT_LeadEmailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_IQVIA_Team.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_LeadEmpNo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_IQVIA_Team.Contact__r.EmployeeNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_LeadEmpStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_IQVIA_Team.Contact__r.Employment_Status_FF__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_IQVIA_Team</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Requestor_and_Opp_Owner_Email</name>
        <label>Set Requestor and Opp Owner Email</label>
        <locationX>1072</locationX>
        <locationY>2124</locationY>
        <assignmentItems>
            <assignToReference>varR_Emails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_SelectedAgreement.Requestor__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Emails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_SelectedAgreement.Related_Opportunity__r.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Requestor_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Selected_Agreement_Id</name>
        <label>Set Selected Agreement Id</label>
        <locationX>1064</locationX>
        <locationY>800</locationY>
        <assignmentItems>
            <assignToReference>varT_SelectedAgrId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_SelectedAgreement.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>File_Upload_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No_1</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_1</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>con_Ruler</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;hr style=&quot;margin-top: 0px;margin-bottom: 15px;&quot;&gt;</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Are_Contacts_Active</name>
        <label>Are Contacts Active?</label>
        <locationX>1619</locationX>
        <locationY>1073</locationY>
        <defaultConnector>
            <targetReference>File_Upload_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Active</defaultConnectorLabel>
        <rules>
            <name>Inactive</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varT_LeadEmpStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>T</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varT_LeadEmpNo</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inactive_Contact_Error_Screen</targetReference>
            </connector>
            <label>Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Role</name>
        <label>Check Role</label>
        <locationX>2065</locationX>
        <locationY>855</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_IQVIA_Team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_IQVIA_Team.Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Team Lead</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_IQVIA_Team.Contact__r.Employment_Status_FF__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>T</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lead_Email</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Emails</name>
        <label>Has Emails?</label>
        <locationX>1143</locationX>
        <locationY>1580</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_E</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varT_LeadEmailAddress</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_SelectedAgreement.Requestor__r.Email</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_By_Employee_Number</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Requestor_Active</name>
        <label>Is Requestor Active?</label>
        <locationX>1153</locationX>
        <locationY>2016</locationY>
        <defaultConnector>
            <targetReference>Update_Agreement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Requestor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_By_Employee_Number.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Requestor_and_Opp_Owner_Email</targetReference>
            </connector>
            <label>Yes_Requestor?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Object</name>
        <label>Which Object?</label>
        <locationX>1305</locationX>
        <locationY>208</locationY>
        <defaultConnector>
            <targetReference>Get_Existing_Agreement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Agreement</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Obj</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Valid_IQVIA_Agreements</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
    </decisions>
    <description>CLM-MC-CLMCMA-17875 - This flow covers request for review of USBU.</description>
    <environments>Default</environments>
    <formulas>
        <name>forT_AccountLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &quot;/services&quot;, {!$Api.Partner_Server_URL_260})) + {!varR_SelectedAgreement.Account__c}</expression>
    </formulas>
    <formulas>
        <name>forT_AgreementLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) + {!varT_SelectedAgrId}</expression>
    </formulas>
    <formulas>
        <name>forT_AgreementLinkTable</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) + {!Loop_Through_Agreements.Id}</expression>
    </formulas>
    <formulas>
        <name>forT_AgreementType</name>
        <dataType>String</dataType>
        <expression>IF({!varR_SelectedAgreement.Original_Agreement__c} != null, TEXT({!varR_SelectedAgreement.Original_Agreement__r.Subtype__c}), TEXT({!varR_SelectedAgreement.Subtype__c}))</expression>
    </formulas>
    <formulas>
        <name>forT_OpportunityLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) + {!varT_OpportunityId}</expression>
    </formulas>
    <formulas>
        <name>forT_OwnerId</name>
        <dataType>String</dataType>
        <expression>IF({!Get_User_By_Employee_Number.IsActive}, {!Get_User_By_Employee_Number.Id}, {!varR_SelectedAgreement.OwnerId})</expression>
    </formulas>
    <formulas>
        <name>forT_TypeofRequest</name>
        <dataType>String</dataType>
        <expression>IF({!varR_SelectedAgreement.Version_Number__c} &gt; 0, TEXT({!varR_SelectedAgreement.Subtype__c}), &apos;New Agreement&apos;)</expression>
    </formulas>
    <interviewLabel>CLM Request For Review USBU ScreenFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM Request For Review USBU ScreenFlow</label>
    <loops>
        <name>Loop_Through_Agreements</name>
        <label>Loop Through Agreements</label>
        <locationX>1064</locationX>
        <locationY>450</locationY>
        <collectionReference>Get_Valid_IQVIA_Agreements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Agreement_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Review_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_IQVIA_Team</name>
        <label>Loop Through IQVIA Team</label>
        <locationX>1621</locationX>
        <locationY>845</locationY>
        <collectionReference>Get_IQVIA_Team</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Role</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_Contacts_Active</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_EmailMessage_For_Requestor</name>
        <label>Create EmailMessage For Requestor</label>
        <locationX>799</locationX>
        <locationY>2110</locationY>
        <connector>
            <targetReference>Update_Agreement</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CcAddress</field>
            <value>
                <elementReference>varT_LeadEmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>clmintegration@iqvia.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>textT_EmailBodyRequestor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>varR_SelectedAgreement.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>textT_EmailSubjectRequestor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>varR_SelectedAgreement.Requestor__r.Email</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Agreement</name>
        <label>Get Existing Agreement</label>
        <locationX>1620</locationX>
        <locationY>275</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Agreement_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>IQVIA_Agreement__c</object>
        <outputReference>varR_SelectedAgreement</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Status_Category__c</queriedFields>
        <queriedFields>Related_Master_IQVIA_Agreement_for__c</queriedFields>
        <queriedFields>Related_Opportunity__c</queriedFields>
        <queriedFields>Business_Line__c</queriedFields>
        <queriedFields>Legal_Entity_1__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Requestor__c</queriedFields>
        <queriedFields>Contract_Start_Date__c</queriedFields>
        <queriedFields>Opportunity_Number__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Subtype__c</queriedFields>
        <queriedFields>FF_Agreement_Number__c</queriedFields>
        <queriedFields>Version_Number__c</queriedFields>
        <queriedFields>Primary_Business_Line1__c</queriedFields>
        <queriedFields>Original_Agreement__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_IQVIA_Team</name>
        <label>Get IQVIA Team</label>
        <locationX>1621</locationX>
        <locationY>675</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_IQVIA_Team</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Agreement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_SelectedAgreement.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>IQVIA_Agreement_Team__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Role__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_By_Employee_Number</name>
        <label>Get User By Employee Number</label>
        <locationX>1153</locationX>
        <locationY>1745</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Requestor_Active</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EmployeeNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_LeadEmpNo</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Valid_IQVIA_Agreements</name>
        <label>Get Valid IQVIA Agreements</label>
        <locationX>1069</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Agreements</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Developer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>USBU</stringValue>
            </value>
        </filters>
        <filters>
            <field>Related_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Other Party Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status_Category__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>IQVIA_Agreement__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>FF_Agreement_Number__c</queriedFields>
        <queriedFields>Requestor__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Status_Category__c</queriedFields>
        <queriedFields>Legal_Entity_Customer__c</queriedFields>
        <queriedFields>Contract_Start_Date__c</queriedFields>
        <queriedFields>Related_Master_IQVIA_Agreement_for__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Business_Line__c</queriedFields>
        <queriedFields>Legal_Entity_1__c</queriedFields>
        <queriedFields>Opportunity_Number__c</queriedFields>
        <queriedFields>Related_Opportunity__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Subtype__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Agreement</name>
        <label>Update Agreement Status</label>
        <locationX>1163</locationX>
        <locationY>2212</locationY>
        <connector>
            <targetReference>Call_Subflow_to_Create_Notes</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_SelectedAgrId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>forT_OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Internal Review</stringValue>
            </value>
        </inputAssignments>
        <object>IQVIA_Agreement__c</object>
    </recordUpdates>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>1225</locationX>
        <locationY>2397</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Refresh_Flow</targetReference>
        </connector>
        <fields>
            <name>Header_10</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: black;&quot;&gt;Request for Revision/Review&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DT_FinalScreen</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: black;&quot;&gt;﻿Your request for revision/review has been submitted. You will be notified when a contract manager is assigned to work on it.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: black;&quot;&gt;﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>69</locationX>
        <locationY>1125</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Refresh_Flow</targetReference>
        </connector>
        <fields>
            <name>Error_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;An unexpected error has occurred. Please contact the support team for help.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Error Details&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; :  &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>File_Upload_Screen</name>
        <label>File Upload Screen</label>
        <locationX>1064</locationX>
        <locationY>980</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_File_List</targetReference>
        </connector>
        <fields>
            <name>Header_3</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: black; font-size: 18px;&quot;&gt;Request for Revision/Review&lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;:&lt;/strong&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 18px;&quot;&gt; Updated Document for Review&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Opportunity_Obj</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Header_4</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: black; font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;Request for Revision/Review&lt;/strong&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;:&lt;/strong&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 18px;&quot;&gt; Provide Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Opportunity_Obj</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>File_Upload_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>File_Upload_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sub_H6</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Opportunity: &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 10px; background-color: rgb(255, 255, 255);&quot;&gt;{!varT_OpportunityName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Sub_H7</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: black; font-size: 12px;&quot;&gt;Account: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 10px;&quot;&gt;{!varR_SelectedAgreement.Account__r.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>File_Upload_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sub_H8</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: black; font-size: 12px;&quot;&gt;Business Line: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: black; font-size: 10px;&quot;&gt;{!varR_SelectedAgreement.Business_Line__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Sub_H9</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: black; background-color: rgb(255, 255, 255);&quot;&gt;IQVIA Legal Entity: &lt;/strong&gt;&lt;span style=&quot;font-size: 10px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!varR_SelectedAgreement.Legal_Entity_1__r.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>File_Upload_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sub_H10</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: black; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;MSA: &lt;/strong&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;{!varR_SelectedAgreement.Related_Master_IQVIA_Agreement_for__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Opportunity_Obj</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Ruler2</name>
            <fieldText>&lt;p&gt;{!con_Ruler}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sub_H11</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;font-size: 12px; color: black;&quot;&gt;Upload the updated document that has red-lines. This document will be submitted to the contracting team for review.&amp;nbsp;&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Opportunity_Obj</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Sub_H15</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;font-size: 12px; color: black;&quot;&gt;Upload Document with Red Lines received from customer and add Information for contracting team to review.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Opportunity_Obj</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>File_Upload_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>File_Upload_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>File_Upload</name>
                    <extensionName>c:lWC_CLM_FileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>isMultiple</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Upload the File</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isMandatory</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>File_Upload_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Scope_Q1</name>
                    <choiceReferences>Yes_1</choiceReferences>
                    <choiceReferences>No_1</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Did the Scope Change?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Scope_Q2</name>
                    <dataType>String</dataType>
                    <fieldText>Which section was edited by the customer?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Scope_Q3</name>
                    <fieldText>Notes (If Any)</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit Review Request</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Inactive_Contact_Error_Screen</name>
        <label>Inactive Contact Error Screen</label>
        <locationX>1624</locationX>
        <locationY>2175</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Refresh_Flow</targetReference>
        </connector>
        <fields>
            <name>Heading_4_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: black; font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;Request for Revision/Review&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sub_H12_0</name>
            <fieldText>&lt;p&gt;{!con_Ruler}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sub_H13_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(205, 33, 59);&quot;&gt;The Contract Manager&apos;s contact to whom the request is to be sent is inactive or not assigned to the request. Please connect with the support team to update the Contract Manager&apos;s field and then try to request for review.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(205, 33, 59);&quot;&gt;﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Review_Screen</name>
        <label>Review Screen</label>
        <locationX>1065</locationX>
        <locationY>655</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Selected_Agreement_Id</targetReference>
        </connector>
        <fields>
            <name>Header_1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: black; font-size: 18px;&quot;&gt;Request for Revision/Review&lt;/strong&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;: Select Agreement for Review&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Review_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Review_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sub_H1</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Opportunity: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 10px; color: rgb(0, 0, 0);&quot;&gt;{!varT_OpportunityName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Sub_H2</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: black; font-size: 12px;&quot;&gt;Account: &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 10px;&quot;&gt;{!varT_AccountName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Review_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sub_H3</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: black; font-size: 12px;&quot;&gt;Business Line&lt;/strong&gt;&lt;strong style=&quot;color: black; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;: &lt;/strong&gt;&lt;span style=&quot;color: black; font-size: 10px; background-color: rgb(255, 255, 255);&quot;&gt;{!varT_BusinessLine}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Sub_H4</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: black;&quot;&gt;IQVIA Legal Entity&lt;/strong&gt;&lt;strong style=&quot;font-size: 12px; color: black; background-color: rgb(255, 255, 255);&quot;&gt;: &lt;/strong&gt;&lt;span style=&quot;font-size: 10px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!varT_IQVIALegalEntity}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Review_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sub_H5</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: black; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;MSA: &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 10px; background-color: rgb(255, 255, 255);&quot;&gt;{!varT_MSA}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Ruler</name>
            <fieldText>&lt;p&gt;{!con_Ruler}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Table_Title</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: black; font-size: 14px;&quot;&gt;The following table lists existing Agreements that are under the same opportunity. Select the agreement that you want to send for review.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Agreements_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>IQVIA_Agreement__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>varR_FinalAgreements</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Record_Type_Developer_Name__c&quot;,&quot;guid&quot;:&quot;column-499e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Record Type Developer Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;FF_Agreement_Number__c&quot;,&quot;guid&quot;:&quot;column-cd18&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Agreement Number&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Other_Party_Signed_Title__c&quot;,&quot;guid&quot;:&quot;column-affa&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Requester Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Other Party Signed Title&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Status__c&quot;,&quot;guid&quot;:&quot;column-4be3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Legal_Entity_Customer__c&quot;,&quot;guid&quot;:&quot;column-bfae&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Legal Entity Customer&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Contract_Start_Date__c&quot;,&quot;guid&quot;:&quot;column-869e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Agreement Start Date&quot;,&quot;type&quot;:&quot;date-local&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Agreements_Table</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varR_SelectedAgreement</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1187</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Which_Object</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_Subflow_to_Create_Notes</name>
        <label>Call Subflow to Create Notes</label>
        <locationX>1120</locationX>
        <locationY>2341</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <flowName>CLM_Subflow_Create_Notes</flowName>
        <inputAssignments>
            <name>varT_Content</name>
            <value>
                <elementReference>Scope_Q3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_Title</name>
            <value>
                <stringValue>Request Review</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>textT_AgreementLink</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a href=&quot;{!forT_AgreementLinkTable}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Loop_Through_Agreements.Name}&lt;/a&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>textT_EmailBodyRequestor</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>REVIEW/REVISION REQUEST RECEIVED&lt;br/&gt;
&lt;br/&gt;
The US Contracting Center (USCC) is in receipt of your request for revision/review (referenced below).&lt;br/&gt;
&lt;br/&gt;

&lt;table border=&quot;1&quot; style=&quot;border-collapse: collapse; border: 1px solid&quot;&gt;
    &lt;tr style=&quot;border-bottom: 1px solid&quot;&gt;
        &lt;td style=&quot;border-right: 1px solid&quot;&gt; Agreement &lt;/td&gt;
        &lt;td style=&quot;padding-left:10px;&quot;&gt;
            &lt;a href=&quot;{!forT_AgreementLink}&quot;&gt;{!varR_SelectedAgreement.FF_Agreement_Number__c} -
                {!varR_SelectedAgreement.Name}&lt;/a&gt;
        &lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr style=&quot;border-bottom: 1px solid&quot;&gt;
        &lt;td style=&quot;border-right: 1px solid&quot;&gt; Requester &lt;/td&gt;
        &lt;td style=&quot;padding-left:10px;&quot;&gt; {!varR_SelectedAgreement.Requestor__r.FirstName}
            {!varR_SelectedAgreement.Requestor__r.LastName} &lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr style=&quot;border-bottom: 1px solid&quot;&gt;
        &lt;td style=&quot;border-right: 1px solid&quot;&gt; Client &lt;/td&gt;
        &lt;td style=&quot;padding-left:10px;&quot;&gt;
            &lt;a href=&quot;{!forT_AccountLink}&quot;&gt;{!varR_SelectedAgreement.Account__r.Name}&lt;/a&gt;
        &lt;/td&gt;
        &lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr style=&quot;border-bottom: 1px solid&quot;&gt;
        &lt;td style=&quot;border-right: 1px solid&quot;&gt; Opportunity &lt;/td&gt;
        &lt;td style=&quot;padding-left:10px;&quot;&gt;
            &lt;a href=&quot;{!forT_OpportunityLink}&quot;&gt; {!varR_SelectedAgreement.Related_Opportunity__r.Opportunity_Number__c} -
            {!varR_SelectedAgreement.Related_Opportunity__r.Name}&lt;/a&gt;
        &lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr style=&quot;border-bottom: 1px solid&quot;&gt;
        &lt;td style=&quot;border-right: 1px solid&quot;&gt; Type of Request &lt;/td&gt;
        &lt;td style=&quot;padding-left:10px;&quot;&gt; {!forT_TypeofRequest} &lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr style=&quot;border-bottom: 1px solid&quot;&gt;
        &lt;td style=&quot;border-right: 1px solid&quot;&gt; IQVIA Service Line &lt;/td&gt;
        &lt;td style=&quot;padding-left:10px;&quot;&gt; {!varR_SelectedAgreement.Primary_Business_Line1__c} &lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr style=&quot;border-bottom: 1px solid&quot;&gt;
        &lt;td style=&quot;border-right: 1px solid&quot;&gt; Agreement Type &lt;/td&gt;
        &lt;td style=&quot;padding-left:10px;&quot;&gt; {!forT_AgreementType} &lt;/td&gt;
    &lt;/tr&gt;
&lt;/table&gt;
&lt;br /&gt;
&lt;i&gt;&lt;b&gt;Did the Scope Change?: &lt;/b&gt; {!Scope_Q1}&lt;/i&gt;&lt;br/&gt;
&lt;i&gt;&lt;b&gt;Which section was edited by the customer?: &lt;/b&gt; {!Scope_Q2}&lt;/i&gt;&lt;br/&gt;
&lt;i&gt;&lt;b&gt;Additional Notes (If Any): &lt;/b&gt; {!Scope_Q3}&lt;/i&gt;&lt;br/&gt;
&lt;br /&gt;
Thank You,&lt;br /&gt;
US Contracting Center (USCC)&lt;br /&gt;
The CLM integration email &lt;b&gt;&lt;u&gt;is not&lt;/u&gt;&lt;/b&gt; an active or monitored email account, please reach out to USCC-CLM-Support@iqvia.com for any additional assistance.</text>
    </textTemplates>
    <textTemplates>
        <name>textT_EmailSubjectRequestor</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Review Request Received || Client: {!varR_SelectedAgreement.Account__r.Name} || Agreement : {!varR_SelectedAgreement.FF_Agreement_Number__c} - {!varR_SelectedAgreement.Name}</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varR_Emails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varR_Files</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varR_FinalAgreements</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IQVIA_Agreement__c</objectType>
    </variables>
    <variables>
        <name>varR_SelectedAgreement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IQVIA_Agreement__c</objectType>
    </variables>
    <variables>
        <name>varT_AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_AnalystEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_AnalystEmpNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_AnalystEmpStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_BusinessLine</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_IQVIALegalEntity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_LeadEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_LeadEmpNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_LeadEmpStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_MSA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_OpportunityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_SelectedAgrId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
