src/flows/CLM_MSA_Selection_ScreenFlow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigate_To_Existing_Agreement</name>
        <label>Navigate To Existing Agreement</label>
        <locationX>215</locationX>
        <locationY>843</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Refresh_Agreement</name>
        <label>Refresh Agreement</label>
        <locationX>577</locationX>
        <locationY>1603</locationY>
        <actionName>c:LXC_CLM_RefreshFlow</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:LXC_CLM_RefreshFlow</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Set_Default_MSA</name>
        <label>Set Default MSA</label>
        <locationX>580</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>varR_DefaultAgr.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Agreement.Related_Master_Agreement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_DefaultAgrList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_DefaultAgr</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exclude_Dummy_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_MSA_Record</name>
        <label>Set MSA Record</label>
        <locationX>729</locationX>
        <locationY>1002</locationY>
        <assignmentItems>
            <assignToReference>varR_AgrRec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_MSA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_AgrRec.Apttus__FF_Agreement_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textT_AgreementNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_AgrRec.MSA_Guidance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_MSA.MSA_Guidance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_AgrRec.Legal_Entity_Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_MSA.Legal_Entity_Customer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_AgrRec.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_MSA.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_AgreementListFinal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_AgrRec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_AgrRec</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_MSA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Vendor_MSA</name>
        <label>Set Vendor MSA</label>
        <locationX>1090</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>varR_AgrRec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Vendor_MSA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_AgrRec.Account_Local_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Vendor_MSA.Apttus__Account__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_AgrRec.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Vendor_MSA.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_AgrRec.MSA_Guidance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Vendor_MSA.MSA_Guidance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_AgrRec.Services__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Vendor_MSA.Services__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_AgrRec.Lead_Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Vendor_MSA.Lead_Region__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_AgrRec.Apttus__FF_Agreement_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textT_VendorAgreementNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_AgreementListFinal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_AgrRec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_AgrRec</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Vendor_MSA</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>con_Rule</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;hr style=&quot;margin-top: 0px;margin-bottom: 15px;&quot;&gt;</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is</name>
        <label>Is Vendor Agreement?</label>
        <locationX>572</locationX>
        <locationY>631</locationY>
        <defaultConnector>
            <targetReference>Get_Valid_MSA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Vendor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Agreement.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vendor_Agreement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Valid_Vendor_MSA</targetReference>
            </connector>
            <label>Vendor</label>
        </rules>
    </decisions>
    <description>CLM-MC-CLMCMA-20621 - This flow is used to get MSA from account using conditions.</description>
    <environments>Default</environments>
    <formulas>
        <name>forT_AgreementLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) + {!Loop_Through_MSA.Id}</expression>
    </formulas>
    <formulas>
        <name>forT_FinalMSAId</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!MSA_Table.firstSelectedRow.Id})), {!MSA_Table.firstSelectedRow.Id}, IF(NOT(ISBLANK({!Vendor_Table.firstSelectedRow.Id})), {!Vendor_Table.firstSelectedRow.Id}, &apos;&apos;))</expression>
    </formulas>
    <formulas>
        <name>forT_VendorAgreementLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) + {!Loop_Through_Vendor_MSA.Id}</expression>
    </formulas>
    <interviewLabel>CLM MSA Selection ScreenFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM MSA Selection ScreenFlow</label>
    <loops>
        <name>Loop_Through_MSA</name>
        <label>Loop Through MSA</label>
        <locationX>577</locationX>
        <locationY>1002</locationY>
        <collectionReference>Get_Valid_MSA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_MSA_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>MSA_Selection_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Vendor_MSA</name>
        <label>Loop Through Vendor MSA</label>
        <locationX>919</locationX>
        <locationY>1057</locationY>
        <collectionReference>Get_Valid_Vendor_MSA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Vendor_MSA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>MSA_Selection_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Existing_Agreement</name>
        <label>Get Existing Agreement</label>
        <locationX>580</locationX>
        <locationY>201</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Default_MSA</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback_Records</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Apttus__APTS_Agreement__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Record_Type_Developer_Name__c</queriedFields>
        <queriedFields>Apttus__Subtype__c</queriedFields>
        <queriedFields>Apttus__Account__c</queriedFields>
        <queriedFields>Parent_Account__c</queriedFields>
        <queriedFields>Related_Master_Agreement__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Valid_MSA</name>
        <label>Get Valid MSA</label>
        <locationX>576</locationX>
        <locationY>829</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_MSA</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback_Records</targetReference>
        </faultConnector>
        <filterLogic>1 AND 2 AND ((3 AND 7) OR (4 AND NOT(3) AND (5 OR 6)) OR (NOT(4) AND (7 OR 8)))</filterLogic>
        <filters>
            <field>Record_Type_Developer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MSA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Status_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Effect</stringValue>
            </value>
        </filters>
        <filters>
            <field>Parent_Account__c</field>
            <operator>In</operator>
            <value>
                <elementReference>varR_DummyAccountIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Parent_Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Parent_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Existing_Agreement.Apttus__Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Parent_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Existing_Agreement.Parent_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Apttus__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Existing_Agreement.Apttus__Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Apttus__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Existing_Agreement.Parent_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Apttus__APTS_Agreement__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Apttus__FF_Agreement_Number__c</queriedFields>
        <queriedFields>MSA_Guidance__c</queriedFields>
        <queriedFields>Legal_Entity_Customer__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Valid_Vendor_MSA</name>
        <label>Get Valid Vendor MSA</label>
        <locationX>920</locationX>
        <locationY>820</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Vendor_MSA</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback_Records</targetReference>
        </faultConnector>
        <filterLogic>1 AND 2 AND 9 AND ((3 AND 7) OR (4 AND NOT(3) AND (5 OR 6)) OR (NOT(4) AND (7 OR 8)))</filterLogic>
        <filters>
            <field>Record_Type_Developer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vendor_Agreement</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Status_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Effect</stringValue>
            </value>
        </filters>
        <filters>
            <field>Parent_Account__c</field>
            <operator>In</operator>
            <value>
                <elementReference>varR_DummyAccountIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Parent_Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Parent_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Existing_Agreement.Apttus__Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Parent_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Existing_Agreement.Parent_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Apttus__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Existing_Agreement.Apttus__Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Apttus__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Existing_Agreement.Parent_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Apttus__Subtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Master Services Agreement</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Apttus__APTS_Agreement__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Apttus__FF_Agreement_Number__c</queriedFields>
        <queriedFields>MSA_Guidance__c</queriedFields>
        <queriedFields>Lead_Region__c</queriedFields>
        <queriedFields>Account_Local_Name__c</queriedFields>
        <queriedFields>Apttus__Account__c</queriedFields>
        <queriedFields>Services__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Rollback_Records</name>
        <label>Rollback Records</label>
        <locationX>212</locationX>
        <locationY>544</locationY>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_Agreement</name>
        <label>Update Agreement</label>
        <locationX>576</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>Refresh_Agreement</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback_Records</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Related_Master_Agreement__c</field>
            <value>
                <elementReference>forT_FinalMSAId</elementReference>
            </value>
        </inputAssignments>
        <object>Apttus__APTS_Agreement__c</object>
    </recordUpdates>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>212</locationX>
        <locationY>700</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Navigate_To_Existing_Agreement</targetReference>
        </connector>
        <fields>
            <name>Error_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;An unexpected error has occurred. Please contact the support team for help.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Error Details&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; :  &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MSA_Selection_Screen</name>
        <label>MSA Selection Screen</label>
        <locationX>578</locationX>
        <locationY>1305</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Agreement</targetReference>
        </connector>
        <fields>
            <name>Header_1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Related Master Agreement&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Rule</name>
            <fieldText>&lt;p&gt;{!con_Rule}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MSA_Selection_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>MSA_Selection_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Help_Text1</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;In the table below are all the MSAs found in CLM for the customer (including some through a parent or sibling relationship).&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>MSA_Table</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Apttus__APTS_Agreement__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>MSA_Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>varR_AgreementListFinal</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Apttus__FF_Agreement_Number__c&quot;,&quot;guid&quot;:&quot;column-5bf0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Number&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Agreement Number&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-320a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Agreement Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Legal_Entity_Customer__c&quot;,&quot;guid&quot;:&quot;column-cddb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Legal Entity Customer&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;MSA_Guidance__c&quot;,&quot;guid&quot;:&quot;column-b79a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;MSA Guidance&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRows</name>
                        <value>
                            <elementReference>varR_DefaultAgrList</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Vendor</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MSA_Selection_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>MSA_Selection_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Help_Text2</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;In the table below are all the vendor MSAs found in CLM for this Vendor (including some through a parent or sibling relationship).&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Vendor_Table</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Apttus__APTS_Agreement__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Vendor Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>varR_AgreementListFinal</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Apttus__FF_Agreement_Number__c&quot;,&quot;guid&quot;:&quot;column-53d9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Number&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Agreement Number&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-b857&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Agreement Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Account_Local_Name__c&quot;,&quot;guid&quot;:&quot;column-e5bf&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Vendor&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Account Local Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;MSA_Guidance__c&quot;,&quot;guid&quot;:&quot;column-43d1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Guidance&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;MSA Guidance&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Services__c&quot;,&quot;guid&quot;:&quot;column-41cf&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Services&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Lead_Region__c&quot;,&quot;guid&quot;:&quot;column-1a7b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Region&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Template Region&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRows</name>
                        <value>
                            <elementReference>varR_DefaultAgrList</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Vendor</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>454</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Existing_Agreement</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Exclude_Dummy_Accounts</name>
        <label>Exclude Dummy Accounts</label>
        <locationX>580</locationX>
        <locationY>485</locationY>
        <connector>
            <targetReference>Is</targetReference>
        </connector>
        <flowName>CLM_Subflow_Exclude_Dummy_Accounts</flowName>
        <inputAssignments>
            <name>varT_OpportunityAccountId</name>
            <value>
                <elementReference>Get_Existing_Agreement.Apttus__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_OpportunityParentAccountId</name>
            <value>
                <elementReference>Get_Existing_Agreement.Parent_Account__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varR_DummyAccountIds</assignToReference>
            <name>varR_AccountIds</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>textT_AgreementNumber</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a href=&quot;{!forT_AgreementLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Loop_Through_MSA.Apttus__FF_Agreement_Number__c} &lt;/a&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>textT_VendorAgreementNumber</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a href=&quot;{!forT_VendorAgreementLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Loop_Through_Vendor_MSA.Apttus__FF_Agreement_Number__c} &lt;/a&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varR_AgreementListFinal</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>varR_AgrRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>varR_DefaultAgr</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>varR_DefaultAgrList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>varR_DummyAccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
