src/flows/CLM_SubFlow_Agreement_Handler.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Which_Event</name>
        <label>Which Event?</label>
        <locationX>3108</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>AfterInsert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varB_IsAfterInsert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_RecordType_1</targetReference>
            </connector>
            <label>After Insert</label>
        </rules>
        <rules>
            <name>AfterUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varB_IsAfterUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_RecordType</targetReference>
            </connector>
            <label>After Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_RecordType</name>
        <label>Which RecordType ?</label>
        <locationX>3614</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RWLP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_NewRecord.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RWLP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RWLP_Contract_Termination_Notice</targetReference>
            </connector>
            <label>RWLP</label>
        </rules>
        <rules>
            <name>PA_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_NewRecord.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preliminary_Agreement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rescue_Notification_Update_PA</targetReference>
            </connector>
            <label>PA</label>
        </rules>
        <rules>
            <name>PSA_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_NewRecord.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Mail_For_Anticipated_Date_30_Update</targetReference>
            </connector>
            <label>PSA</label>
        </rules>
        <rules>
            <name>MSA_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_NewRecord.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MSA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RDS_Agreement_Expired_Notification</targetReference>
            </connector>
            <label>MSA</label>
        </rules>
        <rules>
            <name>OSA_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_NewRecord.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OSA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IQVIA_Contract_Manager_Update_Notification_Update_OSA</targetReference>
            </connector>
            <label>OSA</label>
        </rules>
        <rules>
            <name>RWSSOW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_NewRecord.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RWSSOW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_RWS_Notification_for_RWSSOW</targetReference>
            </connector>
            <label>RWSSOW</label>
        </rules>
        <rules>
            <name>AMESA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_NewRecord.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AMESA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AMESA_Contract_Termination_Notice</targetReference>
            </connector>
            <label>AMESA</label>
        </rules>
        <rules>
            <name>EMEA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_NewRecord.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EMEA_Contract_Termination_Notice</targetReference>
            </connector>
            <label>EMEA</label>
        </rules>
        <rules>
            <name>TCS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_NewRecord.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TCS_Contract_Termination_Notice</targetReference>
            </connector>
            <label>TCS</label>
        </rules>
        <rules>
            <name>Vendor_Agreement1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_NewRecord.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vendor_Agreement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Update_Notification</targetReference>
            </connector>
            <label>Vendor Agreement</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_RecordType_1</name>
        <label>Which RecordType?</label>
        <locationX>1062</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PSA_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_NewRecord.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Mail_For_Anticipated_Date_30_Insert</targetReference>
            </connector>
            <label>PSA</label>
        </rules>
        <rules>
            <name>MSA_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_NewRecord.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MSA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IQVIA_Contract_Manager_Update_Notification_Insert_OSA_PSA_MSA_PA</targetReference>
            </connector>
            <label>MSA</label>
        </rules>
        <rules>
            <name>PA_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_NewRecord.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preliminary_Agreement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PA_Record_Creation_Notification</targetReference>
            </connector>
            <label>PA</label>
        </rules>
        <rules>
            <name>OSA_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_NewRecord.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OSA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_IQVIA_Contract_Manager_Update_Notification_Insert</targetReference>
            </connector>
            <label>OSA</label>
        </rules>
        <rules>
            <name>RWSSOW_insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_NewRecord.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RWSSOW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_RWS_Clone_LineItems_Subflow</targetReference>
            </connector>
            <label>RWSSOW</label>
        </rules>
        <rules>
            <name>RWLP_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_NewRecord.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RWLP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RWLP_Record_Creation_Notification</targetReference>
            </connector>
            <label>RWLP</label>
        </rules>
        <rules>
            <name>EMEA_Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_NewRecord.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_Agreement_Line_Items_From_OLI_For_EMEA_Insert</targetReference>
            </connector>
            <label>EMEA</label>
        </rules>
        <rules>
            <name>Vendor_Agreement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_NewRecord.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vendor_Agreement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IQVIA_Contract_Manager_Update_Notice_for_Vendor_Agreement</targetReference>
            </connector>
            <label>Vendor Agreement</label>
        </rules>
    </decisions>
    <description>Handler subflow for CLM Agreement RecordTriggered After Insert/Update</description>
    <environments>Default</environments>
    <interviewLabel>CLM SubFlow : Agreement Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM SubFlow : Agreement Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>2982</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Which_Event</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>AMESA_Agreement_Approved_Notification</name>
        <label>AMESA Agreement Approved Notification</label>
        <locationX>3834</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>AMESA_Agreement_Expired_Notification</targetReference>
        </connector>
        <flowName>CLM_Subflow_Agreement_Approved_Notification</flowName>
        <inputAssignments>
            <name>varR_NewRecord</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OldRecord</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>AMESA_Agreement_Cancellation_Notice</name>
        <label>AMESA Agreement Cancellation Notice</label>
        <locationX>3834</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>AMESA_Agreement_Approved_Notification</targetReference>
        </connector>
        <flowName>CLM_Subflow_Agreement_Cancellation_Notice</flowName>
        <inputAssignments>
            <name>varR_NewRecord</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OldRecord</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>AMESA_Agreement_Expired_Notification</name>
        <label>AMESA Agreement Expired Notification</label>
        <locationX>3834</locationX>
        <locationY>674</locationY>
        <flowName>CLM_Subflow_Agreement_Expired_Notification</flowName>
        <inputAssignments>
            <name>varR_NewRecord</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OldRecord</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>AMESA_Contract_Termination_Notice</name>
        <label>AMESA Contract Termination Notice</label>
        <locationX>3834</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>AMESA_Agreement_Cancellation_Notice</targetReference>
        </connector>
        <flowName>CLM_Subflow_Contract_Termination_Notice</flowName>
        <inputAssignments>
            <name>varR_NewRecord</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OldRecord</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Call_Agreement_Activation_Notice_for_RWSSOW</name>
        <label>Call Agreement Activation Notice for RWSSOW</label>
        <locationX>3570</locationX>
        <locationY>458</locationY>
        <flowName>CLM_Subflow_Agreement_Activation_Notice</flowName>
        <inputAssignments>
            <name>varR_NewRecord</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OldRecord</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Call_CD_Contract_Activation_Notification_OSA_Insert</name>
        <label>Call CD Contract Activation Notification</label>
        <locationX>754</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>OSA_Record_Creation_Notification</targetReference>
        </connector>
        <flowName>CLM_Subflow_CD_Contract_Agreement_Activation_Notification</flowName>
        <inputAssignments>
            <name>varR_NewAgreement</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Call_CD_Contract_Activation_Notification_OSA_Update</name>
        <label>Call CD Contract Activation Notification</label>
        <locationX>3306</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Call_Third_Party_Vendors_Service_Notification_OSA</targetReference>
        </connector>
        <flowName>CLM_Subflow_CD_Contract_Agreement_Activation_Notification</flowName>
        <inputAssignments>
            <name>varR_NewAgreement</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OldAgreement</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Call_CD_Contract_Activation_Notification_PSA_PA_Update</name>
        <label>Call CD Contract Activation Notification</label>
        <locationX>3614</locationX>
        <locationY>2162</locationY>
        <connector>
            <targetReference>RDS_Agreement_Rejected_Notification</targetReference>
        </connector>
        <flowName>CLM_Subflow_CD_Contract_Agreement_Activation_Notification</flowName>
        <inputAssignments>
            <name>varR_NewAgreement</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OldAgreement</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Call_CD_Contract_Activation_Notification_RDS_Insert</name>
        <label>Call CD Contract Activation Notification</label>
        <locationX>1062</locationX>
        <locationY>1082</locationY>
        <flowName>CLM_Subflow_CD_Contract_Agreement_Activation_Notification</flowName>
        <inputAssignments>
            <name>varR_NewAgreement</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Call_Is_Study_Awarded_From_No_to_Yes_Notification</name>
        <label>Call Is Study Awarded From No to Yes Notification</label>
        <locationX>2602</locationX>
        <locationY>458</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Call_Third_Party_Vendors_Service_Notification_PSA_PA</targetReference>
        </connector>
        <flowName>CLM_Subflow_Notification_on_Is_Study_Awarded_Update</flowName>
        <inputAssignments>
            <name>varR_NewAgreement</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OldAgreement</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Call_RDS_Notification_for_regulatory_LOB</name>
        <label>Call RDS Notification for regulatory LOB</label>
        <locationX>1062</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Call_CD_Contract_Activation_Notification_RDS_Insert</targetReference>
        </connector>
        <flowName>CLM_Subflow_RDS_Notification_for_Regulatory_LOB</flowName>
        <inputAssignments>
            <name>newRecord</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>oldRecord</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varB_IsAfterInsert</name>
            <value>
                <elementReference>varB_IsAfterInsert</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Call_RDS_Notification_for_Regulatory_LOB_update</name>
        <label>Call RDS Notification for Regulatory LOB(update)</label>
        <locationX>3614</locationX>
        <locationY>2054</locationY>
        <connector>
            <targetReference>Call_CD_Contract_Activation_Notification_PSA_PA_Update</targetReference>
        </connector>
        <flowName>CLM_Subflow_RDS_Notification_for_Regulatory_LOB</flowName>
        <inputAssignments>
            <name>newRecord</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>oldRecord</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varB_IsAfterInsert</name>
            <value>
                <elementReference>varB_IsAfterInsert</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Call_RDS_Notification_on_Status_Update</name>
        <label>Call RDS Notification on Status Update</label>
        <locationX>3614</locationX>
        <locationY>1946</locationY>
        <connector>
            <targetReference>Call_RDS_Notification_for_Regulatory_LOB_update</targetReference>
        </connector>
        <flowName>CLM_Sub_Flow_RDS_Notification_on_Status_Update</flowName>
        <inputAssignments>
            <name>newRecord</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>oldRecord</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Call_RDS_Notification_on_Status_Update_For_RWLP</name>
        <label>Call RDS Notification on Status Update For RWLP</label>
        <locationX>2338</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>RWLP_Agreement_Status_Update_Notification</targetReference>
        </connector>
        <flowName>CLM_Sub_Flow_RDS_Notification_on_Status_Update</flowName>
        <inputAssignments>
            <name>newRecord</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>oldRecord</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Call_RWS_Clone_LineItems_Subflow</name>
        <label>Call RWS Clone LineItems Subflow</label>
        <locationX>1018</locationX>
        <locationY>350</locationY>
        <flowName>CLM_Subflow_RWS_Clone_LineItems</flowName>
        <inputAssignments>
            <name>newRecord</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Call_RWS_Notification_for_RWSSOW</name>
        <label>Call RWS Notification for RWSSOW</label>
        <locationX>3570</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Call_Agreement_Activation_Notice_for_RWSSOW</targetReference>
        </connector>
        <flowName>CLM_Subflow_RWS_Notification_on_Submit_to_Clinical</flowName>
        <inputAssignments>
            <name>newRecord</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>oldRecord</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Call_Third_Party_Vendors_Service_Notification_OSA</name>
        <label>Call Third Party Vendors Service Notification</label>
        <locationX>3306</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>OSA_Contract_Termination_Notice</targetReference>
        </connector>
        <flowName>CLM_Subflow_Notification_on_Addition_of_Third_Party_Vendor_As_Service</flowName>
        <inputAssignments>
            <name>varR_NewAgreement</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OldAgreement</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Call_Third_Party_Vendors_Service_Notification_PSA_PA</name>
        <label>Call Third Party Vendors Service Notification</label>
        <locationX>2866</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Fully_Signed_Notification_for_PSA_and_PA</targetReference>
        </connector>
        <flowName>CLM_Subflow_Notification_on_Addition_of_Third_Party_Vendor_As_Service</flowName>
        <inputAssignments>
            <name>varR_NewAgreement</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OldAgreement</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Copy_1_of_IQVIA_Contract_Manager_Update_Notification_Insert</name>
        <label>IQVIA Contract Manager Update Notification Insert</label>
        <locationX>754</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Call_CD_Contract_Activation_Notification_OSA_Insert</targetReference>
        </connector>
        <flowName>CLM_Subflow_IQVIA_Contract_Manager_Update_Notification</flowName>
        <inputAssignments>
            <name>varR_NewAgreement</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Copy_Agreement_Line_Items_From_OLI_For_EMEA_Insert</name>
        <label>Copy Agreement Line Items From OLI For EMEA</label>
        <locationX>1546</locationX>
        <locationY>350</locationY>
        <flowName>CLM_Subflow_RWS_Clone_LineItems</flowName>
        <inputAssignments>
            <name>newRecord</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>EMEA_Agreement_Cancellation_Notice</name>
        <label>EMEA Agreement Cancellation Notice</label>
        <locationX>4098</locationX>
        <locationY>458</locationY>
        <flowName>CLM_Subflow_Agreement_Cancellation_Notice</flowName>
        <inputAssignments>
            <name>varR_NewRecord</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OldRecord</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>EMEA_Contract_Termination_Notice</name>
        <label>EMEA Contract Termination Notice</label>
        <locationX>4098</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>EMEA_Agreement_Cancellation_Notice</targetReference>
        </connector>
        <flowName>CLM_Subflow_Contract_Termination_Notice</flowName>
        <inputAssignments>
            <name>varR_NewRecord</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OldRecord</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Fully_Signed_Notification_for_PSA_and_PA</name>
        <label>Fully Signed Notification for PSA and PA</label>
        <locationX>2866</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>RDS_Agreement_Expired_Notification</targetReference>
        </connector>
        <flowName>CLM_Subflow_Fully_Signed_Notification</flowName>
        <inputAssignments>
            <name>VarR_NewRecord</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OldRecord</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Fully_Signed_Notification_for_RWLP</name>
        <label>Fully Signed Notification for RWLP</label>
        <locationX>2338</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>RWLP_Agreement_Expired_Notification</targetReference>
        </connector>
        <flowName>CLM_Subflow_Fully_Signed_Notification</flowName>
        <inputAssignments>
            <name>VarR_NewRecord</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OldRecord</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>High_Confidence_Budget_Notification_For_PSA</name>
        <label>High Confidence Budget Notification For PSA</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>IQVIA_Contract_Manager_Update_Notification_Insert_OSA_PSA_MSA_PA</targetReference>
        </connector>
        <flowName>CLM_Subflow_High_Budget_Confidence_Notification</flowName>
        <inputAssignments>
            <name>varR_NewRecord</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>High_Confidence_Budget_Notification_For_PSA_Update</name>
        <label>High Confidence Budget Notification For PSA Update</label>
        <locationX>2866</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Send_Email_to_CA_for_PSA_In_Signatures_Status_Category</targetReference>
        </connector>
        <flowName>CLM_Subflow_High_Budget_Confidence_Notification</flowName>
        <inputAssignments>
            <name>varR_NewRecord</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OldRecord</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>High_Confidence_Budget_Notification_For_RWLP</name>
        <label>High Confidence Budget Notification For RWLP</label>
        <locationX>1282</locationX>
        <locationY>566</locationY>
        <flowName>CLM_Subflow_High_Budget_Confidence_Notification</flowName>
        <inputAssignments>
            <name>varR_NewRecord</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>High_Confidence_Budget_Notification_For_RWLP_Update</name>
        <label>High Confidence Budget Notification For RWLP Update</label>
        <locationX>2338</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Fully_Signed_Notification_for_RWLP</targetReference>
        </connector>
        <flowName>CLM_Subflow_High_Budget_Confidence_Notification</flowName>
        <inputAssignments>
            <name>varR_NewRecord</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OldRecord</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>IQVIA_Contract_Manager_Update_Notice_for_Vendor_Agreement</name>
        <label>IQVIA Contract Manager Update Notice for Vendor Agreement</label>
        <locationX>1810</locationX>
        <locationY>350</locationY>
        <flowName>CLM_Subflow_IQVIA_Contract_Manager_Update_Notification</flowName>
        <inputAssignments>
            <name>varR_NewAgreement</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>IQVIA_Contract_Manager_Update_Notification</name>
        <label>IQVIA Contract Manager Update Notification</label>
        <locationX>4626</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Vendor_Agreement_Expired_Notification</targetReference>
        </connector>
        <flowName>CLM_Subflow_IQVIA_Contract_Manager_Update_Notification</flowName>
        <inputAssignments>
            <name>varR_NewAgreement</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OldAgreement</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>IQVIA_Contract_Manager_Update_Notification_For_RWLP</name>
        <label>IQVIA Contract Manager Update Notification For RWLP</label>
        <locationX>2338</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>High_Confidence_Budget_Notification_For_RWLP_Update</targetReference>
        </connector>
        <flowName>CLM_Subflow_IQVIA_Contract_Manager_Update_Notification</flowName>
        <inputAssignments>
            <name>varR_NewAgreement</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OldAgreement</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>IQVIA_Contract_Manager_Update_Notification_Insert_For_RWLP</name>
        <label>IQVIA Contract Manager Update Notification Insert For RWLP</label>
        <locationX>1282</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>High_Confidence_Budget_Notification_For_RWLP</targetReference>
        </connector>
        <flowName>CLM_Subflow_IQVIA_Contract_Manager_Update_Notification</flowName>
        <inputAssignments>
            <name>varR_NewAgreement</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>IQVIA_Contract_Manager_Update_Notification_Insert_OSA_PSA_MSA_PA</name>
        <label>IQVIA Contract Manager Update Notification Insert</label>
        <locationX>1062</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Call_RDS_Notification_for_regulatory_LOB</targetReference>
        </connector>
        <flowName>CLM_Subflow_IQVIA_Contract_Manager_Update_Notification</flowName>
        <inputAssignments>
            <name>varR_NewAgreement</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>IQVIA_Contract_Manager_Update_Notification_Update_OSA</name>
        <label>IQVIA Contract Manager Update Notification Update</label>
        <locationX>3306</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Call_CD_Contract_Activation_Notification_OSA_Update</targetReference>
        </connector>
        <flowName>CLM_Subflow_IQVIA_Contract_Manager_Update_Notification</flowName>
        <inputAssignments>
            <name>varR_NewAgreement</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OldAgreement</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>IQVIA_Contract_Manager_Update_Notification_Update_RDS</name>
        <label>IQVIA Contract Manager Update Notification Update</label>
        <locationX>3614</locationX>
        <locationY>1838</locationY>
        <connector>
            <targetReference>Call_RDS_Notification_on_Status_Update</targetReference>
        </connector>
        <flowName>CLM_Subflow_IQVIA_Contract_Manager_Update_Notification</flowName>
        <inputAssignments>
            <name>varR_NewAgreement</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OldAgreement</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>OSA_Agreement_Approved_Notification</name>
        <label>OSA Agreement Approved Notification</label>
        <locationX>3306</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>OSA_Agreement_Expired_Notification</targetReference>
        </connector>
        <flowName>CLM_Subflow_Agreement_Approved_Notification</flowName>
        <inputAssignments>
            <name>varR_NewRecord</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OldRecord</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>OSA_Agreement_Cancellation_Notice</name>
        <label>OSA Agreement Cancellation Notice</label>
        <locationX>3306</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>OSA_Agreement_Approved_Notification</targetReference>
        </connector>
        <flowName>CLM_Subflow_Agreement_Cancellation_Notice</flowName>
        <inputAssignments>
            <name>varR_NewRecord</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OldRecord</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>OSA_Agreement_Expired_Notification</name>
        <label>OSA Agreement Expired Notification</label>
        <locationX>3306</locationX>
        <locationY>1106</locationY>
        <flowName>CLM_Subflow_Agreement_Expired_Notification</flowName>
        <inputAssignments>
            <name>varR_NewRecord</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OldRecord</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>OSA_Agreement_Rejected_Notification</name>
        <label>OSA Agreement Rejected Notification</label>
        <locationX>3306</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>OSA_Agreement_Cancellation_Notice</targetReference>
        </connector>
        <flowName>CLM_Subflow_Agreement_Rejected_Notification</flowName>
        <inputAssignments>
            <name>varR_NewRecord</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OldRecord</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>OSA_Contract_Termination_Notice</name>
        <label>OSA Contract Termination Notice</label>
        <locationX>3306</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>OSA_Agreement_Rejected_Notification</targetReference>
        </connector>
        <flowName>CLM_Subflow_Contract_Termination_Notice</flowName>
        <inputAssignments>
            <name>varR_NewRecord</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OldRecord</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>OSA_Record_Creation_Notification</name>
        <label>OSA Record Creation Notification</label>
        <locationX>754</locationX>
        <locationY>566</locationY>
        <flowName>CLM_Subflow_Agreement_Creation_Notification</flowName>
        <inputAssignments>
            <name>varR_NewRecord</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>PA_Record_Creation_Notification</name>
        <label>PA Record Creation Notification</label>
        <locationX>490</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>IQVIA_Contract_Manager_Update_Notification_Insert_OSA_PSA_MSA_PA</targetReference>
        </connector>
        <flowName>CLM_Subflow_Agreement_Creation_Notification</flowName>
        <inputAssignments>
            <name>varR_NewRecord</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>PSA_Record_Creation_Notification</name>
        <label>PSA Record Creation Notification</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>High_Confidence_Budget_Notification_For_PSA</targetReference>
        </connector>
        <flowName>CLM_Subflow_Agreement_Creation_Notification</flowName>
        <inputAssignments>
            <name>varR_NewRecord</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>RDS_Agreement_Approved_Notification</name>
        <label>RDS Agreement Approved Notification</label>
        <locationX>3614</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>RDS_Agreement_Cancellation_Notice</targetReference>
        </connector>
        <flowName>CLM_Subflow_Agreement_Approved_Notification</flowName>
        <inputAssignments>
            <name>varR_NewRecord</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OldRecord</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>RDS_Agreement_Cancellation_Notice</name>
        <label>RDS Agreement Cancellation Notice</label>
        <locationX>3614</locationX>
        <locationY>1622</locationY>
        <connector>
            <targetReference>RDS_Contract_Termination_Notice</targetReference>
        </connector>
        <flowName>CLM_Subflow_Agreement_Cancellation_Notice</flowName>
        <inputAssignments>
            <name>varR_NewRecord</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OldRecord</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>RDS_Agreement_Expired_Notification</name>
        <label>RDS Agreement Expired Notification</label>
        <locationX>3614</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>RDS_Agreement_Approved_Notification</targetReference>
        </connector>
        <flowName>CLM_Subflow_Agreement_Expired_Notification</flowName>
        <inputAssignments>
            <name>varR_NewRecord</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OldRecord</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>RDS_Agreement_Rejected_Notification</name>
        <label>RDS Agreement Rejected Notification</label>
        <locationX>3614</locationX>
        <locationY>2270</locationY>
        <flowName>CLM_Subflow_Agreement_Rejected_Notification</flowName>
        <inputAssignments>
            <name>varR_NewRecord</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OldRecord</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>RDS_Contract_Termination_Notice</name>
        <label>RDS Contract Termination Notice</label>
        <locationX>3614</locationX>
        <locationY>1730</locationY>
        <connector>
            <targetReference>IQVIA_Contract_Manager_Update_Notification_Update_RDS</targetReference>
        </connector>
        <flowName>CLM_Subflow_Contract_Termination_Notice</flowName>
        <inputAssignments>
            <name>varR_NewRecord</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OldRecord</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Rescue_Notification_Update_PA</name>
        <label>Rescue Notification Update</label>
        <locationX>2602</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Call_Is_Study_Awarded_From_No_to_Yes_Notification</targetReference>
        </connector>
        <flowName>CLM_Subflow_Rescue_Notification</flowName>
        <inputAssignments>
            <name>varR_NewAgreement</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OldAgreement</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>RWLP_Agreement_Cancellation_Notice</name>
        <label>RWLP Agreement Cancellation Notice</label>
        <locationX>2338</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Call_RDS_Notification_on_Status_Update_For_RWLP</targetReference>
        </connector>
        <flowName>CLM_Subflow_Agreement_Cancellation_Notice</flowName>
        <inputAssignments>
            <name>varR_NewRecord</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OldRecord</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>RWLP_Agreement_Expired_Notification</name>
        <label>RWLP Agreement Expired Notification</label>
        <locationX>2338</locationX>
        <locationY>1106</locationY>
        <flowName>CLM_Subflow_Agreement_Expired_Notification</flowName>
        <inputAssignments>
            <name>varR_NewRecord</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OldRecord</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>RWLP_Agreement_Status_Update_Notification</name>
        <label>RWLP Agreement Status Update Notification</label>
        <locationX>2338</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>IQVIA_Contract_Manager_Update_Notification_For_RWLP</targetReference>
        </connector>
        <flowName>CLM_Subflow_Agreement_Status_Update_Notification</flowName>
        <inputAssignments>
            <name>varR_NewRecord</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OldRecord</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>RWLP_Contract_Termination_Notice</name>
        <label>RWLP Contract Termination Notice</label>
        <locationX>2338</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>RWLP_Agreement_Cancellation_Notice</targetReference>
        </connector>
        <flowName>CLM_Subflow_Contract_Termination_Notice</flowName>
        <inputAssignments>
            <name>varR_NewRecord</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OldRecord</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>RWLP_Record_Creation_Notification</name>
        <label>RWLP Record Creation Notification</label>
        <locationX>1282</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>IQVIA_Contract_Manager_Update_Notification_Insert_For_RWLP</targetReference>
        </connector>
        <flowName>CLM_Subflow_Agreement_Creation_Notification</flowName>
        <inputAssignments>
            <name>varR_NewRecord</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Send_Email_to_CA_for_PSA_In_Signatures_Status_Category</name>
        <label>Send Email to CA for PSA In Signatures Status Category</label>
        <locationX>2866</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Call_Third_Party_Vendors_Service_Notification_PSA_PA</targetReference>
        </connector>
        <flowName>CLM_SubFlow_Email_To_CA_For_PSA_In_Signature_Status_Category</flowName>
        <inputAssignments>
            <name>varR_NewRecord</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OldRecord</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_Mail_For_Anticipated_Date_30_Insert</name>
        <label>Send Mail For Anticipated Date 30 Insert</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Send_Mail_For_Anticipated_Date_45_Insert</targetReference>
        </connector>
        <flowName>CLM_Subflow_Send_Mail_For_Anticipated_Date_30</flowName>
        <inputAssignments>
            <name>varR_NewAgreement</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_Mail_For_Anticipated_Date_30_Update</name>
        <label>Send Mail For Anticipated Date 30 Update</label>
        <locationX>2866</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Send_Mail_For_Anticipated_Date_45_Update</targetReference>
        </connector>
        <flowName>CLM_Subflow_Send_Mail_For_Anticipated_Date_30</flowName>
        <inputAssignments>
            <name>varR_NewAgreement</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OldAgreement</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_Mail_For_Anticipated_Date_45_Insert</name>
        <label>Send Mail For Anticipated Date 45 Insert</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>PSA_Record_Creation_Notification</targetReference>
        </connector>
        <flowName>CLM_Subflow_Send_Mail_For_Anticipated_Date_45</flowName>
        <inputAssignments>
            <name>varR_NewAgreement</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_Mail_For_Anticipated_Date_45_Update</name>
        <label>Send Mail For Anticipated Date 45 Update</label>
        <locationX>2866</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>High_Confidence_Budget_Notification_For_PSA_Update</targetReference>
        </connector>
        <flowName>CLM_Subflow_Send_Mail_For_Anticipated_Date_45</flowName>
        <inputAssignments>
            <name>varR_NewAgreement</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OldAgreement</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Status_Update_Notification</name>
        <label>Status Update Notification</label>
        <locationX>4626</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Vendor_Agreement_Cancellation_Notice</targetReference>
        </connector>
        <flowName>CLM_Sub_Flow_RDS_Notification_on_Status_Update</flowName>
        <inputAssignments>
            <name>newRecord</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>oldRecord</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>TCS_Agreement_Cancellation_Notice</name>
        <label>TCS Agreement Cancellation Notice</label>
        <locationX>4362</locationX>
        <locationY>458</locationY>
        <flowName>CLM_Subflow_Agreement_Cancellation_Notice</flowName>
        <inputAssignments>
            <name>varR_NewRecord</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OldRecord</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>TCS_Contract_Termination_Notice</name>
        <label>TCS Contract Termination Notice</label>
        <locationX>4362</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>TCS_Agreement_Cancellation_Notice</targetReference>
        </connector>
        <flowName>CLM_Subflow_Contract_Termination_Notice</flowName>
        <inputAssignments>
            <name>varR_NewRecord</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OldRecord</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Vendor_Agreement_Cancellation_Notice</name>
        <label>Vendor Agreement Cancellation Notice</label>
        <locationX>4626</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Vendor_Agreement_Termination_Notice</targetReference>
        </connector>
        <flowName>CLM_Subflow_Agreement_Cancellation_Notice</flowName>
        <inputAssignments>
            <name>varR_NewRecord</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OldRecord</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Vendor_Agreement_Expired_Notification</name>
        <label>Vendor Agreement Expired Notification</label>
        <locationX>4626</locationX>
        <locationY>782</locationY>
        <flowName>CLM_Subflow_Agreement_Expired_Notification</flowName>
        <inputAssignments>
            <name>varR_NewRecord</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OldRecord</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Vendor_Agreement_Termination_Notice</name>
        <label>Vendor Agreement Termination Notice</label>
        <locationX>4626</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>IQVIA_Contract_Manager_Update_Notification</targetReference>
        </connector>
        <flowName>CLM_Subflow_Contract_Termination_Notice</flowName>
        <inputAssignments>
            <name>varR_NewRecord</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OldRecord</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>To store it is a after insert event.</description>
        <name>varB_IsAfterInsert</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Boolean var to store after update event occured.</description>
        <name>varB_IsAfterUpdate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Boolean var to store before delete event.</description>
        <name>varB_IsBeforeDelete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>New Record to process.</description>
        <name>varR_NewRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>varR_OldRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
</Flow>
