src/flows/CLM_Related_Agreement_RecordTriggered_After_Insert_Update.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Which_Event</name>
        <label>Which Event?</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>After_Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Trigger_Control_For_Migration__c.Disable_Related_Agreement_Trigger__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>forB_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CLM_Subflow_Related_Agreement_Handler_Insert</targetReference>
            </connector>
            <label>After Insert</label>
        </rules>
        <rules>
            <name>After_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Trigger_Control_For_Migration__c.Disable_Related_Agreement_Trigger__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>forB_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CLM_Subflow_Related_Agreement_Handler_Update</targetReference>
            </connector>
            <label>After Update</label>
        </rules>
    </decisions>
    <description>CLM-MC-CLMCMA-14493 - Record Triggered Related Agreement.</description>
    <environments>Default</environments>
    <formulas>
        <name>forB_IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>CLM Related Agreement RecordTriggered After Insert/Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM Related Agreement RecordTriggered After Insert/Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Which_Event</targetReference>
        </connector>
        <object>Apttus__APTS_Related_Agreement__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>CLM_Subflow_Related_Agreement_Handler_Insert</name>
        <label>CLM Subflow : Related Agreement Handler Insert</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <flowName>CLM_Subflow_Related_Agreement_Handler</flowName>
        <inputAssignments>
            <name>varB_IsDelete</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varB_IsInsert</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varB_IsUpdate</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_NewRelatedAgreement</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>CLM_Subflow_Related_Agreement_Handler_Update</name>
        <label>CLM Subflow : Related Agreement Handler Update</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <flowName>CLM_Subflow_Related_Agreement_Handler</flowName>
        <inputAssignments>
            <name>varB_IsDelete</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varB_IsInsert</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varB_IsUpdate</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_NewRelatedAgreement</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OldRelatedAgreement</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
