src/flows/CLM_Subflow_Role_Upsert_Notification.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Notification_to_Agreement_Contact</name>
        <label>Email Notification to Agreement Contact</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>CollectionOfEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varR_NewAgreementContacts.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no.reply.support@iqvia.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Collection_Of_Additional_Emails</name>
        <label>Collection Of Additional Emails</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>CollectionOfEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_NewAgreementContacts.Agreement__r.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionOfEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_NewAgreementContacts.LastModifiedBy.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Notification_to_Agreement_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Role_Created_on_Agreement_Contact</name>
        <label>If Role Created on Agreement Contact</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>If_Role_Created_or_Updated</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>varR_NewAgreementContacts.Agreement__r.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RWSSOW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewAgreementContacts.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IQVIA User Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewAgreementContacts.Role__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewAgreementContacts.Role__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_OldAgreementContacts.Role__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewAgreementContacts.Contact__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_OldAgreementContacts.Contact__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collection_Of_Additional_Emails</targetReference>
            </connector>
            <label>If Role Upsert</label>
        </rules>
    </decisions>
    <description>CLM-MC-CLMCMA-14493 - This flow is used to send email notification on role changes</description>
    <environments>Default</environments>
    <formulas>
        <name>forT_GetRecipientsonEmailMessage</name>
        <dataType>String</dataType>
        <expression>{!varR_NewAgreementContacts.Agreement__r.Owner:User.Id}&amp;&quot;;&quot;&amp; IF({!varR_NewAgreementContacts.Contact__c} != null &amp;&amp; {!varR_NewAgreementContacts.Contact__r.Email} != null, {!varR_NewAgreementContacts.Contact__c} &amp;&quot;;&quot; , &quot;&quot;)&amp;{!varR_NewAgreementContacts.LastModifiedBy.Id}</expression>
    </formulas>
    <formulas>
        <name>Link</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_140},FIND(&apos;.com&apos;,{!$Api.Partner_Server_URL_140})+4)+{!varR_NewAgreementContacts.Agreement__r.Id}</expression>
    </formulas>
    <interviewLabel>CLM Subflow : Role Upsert Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM Subflow : Role Upsert Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_email</name>
        <label>Create email</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>no.reply.support@iqvia.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>Email_Body</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>varR_NewAgreementContacts.Agreement__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>forT_GetRecipientsonEmailMessage</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_Role_Created_on_Agreement_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Email_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;https://iqvia--clmxkm.sandbox.file.force.com/sfc/dist/version/renditionDownload?rendition=ORIGINAL_Jpg&amp;amp;versionId=0682h00000202Gy&amp;amp;operationContext=DELIVERY&amp;amp;contentId=05T2h000007aHSC&amp;amp;page=0&amp;amp;d=/a/2h0000005G3c/4O3vq_lLfle3dXQvsV8h01ZYZJN0UdHG1bq0mcb1sEQ&amp;amp;oid=00D2h0000000u2Z&amp;amp;dpt=null&amp;amp;viewId=&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Dear {!varR_NewAgreementContacts.Contact__r.Salutation} {!varR_NewAgreementContacts.Contact__r.FirstName}  {!varR_NewAgreementContacts.Contact__r.MiddleName} {!varR_NewAgreementContacts.Contact__r.LastName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;You are assigned as {!varR_NewAgreementContacts.Role__c} for the below agreement - &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Agreement Number : {!varR_NewAgreementContacts.Agreement__r.Apttus__FF_Agreement_Number__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Agreement Name : {!varR_NewAgreementContacts.Agreement__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Opportunity Name : {!varR_NewAgreementContacts.Agreement__r.Opportunity_Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Legacy Quintiles Opportunity Number : {!varR_NewAgreementContacts.Agreement__r.Legacy_Quintiles_Opportunity_Number__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Start Date : {!varR_NewAgreementContacts.Agreement__r.Apttus__Contract_Start_Date__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;End Date : {!varR_NewAgreementContacts.Agreement__r.Apttus__Contract_End_Date__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Agreement Link : {!Link}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;﻿Thank You,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;IQVIA&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>You are assigned as {!varR_NewAgreementContacts.Role__c} for {!varR_NewAgreementContacts.Agreement__r.Apttus__FF_Agreement_Number__c}</text>
    </textTemplates>
    <variables>
        <name>CollectionOfEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varR_NewAgreementContacts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Agreement_Contacts__c</objectType>
    </variables>
    <variables>
        <name>varR_OldAgreementContacts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Agreement_Contacts__c</objectType>
    </variables>
</Flow>
