src/flows/CLM_AMA_Agreement.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Account_Redirect</name>
        <label>Account Redirect</label>
        <locationX>2558</locationX>
        <locationY>6344</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Refresh_Account</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>AMA_Data_Fields_Conversion</name>
        <label>AMA Data Fields</label>
        <locationX>1370</locationX>
        <locationY>5270</locationY>
        <actionName>Util_CLM_Flow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Address_and_Client_Contacts</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>pickVal</name>
            <value>
                <elementReference>AMA_Data_Fields</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Util_CLM_Flow</nameSegment>
        <outputParameters>
            <assignToReference>OutputAMA</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_Agreement_Details</name>
        <label>Navigate to Agreement Details</label>
        <locationX>1370</locationX>
        <locationY>5594</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>AgreementId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Permitted_Conversion</name>
        <label>Permitted Conversion</label>
        <locationX>1370</locationX>
        <locationY>5162</locationY>
        <actionName>Util_CLM_Flow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AMA_Data_Fields_Conversion</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>pickVal</name>
            <value>
                <elementReference>Permitted_Uses_Fields</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Util_CLM_Flow</nameSegment>
        <outputParameters>
            <assignToReference>OutputPermittedUser</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Refresh_Account</name>
        <label>Refresh Account</label>
        <locationX>2558</locationX>
        <locationY>6452</locationY>
        <actionName>c:LXC_CLM_RefreshFlow</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:LXC_CLM_RefreshFlow</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Error_Email</name>
        <label>Send Error Email</label>
        <locationX>2162</locationX>
        <locationY>5810</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Account_Redirect</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>textT_ErrorMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Setup.CLM_Configuration__c.CLM_Flow_Support_Email_Address__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>clmintegration@iqvia.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>CLM AMA Agreement Flow Error Occurred</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>A_SubC_M</name>
        <label>A_SubC_M</label>
        <locationX>974</locationX>
        <locationY>3674</locationY>
        <assignmentItems>
            <assignToReference>Final_Subcategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subcategory_M</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AMA_Data_File_Definition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>A_SubC_NO</name>
        <label>A_SubC_NO</label>
        <locationX>1502</locationX>
        <locationY>3674</locationY>
        <assignmentItems>
            <assignToReference>Final_Subcategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subcategory_NO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AMA_Data_File_Definition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>A_SubC_NS</name>
        <label>A_SubC_NS</label>
        <locationX>1238</locationX>
        <locationY>3674</locationY>
        <assignmentItems>
            <assignToReference>Final_Subcategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subcategory_N_S</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AMA_Data_File_Definition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AccountId</name>
        <label>Assign AccountId</label>
        <locationX>2558</locationX>
        <locationY>482</locationY>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_comma</name>
        <label>Remove comma</label>
        <locationX>2910</locationX>
        <locationY>2618</locationY>
        <assignmentItems>
            <assignToReference>Combined_Contact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Contact_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Address_Record</name>
        <label>Set Address Record</label>
        <locationX>2910</locationX>
        <locationY>1886</locationY>
        <assignmentItems>
            <assignToReference>Address_Record.Address_Line_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Combined_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Address_Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Address_Record_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Address_Record_Collection</name>
        <label>Set Address Record Collection</label>
        <locationX>2910</locationX>
        <locationY>1994</locationY>
        <assignmentItems>
            <assignToReference>Address_Record_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Address_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Combined_Address</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Address_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Combined_Address</name>
        <label>Set Combined Address</label>
        <locationX>2910</locationX>
        <locationY>1778</locationY>
        <assignmentItems>
            <assignToReference>Combined_Address</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Address_Loop.Address_Line_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Combined_Address</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Combined_Address</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Address_Loop.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Combined_Address</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Combined_Address</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Address_Loop.State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Combined_Address</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Combined_Address</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Address_Loop.PostalCode__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Address_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Combined_Contact</name>
        <label>Set Combined Contact</label>
        <locationX>2910</locationX>
        <locationY>2510</locationY>
        <assignmentItems>
            <assignToReference>Combined_Contact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Contact_Loop.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Combined_Contact</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Combined_Contact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Contact_Loop.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Combined_Contact</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Combined_Contact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Contact_Loop.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Combined_Contact</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Combined_Contact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Contact_Loop.Title</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_comma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contact_Record</name>
        <label>Set Contact Record</label>
        <locationX>2910</locationX>
        <locationY>2726</locationY>
        <assignmentItems>
            <assignToReference>Contact_Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Combined_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact_Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Contact_Record_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contact_Record_Collection</name>
        <label>Set Contact Record Collection</label>
        <locationX>2910</locationX>
        <locationY>2834</locationY>
        <assignmentItems>
            <assignToReference>Contact_Record_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Contact_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Combined_Contact</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contract_Salesforce</name>
        <label>Set Contract Salesforce</label>
        <locationX>842</locationX>
        <locationY>4646</locationY>
        <assignmentItems>
            <assignToReference>Output_ActualCost</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Min_Record_Cost</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Agreement_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Custom_Output_Values</name>
        <label>Set Custom Output Values</label>
        <locationX>1634</locationX>
        <locationY>4646</locationY>
        <assignmentItems>
            <assignToReference>Output_ActualCost</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordCost_Custom_Calculated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_ActualPerRecordCost</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Per_Record_Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_ActualRecordCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_the_number_of_records_requested</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Agreement_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_inactive_account_flag</name>
        <label>Set inactive account flag</label>
        <locationX>2312</locationX>
        <locationY>482</locationY>
        <assignmentItems>
            <assignToReference>varB_InactiveAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Choose_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Max_Output_Values</name>
        <label>Set Max Output Values</label>
        <locationX>1370</locationX>
        <locationY>4646</locationY>
        <assignmentItems>
            <assignToReference>Output_ActualCost</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Max_Record_Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_ActualPerRecordCost</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Per_Record_Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_ActualRecordCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Max_Record_Count</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Agreement_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Min_Output_Values</name>
        <label>Set Min Output Values</label>
        <locationX>1106</locationX>
        <locationY>4646</locationY>
        <assignmentItems>
            <assignToReference>Output_ActualCost</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Min_Record_Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_ActualPerRecordCost</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Per_Record_Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_ActualRecordCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Min_Record_Commitment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Agreement_Value</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Enter_Record_Count</name>
        <choiceText>Enter Record Count</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Enter Record Count</stringValue>
        </value>
    </choices>
    <choices>
        <name>Enterprise_N</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Enterprise_Y</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Frequency_Monthly</name>
        <choiceText>Monthly</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Frequency_Quarterly</name>
        <choiceText>&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 8pt;&quot;&gt;Quarterly&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Frequency_Weekly</name>
        <choiceText>Weekly</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Maximum</name>
        <choiceText>Maximum</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Maximum</stringValue>
        </value>
    </choices>
    <choices>
        <name>MedTech_N</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>MedTech_Y</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Minimum</name>
        <choiceText>Minimum</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Minimum</stringValue>
        </value>
    </choices>
    <choices>
        <name>Offshore_N</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Offshore_Y</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Onetime_N</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Onetime_Y</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Address_Sort</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Address Sort</label>
        <locationX>2822</locationX>
        <locationY>1562</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Address_Collection</collectionReference>
        <connector>
            <targetReference>Address_Loop</targetReference>
        </connector>
        <limit>250</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>LastModifiedDate</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>Contact_Sort</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Contact Sort</label>
        <locationX>2822</locationX>
        <locationY>2294</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Contact_Collection</collectionReference>
        <connector>
            <targetReference>Contact_Loop</targetReference>
        </connector>
        <limit>250</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>LastName</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <constants>
        <name>Contract_Salesforce_Subcategory</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CONTRACT SALES FORCE</stringValue>
        </value>
    </constants>
    <constants>
        <name>Preselected_AMA_Data_Fields</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Medical Education Number;Name;Former Name;Preferred Mailing Address;Undeliverable Address Flag;Primary Office Address;Address type;M.D., DO. Indicator;Birth Year;Government Data;Graduation Data (Medical school);Graduate Medical Training;Telephone Number and Location Code;Presumed Dead Flag;Type of Practice;Present Employment;Major Professional Activity;Specialty – Primary, Secondary;Physician Recognition Award Recipients;Gender Code;No Contact Indicator;No web flag;PDRP Flag;Geographic Codes;Census Data Codes</stringValue>
        </value>
    </constants>
    <constants>
        <name>Proration_Text</name>
        <dataType>String</dataType>
        <value>
            <stringValue>If you choose not to opt for auto-renew, full-year fees will apply regardless of the start date of the agreement.</stringValue>
        </value>
    </constants>
    <constants>
        <name>Subcategory_Commercial</name>
        <dataType>String</dataType>
        <value>
            <stringValue>COMMERCIAL MARKET RESEARCH</stringValue>
        </value>
    </constants>
    <constants>
        <name>Subcategory_Drug</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DRUG SAMPLE FULFILLMENT</stringValue>
        </value>
    </constants>
    <constants>
        <name>Subcategory_Finder</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DR. FINDER WEBSITE</stringValue>
        </value>
    </constants>
    <constants>
        <name>Subcategory_PBM</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PHARMACY, PBM, WHOLESALER, LAB</stringValue>
        </value>
    </constants>
    <constants>
        <name>Subcategory_Phy_Auth</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PHYSICIAN AUTHENTICATION (Website Operations)</stringValue>
        </value>
    </constants>
    <constants>
        <name>Subcategory_Phy_Auth_YesNo</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PHYSICIAN AUTHENTICATION – Y/N ONLY (Website Operations)</stringValue>
        </value>
    </constants>
    <constants>
        <name>Subcategory_PSA</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PHYSICIAN SPECIFIC ANALYTICS (PSA)</stringValue>
        </value>
    </constants>
    <decisions>
        <name>AMA_Screening</name>
        <label>AMA Screening</label>
        <locationX>2553</locationX>
        <locationY>1145</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_No_US_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exit_No_US_Account</targetReference>
            </connector>
            <label>If No US Account</label>
        </rules>
        <rules>
            <name>If_AMA_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_AMA_Agreements</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exit_Active_AMA_Screen</targetReference>
            </connector>
            <label>If AMA Exists</label>
        </rules>
        <rules>
            <name>If_Both_Screening_Passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_AMA_Agreements</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_AMA_Contract_Pre_Qualification_Questions</targetReference>
            </connector>
            <label>If Both Screening Passed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assign_Subcategory</name>
        <label>Assign Subcategory</label>
        <locationX>1370</locationX>
        <locationY>3566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SubC_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Subcategory_M</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>A_SubC_M</targetReference>
            </connector>
            <label>SubC_M</label>
        </rules>
        <rules>
            <name>SubC_NS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Subcategory_N_S</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>A_SubC_NS</targetReference>
            </connector>
            <label>SubC_NS</label>
        </rules>
        <rules>
            <name>SubC_NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Subcategory_NO</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>A_SubC_NO</targetReference>
            </connector>
            <label>SubC_NO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Account_is_Inactive</name>
        <label>Check if Account is Inactive</label>
        <locationX>2405</locationX>
        <locationY>631</locationY>
        <defaultConnector>
            <targetReference>Get_Active_AMA_Agreements</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Record.AccountStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_inactive_account_flag</targetReference>
            </connector>
            <label>Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_RecordId</name>
        <label>Check RecordId</label>
        <locationX>2558</locationX>
        <locationY>182</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_RecordId_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_Account</targetReference>
            </connector>
            <label>If RecordId Null</label>
        </rules>
        <rules>
            <name>If_RecordId_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_AccountId</targetReference>
            </connector>
            <label>If RecordId Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contains_Address_And_Contact</name>
        <label>Contains Address And Contact</label>
        <locationX>2822</locationX>
        <locationY>3026</locationY>
        <defaultConnector>
            <targetReference>Exit_AMA_Wizard</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Contains_Address_And_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Address_Collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact_Collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_Contact_And_Address</targetReference>
            </connector>
            <label>If Contains Address And Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>D_RateOptions</name>
        <label>D_RateOptions</label>
        <locationX>1370</locationX>
        <locationY>4538</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contract_Salesforce_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Final_Subcategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Contract_Salesforce_Subcategory</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contract_Salesforce</targetReference>
            </connector>
            <label>Contract Salesforce Selected</label>
        </rules>
        <rules>
            <name>SetMinValues</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Number_of_Records</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Minimum</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Min_Output_Values</targetReference>
            </connector>
            <label>SetMinValues</label>
        </rules>
        <rules>
            <name>SetMaxValues</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Number_of_Records</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Maximum</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Max_Output_Values</targetReference>
            </connector>
            <label>SetMaxValues</label>
        </rules>
        <rules>
            <name>SetRecordCountBased</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Number_of_Records</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Other</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Enter_the_number_of_records_requested</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Custom_Output_Values</targetReference>
            </connector>
            <label>SetRecordCountBased</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_AMA_Agreement_Record_Required</name>
        <label>Is AMA Agreement Record Required</label>
        <locationX>1700</locationX>
        <locationY>1346</locationY>
        <defaultConnector>
            <targetReference>Get_Address_From_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>S_Answer_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Offshore_Y</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Enterprise_Y</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Onetime_Y</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MedTech_Y</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exit_AMA_Agreement_Wizard</targetReference>
            </connector>
            <label>S_Answer Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SalesRepCostRequired</name>
        <label>SalesRepCostRequired</label>
        <locationX>1370</locationX>
        <locationY>4190</locationY>
        <defaultConnector>
            <targetReference>D_RateOptions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_SalesRepCost_Retrive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sales_Rep_Required</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Number_of_Sales_Reps</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSalesRepCost</targetReference>
            </connector>
            <label>Yes_SalesRepCost_Retrive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Error_Email_To_The_Support_Team</name>
        <label>Send Error Email To The Support Team?</label>
        <locationX>2294</locationX>
        <locationY>5702</locationY>
        <defaultConnector>
            <targetReference>Account_Redirect</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Send</defaultConnectorLabel>
        <rules>
            <name>Send_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.CLM_Configuration__c.CLM_Flow_Support_Email_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Error_Email</targetReference>
            </connector>
            <label>Send Email</label>
        </rules>
    </decisions>
    <description>CLM-MC-CLMCMA-10594: This flow is used for AMA creation.</description>
    <dynamicChoiceSets>
        <name>Address_List</name>
        <collectionReference>Address_Record_Collection</collectionReference>
        <dataType>String</dataType>
        <displayField>Address_Line_1__c</displayField>
        <object>Address__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AMA_File_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>File_Type__c</picklistField>
        <picklistObject>AMA_Data_File_Field__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Category</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Category__c</picklistField>
        <picklistObject>AMA_Data_File_Definition__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Contact_List</name>
        <collectionReference>Contact_Record_Collection</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Delivery_Frequency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Data_Delivery_Frequency__c</picklistField>
        <picklistObject>Apttus__APTS_Agreement__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Permitted_User_List</name>
        <dataType>String</dataType>
        <displayField>Permitted_Uses_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AMA_Data_File_Definition__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AMA_Data_File_Definiton_RecordId</elementReference>
            </value>
        </filters>
        <object>AMA_Permit_User__mdt</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PermittedUser</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Permitted_Uses_Fields__c</picklistField>
        <picklistObject>Apttus__APTS_Agreement__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Subcategory_Picklist_M</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Subcategory_Manufacturer__c</picklistField>
        <picklistObject>AMA_Data_File_Definition__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Subcategory_Picklist_NO</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Subcategory_Non_Other__c</picklistField>
        <picklistObject>AMA_Data_File_Definition__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Subcategory_Picklist_NS</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Subcategory_Non_Self__c</picklistField>
        <picklistObject>AMA_Data_File_Definition__mdt</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Agreement_End_Date</name>
        <dataType>Date</dataType>
        <expression>IF({!Agreement_Start_Date} &gt;= DATE(YEAR(TODAY()), 07, 01), DATE(YEAR(TODAY()) + 1, 12, 31), IF({!Agreement_Start_Date} &lt; DATE(YEAR(TODAY()), 07, 01), DATE(YEAR(TODAY()), 12, 31), NULL))</expression>
    </formulas>
    <formulas>
        <name>AMA_Address_RecordTypeId</name>
        <dataType>String</dataType>
        <expression>{!$Setup.CLM_Configuration__c.AMA_Address_RecordTypeId__c}</expression>
    </formulas>
    <formulas>
        <name>Concatenated_Address</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
         IF( ISBLANK({!Address_Street}),NULL, {!Address_Street} + &apos;, &apos;)+
         IF( ISBLANK({!Address_City}),NULL, {!Address_City} + &apos;, &apos;)+
         IF( ISBLANK({!Address_State}),NULL, {!Address_State} + &apos;, &apos;)+
         IF( ISBLANK({!Address_Postal}),NULL, {!Address_Postal} + &apos;, &apos;)+
         IF( ISBLANK({!Address_Country}),NULL, {!Address_Country} + &apos;, &apos;)+&apos;.&apos;, &apos;, .&apos;, NULL)</expression>
    </formulas>
    <formulas>
        <name>ContactFormula</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Combined_Contact}, &apos;, ,&apos;, &apos;, &apos;)</expression>
    </formulas>
    <formulas>
        <name>ContractCommaRemoves</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
        IF( ISBLANK({!Contact_First_Name}),NULL, {!Contact_First_Name} + &apos;  &apos;)+
        IF( ISBLANK({!Contact_Last_Name}),NULL, {!Contact_Last_Name} + &apos;, &apos;)+
        IF( ISBLANK({!Contact_Email}),NULL, {!Contact_Email} + &apos;, &apos;)+
        IF( ISBLANK({!Contact_Number}),NULL, {!Contact_Number} + &apos;, &apos;)+&apos;.&apos;, &apos;, .&apos;, NULL)</expression>
    </formulas>
    <formulas>
        <name>Current_Year</name>
        <dataType>Number</dataType>
        <expression>YEAR(TODAY())</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>File_URL</name>
        <dataType>String</dataType>
        <expression>{!$Setup.CLM_Configuration__c.AMA_File_Link__c}</expression>
    </formulas>
    <formulas>
        <name>Final_Output_ActualCost</name>
        <dataType>Currency</dataType>
        <expression>{!Output_ActualCost} * ({!Proration_Type}/100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Final_Output_RepCost</name>
        <dataType>Currency</dataType>
        <expression>{!Output_RepCost} * ({!Proration_Type}/100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Output_Total_Agreement_Value</name>
        <dataType>Currency</dataType>
        <expression>(({!Output_ActualCost} + {!Output_RepCost}) * {!Proration_Type}) / 100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Proration_Type</name>
        <dataType>Number</dataType>
        <expression>IF(NOT({!Is_Auto_Renew}), 100, 
IF(({!Agreement_Start_Date} &gt;= DATE(YEAR({!Agreement_Start_Date}), 1, 1) &amp;&amp; {!Agreement_Start_Date} &lt; DATE(YEAR({!Agreement_Start_Date}), 7, 1)), 100, 
IF(({!Agreement_Start_Date} &gt;= DATE(YEAR({!Agreement_Start_Date}), 7, 1) &amp;&amp; {!Agreement_Start_Date} &lt; DATE(YEAR({!Agreement_Start_Date}), 10, 1)), 50, 
IF(({!Agreement_Start_Date} &gt;= DATE(YEAR({!Agreement_Start_Date}), 10, 1) &amp;&amp; {!Agreement_Start_Date} &lt; DATE(YEAR({!Agreement_Start_Date}), 12, 15)), 25, 0
))))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>RecordCost_Custom_Calculated</name>
        <dataType>Currency</dataType>
        <expression>{!Per_Record_Cost} * {!Enter_the_number_of_records_requested}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Records_Quantity</name>
        <dataType>String</dataType>
        <expression>IF({!Final_Subcategory} == {!Contract_Salesforce_Subcategory}, &quot;&quot;,IF({!Final_Slider_Value} == {!Min_Record_Commitment}, &quot;Minimum&quot;, IF({!Final_Slider_Value} == {!Max_Record_Count}, &quot;Maximum&quot;,&quot;&quot;)))</expression>
    </formulas>
    <formulas>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <expression>{!$Setup.CLM_Configuration__c.AMA_RecordTypeId__c}</expression>
    </formulas>
    <formulas>
        <name>Sales_Rep_Tier_Auto</name>
        <dataType>String</dataType>
        <expression>IF({!Number_of_Sales_Reps} &lt;= 10, &quot;0-10&quot;, IF({!Number_of_Sales_Reps} &lt;= 50, &quot;11-50&quot;, IF({!Number_of_Sales_Reps} &lt;= 100, &quot;51-100&quot;, IF({!Number_of_Sales_Reps} &lt;= 250, &quot;101-250&quot;, IF({!Number_of_Sales_Reps} &lt;= 500, &quot;251-500&quot;, IF({!Number_of_Sales_Reps} &lt;= 650, &quot;501-650&quot;, IF({!Number_of_Sales_Reps} &lt;= 950, &quot;651-950&quot;, IF({!Number_of_Sales_Reps} &lt;= 1400, &quot;951-1400&quot;, IF({!Number_of_Sales_Reps} &lt;= 1750, &quot;1401-1750&quot;, IF({!Number_of_Sales_Reps} &lt;= 2900, &quot;1751-2900&quot;, IF({!Number_of_Sales_Reps} &lt;= 3999, &quot;2901-3999&quot;, &quot;4000 and greater&quot;)))))))))))</expression>
    </formulas>
    <formulas>
        <name>Total_Agreement_Value_Before</name>
        <dataType>Currency</dataType>
        <expression>IF({!Final_Subcategory} == {!Contract_Salesforce_Subcategory}, 37000, {!Output_ActualCost} + {!Output_RepCost})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>CLM Create AMA ScreenFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM Create AMA ScreenFlow</label>
    <loops>
        <name>Address_Loop</name>
        <label>Address Loop</label>
        <locationX>2822</locationX>
        <locationY>1670</locationY>
        <collectionReference>Address_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Combined_Address</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Contact_From_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Contact_Loop</name>
        <label>Contact Loop</label>
        <locationX>2822</locationX>
        <locationY>2402</locationY>
        <collectionReference>Contact_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Combined_Contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Contains_Address_And_Contact</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_AMA_Agreement</name>
        <label>Create AMA Agreement</label>
        <locationX>1370</locationX>
        <locationY>5486</locationY>
        <assignRecordIdToReference>AgreementId</assignRecordIdToReference>
        <connector>
            <targetReference>Navigate_to_Agreement_Details</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AMA_Data_Fields__c</field>
            <value>
                <elementReference>OutputAMA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AMA_Records_Quantity__c</field>
            <value>
                <elementReference>Records_Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__Account__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__Auto_Renewal__c</field>
            <value>
                <elementReference>Is_Auto_Renew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__Contract_End_Date__c</field>
            <value>
                <elementReference>Agreement_End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__Contract_Start_Date__c</field>
            <value>
                <elementReference>Agreement_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__Description__c</field>
            <value>
                <elementReference>Sub_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__Primary_Contact__c</field>
            <value>
                <elementReference>Choose_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__Request_Date__c</field>
            <value>
                <elementReference>Agreement_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__Status_Category__c</field>
            <value>
                <stringValue>Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__Status__c</field>
            <value>
                <stringValue>Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__Subtype__c</field>
            <value>
                <elementReference>Final_Subcategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__Total_Contract_Value__c</field>
            <value>
                <elementReference>Output_Total_Agreement_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Address__c</field>
            <value>
                <elementReference>Concatenated_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Delivery_Frequency__c</field>
            <value>
                <elementReference>SC_AgreementValue_Data_File_Frequency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Min_Max__c</field>
            <value>
                <elementReference>Number_of_Records</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!Account_Record.Name}_{!Final_Subcategory} </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_Of_Records__c</field>
            <value>
                <elementReference>Output_ActualRecordCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Permitted_Uses__c</field>
            <value>
                <elementReference>OutputPermittedUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Based_Cost__c</field>
            <value>
                <elementReference>Final_Output_ActualCost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Rep_Cost__c</field>
            <value>
                <elementReference>Final_Output_RepCost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Rep_Count__c</field>
            <value>
                <elementReference>Number_of_Sales_Reps</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_Of_Business__c</field>
            <value>
                <elementReference>Business_Category</elementReference>
            </value>
        </inputAssignments>
        <object>Apttus__APTS_Agreement__c</object>
    </recordCreates>
    <recordLookups>
        <name>AMA_Data_File_Definition</name>
        <label>AMA Data File Definition</label>
        <locationX>1370</locationX>
        <locationY>3866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AMA_Record_Rate</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Business_Category</elementReference>
            </value>
        </filters>
        <filters>
            <field>Rate_Effective_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Current_Year</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sub_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Final_Subcategory</elementReference>
            </value>
        </filters>
        <object>AMA_Data_File_Definition__mdt</object>
        <outputAssignments>
            <assignToReference>AMA_Data_File_Definiton_RecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SalesRep_Description</assignToReference>
            <field>Sales_Rep_Description__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Sales_Rep_Required</assignToReference>
            <field>Sales_Rep_Required__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Sub_Description</assignToReference>
            <field>Sub_Category_Description__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>AMA Record Rate for selected customer type</description>
        <name>AMA_Record_Rate</name>
        <label>AMA Record Rate</label>
        <locationX>1370</locationX>
        <locationY>3974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Start_AMA_Agreement</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AMA_Data_File_Definition__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AMA_Data_File_Definiton_RecordId</elementReference>
            </value>
        </filters>
        <object>AMA_Record_Rate__mdt</object>
        <outputAssignments>
            <assignToReference>Max_Record_Cost</assignToReference>
            <field>Max_Record_Cost__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Max_Record_Count</assignToReference>
            <field>Max_Record_Count__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Min_Record_Commitment</assignToReference>
            <field>Min_Record_Commitment__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Min_Record_Cost</assignToReference>
            <field>Min_Record_Cost__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Per_Record_Cost</assignToReference>
            <field>Per_Record_Cost__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Details</name>
        <label>Get Account Details</label>
        <locationX>2561</locationX>
        <locationY>593</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Account_is_Inactive</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountCountry__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>US</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Account_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Type2__c</queriedFields>
        <queriedFields>Industry</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <queriedFields>RD_Spend__c</queriedFields>
        <queriedFields>RevenueCategory__c</queriedFields>
        <queriedFields>AccountStatus__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_For_No_US</name>
        <label>Get Account For No USA</label>
        <locationX>2557</locationX>
        <locationY>915</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Information_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Active_AMA_Agreements</name>
        <label>Get Active AMA Agreements</label>
        <locationX>2564</locationX>
        <locationY>703</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parent_Account_Details</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Apttus__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Apttus__Status_Category__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Status_Category__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Status_Category__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Apttus__APTS_Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Address_Details</name>
        <label>Get Address Details</label>
        <locationX>1370</locationX>
        <locationY>3242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Details</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Choose_Address</elementReference>
            </value>
        </filters>
        <object>Address__c</object>
        <outputAssignments>
            <assignToReference>Address_City</assignToReference>
            <field>City__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Address_Country</assignToReference>
            <field>Country__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Address_Postal</assignToReference>
            <field>PostalCode__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Address_State</assignToReference>
            <field>State__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Address_Street</assignToReference>
            <field>Street__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Address_From_Account</name>
        <label>Get Address From Account</label>
        <locationX>2822</locationX>
        <locationY>1454</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Address_Sort</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AMA_Address_RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Address_Line_1__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>City__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>State__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PostalCode__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Marked_For_Deletion__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Address__c</object>
        <outputReference>Address_Collection</outputReference>
        <queriedFields>Address_Line_1__c</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <queriedFields>State__c</queriedFields>
        <queriedFields>City__c</queriedFields>
        <queriedFields>PostalCode__c</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Details</name>
        <label>Get Contact Details</label>
        <locationX>1370</locationX>
        <locationY>3350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>S_Business_Contract_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Choose_Contact</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>Contact_Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Contact_First_Name</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Contact_Last_Name</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Contact_Number</assignToReference>
            <field>Phone</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_From_Account</name>
        <label>Get Contact From Account</label>
        <locationX>2822</locationX>
        <locationY>2186</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Sort</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Inactive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contact_Collection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Title</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>LastName</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Account_Details</name>
        <label>Get Parent Account Details</label>
        <locationX>2558</locationX>
        <locationY>806</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_For_No_US</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Record.ParentId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>Parent_Account_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetSalesRepCost</name>
        <label>GetSalesRepCost</label>
        <locationX>1106</locationX>
        <locationY>4298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>D_RateOptions</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Rep_Tier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Sales_Rep_Tier_Auto</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Effective_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Current_Year</elementReference>
            </value>
        </filters>
        <object>AMA_Sales_Rep_Rate__mdt</object>
        <outputAssignments>
            <assignToReference>Output_RepCost</assignToReference>
            <field>Sales_Rep_Cost__c</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Address_and_Client_Contacts</name>
        <label>Summary</label>
        <locationX>1370</locationX>
        <locationY>5378</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_AMA_Agreement</targetReference>
        </connector>
        <fields>
            <name>Header_13</name>
            <fieldText>&lt;p&gt;{!Start_TextTemplate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AMA_Summary</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;&lt;u&gt;Agreement Details Summary&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Summary_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;{!Creation_Text}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AGR_Category</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Contract Type &lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Final_Subcategory}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Address_and_Client_Contacts_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Address_and_Client_Contacts_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AGR_Rate_Option_Minimum</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Num. of Records&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Minimum({!Output_ActualRecordCount} records)&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Final_Subcategory</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>Contract_Salesforce_Subcategory</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Number_of_Records</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Minimum</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>AGR_Rate_Option_Maximum</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Num. of Records&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(68, 68, 68);&quot;&gt;Maximum({!Output_ActualRecordCount}+ records)&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Number_of_Records</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Maximum</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Final_Subcategory</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>Contract_Salesforce_Subcategory</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>AGR_Rate_Option_Mid</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Num. of Records&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(68, 68, 68);&quot;&gt;{!Output_ActualRecordCount} &lt;/span&gt;records&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Final_Subcategory</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>Contract_Salesforce_Subcategory</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Number_of_Records</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Other</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Address_and_Client_Contacts_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AGR_Number_Sales_Rep</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Num. of Sales Reps&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Number_of_Sales_Reps}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Sales_Rep_Required</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Address_and_Client_Contacts_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AGR_Frequency</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Frequency of data delivery&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!SC_AgreementValue_Data_File_Frequency}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Address_and_Client_Contacts_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Address_and_Client_Contacts_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AGR_Total_Record_Cost</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Records Cost&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!Final_Output_ActualCost}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Address_and_Client_Contacts_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AGR_Sales_Rep_Cost</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Sales Rep Cost&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!Final_Output_RepCost}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Sales_Rep_Required</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Address_and_Client_Contacts_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AGR_Total_Value</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Total Agreement Value&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Output_Total_Agreement_Value}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Address_and_Client_Contacts_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Address_and_Client_Contacts_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AGR_Start_Date</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Agreement Start Date&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Agreement_Start_Date}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Address_and_Client_Contacts_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AGR_End_Date</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Agreement End Date&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Agreement_End_Date}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Address_and_Client_Contacts_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AGR_Renew_Yes</name>
                    <fieldText>&lt;p&gt;{!SC_Auto_Renew_Yes}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_Auto_Renew</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>AGR_Renew_No</name>
                    <fieldText>&lt;p&gt;{!SC_Auto_Renew_No}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_Auto_Renew</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Address_and_Client_Contacts_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Address_and_Client_Contacts_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Billing_Address_Title</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Contract Address&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Concatenated_Address}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Address_and_Client_Contacts_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Primary_Contact_Title</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Contract Contact&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!ContractCommaRemoves}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Address_and_Client_Contacts_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Address_and_Client_Contacts_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AGR_AMA_Data_Fields</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;AMA Data Fields&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!OutputAMA}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Address_and_Client_Contacts_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AGR_Permitted_Uses</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Permitted Uses&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!OutputPermittedUser}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Create AMA Agreement</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Agreement_Value</name>
        <label>Agreement Value</label>
        <locationX>1370</locationX>
        <locationY>4838</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AMA_Data_Fields_and_Permitted_Uses</targetReference>
        </connector>
        <fields>
            <name>Header_10</name>
            <fieldText>&lt;p&gt;{!Start_TextTemplate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Step_Count_9</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: black; font-size: 14px;&quot;&gt;Step 3: AMA Request Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SC_AgreementValue_header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;{!Final_Subcategory}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>&lt;p&gt;{!Sub_Description}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Agreement_Value_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Agreement_Value_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SC_Per_Record_Cost_1</name>
                    <fieldText>&lt;p&gt;{!SC_Per_Record_Cost}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Final_Subcategory</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>Contract_Salesforce_Subcategory</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Agreement_Value_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SC_Minimum_Cost_1</name>
                    <fieldText>&lt;p&gt;{!SC_Minimum_Cost}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Final_Subcategory</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>Contract_Salesforce_Subcategory</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Agreement_Value_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SC_Maximum_Cost_1</name>
                    <fieldText>&lt;p&gt;{!SC_Maximum_Cost}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Final_Subcategory</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>Contract_Salesforce_Subcategory</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Agreement_Value_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Agreement_Value_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SCF_Start_Date</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Start Date: &lt;/b&gt;{!Agreement_Start_Date}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>SC_AgreementValue_RecordCount_Min</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Number of ﻿Records:  &lt;/b&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Minimum({!Output_ActualRecordCount} records)&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Number_of_Records</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Minimum</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Final_Subcategory</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>Contract_Salesforce_Subcategory</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>SC_AgreementValue_RecordCount_Max</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Number of ﻿Records:  &lt;/b&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Maximum({!Output_ActualRecordCount}+ records)&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Number_of_Records</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Maximum</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Final_Subcategory</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>Contract_Salesforce_Subcategory</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>SC_AgreementValue_RecordCount_Mid</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Number of ﻿Records:  &lt;/b&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!Output_ActualRecordCount} records&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Number_of_Records</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Other</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Final_Subcategory</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>Contract_Salesforce_Subcategory</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>SCF_Frequency</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Frequency of Delivery: &lt;/b&gt;{!Delivery_Frequency}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Agreement_Value_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Final_Subcategory</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>CONTRACT SALES FORCE</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SC_AgreementValue_SalesRepCount</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Number of Sales Reps:  &lt;/b&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!Number_of_Sales_Reps}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Sales_Rep_Required</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SC_Auto_Renew_Yes</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Auto Renew: &lt;/b&gt;Yes&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_Auto_Renew</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SC_Auto_Renew_No</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Auto Renew:&lt;/b&gt; No&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_Auto_Renew</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SC_Cost_Summary</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: black; font-size: 12px;&quot;&gt;Agreement Cost Summary&lt;/b&gt;&lt;span style=&quot;color: black; font-size: 12px;&quot;&gt;:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SC_Cost_Summary_Full</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Full-Year Royalties&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Proration_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>100.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SC_Cost_Summary_Half</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Half-Year Royalties&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Proration_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>50.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SC_Cost_Summary_Quarter</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Quarter-Year Royalties&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Proration_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>25.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SC_AgreeementValue_totalrecordcost</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Records Cost: {!Final_Output_ActualCost}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SC_Agreement_Value_SalesRepCost</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Sales Rep Cost: {!Final_Output_RepCost}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Sales_Rep_Required</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SC_AgreementValue_AgreementValue</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Total Cost: {!Output_Total_Agreement_Value}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AMA_Data_Fields_and_Permitted_Uses</name>
        <label>AMA Data Fields</label>
        <locationX>1370</locationX>
        <locationY>4946</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Permitted_Uses</targetReference>
        </connector>
        <fields>
            <name>Header_11</name>
            <fieldText>&lt;p&gt;{!Start_TextTemplate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Step_Count_10</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: black; font-size: 14px;&quot;&gt;Step 4: AMA Data Fields&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AMA_Data_Fields</name>
            <choiceReferences>AMA_File_Type</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Preselected_AMA_Data_Fields</elementReference>
            </defaultValue>
            <fieldText>Select all the fields desired from the AMA Data File</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Choose_Account</name>
        <label>Choose Account</label>
        <locationX>2338</locationX>
        <locationY>290</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_AccountId</targetReference>
        </connector>
        <fields>
            <name>Header_14</name>
            <fieldText>&lt;p&gt;{!Start_TextTemplate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SC_AccountId</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Apttus__APTS_Agreement__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Apttus__Account__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Choose An Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>recordId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(255, 0, 0);&quot;&gt;This account is inactive. Please select an active account.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varB_InactiveAccount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Choose_Contact_And_Address</name>
        <label>Choose Contact And Address</label>
        <locationX>1370</locationX>
        <locationY>3134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Address_Details</targetReference>
        </connector>
        <fields>
            <name>Header_7</name>
            <fieldText>&lt;p&gt;{!Start_TextTemplate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Step_Count_6</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: black; font-size: 14px;&quot;&gt;Step 1: Contact Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SC1_Header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;&lt;u&gt;Customer Details&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Choose_Contact_And_Address_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Choose_Contact_And_Address_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SC_Account_Name</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Name:&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt; {!Account_Record.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>SC_Account_Industry</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Industry:&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt; {!Account_Record.Industry}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>SC_Account_Research</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Research Spend:&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt; {!Account_Record.RD_Spend__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Choose_Contact_And_Address_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SC_Account_Type</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Type:&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt; {!Account_Record.Type2__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>SC_Parent_Account</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Parent Account: &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Parent_Account_Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>SC_Account_Revenue</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Revenue Category:&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt; {!Account_Record.RevenueCategory__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Choose_Contact_And_Address_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Choose_Contact_And_Address_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Choose_Address</name>
                    <choiceReferences>Address_List</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select the Contract Address</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Choose_Contact_And_Address_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Choose_Contact_And_Address_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Choose_Contact</name>
                    <choiceReferences>Contact_List</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select the Primary Contact</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Custom_Error_Screen</name>
        <label>Custom Error Screen</label>
        <locationX>2294</locationX>
        <locationY>5594</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_Error_Email_To_The_Support_Team</targetReference>
        </connector>
        <fields>
            <name>Error_Text</name>
            <fieldText>&lt;p&gt;{!textT_ErrorMessageDisplay}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Exit_Active_AMA_Screen</name>
        <label>Exit Active AMA Screen</label>
        <locationX>314</locationX>
        <locationY>1238</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Account_Redirect</targetReference>
        </connector>
        <fields>
            <name>Header_3</name>
            <fieldText>&lt;p&gt;{!Start_TextTemplate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Step_Count_2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: black; font-size: 14px;&quot;&gt;Step 0: Screening&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SC_Exit_Active_AMA</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;The customer {!Account_Record.Name} already has an active AMA Agreement.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Exit_AMA_Agreement_Wizard</name>
        <label>Exit AMA Agreement Wizard</label>
        <locationX>578</locationX>
        <locationY>1454</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Account_Redirect</targetReference>
        </connector>
        <fields>
            <name>Header_5</name>
            <fieldText>&lt;p&gt;{!Start_TextTemplate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Step_Count_3</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: black; font-size: 14px;&quot;&gt;Step 0: Screening&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S_exit_message</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; background-color: transparent; color: rgb(11, 11, 11);&quot;&gt;The AMA Agreement options you have selected on the previous pa﻿ge require special processing. Please contact Debbie Murino (&lt;/b&gt;&lt;a href=&quot;mailto:dmurino@us.imshealth.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px; background-color: transparent; color: rgb(11, 11, 11);&quot;&gt;&lt;b&gt;&lt;u&gt;dmurino@us.imshealth.com&lt;/u&gt;&lt;/b&gt;&lt;/a&gt;&lt;b style=&quot;font-size: 16px; background-color: transparent; color: rgb(11, 11, 11);&quot;&gt;) for further information.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Exit_AMA_Wizard</name>
        <label>Exit AMA Wizard Via Account</label>
        <locationX>4274</locationX>
        <locationY>3134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Account_Redirect</targetReference>
        </connector>
        <fields>
            <name>Header_6</name>
            <fieldText>&lt;p&gt;{!Start_TextTemplate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Step_Count_5</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: black; font-size: 14px;&quot;&gt;Step 1: Contact Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Exit_Message</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Creating an AMA Agreement requires at least one ‘Address’ and one ‘Contact’ selectable from the Account. Please add the missing Address and/or Contact to {!Account_Record.Name} before proceeding.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Exit_No_US_Account</name>
        <label>Exit No US Account Screen</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Account_Redirect</targetReference>
        </connector>
        <fields>
            <name>Header_2</name>
            <fieldText>&lt;p&gt;{!Start_TextTemplate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Step_Count_1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: black; font-size: 14px;&quot;&gt;Step 0: Screening&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SC_No_US_Account</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;AMA Agreements are only available to US customers. {!Get_Account_For_No_US.Name} is not a US account. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Information_Screen</name>
        <label>Information Screen</label>
        <locationX>2558</locationX>
        <locationY>1022</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AMA_Screening</targetReference>
        </connector>
        <fields>
            <name>Header_1</name>
            <fieldText>&lt;p&gt;{!Start_TextTemplate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Starting_Text</name>
            <fieldText>&lt;p&gt;{!Starting_Page}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>New AMA Contract – Pre-Qualification Questions</description>
        <name>New_AMA_Contract_Pre_Qualification_Questions</name>
        <label>New AMA Contract – Pre-Qualification Questions</label>
        <locationX>1700</locationX>
        <locationY>1238</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_AMA_Agreement_Record_Required</targetReference>
        </connector>
        <fields>
            <name>Header_4</name>
            <fieldText>&lt;p&gt;{!Start_TextTemplate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Step_Count_4</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: black; font-size: 14px;&quot;&gt;Step 0: Screening&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Qualification_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: black; font-size: 12px;&quot;&gt;If the answer to any of the following questions is ‘Yes’, then this workflow cannot be used for the agreement request. You will need to contact Debbie Murino for your request.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Is_this_a_MedTech15_request_1</name>
            <choiceReferences>MedTech_Y</choiceReferences>
            <choiceReferences>MedTech_N</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Is this a MedTech15 request?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Does_the_customer_need_offshore_storage_access_to_the_AMA_data_1</name>
            <choiceReferences>Offshore_Y</choiceReferences>
            <choiceReferences>Offshore_N</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Does the customer need offshore storage/access to the AMA data?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NotifyTeamMessage</name>
            <fieldText>&lt;p&gt;Offshore storage/access requires special contract from AMA. Please email &lt;b&gt;&lt;u&gt;Debbie Murino&lt;/u&gt;&lt;/b&gt;. &lt;span style=&quot;font-size: 13px;&quot;&gt;dmurino@us.imshealth.com&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Offshore_Y</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Is_this_an_Enterprise_Agreement</name>
            <choiceReferences>Enterprise_Y</choiceReferences>
            <choiceReferences>Enterprise_N</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Is this an Enterprise Agreement?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Enterprise_display</name>
            <fieldText>&lt;p&gt;Please identify customer tier and email &lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;u&gt;Debbie Murino&lt;/u&gt;&lt;/b&gt; dmurino@us.imshealth.com for the Enterprise AMA Contract&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Tier&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;# of subsidiaries&amp;nbsp;&amp;nbsp;Royalty&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;1&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;2-5&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;                $530,000&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;2&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;6-8&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;                $763,200&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;3&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;9-10&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;                $901,000&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;4&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;11-13&amp;nbsp;&amp;nbsp;&amp;nbsp;                $1,102,400&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;5&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;14-15&amp;nbsp;&amp;nbsp;&amp;nbsp;                $1,192,500&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;6&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;16-18&amp;nbsp;&amp;nbsp;                &amp;nbsp;$1,272,000&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;7&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;19-20&amp;nbsp;&amp;nbsp;&amp;nbsp;                $1,297,450&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;8&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;21-25&amp;nbsp;&amp;nbsp;&amp;nbsp;                $1,431,000&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;9&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;26-30&amp;nbsp;&amp;nbsp;&amp;nbsp;                $1,526,400&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Enterprise_Y</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Is_this_a_one_time_analytics_or_one_time_data_purchase</name>
            <choiceReferences>Onetime_Y</choiceReferences>
            <choiceReferences>Onetime_N</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Is this a one-time analytics or one-time data purchase?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Onetime_display</name>
            <fieldText>&lt;p&gt;Please email &lt;b&gt;&lt;u&gt;Debbie Murino &lt;/u&gt;&lt;/b&gt;dmurino@us.imshealth.com for a separate one-time AMA Contract&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Onetime_Y</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Permitted_Uses</name>
        <label>Permitted Uses</label>
        <locationX>1370</locationX>
        <locationY>5054</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Permitted_Conversion</targetReference>
        </connector>
        <fields>
            <name>Header_12</name>
            <fieldText>&lt;p&gt;{!Start_TextTemplate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Step_Count_11</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: black; font-size: 14px;&quot;&gt;Step 5: Permitted Uses&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SC_FieldsandPermitedUsers_PermittedTitle_NS</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: transparent; color: rgb(0, 0, 0);&quot;&gt;May be used for internal business operations, physician outreach, compliance with regulations and other uses approved in writing by the AMA.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Examples of approved uses include: &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Select all that apply&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Final_Subcategory</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Contract_Salesforce_Subcategory</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Final_Subcategory</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Subcategory_Drug</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Final_Subcategory</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Subcategory_PSA</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Final_Subcategory</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Subcategory_PBM</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SC_FieldsandPermitedUsers_PermittedTitle_S</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;May be used internally to provide supplemental sales force for User Customers.  Data may also be shared with the User Customer to report activity.  Other services provided on behalf of User Customer may require a Third Party Support Agreement.  &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Specific approved uses include: &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Select all that apply&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Final_Subcategory</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Contract_Salesforce_Subcategory</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SC_FieldsandPermitedUsers_PermittedTitle_N</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;May be used internally to provide supplemental sales force for User Customers.  Data may also be shared with the User Customer to report activity.  Other services provided on behalf of User Customer may require a Third-Party Support Agreement.  &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Specific approved uses include: &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Select all that apply&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Final_Subcategory</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Subcategory_Drug</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Final_Subcategory</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Subcategory_PSA</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SC_FieldsandPermitedUsers_PermittedTitle_PBM</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: transparent; font-size: 12px;&quot;&gt;May be used to facilitate internal operations, physician outreach, and compliance with regulations, and other uses approved in writing by the AMA.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Examples of approved uses include: &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Select all that apply&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Final_Subcategory</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Subcategory_PBM</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Permitted_Uses_Fields</name>
            <choiceReferences>Permitted_User_List</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>true</stringValue>
            </defaultValue>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S_Business_Contract_Type</name>
        <label>Business/ Contract Type</label>
        <locationX>1370</locationX>
        <locationY>3458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Subcategory</targetReference>
        </connector>
        <fields>
            <name>Header_8</name>
            <fieldText>&lt;p&gt;{!Start_TextTemplate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Step_Count_7</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: black; font-size: 14px;&quot;&gt;Step 2: Contract Type&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_Account_Details</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;&lt;u&gt;Customer Details&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S_Business_Contract_Type_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S_Business_Contract_Type_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Account_Name</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Name:&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; {!Account_Record.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Account_Industry</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Industry:&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; {!Account_Record.Industry}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Account_Research</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Research Spend:&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; {!Account_Record.RD_Spend__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S_Business_Contract_Type_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Account_Type</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Type:&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; {!Account_Record.Type2__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Account_Parent</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Parent Account: &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!Parent_Account_Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Account_Revenue</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Revenue Category:&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; {!Account_Record.RevenueCategory__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Business_Category</name>
            <choiceReferences>Category</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the customer/usage type:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Show_File_Link</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 11pt; font-family: Calibri; color: rgb(0, 0, 0);&quot;&gt;(Click &lt;/b&gt;&lt;b style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Link_To_File} &lt;/b&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 11pt; font-family: Calibri;&quot;&gt;for an explanation of the different contract types available)&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Business_Category</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Subcategory_M</name>
            <choiceReferences>Subcategory_Picklist_M</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the ‘Contract Type&apos;:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Business_Category</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>MANUFACTURER (PHARMACEUTICAL &amp; MEDICAL)</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Subcategory_N_S</name>
            <choiceReferences>Subcategory_Picklist_NS</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the ‘Contract Type&apos;:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Business_Category</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>NON-MANUFACTURER (PHARMACEUTICAL &amp; MEDICAL): SELF-USE ONLY</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Subcategory_NO</name>
            <choiceReferences>Subcategory_Picklist_NO</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the ‘Contract Type&apos;:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Business_Category</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>NON-MANUFACTURER (PHARMACEUTICAL &amp; MEDICAL): SELF-USE AND ON OTHERS’ BEHALF</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Start_AMA_Agreement</name>
        <label>Start AMA Agreement</label>
        <locationX>1370</locationX>
        <locationY>4082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SalesRepCostRequired</targetReference>
        </connector>
        <fields>
            <name>Header_9</name>
            <fieldText>&lt;p&gt;{!Start_TextTemplate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Step_Count_8</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: black; font-size: 14px;&quot;&gt;Step 3: AMA Request Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SCategory</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;{!Final_Subcategory}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Descrp</name>
            <fieldText>&lt;p&gt;{!Sub_Description}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Start_AMA_Agreement_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Start_AMA_Agreement_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SC_Per_Record_Cost</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Per Record Cost: &lt;/b&gt;{!Per_Record_Cost}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Final_Subcategory</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>Contract_Salesforce_Subcategory</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Start_AMA_Agreement_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SC_Minimum_Cost</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Minimum Cost: &lt;/b&gt;{!Min_Record_Cost}({!Min_Record_Commitment} records)&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Final_Subcategory</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>Contract_Salesforce_Subcategory</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Start_AMA_Agreement_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SC_Maximum_Cost</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Maximum Cost: &lt;/b&gt;{!Max_Record_Cost}({!Max_Record_Count}+ records)&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Final_Subcategory</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>Contract_Salesforce_Subcategory</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Agreement_Start_Date</name>
            <dataType>Date</dataType>
            <fieldText>Agreement Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;i style=&quot;color: rgb(231, 9, 9); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;The start date for the AMA Agreement must be in the current year.&lt;/i&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>YEAR({!Agreement_Start_Date}) == {!Current_Year}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Number_of_Records</name>
            <choiceReferences>Minimum</choiceReferences>
            <choiceReferences>Maximum</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Number of Records:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Final_Subcategory</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Contract_Salesforce_Subcategory</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_the_number_of_records_requested</name>
            <dataType>Number</dataType>
            <fieldText>Enter the number of records requested:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;i style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(244, 39, 39);&quot;&gt;The record count must be a number between {!Min_Record_Commitment} and {!Max_Record_Count} (exclusive).&lt;/i&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>({!Enter_the_number_of_records_requested} &gt; {!Min_Record_Commitment}) &amp;&amp; ({!Enter_the_number_of_records_requested} &lt; {!Max_Record_Count})</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Number_of_Records</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Other</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SC_AgreementValue_Data_File_Frequency</name>
            <choiceReferences>Delivery_Frequency</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Monthly</stringValue>
            </defaultValue>
            <fieldText>Frequency of Delivery:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Number_of_Sales_Reps</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Number of Sales Reps</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Sales_Rep_Required</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SalesRepTierCost</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-family: Arial; font-size: 14px; background-color: transparent; color: rgb(0, 0, 0);&quot;&gt;&lt;u&gt;Sales Rep Surcharge table&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!SalesRep_Description}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Sales_Rep_Required</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Contract_Salesforce_Text</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: small; font-family: Arial, Helvetica, sans-serif; color: rgb(34, 34, 34);&quot;&gt;This contract type has a fixed price regardless of the number of records needed.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Final_Subcategory</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Contract_Salesforce_Subcategory</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Is_Auto_Renew</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Is Auto Renew</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Proration_Message</name>
            <fieldText>&lt;p&gt;&lt;b&gt;{!Proration_Text}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_Auto_Renew</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <helpText>&lt;p&gt;&lt;b&gt;Please use &apos;Previous button&apos; to go back and choose any other subcategory. &lt;/b&gt;&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>2432</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_RecordId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Creation_Text</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Please review the summary of your AMA Agreement request carefully. You may click the Previous button to go to any of the previous pages if you need to make corrections. When you are ready to proceed, click the “Create AMA Agreement” button.&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EB_LG_Details</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-family: Calibri, sans-serif; font-size: 20px;&quot;&gt;&lt;u&gt;Emerging Market (Large)&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;RX Manufacturer or OTC organizations that were previously under a Precommercial or Startup agreement or a new customer with under $30M in annual revenue. It does not include customers under a RX Manufacturer-Biotech or OTC Manufacturer agreement transferring from another DBL.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Includes new customers under $30M in annual revenue OR existing customers transferring from Pre-commercial or Startup.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Customers may remain in this segment until they reach $30M in revenue, at which point must transition to (EM-Large, RX Manufacturer or OTC)&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Per Record Cost: $1.10&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Min Cost :$8,000 (7,273 records)&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Max Cost : $100,000 (90,909+ records)&amp;nbsp;&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EM_MID_Details</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;&lt;u&gt;Emerging Market (Mid)&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;RX Manufacturer or OTC organizations that were previously under a Precommercial or Startup agreement or a new customer with under $30M in annual revenue. It does not include customers under a RX Manufacturer-Biotech or OTC Manufacturer agreement transferring from another DBL.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Includes new customers under $30M in annual revenue OR existing customers transferring from Pre-commercial or Startup.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Customers may remain in this segment until they reach $30M in revenue, at which point must transition to (EM-Large, RX Manufacturer or OTC)&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Per Record Cost: $.82&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Min Cost :$5,700 (6,951 records)&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Max Cost : $67,500 (82,317+ records)&amp;nbsp;&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Physician_Authentication_Text_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-family: Arial, sans-serif; font-size: 20px;&quot;&gt;&lt;u&gt;Physician Authentication&lt;/u&gt;&lt;/b&gt;&lt;sup style=&quot;font-family: Arial, sans-serif; font-size: 20px;&quot;&gt;&lt;b&gt;&lt;u&gt;&amp;nbsp;&lt;/u&gt;&lt;/b&gt;&lt;/sup&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 9pt;&quot;&gt;Non‐pharmaceutical, biologic, OTC or medical device organizations licensing data to verify and/or authenticate physician information for &lt;/span&gt;&lt;b style=&quot;font-size: 9pt;&quot;&gt;website access &lt;/b&gt;&lt;span style=&quot;font-size: 9pt;&quot;&gt;or access to products &amp;amp; services.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;, serif; font-size: 9pt;&quot;&gt;Full variables included&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SalesRepTierBasedCost</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Rep Tier	Cost&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;0-10		       $0&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;11-50		$3,470&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;51-100		$8,470&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;101-250		$20,400&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;251-500		$42,650&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;501-650		$71,600&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;651-950		$101,500&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;951 – 1400	$144,150&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;1401 – 1750	$202,000&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;1751 – 2900	$287,750&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;2901 – 3999	2901 – 3999&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;4000 and greater   $600,000&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Start_TextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px; color: black;&quot;&gt;User-Customer (Client) AMA Request Form&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Starting_Page</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: black; font-size: 14px;&quot;&gt;This wizard will guide you step-by-step through the process of submitting a request for a new AMA Agreement:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;        &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;        Step 0:&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: black;&quot;&gt;Answer screening questions&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-size: 14px;&quot;&gt;        Step 1: Provide customer address and contact information&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri; color: black; font-size: 14px;&quot;&gt;          &lt;/span&gt;&lt;span style=&quot;color: black; font-size: 14px;&quot;&gt;Step 2&lt;/span&gt;&lt;span style=&quot;color: black; font-size: 14px; font-family: Calibri;&quot;&gt;: &lt;/span&gt;&lt;span style=&quot;color: black; font-size: 14px;&quot;&gt;Select the contract type based on the customer type and needs&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri; color: black; font-size: 14px;&quot;&gt;          &lt;/span&gt;&lt;span style=&quot;color: black; font-size: 14px;&quot;&gt;Step 3: Provide customer request details (number of records, frequency of data delivery etc.)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri; color: black; font-size: 14px;&quot;&gt;          &lt;/span&gt;&lt;span style=&quot;color: black; font-size: 14px;&quot;&gt;Step 4: Provide the AMA Data File Fields&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri; color: black; font-size: 14px;&quot;&gt;          &lt;/span&gt;&lt;span style=&quot;color: black; font-size: 14px;&quot;&gt;Step 5: Select the Permitted Uses applicable to the request&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri; color: black; font-size: 14px;&quot;&gt;          &lt;/span&gt;&lt;span style=&quot;color: black; font-size: 14px;&quot;&gt;Step 6: Review the information and submit&lt;/span&gt;&lt;span style=&quot;color: black; font-size: 14px; font-family: Calibri;&quot;&gt;  &lt;/span&gt;&lt;span style=&quot;color: black; font-size: 14px;&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-size: 14px;&quot;&gt;          &lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>textT_ErrorMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;An unexpected error has occurred. Please contact the support team for help.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Error Details&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; :  &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Error Time&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; :&amp;nbsp;{!$Flow.CurrentDateTime}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Running User&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; : {!$User.FirstName} &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$User.LastName}&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Record Id &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;: {!recordId} 		&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>textT_ErrorMessageDisplay</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;An unexpected error has occurred. Please contact the support team for help.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Error Details&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; :  &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Account_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Account Id passed from the record detail page.</description>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Address_City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Address_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address__c</objectType>
    </variables>
    <variables>
        <name>Address_Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Address_Postal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Address_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address__c</objectType>
    </variables>
    <variables>
        <name>Address_Record_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address__c</objectType>
    </variables>
    <variables>
        <name>Address_State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Address_Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AgreementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AMA_Data_File_Definiton_RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Combined_Address</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Combined_Contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>comma</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Contact_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Contact_First_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Contact_Last_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Contact_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Contact_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Contact_Record_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EMLG_Details</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>File_A</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>File_B</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>File_C</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Final_Slider_Value</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Final_Subcategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Link_To_File</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;a href=&quot;{!File_URL}&quot;&gt; here &lt;/a&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>Max_Record_Cost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Max_Record_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Min_Record_Commitment</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Min_Record_Cost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>mobile_number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Contact_Loop.Phone</elementReference>
        </value>
    </variables>
    <variables>
        <name>Output_ActualCost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Output_ActualPerRecordCost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Output_ActualRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Output_RepCost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OutputAMA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OutputPermittedUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Parent_Account_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Per_Record_Cost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Sales_Rep_Required</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SalesRep_Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Sub_Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varB_InactiveAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
