src/flows/CLM_Subflow_Contract_Activation_Notice.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Contract_Activation_Notice</name>
        <label>Contract Activation Notice</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <actionName>Apttus__APTS_Agreement__c.AGR_WEA01_CLM_MC_ApttusContractActivationNotice</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varR_NewRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Apttus__APTS_Agreement__c.AGR_WEA01_CLM_MC_ApttusContractActivationNotice</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Is_Contract_Activated</name>
        <label>Is Contract Activated?</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Activated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_NewRecord.Apttus__Status_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Effect</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Apttus__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_OldRecord.Apttus__Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Apttus__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Owner:User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Activation_Notice</targetReference>
            </connector>
            <label>Activated</label>
        </rules>
    </decisions>
    <description>CLM-MC-CLMCMA-13070: Sends Notification when Contract is Activated.</description>
    <environments>Default</environments>
    <interviewLabel>CLM Subflow : Contract Activation Notice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM Subflow : Contract Activation Notice</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Contract_Activated</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varR_NewRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>varR_OldRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
</Flow>
