src/flows/CLM_Agreement_ScreenFlow_RWLP_Amend.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Amendment_From_Agreement</name>
        <label>Create Amendment From Agreement</label>
        <locationX>1845</locationX>
        <locationY>2355</locationY>
        <actionName>UTL_CLM_Flow_ActionHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_CNF_Selected</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Collect_Flow_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Amend_By_Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agreementId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contractRanking</name>
            <value>
                <elementReference>varR_SelectedBidHistory.Contract_Ranking__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputString</name>
            <value>
                <elementReference>varR_SelectedBidHistory.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestDate</name>
            <value>
                <elementReference>varR_SelectedBidHistory.Date_Tracking_Started__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UTL_CLM_Flow_ActionHandler</nameSegment>
        <outputParameters>
            <assignToReference>varT_Amended_RWLP_Id</assignToReference>
            <name>flowOutputRecordId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_Amendment_From_Bid</name>
        <label>Create Amendment From Bid</label>
        <locationX>1587</locationX>
        <locationY>2239</locationY>
        <actionName>UTL_CLM_Flow_ActionHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_CNF_Selected</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Collect_Flow_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Amend_By_Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agreementId</name>
            <value>
                <elementReference>Activated_Agreements_Table.firstSelectedRow.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contractRanking</name>
            <value>
                <elementReference>Get_BidHistory.Contract_Ranking__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputString</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestDate</name>
            <value>
                <elementReference>Get_BidHistory.Date_Tracking_Started__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UTL_CLM_Flow_ActionHandler</nameSegment>
        <outputParameters>
            <assignToReference>varT_Amended_RWLP_Id</assignToReference>
            <name>flowOutputRecordId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_PSA_Amendment_From_Agreement</name>
        <label>Create PSA Amendment From Agreement</label>
        <locationX>2076</locationX>
        <locationY>2351</locationY>
        <actionName>UTL_CLM_Flow_ActionHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Updated_Proposal_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Collect_Flow_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>PSA_Amendment</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agreementId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputString</name>
            <value>
                <elementReference>Get_Agreement.Apttus__Related_Opportunity__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>proposalRecord</name>
            <value>
                <elementReference>varR_SelectedProposal</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UTL_CLM_Flow_ActionHandler</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_PSA_Amendment_From_Agreement_OA</name>
        <label>Create PSA Amendment From Agreement OA</label>
        <locationX>1949</locationX>
        <locationY>2349</locationY>
        <actionName>UTL_CLM_Flow_ActionHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Updated_Proposal_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Collect_Flow_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>PSA_Amendment</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agreementId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputString</name>
            <value>
                <elementReference>Get_Agreement.Apttus__Related_Opportunity__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>proposalRecord</name>
            <value>
                <elementReference>varR_SelectedBudget</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UTL_CLM_Flow_ActionHandler</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_Amended_Record</name>
        <label>Navigate to Amended Record</label>
        <locationX>1116</locationX>
        <locationY>2836</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>varT_Amended_RWLP_Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Navigate_To_Original_Agreement</name>
        <label>Navigate To Original Agreement</label>
        <locationX>59</locationX>
        <locationY>1384</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Error_Email</name>
        <label>Send Error Email</label>
        <locationX>302</locationX>
        <locationY>1183</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Navigate_To_Original_Agreement</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>textT_ErrorMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Setup.CLM_Configuration__c.CLM_Flow_Support_Email_Address__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>clmintegration@iqvia.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>CLM Agreement ScreenFlow RWLP Amend Error Occurred</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Set_Agreement_Collection</name>
        <label>Set Agreement Collection</label>
        <locationX>1392</locationX>
        <locationY>1821</locationY>
        <assignmentItems>
            <assignToReference>varR_AgreementList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_AgrRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Activated_Agreements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Agreement_Id_For_PSA</name>
        <label>Set Agreement Id For PSA</label>
        <locationX>1576</locationX>
        <locationY>2649</locationY>
        <assignmentItems>
            <assignToReference>varT_Amended_RWLP_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Updated_Proposal_Record.Apttus_QPComply__MasterAgreementId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Amend_Record_Created_Success_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Agreement_Record</name>
        <label>Set Agreement Record</label>
        <locationX>1435</locationX>
        <locationY>1994</locationY>
        <assignmentItems>
            <assignToReference>varR_AgrRec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Activated_Agreements.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_AgrRec.Apttus__FF_Agreement_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textT_AgreementNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_AgrRec.Legacy_Quintiles_Opportunity_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textT_AgreementName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_AgrRec.Apttus__Subtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Activated_Agreements.Apttus__Subtype__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_AgrRec.Apttus__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Activated_Agreements.Apttus__Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Agreement_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Bid_History_Links</name>
        <label>Set Bid History Links</label>
        <locationX>2104</locationX>
        <locationY>1254</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Bid_Histories.Line_of_Business__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textT_BidName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Bid_Histories.Current_Opportunity_Currency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textT_BidNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_FinalBidHistories</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Bid_Histories</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Bid_Histories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Change_Order_Count</name>
        <label>Set Change Order Count</label>
        <locationX>1079</locationX>
        <locationY>2079</locationY>
        <assignmentItems>
            <assignToReference>varN_COCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Change_Order_Agreements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Final_Agreement</name>
        <label>Set Final Agreement</label>
        <locationX>568</locationX>
        <locationY>2281</locationY>
        <assignmentItems>
            <assignToReference>varR_AgrRec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Activated_Agreements_For_Late_Phase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_AgrRec.Apttus__FF_Agreement_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textT_AgreementNumberLP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_AgrRec.Legacy_Quintiles_Opportunity_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textT_AgreementNameLP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_AgrRec.Apttus__Subtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Activated_Agreements_For_Late_Phase.Apttus__Subtype__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_AgrRec.Apttus__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Activated_Agreements_For_Late_Phase.Apttus__Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_AgreementList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_AgrRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Initial_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Initial_Count</name>
        <label>Set Initial Count</label>
        <locationX>646</locationX>
        <locationY>2082</locationY>
        <assignmentItems>
            <assignToReference>varN_COCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Activated_Agreements_For_Late_Phase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Proposal_Link</name>
        <label>Set Proposal Link</label>
        <locationX>2232</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Proposals_From_Opportunity.Scenario_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Proposals_From_Opportunity.Record_Type_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Proposals_From_Opportunity.Record_Type_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textT_ProposalId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Proposals_From_Opportunity.Bid_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textT_ProposalName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_FinalProposals</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Proposals_From_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Proposals_From_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Selected_CNF_Quotes_Ids</name>
        <label>Set Selected CNF Quotes Ids</label>
        <locationX>689</locationX>
        <locationY>2540</locationY>
        <assignmentItems>
            <assignToReference>varT_Selected_CNF_Quote_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Selected_CNF_Quotes_From_Data_Table.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Selected_CNF_Quotes_From_Data_Table</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Used_Bid_Ids</name>
        <label>Set Used Bid Ids</label>
        <locationX>2127</locationX>
        <locationY>846</locationY>
        <assignmentItems>
            <assignToReference>varR_BidHistoryIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Agreements_From_Opportunity.Bid_History__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Agreements_From_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Bid_Subtype_Selection</name>
        <label>Bid Subtype Selection?</label>
        <locationX>1363</locationX>
        <locationY>1375</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Late_Phase_PS_1</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_BidHistory.Agreement_Pathway__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Late Phase</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_BidHistory.Agreement_Pathway__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RBU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_BidHistory.Requested_Agreement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Change Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Activated_Agreements_From_Opportunity_LPPS</targetReference>
            </connector>
            <label>Late Phase PS</label>
        </rules>
        <rules>
            <name>Late_Phase_Prelim_1</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_BidHistory.Agreement_Pathway__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Late Phase</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_BidHistory.Agreement_Pathway__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RBU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_BidHistory.Requested_Agreement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preliminary Agreement Amendment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Activated_Agreements_From_Opportunity_LP_Prelim</targetReference>
            </connector>
            <label>Late Phase Prelim</label>
        </rules>
        <rules>
            <name>Clinical_Prelim_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_BidHistory.Agreement_Pathway__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clinical</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_BidHistory.Requested_Agreement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preliminary Agreement Amendment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Activated_Agreements_From_Opportunity_Clinical_Prelim</targetReference>
            </connector>
            <label>Clinical Prelim</label>
        </rules>
        <rules>
            <name>OSA_Amendment_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_BidHistory.Agreement_Pathway__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other Special Agreement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_BidHistory.Requested_Agreement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LRA Amendment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Activated_Agreements_From_Opportunity_OSA</targetReference>
            </connector>
            <label>OSA Amendment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Account_Level_OSA</name>
        <label>Check If Account Level OSA?</label>
        <locationX>1717</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Get_Contract_Post_Award_Record_Type_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_AccOSA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Agreement.Origin__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account Level OSA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Amendment_From_Agreement</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Agreement_Number</name>
        <label>Check Agreement Number</label>
        <locationX>1156</locationX>
        <locationY>2233</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Change_Order_Agreements</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Matched</defaultConnectorLabel>
        <rules>
            <name>Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Activated_Agreements_For_Late_Phase.Apttus__Agreement_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Through_Change_Order_Agreements.Apttus__Agreement_Number__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Change_Order_Count</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Existing_Agreement</name>
        <label>Has Existing Agreement?</label>
        <locationX>1056</locationX>
        <locationY>570</locationY>
        <defaultConnector>
            <targetReference>Is_Late_Phase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_EAgr</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Agreement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Agreement_Eligible</name>
        <label>Is Agreement Eligible?</label>
        <locationX>825</locationX>
        <locationY>2231</locationY>
        <defaultConnector>
            <targetReference>Set_Initial_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Eligible</defaultConnectorLabel>
        <rules>
            <name>Eligible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varN_COCount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Final_Agreement</targetReference>
            </connector>
            <label>Eligible</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_CNF_Selected</name>
        <label>Is CNF Selected?</label>
        <locationX>1107</locationX>
        <locationY>2371</locationY>
        <defaultConnector>
            <targetReference>Collect_Amend_Record_Created_Success_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>firstSelectedCNF.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Selected_CNF_Quotes_From_Data_Table</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Late_Phase</name>
        <label>Is Late Phase?</label>
        <locationX>1141</locationX>
        <locationY>1051</locationY>
        <defaultConnector>
            <targetReference>Bid_Subtype_Selection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Late_Phase_Check</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_BidHistory.Agreement_Pathway__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Late Phase</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_BidHistory.Agreement_Pathway__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RBU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Quote_RecordType_Id</targetReference>
            </connector>
            <label>Late Phase/RBU</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_PSA_Agreement_1</name>
        <label>Is PSA Agreement?</label>
        <locationX>1909</locationX>
        <locationY>2023</locationY>
        <defaultConnector>
            <targetReference>Create_Amendment_From_Agreement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_PS1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Agreement.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_SelectedProposal.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_PSA_Amendment_From_Agreement</targetReference>
            </connector>
            <label>Yes Proposal</label>
        </rules>
        <rules>
            <name>Yes_Other_Agr</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Agreement.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_SelectedBudget.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_PSA_Amendment_From_Agreement_OA</targetReference>
            </connector>
            <label>Yes Other Agr</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Email_To_The_Support_Team</name>
        <label>Send Email To The Support Team?</label>
        <locationX>50</locationX>
        <locationY>891</locationY>
        <defaultConnector>
            <targetReference>Navigate_To_Original_Agreement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Send Email</defaultConnectorLabel>
        <rules>
            <name>Send_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.CLM_Configuration__c.CLM_Flow_Support_Email_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Error_Email</targetReference>
            </connector>
            <label>Send Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Object</name>
        <label>Which Object?</label>
        <locationX>1415</locationX>
        <locationY>200</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bid_History</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>aNM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_BidHistory</targetReference>
            </connector>
            <label>Bid History</label>
        </rules>
        <rules>
            <name>Agreement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a1F</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Agreement</targetReference>
            </connector>
            <label>Agreement</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_RecordType</name>
        <label>Which RecordType?</label>
        <locationX>1897</locationX>
        <locationY>1438</locationY>
        <defaultConnector>
            <targetReference>Bid_Amendment_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>RWLP_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Agreement.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RWLP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Quote_RecordType_Id_Agr</targetReference>
            </connector>
            <label>RWLP</label>
        </rules>
        <rules>
            <name>PSA_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Agreement.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Proposals_From_Opportunity</targetReference>
            </connector>
            <label>PSA</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forT_AgreementLink</name>
        <dataType>String</dataType>
        <expression> LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) + {!Loop_Through_Activated_Agreements.Id}</expression>
    </formulas>
    <formulas>
        <name>forT_AgreementLinkLP</name>
        <dataType>String</dataType>
        <expression> LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) + {!Loop_Through_Activated_Agreements_For_Late_Phase.Id}</expression>
    </formulas>
    <formulas>
        <name>forT_BidHistoryLink</name>
        <dataType>String</dataType>
        <expression> LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) + {!Loop_Through_Bid_Histories.Id}</expression>
    </formulas>
    <formulas>
        <name>forT_BidHistoryRequestedAgreementType</name>
        <dataType>String</dataType>
        <expression>IF(OR(({!Get_Agreement.Record_Type_Developer_Name__c}  == &apos;Preliminary_Agreement&apos;), 
AND({!Get_Agreement.Record_Type_Developer_Name__c} == &apos;RWLP&apos;,
OR(ISPICKVAL({!Get_Agreement.Apttus__Subtype__c},&apos;ATP&apos;), ISPICKVAL({!Get_Agreement.Apttus__Subtype__c}, &apos;SUWO&apos;), ISPICKVAL({!Get_Agreement.Apttus__Subtype__c}, &apos;Amendment&apos;)))), &apos;Preliminary Agreement Amendment&apos;,
IF(OR(({!Get_Agreement.Record_Type_Developer_Name__c}  == &apos;PSA&apos;), 
AND({!Get_Agreement.Record_Type_Developer_Name__c} == &apos;RWLP&apos;, 
NOT(ISPICKVAL({!Get_Agreement.Apttus__Subtype__c}, &apos;ATP&apos;)), NOT(ISPICKVAL({!Get_Agreement.Apttus__Subtype__c} , &apos;SUWO&apos;)), NOT(ISPICKVAL({!Get_Agreement.Apttus__Subtype__c}, &apos;Amendment&apos;)))), &apos;New Change Order&apos;, 
IF({!Get_Agreement.Record_Type_Developer_Name__c} == &apos;OSA&apos;, &apos;LRA Amendment&apos;, &apos;&apos;)))</expression>
    </formulas>
    <formulas>
        <name>forT_BidPathway</name>
        <dataType>String</dataType>
        <expression>IF(OR({!Get_Agreement.Record_Type_Developer_Name__c} == &apos;Preliminary_Agreement&apos;,
{!Get_Agreement.Record_Type_Developer_Name__c} == &apos;PSA&apos;), &apos;Clinical&apos;, 
IF({!Get_Agreement.Record_Type_Developer_Name__c} == &apos;RWLP&apos;, &apos;Late Phase&apos;, 
IF({!Get_Agreement.Record_Type_Developer_Name__c} == &apos;OSA&apos;, &apos;Other Special Agreement&apos;, &apos;&apos;)))</expression>
    </formulas>
    <formulas>
        <name>forT_ExistingAgreementLink</name>
        <dataType>String</dataType>
        <expression> LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) + {!Get_Existing_Agreement.Id}</expression>
    </formulas>
    <formulas>
        <name>forT_HasRBU</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Agreement.Record_Type_Developer_Name__c} == &apos;RWLP&apos;, &apos;RBU&apos;, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>forT_ProposalLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) + {!Loop_Through_Proposals_From_Opportunity.Id}</expression>
    </formulas>
    <interviewLabel>CLM Amend RWLP ScreenFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Post RR CLM Amend RWLP ScreenFlow</label>
    <loops>
        <name>Loop_Through_Activated_Agreements</name>
        <label>Loop Through Activated Agreements</label>
        <locationX>1528</locationX>
        <locationY>1820</locationY>
        <collectionReference>varR_ActivatedAgreements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Agreement_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Activated_Agreements_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Activated_Agreements_For_Late_Phase</name>
        <label>Loop Through Activated Agreements For Late Phase</label>
        <locationX>641</locationX>
        <locationY>1954</locationY>
        <collectionReference>varR_ActivatedAgreements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Through_Change_Order_Agreements</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Activated_Agreements_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Agreements_From_Opportunity</name>
        <label>Loop Through Agreements From Opportunity</label>
        <locationX>1902</locationX>
        <locationY>846</locationY>
        <collectionReference>varR_Agreements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Used_Bid_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Contract_Post_Award_Bid_Histories</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Bid_Histories</name>
        <label>Loop Through Bid Histories</label>
        <locationX>1903</locationX>
        <locationY>1254</locationY>
        <collectionReference>varR_BidHistories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Bid_History_Links</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Which_RecordType</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Change_Order_Agreements</name>
        <label>Loop Through Change Order Agreements</label>
        <locationX>1001</locationX>
        <locationY>2218</locationY>
        <collectionReference>Get_In_Flight_Change_Order_Agreements_From_Opportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Agreement_Number</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Agreement_Eligible</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Proposals_From_Opportunity</name>
        <label>Loop Through Proposals From Opportunity</label>
        <locationX>2057</locationX>
        <locationY>1679</locationY>
        <collectionReference>Get_Proposals_From_Opportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Proposal_Link</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Bid_Amendment_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop Through Selected CNF Quotes From Data Table</description>
        <name>Loop_Through_Selected_CNF_Quotes_From_Data_Table</name>
        <label>Loop Through Selected CNF Quotes From Data Table</label>
        <locationX>533</locationX>
        <locationY>2377</locationY>
        <collectionReference>varR_SelectedCNFs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Selected_CNF_Quotes_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Quotes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Activated_Agreements_From_Opportunity_Clinical_Prelim</name>
        <label>Get Activated Agreements From Opportunity Clinical Prelim</label>
        <locationX>1485</locationX>
        <locationY>1597</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Activated_Agreements</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Collect_Flow_Failure</targetReference>
        </faultConnector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6 OR 7 OR 8 OR 9)</filterLogic>
        <filters>
            <field>Apttus__Related_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_BidHistory.Bid_History_Related_Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Developer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preliminary_Agreement</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Status_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Effect</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Subtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Subtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SUWO</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Subtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Letter Of Intent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Subtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Amendment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Subtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Other Agreements</stringValue>
            </value>
        </filters>
        <object>Apttus__APTS_Agreement__c</object>
        <outputReference>varR_ActivatedAgreements</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Apttus__FF_Agreement_Number__c</queriedFields>
        <queriedFields>Apttus__Subtype__c</queriedFields>
        <queriedFields>Apttus__Status__c</queriedFields>
        <queriedFields>Apttus__Status_Category__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Activated_Agreements_From_Opportunity_LP_Prelim</name>
        <label>Get Activated Agreements From Opportunity Late Phase Prelim</label>
        <locationX>1381</locationX>
        <locationY>1603</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Activated_Agreements</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Collect_Flow_Failure</targetReference>
        </faultConnector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6 OR 7)</filterLogic>
        <filters>
            <field>Apttus__Related_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_BidHistory.Bid_History_Related_Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Developer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RWLP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Status_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Effect</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Subtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Subtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SUWO</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Subtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Amendment</stringValue>
            </value>
        </filters>
        <object>Apttus__APTS_Agreement__c</object>
        <outputReference>varR_ActivatedAgreements</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Apttus__FF_Agreement_Number__c</queriedFields>
        <queriedFields>Apttus__Subtype__c</queriedFields>
        <queriedFields>Apttus__Status__c</queriedFields>
        <queriedFields>Apttus__Status_Category__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Activated_Agreements_From_Opportunity_LPPS</name>
        <label>Get Activated Agreements From Opportunity Late Phase PS</label>
        <locationX>1125</locationX>
        <locationY>1601</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_In_Flight_Change_Order_Agreements_From_Opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Collect_Flow_Failure</targetReference>
        </faultConnector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5) AND (6 OR 7 OR 8 OR 9 OR 10 OR 11)</filterLogic>
        <filters>
            <field>Apttus__Related_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_BidHistory.Bid_History_Related_Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Developer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RWLP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Status_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Effect</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Being Amended</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Subtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Work Order</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Subtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>General Consulting Agreement</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Subtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>General Consulting Agreement - Small Projects</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Subtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>General Services Agreement</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Subtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>General Services Agreement - Small Projects</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Subtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Change Order</stringValue>
            </value>
        </filters>
        <object>Apttus__APTS_Agreement__c</object>
        <outputReference>varR_ActivatedAgreements</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Apttus__Subtype__c</queriedFields>
        <queriedFields>Apttus__FF_Agreement_Number__c</queriedFields>
        <queriedFields>Apttus__Status__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Apttus__Status_Category__c</queriedFields>
        <queriedFields>Apttus__Agreement_Number__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Activated_Agreements_From_Opportunity_OSA</name>
        <label>Get Activated Agreements From Opportunity OSA</label>
        <locationX>1674</locationX>
        <locationY>1588</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Activated_Agreements</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Collect_Flow_Failure</targetReference>
        </faultConnector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6 OR 7 OR 8)</filterLogic>
        <filters>
            <field>Apttus__Related_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_BidHistory.Bid_History_Related_Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Developer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OSA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Status_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Effect</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Subtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Local Representative Agreement</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Subtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Legal Representative Agreement</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Subtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Miscellaneous Agreement</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Subtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Amendment</stringValue>
            </value>
        </filters>
        <object>Apttus__APTS_Agreement__c</object>
        <outputReference>varR_ActivatedAgreements</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Apttus__FF_Agreement_Number__c</queriedFields>
        <queriedFields>Apttus__Subtype__c</queriedFields>
        <queriedFields>Apttus__Status__c</queriedFields>
        <queriedFields>Apttus__Status_Category__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get Agreement Details</description>
        <name>Get_Agreement</name>
        <label>Get Agreement Details</label>
        <locationX>1896</locationX>
        <locationY>263</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Account_Level_OSA</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Collect_Flow_Failure</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Apttus__APTS_Agreement__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Apttus__Subtype__c</queriedFields>
        <queriedFields>Apttus__Related_Opportunity__c</queriedFields>
        <queriedFields>Apttus__Agreement_Number__c</queriedFields>
        <queriedFields>Record_Type_Developer_Name__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Original_Agreement__c</queriedFields>
        <queriedFields>Origin__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Agreements_From_Opportunity</name>
        <label>Get Agreements From Opportunity</label>
        <locationX>1901</locationX>
        <locationY>624</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Agreements_From_Opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Collect_Flow_Failure</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Agreement.RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Apttus__Related_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Agreement.Apttus__Related_Opportunity__c</elementReference>
            </value>
        </filters>
        <object>Apttus__APTS_Agreement__c</object>
        <outputReference>varR_Agreements</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Bid_History__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_BidHistory</name>
        <label>Get BidHistory</label>
        <locationX>1062</locationX>
        <locationY>262</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Agreement</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Collect_Flow_Failure</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Bid_History__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Bid_History_Related_Opportunity__c</queriedFields>
        <queriedFields>Agreement_Pathway__c</queriedFields>
        <queriedFields>Requested_Agreement_Type__c</queriedFields>
        <queriedFields>Date_Tracking_Started__c</queriedFields>
        <queriedFields>Contract_Ranking__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Contract Post Award Bid Histories</description>
        <name>Get_Contract_Post_Award_Bid_Histories</name>
        <label>Get Contract Post Award Bid Histories</label>
        <locationX>1901</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Bid_Histories</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Collect_Flow_Failure</targetReference>
        </faultConnector>
        <filterLogic>1 AND (2 OR 6) AND 3 AND 4 AND 5</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contract_Post_Award_Record_Type_Id.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Agreement_Pathway__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>forT_BidPathway</elementReference>
            </value>
        </filters>
        <filters>
            <field>Requested_Agreement_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>forT_BidHistoryRequestedAgreementType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Bid_History_Related_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Agreement.Apttus__Related_Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>varR_BidHistoryIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Agreement_Pathway__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>forT_HasRBU</elementReference>
            </value>
        </filters>
        <object>Bid_History__c</object>
        <outputReference>varR_BidHistories</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Project_Leader_Region__c</queriedFields>
        <queriedFields>Requested_Agreement_Type__c</queriedFields>
        <queriedFields>Bid_History_Number__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Date_Tracking_Started__c</queriedFields>
        <queriedFields>Contract_Ranking__c</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract_Post_Award_Record_Type_Id</name>
        <label>Get Contract Post Award Bid RecordTypeId</label>
        <locationX>1896</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Agreements_From_Opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Collect_Flow_Failure</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract_Post_Award</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bid_History__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Agreement</name>
        <label>Get Existing Agreement</label>
        <locationX>1062</locationX>
        <locationY>422</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Existing_Agreement</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Collect_Flow_Failure</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bid_History__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Apttus__APTS_Agreement__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Apttus__FF_Agreement_Number__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Apttus__Status_Category__c</queriedFields>
        <queriedFields>Apttus__Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_In_Flight_Change_Order_Agreements_From_Opportunity</name>
        <label>Get In Flight Change Order Agreements From Opportunity</label>
        <locationX>649</locationX>
        <locationY>1795</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Activated_Agreements_For_Late_Phase</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Collect_Flow_Failure</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Apttus__Related_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_BidHistory.Bid_History_Related_Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Developer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RWLP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Status_Category__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>In Effect</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Status_Category__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Subtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Change Order</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Status_Category__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Amended</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Apttus__APTS_Agreement__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Apttus__Agreement_Number__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Proposals_From_Opportunity</name>
        <label>Get Proposals From Opportunity</label>
        <locationX>2054</locationX>
        <locationY>1505</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Proposals_From_Opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Collect_Flow_Failure</targetReference>
        </faultConnector>
        <filterLogic>(1 OR 2) AND (3 AND 4 AND 5 AND 6)</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RDS Budget</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RDS Non-SF</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus_Proposal__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Agreement.Apttus__Related_Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Apttus_Proposal__Proposal_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Change Order</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus_Proposal__Approval_Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus_QPComply__MasterAgreementId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Apttus_Proposal__Proposal__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Apttus_Proposal__Proposal_Name__c</queriedFields>
        <queriedFields>Record_Type_Name__c</queriedFields>
        <queriedFields>Apttus_Proposal__Proposal_Category__c</queriedFields>
        <queriedFields>Apttus_Proposal__Approval_Stage__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>Apttus_Proposal__Opportunity__c</queriedFields>
        <queriedFields>Apttus_QPComply__MasterAgreementId__c</queriedFields>
        <queriedFields>Select_Pricing_Tool__c</queriedFields>
        <queriedFields>Project_Expense__c</queriedFields>
        <queriedFields>Actual_Quote_Amount__c</queriedFields>
        <queriedFields>Total_Quote_Amount__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Clinical_Bid__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Scenario_Description__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Record Type Id for &apos;Generic&apos; Quote</description>
        <name>Get_Quote_RecordType_Id</name>
        <label>Get Quote RecordType Id</label>
        <locationX>1145</locationX>
        <locationY>1195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Quotes_On_Opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Collect_Flow_Failure</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Generic</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varT_Generic_Quote_RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Record Type Id for &apos;Generic&apos; Quote</description>
        <name>Get_Quote_RecordType_Id_Agr</name>
        <label>Get Quote RecordTypeId</label>
        <locationX>1779</locationX>
        <locationY>1496</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quotes_From_Opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Collect_Flow_Failure</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Generic</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quotes_From_Opportunity</name>
        <label>Get Quotes From Opportunity</label>
        <locationX>1769</locationX>
        <locationY>1646</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bid_Amendment_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Collect_Flow_Failure</targetReference>
        </faultConnector>
        <filterLogic>1 AND (2 OR 6) AND 3 AND 4 AND 5</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Agreement.Apttus__Related_Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CNF Quote</stringValue>
            </value>
        </filters>
        <filters>
            <field>Agreement__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote_RecordType_Id_Agr.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CO Log</stringValue>
            </value>
        </filters>
        <object>Quote</object>
        <outputReference>varR_CNF_Collections</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Agreement__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Project_Leader_Region__c</queriedFields>
        <queriedFields>Total_Quote_Amount__c</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Get related quotes from the related opportunity on the agreement record filtered on the basis of the Type field and Agreement lookup</description>
        <name>Get_Related_Quotes_On_Opportunity</name>
        <label>Get Related Quotes On Opportunity</label>
        <locationX>1145</locationX>
        <locationY>1362</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bid_Subtype_Selection</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Collect_Flow_Failure</targetReference>
        </faultConnector>
        <filterLogic>1 AND (2 OR 6) AND 3 AND 4 AND 5</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_BidHistory.Bid_History_Related_Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CNF Quote</stringValue>
            </value>
        </filters>
        <filters>
            <field>Agreement__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_Generic_Quote_RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CO Log</stringValue>
            </value>
        </filters>
        <object>Quote</object>
        <outputReference>varR_CNF_Collections</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Agreement__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Project_Leader_Region__c</queriedFields>
        <queriedFields>Total_Quote_Amount__c</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Proposal_Record</name>
        <label>Get Updated Proposal Record</label>
        <locationX>2010</locationX>
        <locationY>2645</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Agreement_Id_For_PSA</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Collect_Flow_Failure</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_SelectedProposal.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_SelectedBudget.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Apttus_Proposal__Proposal__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Apttus_QPComply__MasterAgreementId__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Quotes for all the IDs from the collection variable containing the selected CNF Quotes from Data Table</description>
        <name>Update_Quotes</name>
        <label>Update Quotes</label>
        <locationX>529</locationX>
        <locationY>2653</locationY>
        <connector>
            <targetReference>Collect_Amend_Record_Created_Success_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Collect_Flow_Failure</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varT_Selected_CNF_Quote_Ids</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Agreement__c</field>
            <value>
                <elementReference>varT_Amended_RWLP_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <screens>
        <name>Activated_Agreements_Screen</name>
        <label>Activated Agreements Screen</label>
        <locationX>1590</locationX>
        <locationY>2076</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Amendment_From_Bid</targetReference>
        </connector>
        <fields>
            <name>Heading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Create Amendment&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Ruler_2</name>
            <fieldText>&lt;p&gt;{!varT_Line}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Heading_PA</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: black;&quot;&gt;In the table below are all the Preliminary Activated Agreements found on the Opportunity. Select the Agreement that you want to Amend.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Clinical_Prelim_1</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Late_Phase_Prelim_1</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Heading_OSA</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: black; font-size: 14px;&quot;&gt;In the table below are all the Other Special Activated Agreements found on the Opportunity. Select the Agreement that you want to Amend.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OSA_Amendment_1</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Heading_PS</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: black;&quot;&gt;In the table below are all the Project Specific Activated and Being Amended Agreements found on the Opportunity. Select the Agreement that you want to Amend.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Late_Phase_PS_1</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Activated_Agreements_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Apttus__APTS_Agreement__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Activated_Agreements_Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>varR_AgreementList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Apttus__FF_Agreement_Number__c&quot;,&quot;guid&quot;:&quot;column-b504&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Number&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Agreement Number&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Legacy_Quintiles_Opportunity_Number__c&quot;,&quot;guid&quot;:&quot;column-155e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Legacy Quintiles Opportunity Number&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Apttus__Subtype__c&quot;,&quot;guid&quot;:&quot;column-c95a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Type&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Requested Agreement Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Apttus__Status__c&quot;,&quot;guid&quot;:&quot;column-3d4c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CNF_Display_Instructions_1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Select the CNF quote to be linked with the Agreement:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Get_BidHistory.Agreement_Pathway__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Late Phase</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_BidHistory.Agreement_Pathway__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>RBU</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CNF_Quote_Data_Table_1</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Quote</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>CNF Quote Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>varR_CNF_Collections</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-ca7c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;CNF Quote Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Quote Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Type__c&quot;,&quot;guid&quot;:&quot;column-7889&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Status&quot;,&quot;guid&quot;:&quot;column-91b4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Project_Leader_Region__c&quot;,&quot;guid&quot;:&quot;column-4f72&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Project Leader Region&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Total_Quote_Amount__c&quot;,&quot;guid&quot;:&quot;column-bc51&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Total Quote Amount&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varR_SelectedCNFs</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>firstSelectedCNF</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Get_BidHistory.Agreement_Pathway__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Late Phase</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_BidHistory.Agreement_Pathway__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>RBU</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Create Amendment</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Bid_Amendment_Screen</name>
        <label>Bid Amendment Screen</label>
        <locationX>1917</locationX>
        <locationY>1848</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_PSA_Agreement_1</targetReference>
        </connector>
        <fields>
            <name>CNQ_Display_Heading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Create Amendment&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Ruler_3</name>
            <fieldText>&lt;p&gt;{!varT_Line}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Proposal_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: black; font-size: 14px;&quot;&gt;In the table below are all the Change Order Proposal/Quote found on the Opportunity which are not linked with any Agreement. Select the Proposal/Quote to be linked with this Agreement.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Agreement.Record_Type_Developer_Name__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>PSA</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Proposal_Datatable_Mdt</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Apttus_Proposal__Proposal__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Proposal Datatable</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>varR_FinalProposals</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Record_Type_Name__c&quot;,&quot;guid&quot;:&quot;column-ab4b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Proposal ID&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Record Type&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Bid_Name__c&quot;,&quot;guid&quot;:&quot;column-98f3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Budget Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Bid Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Scenario_Description__c&quot;,&quot;guid&quot;:&quot;column-96b2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Record Type&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Scenario Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Apttus_Proposal__Proposal_Category__c&quot;,&quot;guid&quot;:&quot;column-2e49&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Budget Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Apttus_Proposal__Approval_Stage__c&quot;,&quot;guid&quot;:&quot;column-840a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Approval Stage&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-584b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Created Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varR_SelectedProposal</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Agreement.Record_Type_Developer_Name__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>PSA</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Agreement.Original_Agreement__r.Apttus__Subtype__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Other Agreements</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Agreement.Apttus__Subtype__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Other Agreements</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Proposal_DataTable_Opt</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Apttus_Proposal__Proposal__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Proposal_DataTable_Opt</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>varR_FinalProposals</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Record_Type_Name__c&quot;,&quot;guid&quot;:&quot;column-2838&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Proposal ID&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Record Type&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Bid_Name__c&quot;,&quot;guid&quot;:&quot;column-c6b5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Budget Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Bid Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Scenario_Description__c&quot;,&quot;guid&quot;:&quot;column-76c6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Record Type&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Scenario Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Apttus_Proposal__Proposal_Category__c&quot;,&quot;guid&quot;:&quot;column-85f6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Budget Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Apttus_Proposal__Approval_Stage__c&quot;,&quot;guid&quot;:&quot;column-3839&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Approval Stage&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-9964&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Created Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varR_SelectedBudget</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3)</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Agreement.Record_Type_Developer_Name__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>PSA</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Agreement.Original_Agreement__r.Apttus__Subtype__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other Agreements</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Agreement.Apttus__Subtype__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other Agreements</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Triage_Display_Instructions</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Select the Triage record to be linked with this Agreement:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BidHistory_Data_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Bid_History__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contract Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>varR_FinalBidHistories</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Current_Opportunity_Currency__c&quot;,&quot;guid&quot;:&quot;column-536d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Triage Record Number&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Current Opportunity Currency&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Line_of_Business__c&quot;,&quot;guid&quot;:&quot;column-1a63&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Triage Record Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Line of Business&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Requested_Agreement_Type__c&quot;,&quot;guid&quot;:&quot;column-aaae&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Request Type&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Requested Agreement Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Project_Leader_Region__c&quot;,&quot;guid&quot;:&quot;column-94da&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Project Leader Region&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varR_SelectedBidHistory</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
        </fields>
        <fields>
            <name>CNQ_Display_Instructions</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Select the CNF quote to be linked with the Agreement:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>forT_BidPathway</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Late Phase</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CNQ_CNF_Quote_Data_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Quote</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>CNF Quote Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>varR_CNF_Collections</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-ca7c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;CNF Quote Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Quote Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Type__c&quot;,&quot;guid&quot;:&quot;column-7889&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Status&quot;,&quot;guid&quot;:&quot;column-91b4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Project_Leader_Region__c&quot;,&quot;guid&quot;:&quot;column-4f72&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Project Leader Region&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Total_Quote_Amount__c&quot;,&quot;guid&quot;:&quot;column-bc51&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Total Quote Amount&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varR_SelectedCNFs</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>firstSelectedCNF</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>forT_BidPathway</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Late Phase</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Create Amendment</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Collect_Amend_Record_Created_Success_Message</name>
        <label>Collect Amend Record Created Success Message</label>
        <locationX>1114</locationX>
        <locationY>2654</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Navigate_to_Amended_Record</targetReference>
        </connector>
        <fields>
            <name>CARCSM_Blank_Space</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Create Amendment&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Ruler_5</name>
            <fieldText>&lt;p&gt;{!varT_Line}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CARCSM_Success_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;The agreement is successfully amended.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Blank</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>This screen displays the flow failure reason to the end user</description>
        <name>Collect_Flow_Failure</name>
        <label>Collect Flow Failure</label>
        <locationX>432</locationX>
        <locationY>501</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_Email_To_The_Support_Team</targetReference>
        </connector>
        <fields>
            <name>CFF_Display_Header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Flow Failure&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CFF_Error_Message</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;An error occurred while executing the flow. Please find details of the error below and contact IQVIA support.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error_Screen</label>
        <locationX>960</locationX>
        <locationY>743</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Navigate_To_Original_Agreement</targetReference>
        </connector>
        <fields>
            <name>Display_Error1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(247, 11, 11);&quot;&gt;Agreement is already created from this Bid.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;(&lt;a href=&quot;{!forT_ExistingAgreementLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Get_Existing_Agreement.Apttus__FF_Agreement_Number__c}&lt;/a&gt;, {!Get_Existing_Agreement.Name}, {!Get_Existing_Agreement.Apttus__Status_Category__c}, {!Get_Existing_Agreement.Apttus__Status__c})&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1295</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Which_Object</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>textT_AgreementName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a href=&quot;{!forT_AgreementLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Loop_Through_Activated_Agreements.Name}&lt;/a&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>textT_AgreementNameLP</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a href=&quot;{!forT_AgreementLinkLP}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Loop_Through_Activated_Agreements_For_Late_Phase.Name}&lt;/a&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>textT_AgreementNumber</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a href=&quot;{!forT_AgreementLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Loop_Through_Activated_Agreements.Apttus__FF_Agreement_Number__c}&lt;/a&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>textT_AgreementNumberLP</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a href=&quot;{!forT_AgreementLinkLP}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Loop_Through_Activated_Agreements_For_Late_Phase.Apttus__FF_Agreement_Number__c}&lt;/a&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>textT_BidName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a href=&quot;{!forT_BidHistoryLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Loop_Through_Bid_Histories.Name}&lt;/a&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>textT_BidNumber</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a href=&quot;{!forT_BidHistoryLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Loop_Through_Bid_Histories.Bid_History_Number__c}&lt;/a&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>textT_ErrorMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;An unexpected error has occurred. Please contact the support team for help.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Error Details&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; :  &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Error Time&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; :&amp;nbsp;{!$Flow.CurrentDateTime}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Running User&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; : {!$User.FirstName} &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$User.LastName}&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Record Id &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;: {!recordId} 		&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>textT_ErrorMessageDisplay</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;An unexpected error has occurred. Please contact the support team for help.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Error Details&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; :  &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>textT_ProposalId</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a href=&quot;{!forT_ProposalLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Loop_Through_Proposals_From_Opportunity.Name}&lt;/a&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>textT_ProposalName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a href=&quot;{!forT_ProposalLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Loop_Through_Proposals_From_Opportunity.Apttus_Proposal__Proposal_Name__c}&lt;/a&gt;</text>
    </textTemplates>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bid_History__c</objectType>
    </variables>
    <variables>
        <name>firstSelectedCNF</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <description>Default record Id for the RWLP agreement record</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varN_COCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varR_ActivatedAgreements</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>varR_AgreementList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>varR_Agreements</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>varR_AgrRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>varR_BidHistories</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bid_History__c</objectType>
    </variables>
    <variables>
        <name>varR_BidHistoryIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varR_BudgetIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varR_CNF_Collections</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>varR_FinalBidHistories</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bid_History__c</objectType>
    </variables>
    <variables>
        <name>varR_FinalProposals</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus_Proposal__Proposal__c</objectType>
    </variables>
    <variables>
        <name>varR_SelectedBidHistory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bid_History__c</objectType>
    </variables>
    <variables>
        <name>varR_SelectedBudget</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus_Proposal__Proposal__c</objectType>
    </variables>
    <variables>
        <name>varR_SelectedCNFs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>varR_SelectedProposal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus_Proposal__Proposal__c</objectType>
    </variables>
    <variables>
        <name>varR_Subtype</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Record Id of Amended RWLP Agreement record</description>
        <name>varT_Amended_RWLP_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Record Type Id of Quote Generic Record Type</description>
        <name>varT_Generic_Quote_RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_Line</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;hr style=&quot;margin-top: 12px;margin-bottom: 12px;&quot;&gt;&lt;/hr&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>varT_Selected_CNF_Quote_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
