src/flows/CLM_Agreement_Repository_Screen_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Agreement_Repository_and_Related_Records</name>
        <label>Create Agreement Repository and Related Records</label>
        <locationX>1200</locationX>
        <locationY>4512</locationY>
        <actionName>UTL_CLM_Flow_ActionHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Path</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>CreateAgreementRepository</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agreementWrapper</name>
            <value>
                <elementReference>varA_agreementWrapper</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UTL_CLM_Flow_ActionHandler</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_Agreement_Activation</name>
        <label>Navigate to Agreement Activation</label>
        <locationX>947</locationX>
        <locationY>4969</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>activateLink</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_Original_Record</name>
        <label>Navigate to Original Record</label>
        <locationX>312</locationX>
        <locationY>762</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Navigate_To_Source_Record</name>
        <label>Navigate To Source Record</label>
        <locationX>1197</locationX>
        <locationY>5174</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Error_Email</name>
        <label>Send Error Email</label>
        <locationX>50</locationX>
        <locationY>762</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Navigate_to_Original_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Setup.CLM_Configuration__c.CLM_Flow_Support_Email_Address__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>clmintegration@iqvia.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>CLM Agreement Repository Flow Error Occurred</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>textT_ErrorMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Set_Agreement_Path</name>
        <label>Set Agreement Path</label>
        <locationX>1144</locationX>
        <locationY>290</locationY>
        <assignmentItems>
            <assignToReference>varT_path</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Agreement</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Agreement_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Agreement_Wrapper_Agreement</name>
        <label>Set Agreement Wrapper Agreement</label>
        <locationX>1145</locationX>
        <locationY>4360</locationY>
        <assignmentItems>
            <assignToReference>varA_agreementWrapper.agreement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Agreement_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_selectedContentVersion.FileExtension</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Agreement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varA_agreementWrapper.contentVersion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_selectedContentVersion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Agreement_Repository_and_Related_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Agreement_Wrapper_BNF</name>
        <label>Set Agreement Wrapper BNF</label>
        <locationX>1295</locationX>
        <locationY>4370</locationY>
        <assignmentItems>
            <assignToReference>varA_agreementWrapper.BNF</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BNF_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varA_agreementWrapper.docType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X2_What_is_the_Agreement_type_BNF</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_selectedContentVersion.FileExtension</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BNF</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varA_agreementWrapper.contentVersion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_selectedContentVersion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Agreement_Repository_and_Related_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Agreement_Wrapper_MiBNF</name>
        <label>Set Agreement Wrapper MiBNF</label>
        <locationX>1445</locationX>
        <locationY>4381</locationY>
        <assignmentItems>
            <assignToReference>varA_agreementWrapper.MiBNF</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_MiBNF_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varA_agreementWrapper.docType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X2_What_is_the_Agreement_type_BNF</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_selectedContentVersion.FileExtension</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MiBNF</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varA_agreementWrapper.contentVersion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_selectedContentVersion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Agreement_Repository_and_Related_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Agreement_Wrapper_Opportunity</name>
        <label>Set Agreement Wrapper Opportunity</label>
        <locationX>997</locationX>
        <locationY>4355</locationY>
        <assignmentItems>
            <assignToReference>varA_agreementWrapper.opportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varA_agreementWrapper.docType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X2_What_is_the_Agreement_type_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_selectedContentVersion.FileExtension</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varA_agreementWrapper.contentVersion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_selectedContentVersion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varA_agreementWrapper.BNF</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_BNF</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varA_agreementWrapper.MiBNF</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_s_MiBNF</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varA_agreementWrapper.agreement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_ApplicableOpportunityAgreement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Agreement_Repository_and_Related_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Attachment_Link</name>
        <label>Set Attachment Link</label>
        <locationX>1351</locationX>
        <locationY>3065</locationY>
        <assignmentItems>
            <assignToReference>Iterate_Data_Table_List.Click_to_Download__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textT_attachmentLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_date_format</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_BNF_Record</name>
        <label>Set BNF Record</label>
        <locationX>1490</locationX>
        <locationY>1013</locationY>
        <assignmentItems>
            <assignToReference>Get_BNF_Record.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BNF_Record.Opportunity__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_BNF_Record.Original_Prior_Opportunity_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BNF_Record.Opportunity__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Data_Table_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_BNF_Record_0</name>
        <label>Set BNF Record</label>
        <locationX>2103</locationX>
        <locationY>1000</locationY>
        <assignmentItems>
            <assignToReference>Get_MiBNF_Record.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_MiBNF_Record.Opportunity__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_MiBNF_Record.Retainer_Opportunity_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_MiBNF_Record.Opportunity__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Data_Table_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_BNP_Path</name>
        <label>Set BNP Path</label>
        <locationX>1476</locationX>
        <locationY>295</locationY>
        <assignmentItems>
            <assignToReference>varT_path</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BNF</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_BNF_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Content_Version_Link</name>
        <label>Set Content Version Link</label>
        <locationX>1466</locationX>
        <locationY>3068</locationY>
        <assignmentItems>
            <assignToReference>Iterate_Data_Table_List.Click_to_Download__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textT_contentVersionLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_date_format</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Count_of_Uploaded_File</name>
        <label>Set Count of Uploaded File</label>
        <locationX>1310</locationX>
        <locationY>3650</locationY>
        <assignmentItems>
            <assignToReference>varT_CountOfUploadedFiles</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>uploadFile.contentVersionIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_file_is_uploaded</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_date_format</name>
        <label>Set date format</label>
        <locationX>1419</locationX>
        <locationY>3213</locationY>
        <assignmentItems>
            <assignToReference>Iterate_Data_Table_List.External_Document_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_formatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_finalContentVersionList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Data_Table_List</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Data_Table_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Document_Versions_for_Data_Table_from_Agreement_Document_2</name>
        <label>Set Document Versions for Data Table from Agreement Document 2</label>
        <locationX>1205</locationX>
        <locationY>988</locationY>
        <assignmentItems>
            <assignToReference>varR_contentVersion.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Document_Versions.Apttus__LatestVersionId__r.Apttus__ContentVersionId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersion.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Document_Versions.Apttus__Title__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersion.FileType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ContentVersion</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersion.CreatedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Document_Versions.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersion.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Agreement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersion.FileExtension</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Agreement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersion.Legacy_Attachment_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Document_Versions.Apttus__AgreementId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersion.External_Content_Document_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Document_Versions.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersionList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_contentVersion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Document_Versions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Document_Versions_for_Data_Table_from_BNF_Attachments</name>
        <label>Set Document Versions for Data Table from BNF Attachments</label>
        <locationX>922</locationX>
        <locationY>1044</locationY>
        <assignmentItems>
            <assignToReference>varR_contentVersion.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_BNF_Attachments.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersion.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_BNF_Attachments.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersion.FileType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Attachment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersion.CreatedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_BNF_Attachments.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersion.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BNF</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersion.FileExtension</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersion.Legacy_Attachment_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_BNF_Attachments.ParentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersionList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_contentVersion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_BNF_Attachments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Document_Versions_for_Data_Table_from_BNF_Attachments_0</name>
        <label>Set Document Versions for Data Table from BNF Attachments</label>
        <locationX>879</locationX>
        <locationY>1687</locationY>
        <assignmentItems>
            <assignToReference>varR_contentVersion.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_MiBNF_Attachments.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersion.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_MiBNF_Attachments.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersion.FileType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Attachment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersion.CreatedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_MiBNF_Attachments.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersion.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MiBNF</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersion.FileExtension</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersion.Legacy_Attachment_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_MiBNF_Attachments.ParentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersionList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_contentVersion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_MiBNF_Attachments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Document_Versions_for_Data_Table_from_BNF_Attachments_BNF_Path</name>
        <label>Set Document Versions for Data Table from BNF Attachments BNF Path</label>
        <locationX>1648</locationX>
        <locationY>818</locationY>
        <assignmentItems>
            <assignToReference>varR_contentVersion.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_BNF_Attachments_BNF_Path.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersion.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_BNF_Attachments_BNF_Path.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersion.FileType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Attachment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersion.CreatedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_BNF_Attachments_BNF_Path.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersion.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BNF</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersion.FileExtension</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BNF</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersion.Legacy_Attachment_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_BNF_Attachments_BNF_Path.ParentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersionList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_contentVersion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_BNF_Attachments_BNF_Path</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Document_Versions_for_Data_Table_from_BNF_Attachments_MiBNF_Path</name>
        <label>Set Document Versions for Data Table from BNF Attachments MiBNF Path</label>
        <locationX>2299</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>varR_contentVersion.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_BNF_Attachments_MiBNF_Path.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersion.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_BNF_Attachments_MiBNF_Path.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersion.FileType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Attachment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersion.CreatedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_BNF_Attachments_MiBNF_Path.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersion.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MiBNF</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersion.FileExtension</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MiBNF</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersion.Legacy_Attachment_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_BNF_Attachments_MiBNF_Path.ParentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersionList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_contentVersion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_BNF_Attachments_MiBNF_Path</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Document_Versions_for_Data_Table_from_Opportunity_Attachments</name>
        <label>Set Document Versions for Data Table from Opportunity Attachments</label>
        <locationX>797</locationX>
        <locationY>3040</locationY>
        <assignmentItems>
            <assignToReference>varR_contentVersion.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Opportunity_Attachments.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersion.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Opportunity_Attachments.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersion.FileType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Attachment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersion.CreatedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Opportunity_Attachments.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersion.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersion.FileExtension</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersion.Legacy_Attachment_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Opportunity_Attachments.ParentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersionList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_contentVersion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Opportunity_Attachments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Document_Versions_for_Data_Table_from_Opportunity_Files</name>
        <label>Set Document Versions for Data Table from Opportunity Files</label>
        <locationX>845</locationX>
        <locationY>2539</locationY>
        <assignmentItems>
            <assignToReference>varR_contentVersion.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Opportunity_Content_Versions.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersion.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Opportunity_Content_Versions.Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersion.FileType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ContentVersion</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersion.CreatedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Opportunity_Content_Versions.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersion.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersion.FileExtension</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersion.Legacy_Attachment_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersion.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Opportunity_Content_Versions.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_contentVersionList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_contentVersion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Opportunity_Content_Versions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Document_Versions_for_Data_Table_from_Uploaded</name>
        <label>Set Document Versions for Data Table from Uploaded</label>
        <locationX>1623</locationX>
        <locationY>3921</locationY>
        <assignmentItems>
            <assignToReference>varR_selectedContentVersion.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterated_Uploaded_File</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_selectedContentVersion.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_uploadedFileName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_selectedContentVersion.FileType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ContentVersion</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_selectedContentVersion.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UploadedFile</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterated_Uploaded_File</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_MiBNF_Path</name>
        <label>Set MiBNF Path</label>
        <locationX>2091</locationX>
        <locationY>298</locationY>
        <assignmentItems>
            <assignToReference>varT_path</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MiBNF</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_MiBNF_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_No_File_Uploaded_Selected_varaible</name>
        <label>Set No File Uploaded/Selected varaible</label>
        <locationX>956</locationX>
        <locationY>3776</locationY>
        <assignmentItems>
            <assignToReference>varB_fileNotSelectedOrUploaded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Upload_Agreement_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_BNF_Record</name>
        <label>Set Opportunity BNF Record</label>
        <locationX>796</locationX>
        <locationY>678</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunity_BNF.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_BNF.Opportunity__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity_BNF.Original_Prior_Opportunity_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_BNF.Opportunity__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_BNF_Attachments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_BNF_Record_0</name>
        <label>Set Opportunity BNF Record</label>
        <locationX>790</locationX>
        <locationY>1287</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunity_s_MiBNF.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_s_MiBNF.Opportunity__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity_s_MiBNF.Retainer_Opportunity_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_s_MiBNF.Opportunity__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_MiBNF_Attachments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Content_Document_Id</name>
        <label>Set Opportunity Content Document Id</label>
        <locationX>761</locationX>
        <locationY>2162</locationY>
        <assignmentItems>
            <assignToReference>varT_opportunityContentDocumentIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_ContentDocumentLink_of_Opportunity.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_ContentDocumentLink_of_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_path</name>
        <label>Set Opportunity path</label>
        <locationX>657</locationX>
        <locationY>257</locationY>
        <assignmentItems>
            <assignToReference>varT_path</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_CO</name>
        <choiceText>Change Order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Order</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_SOW</name>
        <choiceText>SOW</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SOW</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_WO</name>
        <choiceText>Work Order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Work Order</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_File_Type</name>
        <label>Check File Type</label>
        <locationX>1409</locationX>
        <locationY>2949</locationY>
        <defaultConnector>
            <targetReference>Set_date_format</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Attachment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Data_Table_List.FileType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attachment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Attachment_Link</targetReference>
            </connector>
            <label>Attachment</label>
        </rules>
        <rules>
            <name>ContentVersion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Data_Table_List.FileType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ContentVersion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Content_Version_Link</targetReference>
            </connector>
            <label>ContentVersion</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_file_is_uploaded</name>
        <label>Check if file is uploaded?</label>
        <locationX>1408</locationX>
        <locationY>3781</locationY>
        <defaultConnector>
            <targetReference>Create_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>File_Uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varT_CountOfUploadedFiles</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterated_Uploaded_File</targetReference>
            </connector>
            <label>File Uploaded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Upload_file_is_applicable</name>
        <label>Check if Upload file is applicable</label>
        <locationX>1115</locationX>
        <locationY>3732</locationY>
        <defaultConnector>
            <targetReference>Create_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Applicable</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>X1_Does_this_BNF_MiBNF_result_into_a_new_executed_Agreement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>X1_Does_this_opportunity_have_a_new_executed_Agreement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Count_of_Uploaded_File</targetReference>
            </connector>
            <label>Applicable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Path</name>
        <label>Check Path</label>
        <locationX>1192</locationX>
        <locationY>4663</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Agreement1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varT_path</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agreement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Navigate_to_Agreement_Activation</targetReference>
            </connector>
            <label>Agreement</label>
        </rules>
        <rules>
            <name>Opportunity1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varT_path</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Agreement_Applicable_0</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
        <rules>
            <name>BNF1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varT_path</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BNF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Agreement_Applicable_BNF</targetReference>
            </connector>
            <label>BNF</label>
        </rules>
        <rules>
            <name>MiBNF1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varT_path</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MiBNF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Agreement_Applicable_MiBNF</targetReference>
            </connector>
            <label>MiBNF</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_path2</name>
        <label>check path</label>
        <locationX>1197</locationX>
        <locationY>4203</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Agreement2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varT_path</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agreement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Agreement_Wrapper_Agreement</targetReference>
            </connector>
            <label>Agreement</label>
        </rules>
        <rules>
            <name>Opportunity2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varT_path</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Agreement_Wrapper_Opportunity</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
        <rules>
            <name>BNF2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varT_path</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BNF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Agreement_Wrapper_BNF</targetReference>
            </connector>
            <label>BNF</label>
        </rules>
        <rules>
            <name>MiBNF2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varT_path</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MiBNF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Agreement_Wrapper_MiBNF</targetReference>
            </connector>
            <label>MiBNF</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Reocrd_Id</name>
        <label>Check Reocrd Id</label>
        <locationX>1234</locationX>
        <locationY>181</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varT_sourceObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opportunity_path</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
        <rules>
            <name>Agreement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varT_sourceObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Apttus__APTS_Agreement__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Agreement_Path</targetReference>
            </connector>
            <label>Agreement</label>
        </rules>
        <rules>
            <name>BNF</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varT_sourceObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BNF2__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_BNP_Path</targetReference>
            </connector>
            <label>BNF</label>
        </rules>
        <rules>
            <name>MiBNF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varT_sourceObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MIBNF_Component__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MiBNF_Path</targetReference>
            </connector>
            <label>MiBNF</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Record</name>
        <label>Create Record ?</label>
        <locationX>1194</locationX>
        <locationY>4040</locationY>
        <defaultConnector>
            <targetReference>Set_No_File_Uploaded_Selected_varaible</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varR_selectedContentVersion.FileType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ContentVersion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_selectedContentVersion.FileType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attachment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_path2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Agreement_Applicable</name>
        <label>Is Agreement Applicable ?</label>
        <locationX>1526</locationX>
        <locationY>3413</locationY>
        <defaultConnector>
            <targetReference>Check_Path</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Agreement_is_Applicable</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>X1_Does_this_opportunity_have_a_new_executed_Agreement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>X1_Does_this_BNF_MiBNF_result_into_a_new_executed_Agreement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varT_path</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agreement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Upload_file_is_applicable</targetReference>
            </connector>
            <label>Agreement is Applicable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Agreement_Applicable_0</name>
        <label>Is Agreement Applicable ?</label>
        <locationX>1335</locationX>
        <locationY>4819</locationY>
        <defaultConnector>
            <targetReference>Navigate_To_Source_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Agreement_is_Not_Applicable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>X1_Does_this_opportunity_have_a_new_executed_Agreement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity</targetReference>
            </connector>
            <label>Agreement is Not Applicable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Agreement_Applicable_BNF</name>
        <label>Is Agreement Applicable ?</label>
        <locationX>1071</locationX>
        <locationY>4808</locationY>
        <defaultConnector>
            <targetReference>Navigate_To_Source_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Agreement_is_Not_Applicable_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>X1_Does_this_BNF_MiBNF_result_into_a_new_executed_Agreement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_BNF</targetReference>
            </connector>
            <label>Agreement is Not Applicable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Agreement_Applicable_MiBNF</name>
        <label>Is Agreement Applicable ?</label>
        <locationX>1195</locationX>
        <locationY>4818</locationY>
        <defaultConnector>
            <targetReference>Navigate_To_Source_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Agreement_is_Not_Applicable_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>X1_Does_this_BNF_MiBNF_result_into_a_new_executed_Agreement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_MiBNF</targetReference>
            </connector>
            <label>Agreement is Not Applicable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Agreement_found</name>
        <label>Is Agreement found ?</label>
        <locationX>1144</locationX>
        <locationY>506</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Agreement_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Document_Version</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_BNF_Found</name>
        <label>Opportunity BNF Found ?</label>
        <locationX>646</locationX>
        <locationY>680</locationY>
        <defaultConnector>
            <targetReference>Get_Opportunity_s_MiBNF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BNF_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_BNF</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opportunity_BNF_Record</targetReference>
            </connector>
            <label>BNF Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_MiBNF_found</name>
        <label>Opportunity MiBNF found ?</label>
        <locationX>637</locationX>
        <locationY>1300</locationY>
        <defaultConnector>
            <targetReference>Get_Content_Document_Link_of_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MiBNF_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_s_MiBNF</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opportunity_BNF_Record_0</targetReference>
            </connector>
            <label>MiBNF Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Email_To_The_Support_Team</name>
        <label>Send Email To The Support Team?</label>
        <locationX>180</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Navigate_to_Original_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.CLM_Configuration__c.CLM_Flow_Support_Email_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Error_Email</targetReference>
            </connector>
            <label>Send Email</label>
        </rules>
    </decisions>
    <description>CLMCMA-21014: This flow will create Agreement Repository records. It will be launched from Opportunity, BNF, MiBNF records</description>
    <environments>Default</environments>
    <formulas>
        <name>forT_attachmentLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) + &apos;/servlet/servlet.FileDownload?file=&apos;+{!Iterate_Data_Table_List.Id}</expression>
    </formulas>
    <formulas>
        <name>forT_contentVersionLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) + &apos;lightning/r/ContentDocument/&apos;+{!Iterate_Data_Table_List.ContentDocumentId}+&apos;/view&apos;</expression>
    </formulas>
    <formulas>
        <name>forT_formatedDate</name>
        <dataType>String</dataType>
        <expression>CASE(MONTH(DATEVALUE({!Iterate_Data_Table_List.CreatedDate})), 
    1, &quot;January&quot;, 
    2, &quot;February&quot;, 
    3, &quot;March&quot;, 
    4, &quot;April&quot;, 
    5, &quot;May&quot;, 
    6, &quot;June&quot;, 
    7, &quot;July&quot;, 
    8, &quot;August&quot;, 
    9, &quot;September&quot;, 
    10, &quot;October&quot;, 
    11, &quot;November&quot;, 
    12, &quot;December&quot;, 
    &quot;&quot;) 
&amp; &quot; &quot; &amp; 
TEXT(DAY(DATEVALUE({!Iterate_Data_Table_List.CreatedDate}))) 
&amp; &quot;, &quot; &amp; 
TEXT(YEAR(DATEVALUE({!Iterate_Data_Table_List.CreatedDate})))</expression>
    </formulas>
    <formulas>
        <name>forT_uploadedFileName</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!uploadFile.fileNames}, &apos;]&apos;, &apos;&apos;), &apos;[&apos;, &apos;&apos;)</expression>
    </formulas>
    <interviewLabel>CLM Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM Agreement Repository Screen Flow</label>
    <loops>
        <name>Iterate_BNF_Attachments</name>
        <label>Iterate BNF Attachments</label>
        <locationX>792</locationX>
        <locationY>949</locationY>
        <collectionReference>Get_BNF_Attachments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Document_Versions_for_Data_Table_from_BNF_Attachments</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Content_Document_Link_of_Opportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_BNF_Attachments_BNF_Path</name>
        <label>Iterate BNF Attachments BNF Path</label>
        <locationX>1481</locationX>
        <locationY>735</locationY>
        <collectionReference>Get_BNF_Attachments_BNF_path</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Document_Versions_for_Data_Table_from_BNF_Attachments_BNF_Path</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_BNF_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_BNF_Attachments_MiBNF_Path</name>
        <label>Iterate BNF Attachments MiBNF Path</label>
        <locationX>2100</locationX>
        <locationY>742</locationY>
        <collectionReference>Get_MiBNF_Attachments_MiBNF_Path</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Document_Versions_for_Data_Table_from_BNF_Attachments_MiBNF_Path</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_BNF_Record_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_ContentDocumentLink_of_Opportunity</name>
        <label>Iterate ContentDocumentLink of Opportunity</label>
        <locationX>639</locationX>
        <locationY>2028</locationY>
        <collectionReference>Get_Content_Document_Link_of_Opportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Opportunity_Content_Document_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Opportunity_Content_Versions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Data_Table_List</name>
        <label>Iterate Data Table List</label>
        <locationX>1179</locationX>
        <locationY>2982</locationY>
        <collectionReference>varR_contentVersionList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_File_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Upload_Agreement_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_MiBNF_Attachments</name>
        <label>Iterate MiBNF Attachments</label>
        <locationX>778</locationX>
        <locationY>1583</locationY>
        <collectionReference>Get_MiBNF_Attachments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Document_Versions_for_Data_Table_from_BNF_Attachments_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Content_Document_Link_of_Opportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Opportunity_Attachments</name>
        <label>Iterate Opportunity Attachments</label>
        <locationX>654</locationX>
        <locationY>2889</locationY>
        <collectionReference>Get_Opportunity_Attachments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Document_Versions_for_Data_Table_from_Opportunity_Attachments</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Iterate_Data_Table_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Opportunity_Content_Versions</name>
        <label>Iterate Opportunity Content Versions</label>
        <locationX>661</locationX>
        <locationY>2476</locationY>
        <collectionReference>Get_Opportunity_Content_Versions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Document_Versions_for_Data_Table_from_Opportunity_Files</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Opportunity_Attachments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterated_Uploaded_File</name>
        <label>Iterated Uploaded File</label>
        <locationX>1408</locationX>
        <locationY>3917</locationY>
        <collectionReference>uploadFile.contentVersionIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Document_Versions_for_Data_Table_from_Uploaded</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Document_Versions</name>
        <label>Loop Through Document Versions</label>
        <locationX>1018</locationX>
        <locationY>945</locationY>
        <collectionReference>Get_Document_Version</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Document_Versions_for_Data_Table_from_Agreement_Document_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Iterate_Data_Table_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Agreement_Record</name>
        <label>Get Agreement Record</label>
        <locationX>1145</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Agreement_found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Apttus__APTS_Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_BNF_Attachments</name>
        <label>Get BNF Attachments</label>
        <locationX>795</locationX>
        <locationY>824</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_BNF_Attachments</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_BNF.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContentType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>application/pdf</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>CON_EOA_SOW</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>MSA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>CONTRACT</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>EOA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Attachment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_BNF_Attachments_BNF_path</name>
        <label>Get BNF Attachments BNF path</label>
        <locationX>1476</locationX>
        <locationY>573</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_BNF_Attachments_BNF_Path</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContentType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>application/pdf</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>CON_EOA_SOW</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>MSA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>CONTRACT</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>EOA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Attachment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_BNF_Record</name>
        <label>Get BNF Record</label>
        <locationX>1477</locationX>
        <locationY>438</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_BNF_Attachments_BNF_path</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BNF2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_Document_Link_of_Opportunity</name>
        <label>Get Content Document Link of Opportunity</label>
        <locationX>640</locationX>
        <locationY>1827</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_ContentDocumentLink_of_Opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Document_Version</name>
        <label>Get Document Version</label>
        <locationX>1020</locationX>
        <locationY>789</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Document_Versions</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>1 AND (2 OR 3) AND 4 AND 5</filterLogic>
        <filters>
            <field>Apttus__AgreementId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Agreement_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Apttus__DocumentType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agreement Document</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__DocumentType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Executed Document</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__IsTransient__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Title__c</field>
            <operator>EndsWith</operator>
            <value>
                <stringValue>.pdf</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Apttus__DocumentVersion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MiBNF_Attachments</name>
        <label>Get MiBNF Attachments</label>
        <locationX>780</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_MiBNF_Attachments</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_s_MiBNF.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContentType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>application/pdf</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>CON_EOA_SOW</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>MSA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>CONTRACT</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>EOA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Attachment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MiBNF_Attachments_MiBNF_Path</name>
        <label>Get MiBNF Attachments MiBNF Path</label>
        <locationX>2095</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_BNF_Attachments_MiBNF_Path</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContentType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>application/pdf</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>CON_EOA_SOW</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>MSA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>CONTRACT</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>EOA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Attachment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MiBNF_Record</name>
        <label>Get MiBNF Record</label>
        <locationX>2091</locationX>
        <locationY>438</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_MiBNF_Attachments_MiBNF_Path</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MIBNF_Component__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>657</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_BNF</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Attachments</name>
        <label>Get Opportunity Attachments</label>
        <locationX>659</locationX>
        <locationY>2721</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Opportunity_Attachments</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContentType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>application/pdf</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Attachment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_BNF</name>
        <label>Get Opportunity BNF</label>
        <locationX>655</locationX>
        <locationY>530</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_BNF_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BNF2__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Content_Versions</name>
        <label>Get Opportunity Content Versions</label>
        <locationX>654</locationX>
        <locationY>2301</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Opportunity_Content_Versions</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>In</operator>
            <value>
                <elementReference>varT_opportunityContentDocumentIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>FileType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PDF</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_s_MiBNF</name>
        <label>Get Opportunity&apos;s MiBNF</label>
        <locationX>647</locationX>
        <locationY>1165</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_MiBNF_found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MIBNF_Component__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_BNF</name>
        <label>Update BNF</label>
        <locationX>1081</locationX>
        <locationY>4977</locationY>
        <connector>
            <targetReference>Navigate_To_Source_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AR_Comments__c</field>
            <value>
                <elementReference>X2_Provide_comments_BNF_MiBNF</elementReference>
            </value>
        </inputAssignments>
        <object>BNF2__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MiBNF</name>
        <label>Update MiBNF</label>
        <locationX>1219</locationX>
        <locationY>4984</locationY>
        <connector>
            <targetReference>Navigate_To_Source_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AR_Comments__c</field>
            <value>
                <elementReference>X2_Provide_comments_BNF_MiBNF</elementReference>
            </value>
        </inputAssignments>
        <object>MIBNF_Component__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>1391</locationX>
        <locationY>4989</locationY>
        <connector>
            <targetReference>Navigate_To_Source_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AR_Comments__c</field>
            <value>
                <elementReference>X2_Provide_comments_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Custom_Error_Screen</name>
        <label>Custom Error Screen</label>
        <locationX>229</locationX>
        <locationY>380</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_Email_To_The_Support_Team</targetReference>
        </connector>
        <fields>
            <name>Error_Text</name>
            <fieldText>&lt;p&gt;{!textT_ErrorMessageDisplay}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Upload_Agreement_Screen</name>
        <label>Upload Agreement Screen</label>
        <locationX>1186</locationX>
        <locationY>3281</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Agreement_Applicable</targetReference>
        </connector>
        <fields>
            <name>Upload_Agreement_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Upload_Agreement_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Header</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Agreement Repository&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;: Upload Agreement&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>X1_Does_this_opportunity_have_a_new_executed_Agreement</name>
            <choiceReferences>Choice_Yes</choiceReferences>
            <choiceReferences>Choice_No</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>X1_Does_this_opportunity_have_a_new_executed_Agreement</elementReference>
            </defaultValue>
            <fieldText>1. Does this opportunity have a new executed Agreement?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>&lt;p&gt;&lt;em style=&quot;font-size: 10px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Select Yes if IQVIA has signed Legal Agreement with Customer ex. SOW, WO, GSA or any other kind of legal Agreement.&lt;/em&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varT_path</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Opportunity</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>opportunityPathLabel</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;font-size: 10px;&quot;&gt;Select Yes if IQVIA has signed Legal Agreement with Customer ex. SOW, WO, GSA or any other kind of legal Agreement.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varT_path</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Opportunity</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Upload_Agreement_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Upload_Agreement_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>X2_Provide_comments_Opportunity</name>
                    <dataType>String</dataType>
                    <fieldText>2. Provide comments?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>X1_Does_this_opportunity_have_a_new_executed_Agreement</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Choice_No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>OpportunityNoARCommentLabel</name>
                    <fieldText>&lt;p&gt;&lt;em style=&quot;font-size: 10px;&quot;&gt;Why Agreement is not applicable for this opportunity.&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>X1_Does_this_opportunity_have_a_new_executed_Agreement</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Choice_No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Upload_Agreement_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Upload_Agreement_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Upload_Agreement_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>X1_Does_this_BNF_MiBNF_result_into_a_new_executed_Agreement</name>
                    <choiceReferences>Choice_Yes</choiceReferences>
                    <choiceReferences>Choice_No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>X1_Does_this_BNF_MiBNF_result_into_a_new_executed_Agreement</elementReference>
                    </defaultValue>
                    <fieldText>1. Does this BNF/MiBNF result into a new executed Agreement.?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varT_path</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>BNF</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varT_path</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>MiBNF</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>BNFPathLabel</name>
                    <fieldText>&lt;p&gt;&lt;em style=&quot;font-size: 10px;&quot;&gt;Select Yes if IQVIA has signed Legal Agreement (Initial or CO) with Customer under this BNF/MiBNF ex. SOW, Change Order&amp;nbsp;or any other kind of legal agreement.&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varT_path</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>BNF</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varT_path</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>MiBNF</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Upload_Agreement_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Upload_Agreement_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>X2_Provide_comments_BNF_MiBNF</name>
                    <dataType>String</dataType>
                    <fieldText>2. Provide comments?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>X1_Does_this_BNF_MiBNF_result_into_a_new_executed_Agreement</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Choice_No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>BNFMiBNFNoARCommentLabel</name>
                    <fieldText>&lt;p&gt;&lt;em style=&quot;font-size: 10px;&quot;&gt;Why Agreement is not applicable for this BNF/MiBNF.&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>X1_Does_this_BNF_MiBNF_result_into_a_new_executed_Agreement</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Choice_No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Upload_Agreement_Screen_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Upload_Agreement_Screen_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Upload_Agreement_Screen_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>X2_What_is_the_Agreement_type_Opportunity</name>
                    <choiceReferences>Choice_SOW</choiceReferences>
                    <choiceReferences>Choice_CO</choiceReferences>
                    <choiceReferences>Choice_WO</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>X2_What_is_the_Agreement_type_Opportunity</elementReference>
                    </defaultValue>
                    <fieldText>2. What is the Agreement type?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>X1_Does_this_opportunity_have_a_new_executed_Agreement</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Choice_Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>X2_What_is_the_Agreement_type_BNF</name>
                    <choiceReferences>Choice_SOW</choiceReferences>
                    <choiceReferences>Choice_CO</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>X2_What_is_the_Agreement_type_BNF</elementReference>
                    </defaultValue>
                    <fieldText>2. What is the Agreement type?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>X1_Does_this_BNF_MiBNF_result_into_a_new_executed_Agreement</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Choice_Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>AgreementTypeLabel</name>
                    <fieldText>&lt;p&gt;&lt;em style=&quot;font-size: 10px;&quot;&gt;What type of Agreement IQVIA has signed with Customer.&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>X1_Does_this_BNF_MiBNF_result_into_a_new_executed_Agreement</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Choice_Yes</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>X1_Does_this_opportunity_have_a_new_executed_Agreement</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Choice_Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Upload_Agreement_Screen_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>DataTableOpportunityLabel</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;3. Select Signed Agreement Document from Opportunity/BNF/MiBNF/CLM Attachments? Or upload signed agreement document.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varT_path</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Opportunity</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>X1_Does_this_opportunity_have_a_new_executed_Agreement</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AgreementDataTableLabel</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;1. Select Signed Agreement Document from CLM Documents?&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varT_path</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Agreement</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DataTableBNFLabel</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;3. Select Signed Agreement Document from BNF/MiBNF/CLM Attachments? Or upload signed agreement document.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>(1 OR 3) AND 2</conditionLogic>
                <conditions>
                    <leftValueReference>varT_path</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>BNF</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>X1_Does_this_BNF_MiBNF_result_into_a_new_executed_Agreement</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_Yes</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varT_path</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>MiBNF</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Document_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContentVersion</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select the Agreement Document</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>varR_finalContentVersionList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Click_to_Download__c&quot;,&quot;guid&quot;:&quot;column-23bf&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Document Title&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Click to Download&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-a8d3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Document Source&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;External_Document_Id__c&quot;,&quot;guid&quot;:&quot;column-a684&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Uploaded On&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;External Document Id&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varR_selectedContentVersion</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>X1_Does_this_opportunity_have_a_new_executed_Agreement</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_Yes</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varT_path</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Agreement</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>X1_Does_this_BNF_MiBNF_result_into_a_new_executed_Agreement</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>uploadFile</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Signed Agreement Document</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.pdf</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>X1_Does_this_opportunity_have_a_new_executed_Agreement</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_Yes</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>X1_Does_this_BNF_MiBNF_result_into_a_new_executed_Agreement</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>uploadFileNote</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;font-size: 10px;&quot;&gt;If Agreement Document is not listed in above document list upload agreement from local machine.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>X1_Does_this_BNF_MiBNF_result_into_a_new_executed_Agreement</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_Yes</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>X1_Does_this_opportunity_have_a_new_executed_Agreement</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>File_Not_selected_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(255, 0, 0);&quot;&gt;Please Select or Upload a Document&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varB_fileNotSelectedOrUploaded</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>UploadedFileName</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;&lt;em&gt;Files Uploaded: &lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!forT_uploadedFileName}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>uploadFile.fileNames</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1106</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_Reocrd_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>textT_attachmentLink</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;{!forT_attachmentLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: blue;&quot;&gt;{!Iterate_Data_Table_List.Title}&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>textT_contentVersionLink</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href = &quot;{!forT_contentVersionLink}&quot; rel = &quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color:blue;text-decoration:underline;&quot;&gt;{!Iterate_Data_Table_List.Title}&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>textT_ErrorMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;An unexpected error has occurred. Please contact the support team for help.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Error Details&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; :  &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Error Time&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; :&amp;nbsp;{!$Flow.CurrentDateTime}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Running User&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; : {!$User.FirstName} &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$User.LastName}&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Record Id &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;: {!recordId} 		&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>textT_ErrorMessageDisplay</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;An unexpected error has occurred. Please contact the support team for help.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Error Details&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; :  &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>activateLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varA_agreementWrapper</name>
        <apexClass>AgreementWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varB_fileNotSelectedOrUploaded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varR_ApplicableOpportunityAgreement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>varR_contentVersion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
    <variables>
        <name>varR_contentVersionList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
    <variables>
        <name>varR_finalContentVersionList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
    <variables>
        <name>varR_selectedContentVersion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
    <variables>
        <name>varT_CountOfUploadedFiles</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varT_opportunityContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_path</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_sourceObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
