src/flows/CLM_Deliver_Button_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_content_Document</name>
        <label>Create Content Document</label>
        <locationX>50</locationX>
        <locationY>1682</locationY>
        <actionName>UTL_CLM_Flow_ActionHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_through_Content_Documents</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>CreateContentDocument</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agreementWrapper</name>
            <value>
                <elementReference>varA_agreementWrapper</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UTL_CLM_Flow_ActionHandler</nameSegment>
        <outputParameters>
            <assignToReference>varR_contentVersionRecords</assignToReference>
            <name>contentVersions</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>FileUpload</name>
        <label>FileUpload</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <actionName>UTL_CLM_Flow_ActionHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_through_File_Wrapper_List</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>File</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agreementId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fileList</name>
            <value>
                <elementReference>varR_Files</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputString</name>
            <value>
                <stringValue>Upload File</stringValue>
            </value>
        </inputParameters>
        <nameSegment>UTL_CLM_Flow_ActionHandler</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Refresh_Flow</name>
        <label>Refresh Flow</label>
        <locationX>468</locationX>
        <locationY>2882</locationY>
        <actionName>c:LXC_CLM_RefreshFlow</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:LXC_CLM_RefreshFlow</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Set_Agreement_Wrapper_ContentVersion_Ids</name>
        <label>Set Agreement Wrapper ContentVersion Ids</label>
        <locationX>138</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>varA_agreementWrapper.contentVersionIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Selected_Document_Versions_Details.Apttus__ContentVersionId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Selected_Document_Versions_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Content_Document_File_Link_1</name>
        <label>Set Content Document File Link 1</label>
        <locationX>138</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varT_contentDocumentStrings</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forT_link1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_File_Wrapper_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Content_Document_File_Link_2</name>
        <label>Set Content Document File Link 2</label>
        <locationX>138</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>varT_contentDocumentStrings</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forT_link2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Content_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_Address_of_Requestor</name>
        <label>Set Email Address of Requestor</label>
        <locationX>182</locationX>
        <locationY>2282</locationY>
        <assignmentItems>
            <assignToReference>varT_EmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forT_RequestorEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_EmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_IQVIA_Agreement.Related_Opportunity__r.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_Recipient_found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_File_List</name>
        <label>Set File List &amp; Agreement Wrapper</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>File_Upload.fData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>~Delivered Document</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Files</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>File_Upload.fData</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varA_agreementWrapper.iqviaAgreement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_IQVIA_Agreement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varA_agreementWrapper.docType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Delivered Document</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_File_Exists</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_File_Exists</name>
        <label>Check if File Exists</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Check_if_User_Select_Document_Versions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_File</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>File_Upload.fData</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>conVerId</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FileUpload</targetReference>
            </connector>
            <label>Has File</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_User_Select_Document_Versions</name>
        <label>Check if User Select Document Versions</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>Update_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Selection</defaultConnectorLabel>
        <rules>
            <name>User_Select</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_selectedDocVerDetails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Selected_Document_Versions_Details</targetReference>
            </connector>
            <label>User Select</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Recipient_found</name>
        <label>is Recipient found ?</label>
        <locationX>182</locationX>
        <locationY>2390</locationY>
        <defaultConnector>
            <targetReference>Call_Subflow_to_Create_Notes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Recipient_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varT_EmailAddress</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Send_Notification_SubFlow</targetReference>
            </connector>
            <label>Recipient Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Requestor_Active</name>
        <label>Is Requestor Active?</label>
        <locationX>468</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Inactive_Contact_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inactive</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_IQVIA_Agreement.Requestor__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Document_Version_Details_Records</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forT_AccountLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) + {!Get_IQVIA_Agreement.Account__c}</expression>
    </formulas>
    <formulas>
        <name>forT_AgreementLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) + {!Get_IQVIA_Agreement.Id}</expression>
    </formulas>
    <formulas>
        <name>forT_AgreementType</name>
        <dataType>String</dataType>
        <expression>IF({!Get_IQVIA_Agreement.Version_Number__c} == 0,Text({!Get_IQVIA_Agreement.Subtype__c}), Text({!Get_IQVIA_Agreement.Original_Agreement__r.Subtype__c}))</expression>
    </formulas>
    <formulas>
        <name>forT_link1</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Loop_through_File_Wrapper_List.id})), &apos;&lt;a href=&quot;&apos; + LEFT({!$Api.Partner_Server_URL_140}, FIND(&apos;.com&apos;, {!$Api.Partner_Server_URL_140}) + 4) + &apos;sfc/servlet.shepherd/document/download/&apos; + 
{!Loop_through_File_Wrapper_List.Id} + &apos;&quot;&gt; &apos; + {!Loop_through_File_Wrapper_List.title} + &apos;&lt;/a&gt; (Delivered Document)&lt;br/&gt;&apos;, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>forT_link2</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Loop_through_Content_Documents.ContentDocumentId})), &apos;&lt;a href=&quot;&apos; + LEFT({!$Api.Partner_Server_URL_140}, FIND(&apos;.com&apos;, {!$Api.Partner_Server_URL_140}) + 4) + &apos;sfc/servlet.shepherd/document/download/&apos; + 
{!Loop_through_Content_Documents.ContentDocumentId} + &apos;&quot;&gt; &apos; + {!Loop_through_Content_Documents.Title} + &apos;&lt;/a&gt; (Delivered Document)&lt;br/&gt;&apos;, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>forT_OpportunityLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) +{!Get_IQVIA_Agreement.Related_Opportunity__c}</expression>
    </formulas>
    <formulas>
        <name>forT_Requestor</name>
        <dataType>String</dataType>
        <expression>IF({!Get_IQVIA_Agreement.Requestor__r.IsActive}, {!Get_IQVIA_Agreement.Requestor__c}, {!Get_IQVIA_Agreement.OwnerId})</expression>
    </formulas>
    <formulas>
        <name>forT_RequestorEmail</name>
        <dataType>String</dataType>
        <expression>IF({!Get_IQVIA_Agreement.Requestor__r.IsActive}, {!Get_IQVIA_Agreement.Requestor__r.Email}, {!Get_IQVIA_Agreement.Owner:Group.Email})</expression>
    </formulas>
    <formulas>
        <name>getContentId</name>
        <dataType>String</dataType>
        <expression>{!DocumentVersionRecord.Apttus__LatestVersionId__r.Apttus__ContentId__c}</expression>
    </formulas>
    <formulas>
        <name>varT_TypeOfRequest</name>
        <dataType>String</dataType>
        <expression>IF(OR(Text({!Get_IQVIA_Agreement.Subtype__c}) == &quot;Amendment&quot;,Text({!Get_IQVIA_Agreement.Subtype__c}) == &quot;Change Order&quot;),Text({!Get_IQVIA_Agreement.Subtype__c}), &quot;New Agreement&quot;)</expression>
    </formulas>
    <interviewLabel>CLM Deliver Button Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM Deliver Button Flow</label>
    <loops>
        <name>Loop_through_Content_Documents</name>
        <label>Loop through Content Documents</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <collectionReference>varR_contentVersionRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Content_Document_File_Link_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_File_Wrapper_List</name>
        <label>Loop through File Wrapper List</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <collectionReference>File_Upload.wrapperList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Content_Document_File_Link_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_User_Select_Document_Versions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Selected_Document_Versions_Details</name>
        <label>Loop through Selected Document Versions Details</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <collectionReference>varR_selectedDocVerDetails</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Agreement_Wrapper_ContentVersion_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_content_Document</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_IQVIA_Agreement</name>
        <label>Get IQVIA Agreement</label>
        <locationX>468</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Requestor_Active</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IQVIA_Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Roll_back_update_records</name>
        <label>Roll back update records</label>
        <locationX>490</locationX>
        <locationY>2282</locationY>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>182</locationX>
        <locationY>2174</locationY>
        <connector>
            <targetReference>Set_Email_Address_of_Requestor</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Roll_back_update_records</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>forT_Requestor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Other Party Review</stringValue>
            </value>
        </inputAssignments>
        <object>IQVIA_Agreement__c</object>
    </recordUpdates>
    <screens>
        <name>Document_Versions_Details_Screen</name>
        <label>Document Versions Details Screen</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_File_List</targetReference>
        </connector>
        <fields>
            <name>Header_1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>File_Upload</name>
            <extensionName>c:lWC_CLM_FileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isMultiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload the File</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isMandatory</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>space_1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>displaytext1</name>
            <fieldText>&lt;p&gt;Select the document coming from the document versions.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Documents_Version_Details_Records</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Apttus__DocumentVersionDetail__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Document Versions Records</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Document_Version_Details_Records.varR_documentVersionDetails</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Title_Click_to_Download__c&quot;,&quot;guid&quot;:&quot;column-feca&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Title (Click to Download)&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-5321&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Version&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-957a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Created Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;Apttus__Tags__c&quot;,&quot;guid&quot;:&quot;column-8198&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Created By&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Tags&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varR_selectedDocVerDetails</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Note_from_Contracting_Team</name>
            <dataType>String</dataType>
            <fieldText>Note from Contracting Team</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>490</locationX>
        <locationY>2390</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Refresh_Flow</targetReference>
        </connector>
        <fields>
            <name>Error_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;An unexpected error has occurred. Please contact the support team for help.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Error Details&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; :  &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Inactive_Contact_Error_Screen</name>
        <label>Inactive Contact Error Screen</label>
        <locationX>754</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Refresh_Flow</targetReference>
        </connector>
        <fields>
            <name>displaytext10</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(205, 33, 59);&quot;&gt;The Requester&apos;s contact to whom the delivery is to be sent is inactive. Please connect with the support team to update the Requester field and then try to deliver the document.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(205, 33, 59);&quot;&gt;﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>342</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_IQVIA_Agreement</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_Send_Notification_SubFlow</name>
        <label>Call Send Notification SubFlow</label>
        <locationX>50</locationX>
        <locationY>2498</locationY>
        <connector>
            <targetReference>Call_Subflow_to_Create_Notes</targetReference>
        </connector>
        <flowName>CLM_Subflow_Send_Notfication</flowName>
        <inputAssignments>
            <name>varC_EmailRecipients</name>
            <value>
                <elementReference>varT_EmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_EmailBody</name>
            <value>
                <elementReference>textT_EmailBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_EmailSubject</name>
            <value>
                <elementReference>textT_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_FromAddress</name>
            <value>
                <stringValue>clmintegration@iqvia.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_SenderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Call_Subflow_to_Create_Notes</name>
        <label>Call Subflow to Create Notes</label>
        <locationX>182</locationX>
        <locationY>2690</locationY>
        <connector>
            <targetReference>Refresh_Flow</targetReference>
        </connector>
        <flowName>CLM_Subflow_Create_Notes</flowName>
        <inputAssignments>
            <name>varT_Content</name>
            <value>
                <elementReference>Note_from_Contracting_Team</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_Title</name>
            <value>
                <stringValue>Deliver</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Get_Document_Version_Details_Records</name>
        <label>Get Document Version Details Records</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Document_Versions_Details_Screen</targetReference>
        </connector>
        <flowName>CLM_Subflow_Get_Document_Versions_Details</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_IQVIA_Agreement.Conga_Agreement_Id__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>textT_EmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>AGREEMENT DELIVERED
&lt;br/&gt;
&lt;br/&gt;
The requested agreement documents have been created and added to the Files list of this record. You may navigate to the agreement record using the link below to download the file. Please review the file carefully before sending it to the Client for their review and/or signature.
&lt;br/&gt;
&lt;br/&gt;
&lt;table border=&quot;1&quot; class=&quot;ql-table-blob&quot; style=&quot;border-collapse: collapse; border: 1px solid&quot;&gt;
	&lt;tbody&gt;
	&lt;tr style=&quot;border-bottom: 1px solid;&quot;&gt;	
		&lt;td style=&quot;border-right: 1px solid&quot;&gt;Agreement&lt;/td&gt;	
		&lt;td style=&quot;padding-left:10px;&quot;&gt;&lt;a href=&quot;{!forT_AgreementLink}&quot;&gt;{!Get_IQVIA_Agreement.FF_Agreement_Number__c} - {!Get_IQVIA_Agreement.Name}&lt;/a&gt;&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr style=&quot;border-bottom: 1px solid;&quot;&gt;	
		&lt;td style=&quot;border-right: 1px solid&quot;&gt;Client&lt;/td&gt;	
		&lt;td style=&quot;padding-left:10px;&quot;&gt;&lt;a href=&quot;{!forT_AccountLink}&quot;&gt;{!Get_IQVIA_Agreement.Account__r.Name}&lt;/a&gt;&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr style=&quot;border-bottom: 1px solid;&quot;&gt;	
		&lt;td style=&quot;border-right: 1px solid&quot;&gt;Opportunity&lt;/td&gt;	
		&lt;td style=&quot;padding-left:10px;&quot;&gt;&lt;a href=&quot;{!forT_OpportunityLink}&quot;&gt;{!Get_IQVIA_Agreement.Related_Opportunity__r.Opportunity_Number__c} - {!Get_IQVIA_Agreement.Related_Opportunity__r.Name}&lt;/a&gt;&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr style=&quot;border-bottom: 1px solid;&quot;&gt;	
		&lt;td style=&quot;border-right: 1px solid&quot;&gt;Type of Request&lt;/td&gt;	
		&lt;td style=&quot;padding-left:10px;&quot;&gt;{!varT_TypeOfRequest}&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr style=&quot;border-bottom: 1px solid;&quot;&gt;	
		&lt;td style=&quot;border-right: 1px solid&quot;&gt;IQVIA Service Line&lt;/td&gt;	
		&lt;td style=&quot;padding-left:10px;&quot;&gt;{!Get_IQVIA_Agreement.Primary_Business_Line1__c}&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr style=&quot;border-bottom: 1px solid;&quot;&gt;	
		&lt;td style=&quot;border-right: 1px solid&quot;&gt;Agreement Type&lt;/td&gt;	
		&lt;td style=&quot;padding-left:10px;&quot;&gt;{!forT_AgreementType}&lt;/td&gt;
	&lt;/tr&gt;
	&lt;/tbody&gt;
&lt;/table&gt;
&lt;br/&gt;
&lt;i&gt;&lt;b&gt;Document: &lt;/b&gt;&lt;br/&gt;{!varT_contentDocumentStrings}&lt;/i&gt;
&lt;br/&gt;
&lt;i&gt;&lt;b&gt;Comments:&lt;/b&gt; {!Note_from_Contracting_Team} &lt;/i&gt;
&lt;br/&gt;
&lt;br/&gt;
Thank you,&lt;br/&gt;
US Contracting Center (USCC)&lt;br/&gt;
The CLM integration email &lt;b&gt;&lt;u&gt;is not&lt;/u&gt;&lt;/b&gt; an active or monitored email account, please reach out to USCC-CLM-Support@iqvia.com for any additional assistance.</text>
    </textTemplates>
    <textTemplates>
        <name>textT_Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Agreement Delivered || Client: {!Get_IQVIA_Agreement.Account__r.Name} || Agreement : {!Get_IQVIA_Agreement.FF_Agreement_Number__c} - {!Get_IQVIA_Agreement.Name}</text>
    </textTemplates>
    <variables>
        <name>documentVersionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DocumentVersionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__DocumentVersion__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varA_agreementWrapper</name>
        <apexClass>AgreementWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varR_allDocumentVersionsDetails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__DocumentVersionDetail__c</objectType>
    </variables>
    <variables>
        <name>varR_contentVersionRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
    <variables>
        <name>varR_Files</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varR_selectedDocVerDetails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__DocumentVersionDetail__c</objectType>
    </variables>
    <variables>
        <name>varT_contentDocumentList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is a HTML value of all the content documents created with their title.</description>
        <name>varT_contentDocumentStrings</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_EmailAddress</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_selectedDocVerDetailsTitles</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_uploadedFileConDocId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
