src/flows/CLM_SubFlow_IQVIA_Agreement_Handler.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Which_Record_Type</name>
        <label>Which Record Type</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>USBU_SOW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_NewRecord.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USBU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>USBU_SOW_Sent_for_Signatures_Notification</targetReference>
            </connector>
            <label>USBU SOW</label>
        </rules>
        <rules>
            <name>USBU_MSA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_NewRecord.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MSA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MSA_Sent_for_Signatures_Notitcation</targetReference>
            </connector>
            <label>USBU MSA</label>
        </rules>
    </decisions>
    <description>CLMCMA-18392: Handler subflow for IQVIA Agreement RecordTriggered After Insert/Update</description>
    <environments>Default</environments>
    <interviewLabel>CLM SubFlow : IQVIA Agreement Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM SubFlow : IQVIA Agreement Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Which_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_CLM_Subflow_for_Expired_Notification</name>
        <label>Call CLM Subflow for Expired Notification</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <flowName>CLM_Subflow_IQVIA_Agreement_Expired_Notification</flowName>
        <inputAssignments>
            <name>varR_NewRecord</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OldRecord</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>MSA_Sent_for_Signatures_Notitcation</name>
        <label>MSA Sent for Signatures Notitcation</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Call_CLM_Subflow_for_Expired_Notification</targetReference>
        </connector>
        <flowName>CLM_Subflow_IQVIA_Agreement_Sent_For_Signature_Notification</flowName>
        <inputAssignments>
            <name>varR_NewRecord</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OldRecord</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>USBU_SOW_Sent_for_Signatures_Notification</name>
        <label>USBU SOW Sent for Signatures Notification</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <flowName>CLM_Subflow_IQVIA_Agreement_Sent_For_Signature_Notification</flowName>
        <inputAssignments>
            <name>varR_NewRecord</name>
            <value>
                <elementReference>varR_NewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OldRecord</name>
            <value>
                <elementReference>varR_OldRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varR_NewRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>IQVIA_Agreement__c</objectType>
    </variables>
    <variables>
        <name>varR_OldRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>IQVIA_Agreement__c</objectType>
    </variables>
</Flow>
