src/flows/CLM_USBU_SOW_Amend_Screen_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Amend_IQVIA_Agreement</name>
        <label>Amend IQVIA Agreement</label>
        <locationX>710</locationX>
        <locationY>2222</locationY>
        <actionName>UTL_CLM_Flow_ActionHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Agreement_Team</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>IQVIA_AMEND_BY_FLOW</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agreementWrapper</name>
            <value>
                <elementReference>wrapper</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UTL_CLM_Flow_ActionHandler</nameSegment>
        <outputParameters>
            <assignToReference>varT_AmendedId</assignToReference>
            <name>flowOutputRecordId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Navigate_To_Amended_Record</name>
        <label>Navigate To Amended Record</label>
        <locationX>710</locationX>
        <locationY>3626</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>varT_AmendedId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Navigate_To_Original_Record</name>
        <label>Navigate To Original Record</label>
        <locationX>710</locationX>
        <locationY>3086</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Requestor</name>
        <label>Send Email to Requestor</label>
        <locationX>710</locationX>
        <locationY>2546</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Email_Message_for_Requestor</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>varC_EmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>clmintegration@iqvia.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>textT_requestorSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>textT_RequestorBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Upload_Files</name>
        <label>Upload Files</label>
        <locationX>446</locationX>
        <locationY>2870</locationY>
        <actionName>UTL_CLM_Flow_ActionHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Call_Subflow_to_Create_Notes</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>File</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agreementId</name>
            <value>
                <elementReference>varT_AmendedId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fileList</name>
            <value>
                <elementReference>varT_uploadedFile</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UTL_CLM_Flow_ActionHandler</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Set_File_data</name>
        <label>Set File data</label>
        <locationX>666</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>varT_FileData</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_File_Repeater.File_Upload_R.fData</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_FileData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>~{!Loop_Through_File_Repeater.Document_Type_M}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_uploadedFile</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varT_FileData</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_FileData</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_FileName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forT_files</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_Comments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forT_Comments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_File_Repeater</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_IQVIA_Agreement</name>
        <label>Set IQVIA Agreement</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varR_agreement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_IQVIA_Agreement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Version_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Previous_Values</name>
        <label>Set Previous Values</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>varB_HasError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_agreement.Contract_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Agreement_End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varD_DefaultStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Agreement_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varN_DefaultCO</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Change_Order_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DefaultName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Agreement_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Key_Details_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Requestor_and_Opp_Owner_Email</name>
        <label>Set Requestor and Opp Owner Email</label>
        <locationX>710</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>varC_EmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_agreement.Related_Opportunity__r.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_EmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_EmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Amend_IQVIA_Agreement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Wrapper</name>
        <label>Set Wrapper</label>
        <locationX>710</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>wrapper.coNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Change_Order_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_agreement.Contract_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Agreement_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_agreement.Contract_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Agreement_End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_agreement.Subtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_agreement.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Agreement_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_agreement.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>wrapper.action</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IQVIA_AMEND_BY_FLOW</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_agreement.Requestor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_agreement.Related_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_OppForAmend</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_agreement.Version_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Version_Number.Version_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_agreement.Primary_Business_Line1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Business_Line_Amend</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_agreement.Perpetual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forB_Perpetual</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>wrapper.iqviaAgreement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_agreement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Requestor_and_Opp_Owner_Email</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice_EndDate</name>
        <choiceText>End Date of Contract</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>End Date of Contract</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Perpetual</name>
        <choiceText>Perpetual</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Perpetual</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceT_Approvals</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Approvals&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approvals</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceT_DD</name>
        <choiceText>Draft Document</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Draft Document</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceT_NCT</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;New Customer Template&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Customer Template</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceT_pDoc</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Pricing Documentation&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pricing Documentation</stringValue>
        </value>
    </choices>
    <constants>
        <name>contT_rule</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;hr style=&quot;margin-top: 0px;margin-bottom: 15px;&quot;&gt;</stringValue>
        </value>
    </constants>
    <decisions>
        <name>check_Flow_start_From_Opportunity</name>
        <label>check Flow start From Opportunity</label>
        <locationX>710</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Summary_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upload_Document_Screen</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Uploaded_File_Is_Blank</name>
        <label>Check If Uploaded File Is Blank</label>
        <locationX>710</locationX>
        <locationY>2762</locationY>
        <defaultConnector>
            <targetReference>Call_Subflow_to_Create_Notes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varT_uploadedFile</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upload_Files</targetReference>
            </connector>
            <label>Not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Object</name>
        <label>Check Object</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Agreement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varB_fromAgreement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_IQVIA_Agreement</targetReference>
            </connector>
            <label>Agreement</label>
        </rules>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varB_fromAgreement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_From_Opportunity</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Opportunity_Valid</name>
        <label>Is Opportunity Valid?</label>
        <locationX>446</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>check_Flow_start_From_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid Stage</defaultConnectorLabel>
        <rules>
            <name>Invalid_Opp</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Selected_Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1. Identifying Opportunity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Selected_Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2. Qualifying Opportunity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Selected_Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3. Developing Proposal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Previous_Values</targetReference>
            </connector>
            <label>Invalid Stage</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choiceR_legalEntity</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_agreement.Legal_Entity_1__c</elementReference>
            </value>
        </filters>
        <object>Finance_IQVIA_Legal_Entity__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picChoice_BusinessLine</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Primary_Business_Line1__c</picklistField>
        <picklistObject>IQVIA_Agreement__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>forB_checkMSAExpired</name>
        <dataType>Boolean</dataType>
        <expression>IF(OR(ISPICKVAL({!varR_agreement.Related_Master_IQVIAAgreement__r.Status__c}, &apos;Expired&apos;),ISPICKVAL({!varR_agreement.Related_Master_IQVIAAgreement__r.Status__c}, &apos;Superseded&apos;)), true, false)</expression>
    </formulas>
    <formulas>
        <name>forB_Perpetual</name>
        <dataType>Boolean</dataType>
        <expression>IF({!End_Date_of_Contract} == {!choice_Perpetual}, true, false)</expression>
    </formulas>
    <formulas>
        <name>forT_AccountLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_140},FIND(&apos;.com&apos;,{!$Api.Partner_Server_URL_140})+4)+{!varR_agreement.Account__c}</expression>
    </formulas>
    <formulas>
        <name>forT_amendAGrName</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!type} +&apos;_&apos; +TEXT({!Get_Version_Number.Version_Number__c} + 1) + &apos;_&apos; + IF({!varR_agreement.Version_Number__c} == 0, {!varR_agreement.Name}, {!varR_agreement.Original_Agreement__r.Name})) &gt; 80
, LEFT({!type}+&apos;_&apos; + TEXT({!Get_Version_Number.Version_Number__c} + 1) + &apos;_&apos; + IF({!varR_agreement.Version_Number__c} == 0, {!varR_agreement.Name}, {!varR_agreement.Original_Agreement__r.Name}), 80)
, {!type} +&apos;_&apos;+ TEXT({!Get_Version_Number.Version_Number__c} + 1) + &apos;_&apos; + IF({!varR_agreement.Version_Number__c} == 0, {!varR_agreement.Name}, {!varR_agreement.Original_Agreement__r.Name}))</expression>
    </formulas>
    <formulas>
        <name>forT_AmendRecordLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_140},FIND(&apos;.com&apos;,{!$Api.Partner_Server_URL_140})+4)+{!varT_AmendedId}</expression>
    </formulas>
    <formulas>
        <name>forT_CO</name>
        <dataType>Number</dataType>
        <expression>{!Get_Version_Number.Version_Number__c}+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forT_Comments</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Loop_Through_File_Repeater.File_Upload_R.title})), &apos;Note for &apos; + {!Loop_Through_File_Repeater.File_Upload_R.title} + &apos;: &apos; + IF(NOT(ISBLANK({!Loop_Through_File_Repeater.Comments})),{!Loop_Through_File_Repeater.Comments},&apos;N/A&apos;) + &apos;&lt;br/&gt;&apos;, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>forT_DefaultEndDate</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!varR_agreement.Contract_End_Date__c})), {!choice_EndDate}, {!choice_Perpetual})</expression>
    </formulas>
    <formulas>
        <name>forT_EmailAddress</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!varC_EmailAddress}, &quot;[&quot;, &quot;&quot;), &quot;]&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>forT_files</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Loop_Through_File_Repeater.File_Upload_R.title})), {!Loop_Through_File_Repeater.File_Upload_R.title}+&apos;&lt;br/&gt;&apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>forT_OppForAmend</name>
        <dataType>String</dataType>
        <expression>IF({!varB_fromAgreement}, {!Related_Opportunity.recordId}, {!recordId})</expression>
    </formulas>
    <formulas>
        <name>forT_oppLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_140},FIND(&apos;.com&apos;,{!$Api.Partner_Server_URL_140})+4)+{!Get_Amended_Agreement.Related_Opportunity__c}</expression>
    </formulas>
    <formulas>
        <name>forT_uploadDocNotes</name>
        <dataType>String</dataType>
        <expression>If(ISBLANK({!varT_Comments}), &apos;&apos;, &apos;&lt;br/&gt;&lt;b&gt;&lt;b&gt;Notes from the Uploaded Supporting Documents:&lt;/b&gt;&lt;/b&gt;&apos;+&apos;&lt;br/&gt;&apos;+{!varT_Comments})</expression>
    </formulas>
    <interviewLabel>CLM USBU SOW Amend Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM USBU SOW Amend Screen Flow</label>
    <loops>
        <name>Loop_Through_File_Repeater</name>
        <label>Loop Through File Repeater</label>
        <locationX>578</locationX>
        <locationY>1190</locationY>
        <collectionReference>File_Repeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_File_data</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Summary_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Agreement_Team</name>
        <label>Create Agreement Team</label>
        <locationX>710</locationX>
        <locationY>2330</locationY>
        <connector>
            <targetReference>Get_Amended_Agreement</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Agreement__c</field>
            <value>
                <elementReference>varT_AmendedId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Get_Contact.ContactID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <stringValue>Team Lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>IQVIA User Contact</stringValue>
            </value>
        </inputAssignments>
        <object>IQVIA_Agreement_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Email_Message_for_Requestor</name>
        <label>Create Email Message for Requestor</label>
        <locationX>710</locationX>
        <locationY>2654</locationY>
        <connector>
            <targetReference>Check_If_Uploaded_File_Is_Blank</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>clmintegration@iqvia.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>textT_RequestorBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>varT_AmendedId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>textT_requestorSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>forT_EmailAddress</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Amended_Agreement</name>
        <label>Get Amended Agreement</label>
        <locationX>710</locationX>
        <locationY>2438</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_to_Requestor</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_AmendedId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IQVIA_Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>710</locationX>
        <locationY>1898</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Wrapper</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EmployeeNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User.EmployeeNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_IQVIA_Agreement</name>
        <label>Get IQVIA Agreement</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_IQVIA_Agreement</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IQVIA_Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Opportunity</name>
        <label>Get Selected Opportunity</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Opportunity_Valid</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Related_Opportunity.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>StageName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Team_Lead</name>
        <label>Get Team Lead</label>
        <locationX>710</locationX>
        <locationY>1682</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business_Line__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Primary_Business_Line_Amend</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CLM_USBU_Service__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Team_Lead__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>710</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EmployeeNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Team_Lead.Team_Lead__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Version_Number</name>
        <label>Get Version Number</label>
        <locationX>446</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Key_Details_Screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Agreement_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_agreement.Agreement_Number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IQVIA_Agreement__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Version_Number__c</queriedFields>
        <sortField>Version_Number__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>710</locationX>
        <locationY>3518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Navigate_To_Amended_Record</targetReference>
        </connector>
        <fields>
            <name>Display_Header_1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Create/Request New Agreement : &lt;/strong&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Agreement Request Submitted&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_Ruler</name>
            <fieldText>&lt;p&gt;{!contT_rule}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_ConfirmMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: black;&quot;&gt;Your Agreement Request has been submitted to the US Contracting Center (USCC).&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>710</locationX>
        <locationY>2978</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Navigate_To_Original_Record</targetReference>
        </connector>
        <fields>
            <name>Error_Text</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Key_Details_Screen</name>
        <label>Key Details Screen</label>
        <locationX>446</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Selected_Opportunity</targetReference>
        </connector>
        <fields>
            <name>Display_Heading2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Change Order/Amendment : Key Attributes&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Key_Details_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Key_Details_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Field5</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Opportunity: &lt;/strong&gt;{!varR_opportunity.Name}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Display_Field6</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Opportunity Owner: &lt;/strong&gt;{!varR_opportunity.Owner.FirstName} {!varR_opportunity.Owner.LastName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Key_Details_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Field7</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong&gt;Request Type: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Amendment/Change Order&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Display_Field8</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong&gt;Account: &lt;/strong&gt;{!varR_opportunity.Account.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId</leftValueReference>
                    <operator>StartsWith</operator>
                    <rightValue>
                        <stringValue>006</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Display_Line2</name>
            <fieldText>&lt;p&gt;{!contT_rule}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Warning_MSAExpired</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(255, 0, 0);&quot;&gt;The Related Master Agreement of the previous agreement is {!varR_agreement.Related_Master_IQVIAAgreement__r.Status__c}. Please consult USCC team if you need to use a different master agreement for this change order or continue under the previous one. If you need to make a change, you may do so from the &apos;Details&apos; tab of the change order record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>forB_checkMSAExpired</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Key_Details_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Key_Details_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Agreement_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varT_DefaultName</elementReference>
                    </defaultValue>
                    <fieldText>Agreement Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(234, 11, 11);&quot;&gt;The number of characters should be less than 80 and should not include (&amp;lt;, &amp;gt;, /, \).&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND(LEN({!Agreement_Name}) &lt;= 80,
REGEX({!Agreement_Name}, &quot;^[^&lt;&gt;\\\\/]*$&quot;))</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>IQVIA_Legal_Entity</name>
                    <choiceReferences>choiceR_legalEntity</choiceReferences>
                    <defaultValue>
                        <elementReference>varR_agreement.Legal_Entity_1__c</elementReference>
                    </defaultValue>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>IQVIA Legal Entity</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Agreement_Start_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>varD_DefaultStartDate</elementReference>
                    </defaultValue>
                    <fieldText>Effective Date of Contract</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>End_Date_of_Contract</name>
                    <choiceReferences>choice_Perpetual</choiceReferences>
                    <choiceReferences>choice_EndDate</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>forT_DefaultEndDate</elementReference>
                    </defaultValue>
                    <fieldText>End Date of Contract</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Agreement_End_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>varR_agreement.Contract_End_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>End Date of Contract</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>End_Date_of_Contract</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_EndDate</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Key_Details_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Primary_Business_Line_Amend</name>
                    <choiceReferences>picChoice_BusinessLine</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varR_agreement.Primary_Business_Line1__c</elementReference>
                    </defaultValue>
                    <fieldText>Primary Business Line</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Change_Order_Number</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>varN_DefaultCO</elementReference>
                    </defaultValue>
                    <fieldText>Change Order Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(250, 10, 10);&quot;&gt;Please put upto 2 digit only.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN(TEXT({!Change_Order_Number}))&lt;=2</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varB_fromAgreement</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Related_Opportunity</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>IQVIA_Agreement__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Related_Opportunity__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varR_agreement.Related_Opportunity__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varB_fromAgreement</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Opp_helpText</name>
                    <fieldText>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); font-size: 11px; color: rgb(23, 43, 77);&quot;&gt;Please select an opportunity whose stage is 5 or above.&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varB_fromAgreement</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_IQVIA_Agreement.Is_Opportunity_Level_OA__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Opp_Error</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(186, 5, 23); font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;Agreement requests cannot be submitted until the Opportunity is at Stage 5. Please select the correct Opportunity.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varB_HasError</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Additional_Notes</name>
                    <fieldText>Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(247, 16, 16);&quot;&gt;The number of characters should be less than 500&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Additional_Notes})&lt;=500</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Record_Selection_Screen</name>
        <label>Record Selection Screen</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Version_Number</targetReference>
        </connector>
        <fields>
            <name>Display_Heading1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Change Order/Amendment : Select Agreement&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Record_Selection_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Record_Selection_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Field1</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Opportunity: &lt;/strong&gt;{!varR_opportunity.Name}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Display_Field2</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Opportunity Owner: &lt;/strong&gt;{!varR_opportunity.Owner.FirstName}  {!varR_opportunity.Owner.LastName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Record_Selection_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Field3</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong&gt;Request Type:&lt;/strong&gt; &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Amendment/Change Order&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Display_Field4</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong&gt;Account: &lt;/strong&gt;{!varR_opportunity.Account.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Display_Line1</name>
            <fieldText>&lt;p&gt;{!contT_rule}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_Text1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: black; font-size: 12px;&quot;&gt;The following table lists all latest In-Effect Agreements from the parent and its sibling opportunities. Select one for which you want to create a CO/Amendment. If there are no agreements in this list then it is because the agreement is not in-effect and may require activation.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Record_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>IQVIA_Agreement__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>collR_AgreementList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;FF_Agreement_Number__c&quot;,&quot;guid&quot;:&quot;column-8c0e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Agreement Number/Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Agreement Number&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Primary_Business_Line1__c&quot;,&quot;guid&quot;:&quot;column-5774&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Primary Business Line&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Description__c&quot;,&quot;guid&quot;:&quot;column-6abd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Opportunity &quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Legal_Entity_Customer__c&quot;,&quot;guid&quot;:&quot;column-e6a0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Legal Entity Customer&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Contract_Start_Date__c&quot;,&quot;guid&quot;:&quot;column-5f0c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Effective Date Of Contract&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Agreement Start Date&quot;,&quot;type&quot;:&quot;date-local&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varR_agreement</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Summary_Screen</name>
        <label>Summary Screen</label>
        <locationX>710</locationX>
        <locationY>1574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Team_Lead</targetReference>
        </connector>
        <fields>
            <name>Display_Heading4</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Change Order/Amendment : Summary&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Summary_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Summary_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Field13</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Opportunity: &lt;/strong&gt;{!varR_opportunity.Name}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Display_Field14</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Opportunity Owner: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!varR_opportunity.Owner.FirstName} {!varR_opportunity.Owner.LastName}&lt;/span&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Summary_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Field15</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong&gt;Request Type: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Amendment/Change Order&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Display_Field16</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong&gt;Account: &lt;/strong&gt;{!varR_opportunity.Account.Name}﻿&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId</leftValueReference>
                    <operator>StartsWith</operator>
                    <rightValue>
                        <stringValue>006</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Display_Line4</name>
            <fieldText>&lt;p&gt;{!contT_rule}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Summary_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Summary_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_F1</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Name&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Agreement_Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Display_F4</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Effective Date of Contract&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Agreement_Start_Date}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Display_F9</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Opportunity&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Related_Opportunity.recordName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varB_fromAgreement</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Summary_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_F2</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Agreement Type&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;SOW&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Display_f5</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;End Date of Contract&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!choice_Perpetual}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>End_Date_of_Contract</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_Perpetual</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Sub_H1</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;End Date of Contract&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Agreement_End_Date}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>End_Date_of_Contract</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_EndDate</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Display_F10</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Change Order Number&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Change_Order_Number}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varB_fromAgreement</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Summary_Screen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_F3</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Primary Business Line&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Primary_Business_Line_Amend}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Display_F6</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;IQVIA Legal Entity&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!IQVIA_Legal_Entity.selectedChoiceLabels}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>WarningText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 11px;&quot;&gt;Agreement requests cannot be submitted until the Opportunity is at Stage 5. In exceptional situations, requests will be allowed from Stage 4. Please provide justification in the Notes field in the Key Attributes section in the previous screen&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Selected_Opportunity.StageName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>4. Delivering Proposal</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Display_F11</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;File Uploaded&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!varT_FileName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId</leftValueReference>
                    <operator>StartsWith</operator>
                    <rightValue>
                        <stringValue>006</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Create Amendment</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload_Document_Screen</name>
        <label>Upload Document Screen</label>
        <locationX>578</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Through_File_Repeater</targetReference>
        </connector>
        <fields>
            <name>Display_Heading3</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Change Order/Amendment : Supporting Documents (Optional)&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Upload_Document_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Upload_Document_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Field9</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Opportunity: &lt;/strong&gt;{!varR_opportunity.Name}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Display_Field10</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Opportunity Owner: &lt;/strong&gt; {!varR_opportunity.Owner.FirstName} {!varR_opportunity.Owner.LastName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Upload_Document_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Field11</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong&gt;Request Type: &lt;/strong&gt;Amendment/Change Order&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Display_Field12</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong&gt;Account: &lt;/strong&gt;{!varR_opportunity.Account.Name}﻿&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Display_Line3</name>
            <fieldText>&lt;p&gt;{!contT_rule}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_Text2</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;font-size: 12px;&quot;&gt;(Optional) Upload any supporting documents to be submitted to the contracts team. Please select a suitable document type and add comments as needed to help provide context.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>File_Repeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>File_Upload_R</name>
                <extensionName>c:lWC_CLM_FileUpload</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>isMultiple</name>
                    <value>
                        <booleanValue>false</booleanValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>label</name>
                    <value>
                        <stringValue>Upload the File</stringValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
            </fields>
            <fields>
                <name>Document_Type_M</name>
                <choiceReferences>choiceT_Approvals</choiceReferences>
                <choiceReferences>choiceT_pDoc</choiceReferences>
                <choiceReferences>choiceT_NCT</choiceReferences>
                <choiceReferences>choiceT_DD</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Document Type</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>File_Repeater.AllItems[$EachItem].File_Upload_R.fData</leftValueReference>
                        <operator>Contains</operator>
                        <rightValue>
                            <stringValue>conVerId</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Document_Type_O</name>
                <choiceReferences>choiceT_Approvals</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Document Type</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isDisabled>
                    <booleanValue>true</booleanValue>
                </isDisabled>
                <isRequired>false</isRequired>
                <visibilityRule>
                    <conditionLogic>NOT(1)</conditionLogic>
                    <conditions>
                        <leftValueReference>File_Repeater.AllItems[$EachItem].File_Upload_R.fData</leftValueReference>
                        <operator>Contains</operator>
                        <rightValue>
                            <stringValue>conVerId</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Comments</name>
                <fieldText>Comments</fieldText>
                <fieldType>LargeTextArea</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <validationRule>
                    <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Only 500 characters allowed.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                    <formulaExpression>LEN({!File_Repeater.AllItems[$EachItem].Comments}) &lt;= 500</formulaExpression>
                </validationRule>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Object</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_Subflow_to_Create_Notes</name>
        <label>Call Subflow to Create Notes</label>
        <locationX>710</locationX>
        <locationY>3410</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <flowName>CLM_Subflow_Create_Notes</flowName>
        <inputAssignments>
            <name>varT_Content</name>
            <value>
                <elementReference>Additional_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_RecordId</name>
            <value>
                <elementReference>varT_AmendedId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_Title</name>
            <value>
                <stringValue>Amend</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Get_Records_From_Opportunity</name>
        <label>Get Records From Opportunity</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Record_Selection_Screen</targetReference>
        </connector>
        <flowName>CLM_Subflow_to_Amend_from_Opportunity</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_AmendFlowForOtherAgreeement</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_OppParentId</name>
            <value>
                <elementReference>varR_opportunity.Parent_Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_Subtype</name>
            <value>
                <stringValue>SOW</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>collR_AgreementList</assignToReference>
            <name>varR_IqviaAgrList</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>textT_RequestorBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;span style=&quot;font-weight: bold;&quot;&gt;AGREEMENT REQUEST RECEIVED&lt;/span&gt;&lt;br/&gt;&lt;br/&gt;
The US Contracting Center (USCC) is in receipt of your contract request (referenced below). You will receive email when your contract manager is assigned. &lt;br/&gt;&lt;br/&gt;
&lt;table border=&quot;1&quot; style=&quot;border-collapse: collapse; border: 1px solid&quot;&gt;
    &lt;tr style=&quot;border-bottom: 1px solid&quot;&gt;
        &lt;td style=&quot;border-right: 1px solid&quot;&gt;
           Agreement
        &lt;/td&gt;
        &lt;td style=&quot;padding-left:10px;&quot;&gt;
            &lt;a href={!forT_AmendRecordLink}&gt;{!Get_Amended_Agreement.FF_Agreement_Number__c} - {!Get_Amended_Agreement.Name}&lt;/a&gt;
        &lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr style=&quot;border-bottom: 1px solid&quot;&gt;
        &lt;td style=&quot;border-right: 1px solid&quot;&gt;
           Requester 
        &lt;/td&gt;
        &lt;td style=&quot;padding-left:10px;&quot;&gt;
            {!Get_Amended_Agreement.Requestor__r.FirstName} {!Get_Amended_Agreement.Requestor__r.LastName}
        &lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr style=&quot;border-bottom: 1px solid&quot;&gt;
        &lt;td style=&quot;border-right: 1px solid&quot;&gt;
           Client
        &lt;/td&gt;
        &lt;td style=&quot;padding-left:10px;&quot;&gt;
           &lt;a href = {!forT_AccountLink}&gt;{!Get_Amended_Agreement.Account__r.Name}&lt;/a&gt;
        &lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr style=&quot;border-bottom: 1px solid&quot;&gt;
        &lt;td style=&quot;border-right: 1px solid&quot;&gt;
           Opportunity
        &lt;/td&gt;
        &lt;td style=&quot;padding-left:10px;&quot;&gt;
             &lt;a href={!forT_oppLink}&gt;{!Get_Amended_Agreement.Related_Opportunity__r.Opportunity_Number__c} - {!Get_Amended_Agreement.Related_Opportunity__r.Name}&lt;/a&gt;
        &lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr style=&quot;border-bottom: 1px solid&quot;&gt;
        &lt;td style=&quot;border-right: 1px solid&quot;&gt;
           Type of Request 
        &lt;/td&gt;
        &lt;td style=&quot;padding-left:10px;&quot;&gt;
            {!type}
        &lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr style=&quot;border-bottom: 1px solid&quot;&gt;
        &lt;td style=&quot;border-right: 1px solid&quot;&gt;
           IQVIA Service Line
        &lt;/td&gt;
        &lt;td style=&quot;padding-left:10px;&quot;&gt;
           {!Get_Amended_Agreement.Primary_Business_Line1__c}
        &lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr style=&quot;border-bottom: 1px solid&quot;&gt;
        &lt;td style=&quot;border-right: 1px solid&quot;&gt;
           Agreement Type
        &lt;/td&gt;
        &lt;td style=&quot;padding-left:10px;&quot;&gt;
          SOW
        &lt;/td&gt;
    &lt;/tr&gt;
&lt;/table&gt;	
&lt;br/&gt;
    &lt;span style=&quot;font-weight: bold;font-style: italic;&quot;&gt;
        Comments:
    &lt;/span&gt;
    &lt;em&gt;
        {!Additional_Notes} 
    &lt;/em&gt;
    &lt;br/&gt;
	{!forT_uploadDocNotes}	
&lt;br/&gt;
Thank you,&lt;br/&gt;
US Contracting Center (USCC)&lt;br/&gt;
The CLM integration email &lt;b&gt;&lt;u&gt;is not&lt;/u&gt;&lt;/b&gt; an active or monitored email account, please reach out to USCC-CLM-Support@iqvia.com for any additional assistance.</text>
    </textTemplates>
    <textTemplates>
        <name>textT_requestorSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Request Received || Client: {!Get_Amended_Agreement.Account__r.Name} || Agreement : {!Get_Amended_Agreement.FF_Agreement_Number__c} - {!Get_Amended_Agreement.Name}</text>
    </textTemplates>
    <variables>
        <name>collR_AgreementList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>IQVIA_Agreement__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Change Order</stringValue>
        </value>
    </variables>
    <variables>
        <name>varB_fromAgreement</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varB_HasError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varC_EmailAddress</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varD_DefaultStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>varN_DefaultCO</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>forT_CO</elementReference>
        </value>
    </variables>
    <variables>
        <name>varR_agreement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IQVIA_Agreement__c</objectType>
    </variables>
    <variables>
        <name>varR_opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varT_AmendedId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_Comments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_DefaultName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>forT_amendAGrName</elementReference>
        </value>
    </variables>
    <variables>
        <name>varT_FileData</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_FileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_uploadedFile</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>wrapper</name>
        <apexClass>AgreementWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
