src/flows/CLM_Commercial_Agreement_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigate_to_Agreement_Details</name>
        <label>Navigate to Agreement Details</label>
        <locationX>1380</locationX>
        <locationY>2238</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>agreementId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Navigate_To_Original_Opportunity</name>
        <label>Navigate To Original Opportunity</label>
        <locationX>50</locationX>
        <locationY>925</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Error_Email</name>
        <label>Send Error Email</label>
        <locationX>50</locationX>
        <locationY>701</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Navigate_To_Original_Opportunity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>textT_ErrorMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Setup.CLM_Configuration__c.CLM_Flow_Support_Email_Address__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>clmintegration@iqvia.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>CLM Commercial Agreement Flow Error Occurred</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Set_Address_Collection</name>
        <label>Set Address Collection</label>
        <locationX>1833</locationX>
        <locationY>1097</locationY>
        <assignmentItems>
            <assignToReference>Address_Record_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Address_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Combined_Address</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_Customer_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Address_Record</name>
        <label>Set Address Record</label>
        <locationX>2112</locationX>
        <locationY>937</locationY>
        <assignmentItems>
            <assignToReference>Address_Record.Address_Line_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_FinalAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Address_Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_Customer_Address.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Address_Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_Customer_Address.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Address_Record.SAP_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_Customer_Address.SAP_Reference__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Address_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Combined_Address</name>
        <label>Set Combined Address</label>
        <locationX>1792</locationX>
        <locationY>886</locationY>
        <assignmentItems>
            <assignToReference>Combined_Address</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Each_Customer_Address.Address_Line_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Combined_Address</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Combined_Address</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Each_Customer_Address.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Combined_Address</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Combined_Address</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Each_Customer_Address.State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Combined_Address</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Combined_Address</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Each_Customer_Address.PostalCode__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Address_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contact_Collection</name>
        <label>Set Contact Collection</label>
        <locationX>1561</locationX>
        <locationY>1426</locationY>
        <assignmentItems>
            <assignToReference>contactRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>contactRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactFullName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_Opportunity_Contact_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contact_Full_Name</name>
        <label>Set Contact Full Name</label>
        <locationX>1564</locationX>
        <locationY>1230</locationY>
        <assignmentItems>
            <assignToReference>contactFullName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Each_Opportunity_Contact_Role.Contact.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactFullName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactFullName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Each_Opportunity_Contact_Role.Contact.Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactFullName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactFullName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Each_Opportunity_Contact_Role.Role</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactFullName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>addPrimaryText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Contact_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contact_Record</name>
        <label>Set Contact Record</label>
        <locationX>1721</locationX>
        <locationY>1302</locationY>
        <assignmentItems>
            <assignToReference>contactRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_Opportunity_Contact_Role.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactFullName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Contact_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_opportunity_is_in_Scope_and_Service_GP8168</name>
        <label>Set opportunity is in Scope and Service GP8168</label>
        <locationX>2061</locationX>
        <locationY>687</locationY>
        <assignmentItems>
            <assignToReference>isOpportunityInScope</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Services</assignToReference>
            <operator>AddItem</operator>
            <value>
                <elementReference>Grants</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_Opportunity_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_opportunity_is_in_Scope_and_Service_GP8171</name>
        <label>Set opportunity is in Scope and Service GP8171</label>
        <locationX>1935</locationX>
        <locationY>680</locationY>
        <assignmentItems>
            <assignToReference>isOpportunityInScope</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Services</assignToReference>
            <operator>AddItem</operator>
            <value>
                <elementReference>Engage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_Opportunity_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_opportunity_is_in_Scope_and_Service_GP8265</name>
        <label>Set opportunity is in Scope and Service GP8265</label>
        <locationX>1501</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>isOpportunityInScope</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Services</assignToReference>
            <operator>AddItem</operator>
            <value>
                <elementReference>OCE_Personal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_Opportunity_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_opportunity_is_in_Scope_and_Service_GP8266</name>
        <label>Set opportunity is in Scope and Service GP8266</label>
        <locationX>1663</locationX>
        <locationY>681</locationY>
        <assignmentItems>
            <assignToReference>isOpportunityInScope</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Services</assignToReference>
            <operator>AddItem</operator>
            <value>
                <elementReference>OCE_Digital</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_Opportunity_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_opportunity_is_in_Scope_and_Service_GP8267</name>
        <label>Set opportunity is in Scope and Service GP8267</label>
        <locationX>1802</locationX>
        <locationY>682</locationY>
        <assignmentItems>
            <assignToReference>isOpportunityInScope</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Services</assignToReference>
            <operator>AddItem</operator>
            <value>
                <elementReference>OCE_Optimizer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_Opportunity_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_opportunity_is_in_Scope_and_Service_GP8319</name>
        <label>Set opportunity is in Scope and Service GP8319</label>
        <locationX>2171</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>isOpportunityInScope</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Services</assignToReference>
            <operator>AddItem</operator>
            <value>
                <elementReference>Centris</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_Opportunity_Product</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Centris</name>
        <choiceText>Centris</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Centris</stringValue>
        </value>
    </choices>
    <choices>
        <name>Engage</name>
        <choiceText>Engage</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Engage</stringValue>
        </value>
    </choices>
    <choices>
        <name>Grants</name>
        <choiceText>Grants</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Grants</stringValue>
        </value>
    </choices>
    <choices>
        <name>OCE_Digital</name>
        <choiceText>OCE Digital</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OCE Digital</stringValue>
        </value>
    </choices>
    <choices>
        <name>OCE_Optimizer</name>
        <choiceText>OCE Optimizer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OCE Optimizer</stringValue>
        </value>
    </choices>
    <choices>
        <name>OCE_Personal</name>
        <choiceText>OCE Personal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OCE Personal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Services_screen</name>
        <choiceText>{!Services}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Services</elementReference>
        </value>
    </choices>
    <choices>
        <name>SOW</name>
        <choiceText>SOW</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SOW</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Address_Collection_Sort</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Address Collection Sort</label>
        <locationX>1392</locationX>
        <locationY>944</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>accountAddressCollection</collectionReference>
        <connector>
            <targetReference>Each_Customer_Address</targetReference>
        </connector>
        <limit>250</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Address_Line_1__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>LastModifiedDate</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Is_Opportunity_in_Scope</name>
        <label>Is Opportunity in Scope?</label>
        <locationX>1373</locationX>
        <locationY>1501</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Not_in_Scope_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Opportunity in Scope No</defaultConnectorLabel>
        <rules>
            <name>Is_Opportunity_in_Scope_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>isOpportunityInScope</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_TCS_RecordTypeId</targetReference>
            </connector>
            <label>Is Opportunity in Scope Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Product_Code</name>
        <label>Is Product Code</label>
        <locationX>1734</locationX>
        <locationY>465</locationY>
        <defaultConnector>
            <targetReference>Each_Opportunity_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opportunity Not in Scope</defaultConnectorLabel>
        <rules>
            <name>Is_Product_Code_GP8265</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Each_Opportunity_Product.Product2.Global_Product_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GP8265</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_opportunity_is_in_Scope_and_Service_GP8265</targetReference>
            </connector>
            <label>Is Product Code GP8265</label>
        </rules>
        <rules>
            <name>Is_Product_Code_GP8266</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Each_Opportunity_Product.Product2.Global_Product_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GP8266</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_opportunity_is_in_Scope_and_Service_GP8266</targetReference>
            </connector>
            <label>Is Product Code GP8266</label>
        </rules>
        <rules>
            <name>Is_Product_Code_GP8267</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Each_Opportunity_Product.Product2.Global_Product_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GP8267</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_opportunity_is_in_Scope_and_Service_GP8267</targetReference>
            </connector>
            <label>Is Product Code GP8267</label>
        </rules>
        <rules>
            <name>Is_Product_Code_GP8171</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Each_Opportunity_Product.Product2.Global_Product_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GP8171</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_opportunity_is_in_Scope_and_Service_GP8171</targetReference>
            </connector>
            <label>Is Product Code GP8171</label>
        </rules>
        <rules>
            <name>Is_Product_Code_GP8168</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Each_Opportunity_Product.Product2.Global_Product_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GP8168</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_opportunity_is_in_Scope_and_Service_GP8168</targetReference>
            </connector>
            <label>Is Product Code GP8168</label>
        </rules>
        <rules>
            <name>Is_Product_Code_GP8319</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Each_Opportunity_Product.Product2.Global_Product_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GP8319</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_opportunity_is_in_Scope_and_Service_GP8319</targetReference>
            </connector>
            <label>Is Product Code GP8319</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Email_To_The_Support_Team</name>
        <label>Send Email To The Support Team?</label>
        <locationX>419</locationX>
        <locationY>768</locationY>
        <defaultConnector>
            <targetReference>Navigate_To_Original_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Send Email</defaultConnectorLabel>
        <rules>
            <name>Send_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.CLM_Configuration__c.CLM_Flow_Support_Email_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Error_Email</targetReference>
            </connector>
            <label>Send Email</label>
        </rules>
    </decisions>
    <description>This flow will create Commercial Agreement records</description>
    <dynamicChoiceSets>
        <name>address_list</name>
        <collectionReference>Address_Record_Collection</collectionReference>
        <dataType>String</dataType>
        <displayField>Address_Line_1__c</displayField>
        <object>Address__c</object>
        <valueField>Address_Line_1__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>contactList</name>
        <collectionReference>contactRecordCollection</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>addPrimaryText</name>
        <dataType>String</dataType>
        <expression>IF({!Each_Opportunity_Contact_Role.IsPrimary},  &apos;  (Primary)&apos;, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>defaultSOWAgreementName</name>
        <dataType>String</dataType>
        <expression>&apos;SOW&apos; + &apos;_&apos; + {!opportunityRecord.Opportunity_Number__c} + &apos;_&apos; + {!opportunityRecord.Name}</expression>
    </formulas>
    <formulas>
        <name>forT_FinalAddress</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!Combined_Address}, &apos;, ,&apos;), SUBSTITUTE({!Combined_Address}, &apos;, ,&apos;, &apos;,&apos;), {!Combined_Address})</expression>
    </formulas>
    <interviewLabel>CLM Create Commercial ScreenFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM Create Commercial ScreenFlow</label>
    <loops>
        <name>Each_Customer_Address</name>
        <label>Each Customer Address</label>
        <locationX>1614</locationX>
        <locationY>1076</locationY>
        <collectionReference>accountAddressCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Combined_Address</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Opportunity_Contact_Role</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Each_Opportunity_Contact_Role</name>
        <label>Each Opportunity Contact Role</label>
        <locationX>1379</locationX>
        <locationY>1312</locationY>
        <collectionReference>opportunityContactRoleCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Contact_Full_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Opportunity_in_Scope</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Each_Opportunity_Product</name>
        <label>Each Opportunity Product</label>
        <locationX>1385</locationX>
        <locationY>488</locationY>
        <collectionReference>Get_Opportunity_Product_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Product_Code</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Account_Addresses</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_TCS_Agreement</name>
        <label>Create TCS Agreement</label>
        <locationX>1385</locationX>
        <locationY>2072</locationY>
        <assignRecordIdToReference>agreementId</assignRecordIdToReference>
        <connector>
            <targetReference>Navigate_to_Agreement_Details</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Actual_Agreement_Value__c</field>
            <value>
                <elementReference>opportunityRecord.Total_Contracted_Value_TCV__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__Account__c</field>
            <value>
                <elementReference>opportunityRecord.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__Contract_Start_Date__c</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__Primary_Contact__c</field>
            <value>
                <elementReference>Primary_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__Related_Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__Status_Category__c</field>
            <value>
                <stringValue>Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__Status__c</field>
            <value>
                <stringValue>Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__Subtype__c</field>
            <value>
                <elementReference>Agreement_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Address__c</field>
            <value>
                <elementReference>Selected_Address.Address_Line_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>opportunityRecord.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legal_Entity_Customer__c</field>
            <value>
                <elementReference>Selected_Address.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_TCS_RecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Services__c</field>
            <value>
                <elementReference>Services_On_Screen</elementReference>
            </value>
        </inputAssignments>
        <object>Apttus__APTS_Agreement__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Addresses</name>
        <label>Get Account Addresses</label>
        <locationX>1363</locationX>
        <locationY>806</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Address_Collection_Sort</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityRecord.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Marked_For_Deletion__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.CLM_Configuration__c.AMA_Address_RecordTypeId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>City__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Address_Line_1__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PostalCode__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Address__c</object>
        <outputReference>accountAddressCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Address_Line_1__c</queriedFields>
        <queriedFields>State__c</queriedFields>
        <queriedFields>City__c</queriedFields>
        <queriedFields>PostalCode__c</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>SAP_Reference__c</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>1354</locationX>
        <locationY>192</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Product_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>opportunityRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Opportunity_Number__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Contract_Start_Date__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Total_Contracted_Value_TCV__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Contact_Role</name>
        <label>Get Opportunity Contact Role</label>
        <locationX>1371</locationX>
        <locationY>1128</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Each_Opportunity_Contact_Role</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <outputReference>opportunityContactRoleCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>LastModifiedDate</queriedFields>
        <queriedFields>Role</queriedFields>
        <queriedFields>IsPrimary</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Product_Record</name>
        <label>Get Opportunity Product Record</label>
        <locationX>1361</locationX>
        <locationY>322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Each_Opportunity_Product</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_TCS_RecordTypeId</name>
        <label>Get TCS RecordTypeId</label>
        <locationX>1386</locationX>
        <locationY>1738</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Agreement</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Commercial</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>This screen used to create the agreement record</description>
        <name>Create_Agreement</name>
        <label>Create Agreement</label>
        <locationX>1378</locationX>
        <locationY>1918</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_TCS_Agreement</targetReference>
        </connector>
        <fields>
            <name>Create_New_Agreement_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 14px;&quot;&gt;Create New Agreement&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Agreement_Type</name>
            <choiceReferences>SOW</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>SOW</defaultSelectedChoiceReference>
            <fieldText>Agreement Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>defaultSOWAgreementName</elementReference>
            </defaultValue>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgba(32, 33, 36, 0.04); font-size: 12px; color: rgb(228, 16, 26);&quot;&gt;The number of characters should be less than 80 and should not include (&amp;lt;, &amp;gt;, /, \).&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>AND(LEN({!Name}) &lt;= 80,
REGEX({!Name}, &quot;^[^&lt;&gt;\\\\/]*$&quot;))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>opportunityRecord.Contract_Start_Date__c</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Services_On_Screen</name>
            <choiceReferences>OCE_Personal</choiceReferences>
            <choiceReferences>OCE_Digital</choiceReferences>
            <choiceReferences>OCE_Optimizer</choiceReferences>
            <choiceReferences>Grants</choiceReferences>
            <choiceReferences>Engage</choiceReferences>
            <choiceReferences>Centris</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Services</elementReference>
            </defaultValue>
            <fieldText>Services</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Data_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Address__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Customer Legal Entity And Customer Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Address_Record_Collection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-17bc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Customer Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;SAP_Reference__c&quot;,&quot;guid&quot;:&quot;column-193d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;SAP Customer Code&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;SAP Base Code&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Address_Line_1__c&quot;,&quot;guid&quot;:&quot;column-045b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Customer Address&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Address Line 1&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_Address</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Primary_Contact</name>
            <choiceReferences>contactList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Customer Primary Contact</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Create Agreement</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Custom_Error_Screen</name>
        <label>Custom Error Screen</label>
        <locationX>721</locationX>
        <locationY>831</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_Email_To_The_Support_Team</targetReference>
        </connector>
        <fields>
            <name>Error_Text</name>
            <fieldText>&lt;p&gt;{!textT_ErrorMessageDisplay}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>This Screen will show a message to the user when opportunity is not in scope</description>
        <name>Opportunity_Not_in_Scope_Message</name>
        <label>Opportunity Not in Scope Message</label>
        <locationX>1514</locationX>
        <locationY>1565</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_TCS_RecordTypeId</targetReference>
        </connector>
        <fields>
            <name>Message_To_User</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Create New Agreement&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;We cannot support the creation of New Agreement at this time because it does not have the Opportunity Product Codes as specified.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;For this opportunity, you would need to create the agreement document offline and upload it to CLM for reviews and signature.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1259</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>textT_ErrorMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;An unexpected error has occurred. Please contact the support team for help.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Error Details&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; :  &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Error Time&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; :&amp;nbsp;{!$Flow.CurrentDateTime}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Running User&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; : {!$User.FirstName} &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$User.LastName}&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Record Id &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;: {!recordId} 		&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>textT_ErrorMessageDisplay</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;An unexpected error has occurred. Please contact the support team for help.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Error Details&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; :  &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>accountAddressCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address__c</objectType>
    </variables>
    <variables>
        <name>Address_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address__c</objectType>
    </variables>
    <variables>
        <name>Address_Record_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address__c</objectType>
    </variables>
    <variables>
        <name>agreementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Combined_Address</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactFullName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>isOpportunityInScope</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>opportunityContactRoleCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>opportunityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>It will store the opportunity Id of the record. The value will be passed as input when the flow is triggered.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Address</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address__c</objectType>
    </variables>
    <variables>
        <name>Services</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
