src/flows/CLM_Subflow_Get_Document_Versions_Details.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Set_Document_Version_Ids</name>
        <label>Set Document Version Ids</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varT_documentVersionIdsOnAgreement</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Document_Versions.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Document_Versions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Document_Versions_Details_Records</name>
        <label>Set Document Versions Details Records</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>varR_documentVersionsDetailsRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_All_Document_Version_Details.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_documentVersionsDetailsRecord.Apttus__Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_All_Document_Version_Details.Apttus__Title__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_documentVersionsDetailsRecord.Title_Click_to_Download__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_All_Document_Version_Details.Title_Click_to_Download__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_documentVersionsDetailsRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_All_Document_Version_Details.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_documentVersionsDetailsRecord.CreatedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_All_Document_Version_Details.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_documentVersionsDetailsRecord.Apttus__DocumentVersionId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_All_Document_Version_Details.Apttus__DocumentVersionId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_documentVersionsDetailsRecord.Apttus__Tags__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_All_Document_Version_Details.CreatedBy.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_documentVersionsDetailsRecord.Apttus__Tags__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_documentVersionsDetailsRecord.Apttus__Tags__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_All_Document_Version_Details.CreatedBy.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_documentVersionsDetailsRecord.Apttus__ContentVersionId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_All_Document_Version_Details.Apttus__ContentVersionId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_documentVersionDetails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_documentVersionsDetailsRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_documentVersionsDetailsRecord</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_All_Document_Version_Details</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Sort_Document_Version_Details</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Document Version Details</label>
        <locationX>176</locationX>
        <locationY>950</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>varR_documentVersionDetails</collectionReference>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Apttus__DocumentVersionId__c</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Name</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>CreatedDate</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <environments>Default</environments>
    <interviewLabel>CLM Subflow : Get Document Versions Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM Subflow : Get Document Versions Details</label>
    <loops>
        <name>Loop_through_All_Document_Version_Details</name>
        <label>Loop through All Document Version Details</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <collectionReference>varR_allDocumentVersionsDetails</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Document_Versions_Details_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Sort_Document_Version_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Document_Versions</name>
        <label>Loop through Document Versions</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Document_Version_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Document_Version_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Document_Version_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Document_Version_Details</name>
        <label>Get Document Version Details</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_All_Document_Version_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Apttus__DocumentVersionId__c</field>
            <operator>In</operator>
            <value>
                <elementReference>varT_documentVersionIdsOnAgreement</elementReference>
            </value>
        </filters>
        <filters>
            <field>Apttus__DocumentVersionId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__ContentVersionId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Apttus__DocumentVersionDetail__c</object>
        <outputReference>varR_allDocumentVersionsDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Apttus__Title__c</queriedFields>
        <queriedFields>Title_Click_to_Download__c</queriedFields>
        <queriedFields>Apttus__Tags__c</queriedFields>
        <queriedFields>Apttus__DocumentVersionId__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>CreatedById</queriedFields>
        <queriedFields>Apttus__ContentVersionId__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Document_Version_Records</name>
        <label>Get Document Version Records</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Document_Versions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Apttus__AgreementId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Apttus__LatestVersionId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__AgreementId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Apttus__DocumentVersion__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Document_Version_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varR_allDocumentVersionsDetails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__DocumentVersionDetail__c</objectType>
    </variables>
    <variables>
        <name>varR_documentVersionDetails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Apttus__DocumentVersionDetail__c</objectType>
    </variables>
    <variables>
        <name>varR_documentVersionsDetailsRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__DocumentVersionDetail__c</objectType>
    </variables>
    <variables>
        <name>varT_documentVersionIdsOnAgreement</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
