src/flows/CLM_Create_Vendor_ScreenFlow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Navigate_to_Agreement_Details</name>
        <label>Navigate to Agreement Details</label>
        <locationX>1722</locationX>
        <locationY>5474</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>varT_createdVendorAgrID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Navigate_To_Original_Record</name>
        <label>Navigate To Original Record</label>
        <locationX>1854</locationX>
        <locationY>5066</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Error_Email</name>
        <label>Send Error Email</label>
        <locationX>1722</locationX>
        <locationY>4874</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Navigate_To_Original_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Setup.CLM_Configuration__c.CLM_Flow_Support_Email_Address__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>clmintegration@iqvia.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>CLM Vendor Agreement Flow Error Occurred</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>textT_ErrorMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Set_Agreement_Values</name>
        <label>Set Agreement Values</label>
        <locationX>1414</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>Agreement_Loop.Apttus__FF_Agreement_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textT_AgreementLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Final_Agreement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Final_Agreement</name>
        <label>Set Final Agreement</label>
        <locationX>1414</locationX>
        <locationY>1778</locationY>
        <assignmentItems>
            <assignToReference>varR_finalCustomerAgreement</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Agreement_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Agreement_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Inactive_Account_Flag</name>
        <label>Set Inactive Account Flag</label>
        <locationX>1424</locationX>
        <locationY>1003</locationY>
        <assignmentItems>
            <assignToReference>varB_InactiveAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Vendor_Screen_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_ID_Name_AccName_from_Contract</name>
        <label>Set Opportunity ID/Name/AccountName from Contract</label>
        <locationX>1326</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>varT_OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Record.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_opportunityName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Record.Opportunity__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_customerAccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Record.Opportunity__r.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_flowLaunchObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_selectedSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Work Order</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_currencyISOCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Record.Opportunity__r.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_contractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_ProtocolNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Record.Opportunity__r.Protocol_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_ProjectNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Record.Opportunity__r.Legacy_Quintiles_Opportunity_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_IQVIA_Contact_User_RecordTypeId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Selected_Subtype</name>
        <label>Set Selected Subtype</label>
        <locationX>1106</locationX>
        <locationY>1262</locationY>
        <assignmentItems>
            <assignToReference>varT_selectedSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Requested_Agreement_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Customer_Agreements_For_Opportunity_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Subtype for Opportunity Selection and opportunity variables</description>
        <name>Set_Subtype_For_Opportunity_Selection</name>
        <label>Set Subtype For Opportunity Selection</label>
        <locationX>578</locationX>
        <locationY>506</locationY>
        <assignmentItems>
            <assignToReference>subType1.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Work Order (WO)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subType1.Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Work Order</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subType2.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Standalone Services Agreement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subType2.Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Standalone Services Agreement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subType3.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other Non Client Agreement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subType3.Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other Non Client Agreement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subType4.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CEVA Agreement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subType4.Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CEVA Agreement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subType5.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Authorization to Proceed (ATP)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subType5.Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ATP</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subType6.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other Client Agreement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subType6.Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other Client Agreement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_subtypeRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>subType1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_subtypeRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>subType2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_subtypeRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>subType3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_subtypeRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>subType4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_subtypeRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>subType5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_subtypeRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>subType6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_flowLaunchObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_potentialRegionFromOpp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Record.Potential_Regions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_opportunityName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_customerAccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Record.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_currencyISOCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_ProtocolNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Record.Protocol_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_ProjectNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Record.Legacy_Quintiles_Opportunity_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Vendor_Screen_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variables_From_Account</name>
        <label>Set Variables From Account</label>
        <locationX>50</locationX>
        <locationY>506</locationY>
        <assignmentItems>
            <assignToReference>varT_finalVendorAccountID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_currencyISOCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_flowLaunchObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_selectedSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Master Services Agreement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_finalVendorAccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_perpetualDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Perpetual_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Address_From_Vendor_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Vendor_Address_Collection</name>
        <label>Set Vendor Address Collection</label>
        <locationX>1810</locationX>
        <locationY>2786</locationY>
        <assignmentItems>
            <assignToReference>varR_vendorAccountAddressCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_vendorAccAddressRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_combinedAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_vendorAccAddressRecord</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Vendor_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Vendor_Address_Record</name>
        <label>Set Vendor Address Record</label>
        <locationX>1810</locationX>
        <locationY>2678</locationY>
        <assignmentItems>
            <assignToReference>varR_vendorAccAddressRecord.Address_Line_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_FinalAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_vendorAccAddressRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Vendor_Address.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_vendorAccAddressRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Vendor_Address.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_vendorAccAddressRecord.SAP_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Vendor_Address.SAP_Reference__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Vendor_Address_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Vendor_MSA_Record</name>
        <label>Set Vendor MSA Record</label>
        <locationX>1942</locationX>
        <locationY>3518</locationY>
        <assignmentItems>
            <assignToReference>varR_vendorMSA_Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Vendor_MSAs.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_vendorMSA_Record.Services__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Vendor_MSAs.Services__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_vendorMSA_Record.Lead_Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Vendor_MSAs.Lead_Region__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_vendorMSA_Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Vendor_MSAs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_vendorMSA_Record.Apttus__FF_Agreement_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Vendor_MSAs.Apttus__FF_Agreement_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_vendorMSA_Record.Legal_Entity_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Vendor_MSAs.Legal_Entity_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_vendorMSA_Record.Legal_Entity_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Vendor_MSAs.Legal_Entity_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_vendorMSA_Record.Legal_Entity_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Vendor_MSAs.Legal_Entity_3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_vendorMSA_Record.MSA_Guidance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Vendor_MSAs.MSA_Guidance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_vendorMSA_Record.Payment_Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Vendor_MSAs.Payment_Term__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_vendorMSA_Record.Is_SOW_Template_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Vendor_MSAs.Is_SOW_Template_Required__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_vendorMSA_Record.Account_Name_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Vendor_MSAs.Apttus__Account__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Vendor_MSA_Record_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Vendor_MSA_Record_Collection</name>
        <label>Set Vendor MSA Record Collection</label>
        <locationX>1942</locationX>
        <locationY>3626</locationY>
        <assignmentItems>
            <assignToReference>varR_vendorMSA_Record_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_vendorMSA_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_vendorMSA_Record</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Vendor_MSAs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setCombinedAddress</name>
        <label>Set Combined Address</label>
        <locationX>1810</locationX>
        <locationY>2570</locationY>
        <assignmentItems>
            <assignToReference>varT_combinedAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Vendor_Address.Address_Line_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_combinedAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_combinedAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Vendor_Address.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_combinedAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_combinedAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Vendor_Address.State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_combinedAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_combinedAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Vendor_Address.PostalCode__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Vendor_Address_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Agreement_End_Date_Choice</name>
        <choiceText>Agreement End Date</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agreement End Date</stringValue>
        </value>
    </choices>
    <choices>
        <name>Perpetual_Name</name>
        <choiceText>Perpetual</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Perpetual</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Sort_Vendor_Address</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Vendor Address</label>
        <locationX>1722</locationX>
        <locationY>2354</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>varR_vendorAccountAddresses</collectionReference>
        <connector>
            <targetReference>Loop_through_Vendor_Address</targetReference>
        </connector>
        <limit>250</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Address_Line_1__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>LastModifiedDate</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sort_Vendor_MSA_Collection</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Vendor MSA Collection</label>
        <locationX>1854</locationX>
        <locationY>3818</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>varR_vendorMSA_Record_Collection</collectionReference>
        <connector>
            <targetReference>Opportunity_Selection_5</targetReference>
        </connector>
        <limit>250</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Account_Name_Override__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>CreatedDate</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <constants>
        <name>rule</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;hr style=&quot;margin-top: 0px;margin-bottom: 15px;&quot;&gt;</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_If_Customer_Agreement_Selected</name>
        <label>Check If Customer Agreement Selected</label>
        <locationX>1810</locationX>
        <locationY>4442</locationY>
        <defaultConnector>
            <targetReference>Navigate_to_Agreement_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Selected</defaultConnectorLabel>
        <rules>
            <name>Customer_Agreement_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_selectedCustomerAgreement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Created_Relationship_Record</targetReference>
            </connector>
            <label>Customer Agreement Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_flow_launched_from_contract</name>
        <label>Check if flow launched from contract</label>
        <locationX>1722</locationX>
        <locationY>4334</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>From_Contract_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varT_flowLaunchObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contract_Status</targetReference>
            </connector>
            <label>From Contract</label>
        </rules>
        <rules>
            <name>From_Opportunity_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varT_flowLaunchObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_Customer_Agreement_Selected</targetReference>
            </connector>
            <label>From Opportunity</label>
        </rules>
        <rules>
            <name>From_Account_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varT_flowLaunchObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Navigate_to_Agreement_Details</targetReference>
            </connector>
            <label>From Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Inactive_Account</name>
        <label>Check Inactive Account</label>
        <locationX>1574</locationX>
        <locationY>1127</locationY>
        <defaultConnector>
            <targetReference>Flow_launched_from_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Details.AccountStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Inactive_Account_Flag</targetReference>
            </connector>
            <label>Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check whether Requested Contract Type value from Contract is equal to &quot;Third Party Vendor Work Order (Review/Drafting)&quot; or not.</description>
        <name>Check_Requested_Contract_Type</name>
        <label>Check Requested Contract Type</label>
        <locationX>2096</locationX>
        <locationY>506</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Third_Party_Vendor_Work_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract_Record.Requested_Contract_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Third Party Vendor Work Order (Review/Drafting)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opportunity_ID_Name_AccName_from_Contract</targetReference>
            </connector>
            <label>Third Party Vendor Work Order</label>
        </rules>
        <rules>
            <name>Not_Third_Party_Vendor_Work_Order</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract_Record.Requested_Contract_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vendor Change Order/Amendment (Review/Drafting)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract_Record.Requested_Contract_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Master Independent Contract Agreement (MICA) Amendment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract_Record.Requested_Contract_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Termination letter for a third party agreement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_CLM_Vendor_Amend_Flow</targetReference>
            </connector>
            <label>Not Third Party Vendor Work Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Agreement_From</name>
        <label>Create Agreement From?</label>
        <locationX>1722</locationX>
        <locationY>290</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>From_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Record</targetReference>
            </connector>
            <label>From Account</label>
        </rules>
        <rules>
            <name>From_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Record</targetReference>
            </connector>
            <label>From Opportunity</label>
        </rules>
        <rules>
            <name>From_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>800</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contract_Record</targetReference>
            </connector>
            <label>From Contract</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flow_launched_from_1</name>
        <label>Flow launched from?</label>
        <locationX>1320</locationX>
        <locationY>1082</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>From_Opportunity_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varT_flowLaunchObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vendor_Screen_2</targetReference>
            </connector>
            <label>From Opportunity</label>
        </rules>
        <rules>
            <name>From_Contract_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varT_flowLaunchObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Customer_Agreements_For_Opportunity_Screen</targetReference>
            </connector>
            <label>From Contract</label>
        </rules>
    </decisions>
    <decisions>
        <name>MSA_Required</name>
        <label>MSA Required?</label>
        <locationX>1722</locationX>
        <locationY>3086</locationY>
        <defaultConnector>
            <targetReference>Get_Parent_Vendor_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Proceed MSA Selection</defaultConnectorLabel>
        <rules>
            <name>Skip_MSA_Select</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>varT_selectedSubtype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standalone Services Agreement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varT_selectedSubtype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Master Services Agreement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Screen_6</targetReference>
            </connector>
            <label>Skip MSA Select</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Email_To_The_Support_Team</name>
        <label>Send Email To The Support Team?</label>
        <locationX>1854</locationX>
        <locationY>4766</locationY>
        <defaultConnector>
            <targetReference>Navigate_To_Original_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Send Email</defaultConnectorLabel>
        <rules>
            <name>Send_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.CLM_Configuration__c.CLM_Flow_Support_Email_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Error_Email</targetReference>
            </connector>
            <label>Send Email</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <description>Collection Choice Set of Vendor Requested Agreement Type Selection From Opportunity Screen</description>
        <name>colChoice_SubtypeCollectionForOpportunity</name>
        <collectionReference>varR_subtypeRecords</collectionReference>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <object>EMEA_Service__mdt</object>
        <valueField>Code__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varP_LeaderRegion</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Project_Leader_Region__c</picklistField>
        <picklistObject>Apttus__APTS_Agreement__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>forB_perpetual</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Agreement_End_Date} == {!Perpetual_Name}, true, IF(AND({!varT_selectedSubtype} == &quot;Master Services Agreement&quot;,ISNULL({!End_Date})), true, false))</expression>
    </formulas>
    <formulas>
        <name>forD_endDateText2</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!forT_endDateText})</expression>
    </formulas>
    <formulas>
        <name>forT_AgreementLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) + {!Agreement_Loop.Id}</expression>
    </formulas>
    <formulas>
        <name>forT_DefaultLeaderRegion</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!varT_potentialRegionFromOpp}, &quot;;&quot;), &quot;&quot;, {!varT_potentialRegionFromOpp})</expression>
    </formulas>
    <formulas>
        <name>forT_defaultName</name>
        <dataType>String</dataType>
        <expression>{!Requested_Agreement_Type} + &apos;_&apos; + {!Get_Opportunity_Record.Legacy_Quintiles_Opportunity_Number__c} + &apos;_&apos; + {!Get_Opportunity_Record.Name}</expression>
    </formulas>
    <formulas>
        <name>forT_endDateText</name>
        <dataType>String</dataType>
        <expression>IF({!Agreement_End_Date} == {!Agreement_End_Date_Choice}, TEXT({!End_Date}), &apos;Perpetual&apos;)</expression>
    </formulas>
    <formulas>
        <name>forT_FinalAddress</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!varT_combinedAddress}, &apos;, ,&apos;), SUBSTITUTE({!varT_combinedAddress}, &apos;, ,&apos;, &apos;,&apos;), {!varT_combinedAddress})</expression>
    </formulas>
    <formulas>
        <name>forT_Requested_Type_ShortForm</name>
        <dataType>String</dataType>
        <expression>IF({!Requested_Agreement_Type} = &apos;Work Order&apos;, &apos;WO&apos;, IF({!Requested_Agreement_Type} = &apos;Authorization To Proceed&apos;, &apos;ATP&apos;, IF({!Requested_Agreement_Type} = &apos;Standalone Services Agreement&apos;, &apos;SSA&apos;, IF({!Requested_Agreement_Type} = &apos;Other Non Client Agreement&apos;, &apos;ONCA&apos; , IF({!Requested_Agreement_Type} = &apos;CEVA Agreement&apos;, &apos;CEVA&apos;, IF({!Requested_Agreement_Type} = &apos;Other Client Agreement&apos;, &apos;OCA&apos;, {!Requested_Agreement_Type}))))))</expression>
    </formulas>
    <interviewLabel>CLM Create Vendor ScreenFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM Create Vendor ScreenFlow</label>
    <loops>
        <name>Agreement_Loop</name>
        <label>Agreement Loop</label>
        <locationX>1326</locationX>
        <locationY>1562</locationY>
        <collectionReference>varR_customerAgreementListForOpportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Agreement_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Vendor_Screen_3</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Vendor_Address</name>
        <label>Loop through Vendor Address</label>
        <locationX>1722</locationX>
        <locationY>2462</locationY>
        <collectionReference>varR_vendorAccountAddresses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setCombinedAddress</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Opportunity_Screen_4</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Vendor_MSAs</name>
        <label>Loop through Vendor MSAs</label>
        <locationX>1854</locationX>
        <locationY>3410</locationY>
        <collectionReference>varR_vendorMSAs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Vendor_MSA_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Sort_Vendor_MSA_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Vendor_Agreement</name>
        <label>Create Vendor Agreement</label>
        <locationX>1722</locationX>
        <locationY>4226</locationY>
        <assignRecordIdToReference>varT_createdVendorAgrID</assignRecordIdToReference>
        <connector>
            <targetReference>Check_if_flow_launched_from_contract</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Apttus__Account__c</field>
            <value>
                <elementReference>varT_finalVendorAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__Contract_End_Date__c</field>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__Contract_Start_Date__c</field>
            <value>
                <elementReference>Agreement_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__Perpetual__c</field>
            <value>
                <elementReference>forB_perpetual</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__Related_Opportunity__c</field>
            <value>
                <elementReference>varT_OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__Status_Category__c</field>
            <value>
                <stringValue>Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__Status__c</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__Subtype__c</field>
            <value>
                <elementReference>varT_selectedSubtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>varT_contractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>varT_currencyISOCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IQVIA_Project_Manager_Con__c</field>
            <value>
                <elementReference>varT_projectManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legal_Entity_1__c</field>
            <value>
                <elementReference>varT_selectedLegalEntity1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Number__c</field>
            <value>
                <elementReference>varT_ProjectNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Protocol_Number__c</field>
            <value>
                <elementReference>varT_ProtocolNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Vendor_RecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Master_Agreement__c</field>
            <value>
                <elementReference>varR_selectedVendorMSA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor_Address__c</field>
            <value>
                <elementReference>varR_selectedVendorAddress.Address_Line_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor_Legal_Entity__c</field>
            <value>
                <elementReference>varR_selectedVendorAddress.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Apttus__APTS_Agreement__c</object>
    </recordCreates>
    <recordCreates>
        <name>Created_Relationship_Record</name>
        <label>Created Relationship Record</label>
        <locationX>1458</locationX>
        <locationY>4550</locationY>
        <connector>
            <targetReference>Navigate_to_Agreement_Details</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Apttus__APTS_Contract_From__c</field>
            <value>
                <elementReference>varR_selectedCustomerAgreement.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__APTS_Contract_To__c</field>
            <value>
                <elementReference>varT_createdVendorAgrID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__Relationship_From_Type__c</field>
            <value>
                <stringValue>Is Related Contract</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__Relationship_To_Type__c</field>
            <value>
                <stringValue>Is Related Contract</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Current Agreement</stringValue>
            </value>
        </inputAssignments>
        <object>Apttus__APTS_Related_Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Details</name>
        <label>Get Account Details</label>
        <locationX>1587</locationX>
        <locationY>914</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Inactive_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_finalVendorAccountID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountStatus__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Variables_From_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Address_From_Vendor_Account</name>
        <label>Get Address From Vendor Account</label>
        <locationX>1722</locationX>
        <locationY>2246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sort_Vendor_Address</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_finalVendorAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.CLM_Configuration__c.AMA_Address_RecordTypeId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>City__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Address_Line_1__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PostalCode__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Marked_For_Deletion__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Address__c</object>
        <outputReference>varR_vendorAccountAddresses</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Address_Line_1__c</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <queriedFields>State__c</queriedFields>
        <queriedFields>City__c</queriedFields>
        <queriedFields>PostalCode__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>SAP_Reference__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get the IQVIA User Contact based on requestor email of the contract record</description>
        <name>Get_Contact_Project_Manager_From_Contract</name>
        <label>Get Contact Project Manager From Contract</label>
        <locationX>1326</locationX>
        <locationY>830</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Vendor_Screen_1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contract_Record.Requestor_Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Inactive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_IQVIA_Contact_User_RecordTypeId.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varT_projectManagerId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract_Record</name>
        <label>Get Contract Record</label>
        <locationX>2096</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Requested_Contract_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>Requestor_Email__c</queriedFields>
        <queriedFields>Requested_Contract_Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Customer_Agreements_For_Opportunity_Screen</name>
        <label>Get Customer Agreements - Opportunity Selection Screen</label>
        <locationX>1326</locationX>
        <locationY>1454</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Agreement_Loop</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>1 AND (2 OR 3 OR 4) AND 5 AND 6 AND 7</filterLogic>
        <filters>
            <field>Apttus__Related_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Developer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PSA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Developer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preliminary_Agreement</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Developer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RWLP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Subtype__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Termination Letter</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Subtype__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Termination Agreements</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Status_Category__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <object>Apttus__APTS_Agreement__c</object>
        <outputReference>varR_customerAgreementListForOpportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Apttus__FF_Agreement_Number__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Apttus__Account__c</queriedFields>
        <queriedFields>Services__c</queriedFields>
        <queriedFields>Lead_Region__c</queriedFields>
        <queriedFields>Legal_Entity_1__c</queriedFields>
        <queriedFields>Apttus__Subtype__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_IQVIA_Contact_User_RecordTypeId</name>
        <label>Get IQVIA Contact User RecordTypeId</label>
        <locationX>1326</locationX>
        <locationY>722</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Project_Manager_From_Contract</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IQVIA_User_Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Subtype_For_Opportunity_Selection</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Opportunity_Number__c</queriedFields>
        <queriedFields>Contract_Start_Date__c</queriedFields>
        <queriedFields>Amount</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Legacy_Quintiles_Opportunity_Number__c</queriedFields>
        <queriedFields>Potential_Regions__c</queriedFields>
        <queriedFields>Protocol_Number__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Vendor_Account</name>
        <label>Get Parent Vendor Account</label>
        <locationX>1861</locationX>
        <locationY>3139</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exclude_Dummy_Accounts</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_finalVendorAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varT_selectedVendorAccountParentAccountID</assignToReference>
            <field>ParentId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Valid_MSA_Agreements</name>
        <label>Get Valid MSA Agreements</label>
        <locationX>1854</locationX>
        <locationY>3302</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Vendor_MSAs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>1 AND 2 AND (3 AND 4) AND ((10 AND 8) OR (NOT(5) AND (8 OR 6)) OR (5 AND NOT(10) AND (7 OR 9)))</filterLogic>
        <filters>
            <field>Apttus__Status_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Effect</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Developer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vendor_Agreement</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Subtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Master Services Agreement</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Subtype__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Parent_Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_selectedVendorAccountParentAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Parent_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_selectedVendorAccountParentAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Apttus__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_finalVendorAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Parent_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_finalVendorAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Parent_Account__c</field>
            <operator>In</operator>
            <value>
                <elementReference>varR_DummyAccountIds</elementReference>
            </value>
        </filters>
        <object>Apttus__APTS_Agreement__c</object>
        <outputReference>varR_vendorMSAs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Lead_Region__c</queriedFields>
        <queriedFields>Service_Type__c</queriedFields>
        <queriedFields>Apttus__Account__c</queriedFields>
        <queriedFields>Account_Local_Name__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Services__c</queriedFields>
        <queriedFields>Apttus__FF_Agreement_Number__c</queriedFields>
        <queriedFields>Regions__c</queriedFields>
        <queriedFields>Legal_Entity_1__c</queriedFields>
        <queriedFields>Legal_Entity_2__c</queriedFields>
        <queriedFields>Legal_Entity_3__c</queriedFields>
        <queriedFields>Is_SOW_Template_Required__c</queriedFields>
        <queriedFields>Payment_Term__c</queriedFields>
        <queriedFields>MSA_Guidance__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Vendor_RecordTypeId</name>
        <label>Get Vendor RecordTypeId</label>
        <locationX>1722</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Agreement_From</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vendor_Agreement</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Apttus__APTS_Agreement__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contract_Status</name>
        <label>Update Contract Status</label>
        <locationX>930</locationX>
        <locationY>4442</locationY>
        <connector>
            <targetReference>Check_If_Customer_Agreement_Selected</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contract_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed for Internal Purposes</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <screens>
        <name>Custom_Error_Screen</name>
        <label>Custom Error Screen</label>
        <locationX>1854</locationX>
        <locationY>4658</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_Email_To_The_Support_Team</targetReference>
        </connector>
        <fields>
            <name>Error_Text</name>
            <fieldText>&lt;p&gt;{!textT_ErrorMessageDisplay}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Opportunity Screen to populate required Agreement Details</description>
        <name>Opportunity_Screen_4</name>
        <label>Opportunity Screen 4 - Agr Details</label>
        <locationX>1722</locationX>
        <locationY>2978</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>MSA_Required</targetReference>
        </connector>
        <fields>
            <name>Header_4</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;Create New Agreement : Agreement Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Opportunity_Screen_4_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Opportunity_Screen_4_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sub_11</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Opportunity: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!varT_opportunityName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varT_flowLaunchObjectName</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Account</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Sub_12</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Vendor Account: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!varT_finalVendorAccountName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Opportunity_Screen_4_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sub_13</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Type: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!varT_selectedSubtype}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Opportunity_Screen_4_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sub_15</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Customer Account: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!varT_customerAccountName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varT_flowLaunchObjectName</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Account</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Sub_14</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Vendor MSA: &lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ruler_1</name>
            <fieldText>&lt;p&gt;{!rule}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Opportunity_Screen_4_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Opportunity_Screen_4_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name</name>
                    <dataType>String</dataType>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The number of characters should be less than 80 and should not include (&amp;lt;, &amp;gt;, /, \).&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND(LEN({!Name}) &lt;= 80,
REGEX({!Name}, &quot;^[^&lt;&gt;\\\\/]*$&quot;))</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Help_Text1</name>
                    <fieldText>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); font-family: sans-serif; font-size: 10px; color: rgb(0, 0, 0);&quot;&gt;Name of the agreement.&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Opportunity_Screen_4_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>IQVIA_Legal_Entity_1</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Legal_Entity_1__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>IQVIA Legal Entity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Apttus__APTS_Agreement__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varR_selectedCustomerAgreement.Legal_Entity_1__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varT_selectedLegalEntity1</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>varT_legalEntityName1</assignToReference>
                        <name>recordName</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Help_Text3</name>
                    <fieldText>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); font-family: sans-serif; color: rgb(0, 0, 0); font-size: 10px;&quot;&gt;Select the IQVIA Legal Entity for this agreement.&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Opportunity_Screen_4_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Project_Manager_1</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>IQVIA_Project_Manager_Con__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Project Manager</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Apttus__APTS_Agreement__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varT_projectManagerId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varT_projectManagerId</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>varT_projectManagerName</assignToReference>
                        <name>recordName</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Help_Text6</name>
                    <fieldText>&lt;p&gt;&lt;em style=&quot;font-size: 10px; color: rgb(0, 0, 0); font-family: sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;Select the Project Manager for this agreement.&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Opportunity_Screen_4_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Opportunity_Screen_4_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Agreement_Start_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Agreement Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Help_Text4</name>
                    <fieldText>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); font-family: sans-serif; color: rgb(0, 0, 0); font-size: 10px;&quot;&gt;This is the date when agreement goes into effect.&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Opportunity_Screen_4_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Agreement_End_Date</name>
                    <choiceReferences>Perpetual_Name</choiceReferences>
                    <choiceReferences>Agreement_End_Date_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varT_perpetualDefault</elementReference>
                    </defaultValue>
                    <fieldText>Agreement End Date</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Help_Text5</name>
                    <fieldText>&lt;p&gt;&lt;em style=&quot;font-size: 10px; color: rgb(0, 0, 0); font-family: sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;Select Perpetual OR enter Agreement End Date.&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Opportunity_Screen_4_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>space1</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>End_Date</name>
                    <dataType>Date</dataType>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Agreement_End_Date</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Agreement_End_Date_Choice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Helper_7</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Vendor Legal Name and Address&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 10px; color: rgb(43, 58, 66); font-family: sans-serif;&quot;&gt;Select the vendor address for the vendor agreement from the list of vendor account addresses and the legal name will be set from the selected address.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Address_Table_0</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Address__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>varR_vendorAccountAddressCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-003d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Vendor Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Customer Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;SAP_Reference__c&quot;,&quot;guid&quot;:&quot;column-b940&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;SAP Vendor Code&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;SAP Base Code&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Address_Line_1__c&quot;,&quot;guid&quot;:&quot;column-3ce0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Vendor Address&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Address Line 1&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varR_selectedVendorAddress</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Screen_6</name>
        <label>Opportunity Screen 6 - Summary</label>
        <locationX>1722</locationX>
        <locationY>4118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Vendor_Agreement</targetReference>
        </connector>
        <fields>
            <name>Header_8</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;Create New Agreement : Summary&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Opportunity_Screen_6_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Opportunity_Screen_6_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sub_26</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Opportunity: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!varT_opportunityName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varT_flowLaunchObjectName</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Account</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Sub_27</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Vendor Account: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!varT_finalVendorAccountName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Opportunity_Screen_6_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sub_28</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Type: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!varT_selectedSubtype}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Opportunity_Screen_6_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sub_30</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Customer Account: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!varT_customerAccountName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varT_flowLaunchObjectName</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Account</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Sub_29</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Vendor MSA: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!varR_selectedVendorMSA.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ruler_7</name>
            <fieldText>&lt;p&gt;{!rule}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Opportunity_Screen_6_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Opportunity_Screen_6_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SC_Name</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Name&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Opportunity_Screen_6_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SC_LE1</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;IQVIA Legal Entity&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!varT_legalEntityName1}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Opportunity_Screen_6_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SC_Project_Manager</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Project Manager&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!varT_projectManagerName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Opportunity_Screen_6_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Opportunity_Screen_6_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SC_Start_Date</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Agreement Start Date&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!Agreement_Start_Date}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Opportunity_Screen_6_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SC_End_Date</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Agreement End Date&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!forD_endDateText2}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>forT_endDateText</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Perpetual</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>SC_Perpetual</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Agreement End Date&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!forT_endDateText}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>forT_endDateText</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Perpetual</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Opportunity_Screen_6_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SC_Vendor_Address</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;&lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Vendor Legal Name and Address&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Legal Name&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; - &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!varR_selectedVendorAddress.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Address&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; - {!varR_selectedVendorAddress.Address_Line_1__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Create Agreement</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Selection_5</name>
        <label>Opportunity Selection 5 - MSA</label>
        <locationX>1854</locationX>
        <locationY>3926</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Opportunity_Screen_6</targetReference>
        </connector>
        <fields>
            <name>Header_7</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;Create New Agreement : Vendor MSA&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Opportunity_Selection_5_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Opportunity_Selection_5_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sub_16</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Opportunity: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!varT_opportunityName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Sub_17</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Vendor Account: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!varT_finalVendorAccountName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Opportunity_Selection_5_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sub_18</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Type: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!varT_selectedSubtype}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Opportunity_Selection_5_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>sub_20</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Customer Account: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!varT_customerAccountName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Sub_19</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Vendor MSA: &lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ruler_3</name>
            <fieldText>&lt;p&gt;{!rule}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>statement_2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;In the table below are all the vendor MSAs found in CLM for this Vendor (including some through a parent or sibling relationship).&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MSA_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Apttus__APTS_Agreement__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>MSA</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>varR_vendorMSA_Record_Collection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Apttus__FF_Agreement_Number__c&quot;,&quot;guid&quot;:&quot;column-13a6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Number&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Agreement Number&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-4976&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Agreement Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Account_Name_Override__c&quot;,&quot;guid&quot;:&quot;column-06a0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Vendor&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Account Name Override&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;MSA_Guidance__c&quot;,&quot;guid&quot;:&quot;column-9fdd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Guidance&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;MSA Guidance&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Services__c&quot;,&quot;guid&quot;:&quot;column-fcdf&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Services&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Lead_Region__c&quot;,&quot;guid&quot;:&quot;column-e0c6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Region&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Template Region&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varR_selectedVendorMSA</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Opportunity/Contract Screen to select Vendor Account</description>
        <name>Vendor_Screen_1</name>
        <label>Opportunity/Contract Screen 1 - Vendor Account</label>
        <locationX>1326</locationX>
        <locationY>938</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Account_Details</targetReference>
        </connector>
        <fields>
            <name>Header_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;Create New Agreement : Vendor Account&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Vendor_Screen_1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Vendor_Screen_1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sub_32</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Opportunity: &lt;/strong&gt;{!varT_opportunityName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Sub_31</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Vendor Account: &lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Vendor_Screen_1_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sub_33</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Type: &lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Vendor_Screen_1_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sub_34</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Customer Account: &lt;/strong&gt;{!varT_customerAccountName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Sub_35</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Vendor MSA: &lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ruler_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!rule}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Vendor_Screen_1_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Vendor_Screen_1_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Vendor_Account</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Apttus__Account__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Vendor Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Apttus__APTS_Agreement__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varT_finalVendorAccountID</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varT_finalVendorAccountID</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>varT_finalVendorAccountName</assignToReference>
                        <name>recordName</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Error_Message</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(255, 0, 0);&quot;&gt;This account is inactive. Please select an active account.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varB_InactiveAccount</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Vendor_Screen_1_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Opportunity Screen to select Requested Agreement Type for Vendor Agreement</description>
        <name>Vendor_Screen_2</name>
        <label>Opportunity Screen 2 - Subtype</label>
        <locationX>1106</locationX>
        <locationY>1154</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Selected_Subtype</targetReference>
        </connector>
        <fields>
            <name>Header_2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;Create New Agreement : Agreement Type&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Vendor_Screen_2_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Vendor_Screen_2_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sub_1</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Opportunity: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!Get_Opportunity_Record.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Sub_2</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Vendor Account: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!varT_finalVendorAccountName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Vendor_Screen_2_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sub_3</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Type: &lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Vendor_Screen_2_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sub_5</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Customer Account: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Opportunity_Record.Account.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Sub_4</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Vendor MSA: &lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ruler_2</name>
            <fieldText>&lt;p&gt;{!rule}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Requested_Agreement_Type</name>
            <choiceReferences>colChoice_SubtypeCollectionForOpportunity</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the Requested Agreement Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Opportunity/Contract Screen to select Customer Agreement for Vendor Agreement</description>
        <name>Vendor_Screen_3</name>
        <label>Opportunity/Contract Screen 3 - Customer Agr</label>
        <locationX>1326</locationX>
        <locationY>1970</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Address_From_Vendor_Account</targetReference>
        </connector>
        <fields>
            <name>Header_3</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Create New Agreement : Customer Agreement&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Vendor_Screen_3_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Vendor_Screen_3_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sub_6</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Opportunity: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!varT_opportunityName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Sub_7</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Vendor Account: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!varT_finalVendorAccountName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Vendor_Screen_3_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sub_8</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Type: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!varT_selectedSubtype}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Vendor_Screen_3_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sub_10</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Customer Account: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!varT_customerAccountName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Sub_9</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Vendor MSA: &lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ruler_5</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!rule}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Statement_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;In the table below are all the Customer Agreements found in CLM which are linked with this Opportunity.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_Agreement_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Apttus__APTS_Agreement__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>varR_finalCustomerAgreement</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Apttus__FF_Agreement_Number__c&quot;,&quot;guid&quot;:&quot;column-17a6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Number&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Agreement Number&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-aa2e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Agreement Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Apttus__Subtype__c&quot;,&quot;guid&quot;:&quot;column-f56b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Type&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Requested Agreement Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Services__c&quot;,&quot;guid&quot;:&quot;column-e104&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Services&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Lead_Region__c&quot;,&quot;guid&quot;:&quot;column-c0e6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Region&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Template Region&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varR_selectedCustomerAgreement</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1596</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Vendor_RecordTypeId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_CLM_Vendor_Amend_Flow</name>
        <label>Call CLM Vendor Amend Flow</label>
        <locationX>2602</locationX>
        <locationY>614</locationY>
        <flowName>CLM_Amend_Vendor_Contract_Screen_Flow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Exclude_Dummy_Accounts</name>
        <label>Exclude Dummy Accounts</label>
        <locationX>2020</locationX>
        <locationY>3215</locationY>
        <connector>
            <targetReference>Get_Valid_MSA_Agreements</targetReference>
        </connector>
        <flowName>CLM_Subflow_Exclude_Dummy_Accounts</flowName>
        <inputAssignments>
            <name>varT_OpportunityAccountId</name>
            <value>
                <elementReference>varT_finalVendorAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_OpportunityParentAccountId</name>
            <value>
                <elementReference>varT_selectedVendorAccountParentAccountID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varR_DummyAccountIds</assignToReference>
            <name>varR_AccountIds</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>textT_AgreementLink</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;{!forT_AgreementLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Agreement_Loop.Apttus__FF_Agreement_Number__c}&lt;/a&gt; &lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>textT_ErrorMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;An unexpected error has occurred. Please contact the support team for help.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Error Details&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; :  &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Error Time&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; :&amp;nbsp;{!$Flow.CurrentDateTime}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Running User&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; : {!$User.FirstName} &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$User.LastName}&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Record Id &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;: {!recordId} 		&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>textT_ErrorMessageDisplay</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;An unexpected error has occurred. Please contact the support team for help.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Error Details&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; :  &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>subType1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EMEA_Service__mdt</objectType>
    </variables>
    <variables>
        <name>subType2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EMEA_Service__mdt</objectType>
    </variables>
    <variables>
        <name>subType3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EMEA_Service__mdt</objectType>
    </variables>
    <variables>
        <name>subType4</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EMEA_Service__mdt</objectType>
    </variables>
    <variables>
        <name>subType5</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EMEA_Service__mdt</objectType>
    </variables>
    <variables>
        <name>subType6</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EMEA_Service__mdt</objectType>
    </variables>
    <variables>
        <name>varB_InactiveAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varB_InactivePM</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varR_customerAgreementListForOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>varR_DummyAccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varR_finalCustomerAgreement</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>varR_selectedCustomerAgreement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>varR_selectedVendorAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address__c</objectType>
    </variables>
    <variables>
        <name>varR_selectedVendorMSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>varR_subtypeRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EMEA_Service__mdt</objectType>
    </variables>
    <variables>
        <name>varR_vendorAccAddressRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address__c</objectType>
    </variables>
    <variables>
        <name>varR_vendorAccountAddressCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address__c</objectType>
    </variables>
    <variables>
        <name>varR_vendorAccountAddresses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address__c</objectType>
    </variables>
    <variables>
        <name>varR_vendorMSA_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>varR_vendorMSA_Record_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>varR_vendorMSAs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>varT_combinedAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the recordId of the contract record this flow is launched from.</description>
        <name>varT_contractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_createdVendorAgrID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This variable help&apos;s store currency ISO code value from either Opportunity or Account</description>
        <name>varT_currencyISOCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This text variable holds the customer account name fetched from opportunity object.</description>
        <name>varT_customerAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_finalVendorAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_finalVendorAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This text variable contains the name of Object from which the flow is launched at runtime.</description>
        <name>varT_flowLaunchObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_legalEntityName1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_opportunityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_perpetualDefault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_potentialRegionFromOpp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_projectManagerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_projectManagerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_ProjectNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_ProtocolNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_selectedLegalEntity1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_selectedSubtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_selectedVendorAccountParentAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
