src/flows/CLM_Contract_ScreenFlow_QuoteCreation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>We&apos;re using the Apex Action Handler class to get all the picklist values for Quote field Contract Ranking</description>
        <name>Get_Contract_Ranking_Picklist_Values_In_List</name>
        <label>Get Contract Ranking Picklist Values In List</label>
        <locationX>683</locationX>
        <locationY>1115</locationY>
        <actionName>UTL_CLM_Flow_ActionHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Quote_Pricing_Tool_Value_Matching</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>GetPicklistValuesInList</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agreementId</name>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputString</name>
            <value>
                <stringValue>Contract_Ranking__c</stringValue>
            </value>
        </inputParameters>
        <nameSegment>UTL_CLM_Flow_ActionHandler</nameSegment>
        <outputParameters>
            <assignToReference>varT_Quote_Contract_Ranking_Picklist_Value_Set</assignToReference>
            <name>flowOutput</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>We&apos;re using the Apex Action Handler class to get all the picklist values for Quote field Pricing Tool</description>
        <name>Get_Pricing_Tool_Picklist_Values_In_List</name>
        <label>Get Pricing Tool Picklist Values In List</label>
        <locationX>686</locationX>
        <locationY>943</locationY>
        <actionName>UTL_CLM_Flow_ActionHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Contract_Ranking_Picklist_Values_In_List</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>GetPicklistValuesInList</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agreementId</name>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputString</name>
            <value>
                <stringValue>Pricing_Tool__c</stringValue>
            </value>
        </inputParameters>
        <nameSegment>UTL_CLM_Flow_ActionHandler</nameSegment>
        <outputParameters>
            <assignToReference>varT_Quote_Pricing_Tool_Picklist_Value_Set</assignToReference>
            <name>flowOutput</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Navigate_To_Original_Record</name>
        <label>Navigate To Original Record</label>
        <locationX>1689</locationX>
        <locationY>532</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Navigate_To_Quote_Details</name>
        <label>Navigate To Quote Details</label>
        <locationX>1074</locationX>
        <locationY>2224</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>varT_NewQuoteId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Error_Email</name>
        <label>Send Error Email</label>
        <locationX>1689</locationX>
        <locationY>262</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Navigate_To_Original_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>textT_ErrorMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Setup.CLM_Configuration__c.CLM_Flow_Support_Email_Address__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>clmintegration@iqvia.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>CLM Contract ScreenFlow QuoteCreation Error Occurred</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>If Quote - Contract Ranking values contain Contract - Contract Ranking value</description>
        <name>Set_Contract_Ranking_Matching</name>
        <label>Set Contract Ranking Matching</label>
        <locationX>449</locationX>
        <locationY>1590</locationY>
        <assignmentItems>
            <assignToReference>varB_Contract_Ranking</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_Quote_Picklist_Values_Matching_with_Contract_Picklist_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>If Quote - Pricing Tool values contain Contract - Budget Tool value</description>
        <name>Set_Pricing_Tool_Matching</name>
        <label>Set Pricing Tool Matching</label>
        <locationX>448</locationX>
        <locationY>1405</locationY>
        <assignmentItems>
            <assignToReference>varB_Pricing_Tool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Quote_Contract_Ranking_Value_Matching</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice_Type</name>
        <choiceText>CNF Quote</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CNF Quote</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Check if Contract picklist values exists in Quote picklist value set</description>
        <name>Are_Quote_Picklist_Values_Matching_with_Contract_Picklist_Values</name>
        <label>Are Quote Picklist Values Matching with Contract Picklist Values?</label>
        <locationX>679</locationX>
        <locationY>1729</locationY>
        <defaultConnector>
            <targetReference>Collect_Quote_Picklist_Value_Not_Matching_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Pricing_Tool_And_Contract_Ranking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varB_Pricing_Tool</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varB_Contract_Ranking</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Quote</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_Quote_Created_or_not</name>
        <label>Check the Quote Created or not?</label>
        <locationX>678</locationX>
        <locationY>714</locationY>
        <defaultConnector>
            <targetReference>Get_Pricing_Tool_Picklist_Values_In_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Quote Not Exists</defaultConnectorLabel>
        <rules>
            <name>Existing_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quotes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Quote_Warning</targetReference>
            </connector>
            <label>Existing Quote</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Contract - Contract Ranking value exists in Quote - Contract Ranking Value set</description>
        <name>Is_Quote_Contract_Ranking_Value_Matching</name>
        <label>Is Quote Contract Ranking Value Matching?</label>
        <locationX>678</locationX>
        <locationY>1503</locationY>
        <defaultConnector>
            <targetReference>Are_Quote_Picklist_Values_Matching_with_Contract_Picklist_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Contract_Ranking</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varT_Quote_Contract_Ranking_Picklist_Value_Set</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>forT_Contract_Contract_Ranking_Value</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>forT_Contract_Contract_Ranking_Value</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_Contract_Ranking_Matching</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Contract - Budget Tool value exist in Quote - Pricing Tool Value set</description>
        <name>Is_Quote_Pricing_Tool_Value_Matching</name>
        <label>Is Quote Pricing Tool Value Matching?</label>
        <locationX>676</locationX>
        <locationY>1286</locationY>
        <defaultConnector>
            <targetReference>Is_Quote_Contract_Ranking_Value_Matching</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Pricing_Tool</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varT_Quote_Pricing_Tool_Picklist_Value_Set</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>forT_Contract_Budget_Tool_Value</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>forT_Contract_Budget_Tool_Value</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_Pricing_Tool_Matching</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Error_Details_To_The_Support_Team</name>
        <label>Send Error Details To The Support Team?</label>
        <locationX>1472</locationX>
        <locationY>414</locationY>
        <defaultConnector>
            <targetReference>Navigate_To_Original_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Send Email</defaultConnectorLabel>
        <rules>
            <name>Send_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.CLM_Configuration__c.CLM_Flow_Support_Email_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Error_Email</targetReference>
            </connector>
            <label>Send Email</label>
        </rules>
    </decisions>
    <description>Quote created from contract</description>
    <environments>Default</environments>
    <formulas>
        <name>forT_Contract_Budget_Tool_Value</name>
        <dataType>String</dataType>
        <expression>TEXT({!Get_Contracts.Budget_Tool__c})</expression>
    </formulas>
    <formulas>
        <description>Formula field to capture the text value of Contract Ranking value from Contract</description>
        <name>forT_Contract_Contract_Ranking_Value</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!Get_Contracts.Contract_Ranking__c}) == &apos;1&apos;, &apos;1.1&apos;,
IF(TEXT({!Get_Contracts.Contract_Ranking__c}) == &apos;2&apos;, &apos;2.1&apos;,
IF(TEXT({!Get_Contracts.Contract_Ranking__c}) == &apos;3&apos;, &apos;3.1&apos;,
IF(TEXT({!Get_Contracts.Contract_Ranking__c}) == &apos;4&apos;, &apos;4.1&apos;,
IF(TEXT({!Get_Contracts.Contract_Ranking__c}) == &apos;5&apos;, &apos;5.1&apos;, 
TEXT({!Get_Contracts.Contract_Ranking__c}))))))</expression>
    </formulas>
    <formulas>
        <description>Formula variable to store Requested Contract Type.</description>
        <name>forT_Contract_Requested_Contract_Type</name>
        <dataType>String</dataType>
        <expression>IF(({!Get_Contracts.Requested_Contract_Type__c} = &apos;CNF&apos;), &apos;CNF Quote&apos;, {!Get_Contracts.Requested_Contract_Type__c})</expression>
    </formulas>
    <formulas>
        <name>forT_ExistingQuoteLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!Get_Quotes.Id}</expression>
    </formulas>
    <formulas>
        <name>forT_Todays_Date</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>CLM Create Contract Quote ScreenFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM Create Contract Quote ScreenFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Quote</name>
        <label>Create Quote</label>
        <locationX>1066</locationX>
        <locationY>1728</locationY>
        <assignRecordIdToReference>varT_NewQuoteId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Contract</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Actual_Quote_Amount__c</field>
            <value>
                <elementReference>Get_Contracts.Actual_Contract_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Analyst_Start_Date__c</field>
            <value>
                <elementReference>forT_Todays_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractId</field>
            <value>
                <elementReference>Get_Contracts.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Ranking__c</field>
            <value>
                <elementReference>forT_Contract_Contract_Ranking_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Get_Contracts.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Tracking_Started__c</field>
            <value>
                <elementReference>Get_Contracts.Date_Tracking_started__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Get_Contracts.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division_Business_Unit__c</field>
            <value>
                <elementReference>Get_Contracts.Division_Business_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Business_Group__c</field>
            <value>
                <elementReference>Get_Contracts.Lead_Business_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!Get_Contracts.Opportunity__r.Legacy_Quintiles_Opportunity_Number__c}_{!choice_Type}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Get_Contracts.Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Planned_Execution_Date__c</field>
            <value>
                <elementReference>Get_Contracts.Planned_Execution_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricing_Tool__c</field>
            <value>
                <elementReference>Get_Contracts.Budget_Tool__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Expenses__c</field>
            <value>
                <elementReference>Get_Contracts.Project_Expenses__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Leader_Region__c</field>
            <value>
                <elementReference>Get_Contracts.Project_Leader_Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Owner__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Generic_RecordType_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Change_Date__c</field>
            <value>
                <elementReference>forT_Todays_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Comments__c</field>
            <value>
                <elementReference>Get_Contracts.Status_Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>forT_Contract_Requested_Contract_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Contracts</name>
        <label>Get Contracts</label>
        <locationX>684</locationX>
        <locationY>224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quotes</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Actual_Contract_Value__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Budget_Tool__c</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Specific_Contract_Type__c</queriedFields>
        <queriedFields>Project_Expenses__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Division_Business_Unit__c</queriedFields>
        <queriedFields>Lead_Business_Group__c</queriedFields>
        <queriedFields>Project_Leader_Region__c</queriedFields>
        <queriedFields>Contract_Ranking__c</queriedFields>
        <queriedFields>Planned_Execution_Date__c</queriedFields>
        <queriedFields>Requested_Contract_Type__c</queriedFields>
        <queriedFields>Date_Tracking_started__c</queriedFields>
        <queriedFields>Status_Comments__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Generic_RecordType_Id</name>
        <label>Get Generic RecordType Id</label>
        <locationX>688</locationX>
        <locationY>525</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_the_Quote_Created_or_not</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Generic</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quotes</name>
        <label>Get Quotes</label>
        <locationX>686</locationX>
        <locationY>385</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Generic_RecordType_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contract</name>
        <label>Update Contract</label>
        <locationX>1074</locationX>
        <locationY>1871</locationY>
        <connector>
            <targetReference>Collect_Quote_Created_Success_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed for Internal Purposes</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <screens>
        <name>Collect_Quote_Created_Success_Message</name>
        <label>Collect Quote Created Success Message</label>
        <locationX>1074</locationX>
        <locationY>2018</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Navigate_To_Quote_Details</targetReference>
        </connector>
        <fields>
            <name>CQCSM_Blank_Space</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CQCSM_Success_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(68, 68, 68);&quot;&gt;The quote is successfully created.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Collect_Quote_Picklist_Value_Not_Matching_Error_Message</name>
        <label>Collect Quote Picklist Value Not Matching Error Message</label>
        <locationX>269</locationX>
        <locationY>1736</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CQPVNMEM_Blank_Space</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CQPVNMEM_Pricing_Tool_Error_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Budget Tool&lt;/strong&gt; &lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;value &quot;{!Get_Contracts.Budget_Tool__c}&quot; is not found on Quote &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Pricing Tool&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;, please correct the &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Budget Tool&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(23, 43, 77); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif;&quot;&gt; value to create CNF Quote from the following values: &lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!varT_Quote_Pricing_Tool_Picklist_Value_Set}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varB_Pricing_Tool</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CQPVNMEM_Contract_Ranking_Error_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Contract Ranking&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(23, 43, 77); background-color: rgb(255, 255, 255); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px;&quot;&gt;value &quot;{!Get_Contracts.Contract_Ranking__c}&quot; is not found on Quote &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px;&quot;&gt;Contract Ranking&lt;/strong&gt;&lt;span style=&quot;color: rgb(23, 43, 77); background-color: rgb(255, 255, 255); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px;&quot;&gt;, please correct the &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px;&quot;&gt;Contract Ranking&lt;/strong&gt;&lt;span style=&quot;color: rgb(23, 43, 77); background-color: rgb(255, 255, 255); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px;&quot;&gt; value to create CNF Quote.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varB_Contract_Ranking</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Existing_Quote_Warning</name>
        <label>Existing Quote Warning</label>
        <locationX>479</locationX>
        <locationY>707</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Quotedata</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(23, 43, 77); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;CNF Quote &lt;/span&gt;&lt;a href=&quot;{!forT_ExistingQuoteLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(254, 69, 40); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Quotes.Name}&lt;/a&gt;&lt;span style=&quot;color: rgb(23, 43, 77); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt; is already created for this Contract.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Error_Message</name>
        <label>Fault Error Message</label>
        <locationX>1316</locationX>
        <locationY>415</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_Error_Details_To_The_Support_Team</targetReference>
        </connector>
        <fields>
            <name>Error_Text</name>
            <fieldText>&lt;p&gt;{!textT_ErrorMessageDisplay}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>557</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Contracts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>textT_ErrorMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;An unexpected error has occurred. Please contact the support team for help.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Error Details&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; :  &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Error Time&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; :&amp;nbsp;{!$Flow.CurrentDateTime}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Running User&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; : {!$User.FirstName} &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$User.LastName}&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Record Id &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;: {!recordId} 		&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>textT_ErrorMessageDisplay</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;An unexpected error has occurred. Please contact the support team for help.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Error Details&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; :  &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Boolean variable to store if Contract to Quote mapping for field Contract Ranking is correct</description>
        <name>varB_Contract_Ranking</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Boolean variable to store if Contract to Quote mapping for field Pricing Tool/Budget Tool is correct</description>
        <name>varB_Pricing_Tool</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varT_NewQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This is a collection variable storing the picklist values for the Quote object field - Contract Ranking</description>
        <name>varT_Quote_Contract_Ranking_Picklist_Value_Set</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is a collection variable storing the picklist values for the Quote object field - Pricing Tool</description>
        <name>varT_Quote_Pricing_Tool_Picklist_Value_Set</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
