src/flows/CLM_Subflow_to_Amend_from_Opportunity.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Set_IQVIA_Agreement_Records</name>
        <label>Set IQVIA Agreement Records</label>
        <locationX>578</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>varR_IqviaAgreement.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_IQVIA_Agreements.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_IqviaAgreement.FF_Agreement_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textT_AgreementName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_IqviaAgreement.Primary_Business_Line1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_IQVIA_Agreements.Primary_Business_Line1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_IqviaAgreement.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_IQVIA_Agreements.Related_Opportunity__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_IqviaAgreement.Legal_Entity_Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_IQVIA_Agreements.Legal_Entity_Customer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_IqviaAgreement.Contract_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_IQVIA_Agreements.Contract_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_IqviaAgreement.Subtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_IQVIA_Agreements.Subtype__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_IqviaAgreement.Version_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_IQVIA_Agreements.Version_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_IqviaAgreement.Original_Agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_IQVIA_Agreements.Original_Agreement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_IqviaAgreement.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_IQVIA_Agreements.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_IqviaAgreement.Related_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_IQVIA_Agreements.Related_Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_IqviaAgreement.Contract_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_IQVIA_Agreements.Contract_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_IqviaAgreement.Legal_Entity_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_IQVIA_Agreements.Legal_Entity_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_IqviaAgreement.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_IQVIA_Agreements.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_IqviaAgreement.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_IQVIA_Agreements.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_IqviaAgreement.Agreement_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_IQVIA_Agreements.Agreement_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_IqviaAgreement.Related_Master_IQVIAAgreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_IQVIA_Agreements.Related_Master_IQVIAAgreement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_IqviaAgrList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_IqviaAgreement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_IqviaAgreement</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_IQVIA_Agreements</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Other_Agreement</name>
        <label>Check for Other Agreement</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>USBU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varT_AmendFlowForOtherAgreeement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varT_Subtype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SOW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Iqvia_Agreement_0_0</targetReference>
            </connector>
            <label>USBU</label>
        </rules>
        <rules>
            <name>Other_Agreement1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varT_AmendFlowForOtherAgreeement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Iqvia_Agreement_0</targetReference>
            </connector>
            <label>Other Agreement</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Other_Agreement_comes_from_Account</name>
        <label>Check If Other Agreement comes from Account</label>
        <locationX>490</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Set_IQVIA_Agreement_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Other_Agreements_From_Account</name>
            <conditionLogic>1 AND (2 AND (3 AND (4 OR 5))) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>Other_Agreement1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_IQVIA_Agreements.Is_Other_Agreement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_IQVIA_Agreements.Original_Agreement__r.Subtype__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_IQVIA_Agreements.Subtype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Change Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_IQVIA_Agreements.Subtype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amendment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_IQVIA_Agreements.Is_Opportunity_Level_OA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_IQVIA_Agreements</targetReference>
            </connector>
            <label>Other Agreements From Account</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forT_AgreementLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) + {!Loop_Through_IQVIA_Agreements.Id}</expression>
    </formulas>
    <interviewLabel>CLM Subflow to Amend from Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM Subflow to Amend from Opportunity</label>
    <loops>
        <name>Loop_Through_IQVIA_Agreements</name>
        <label>Loop Through IQVIA Agreements</label>
        <locationX>314</locationX>
        <locationY>434</locationY>
        <collectionReference>collR_IqviaAgreement</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_If_Other_Agreement_comes_from_Account</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Iqvia_Agreement_0</name>
        <label>Get Iqvia Agreement</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_IQVIA_Agreements</targetReference>
        </connector>
        <filterLogic>1 AND (2 AND (8 OR 9 OR 10 OR 11)) AND (((3 OR 4) AND 7) OR ((5 OR 6)))</filterLogic>
        <filters>
            <field>Status_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Effect</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_Other_Agreement__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Parent_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Parent_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_OppParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Related_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Related_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_OppParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Parent_Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Opportunity_Level_OA__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Subtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Change Order</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Amendment</stringValue>
            </value>
        </filters>
        <object>IQVIA_Agreement__c</object>
        <outputReference>collR_IqviaAgreement</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>FF_Agreement_Number__c</queriedFields>
        <queriedFields>Related_Opportunity__c</queriedFields>
        <queriedFields>Legal_Entity_Customer__c</queriedFields>
        <queriedFields>Contract_Start_Date__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Subtype__c</queriedFields>
        <queriedFields>Primary_Business_Line1__c</queriedFields>
        <queriedFields>Version_Number__c</queriedFields>
        <queriedFields>Original_Agreement__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Contract_End_Date__c</queriedFields>
        <queriedFields>Legal_Entity_1__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Agreement_Number__c</queriedFields>
        <queriedFields>Is_Other_Agreement__c</queriedFields>
        <queriedFields>Is_Opportunity_Level_OA__c</queriedFields>
        <queriedFields>Related_Master_IQVIAAgreement__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Iqvia_Agreement_0_0</name>
        <label>Get Iqvia Agreement SOW</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_IQVIA_Agreements</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR ((9 OR 10) AND 11)) AND 8 AND (((3 OR 4) AND 7) OR ((5 OR 6)))</filterLogic>
        <filters>
            <field>Status_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Effect</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_Subtype</elementReference>
            </value>
        </filters>
        <filters>
            <field>Parent_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Parent_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_OppParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Related_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Related_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_OppParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Parent_Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Developer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>USBU</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Change Order</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Amendment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_Other_Agreement__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>IQVIA_Agreement__c</object>
        <outputReference>collR_IqviaAgreement</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>FF_Agreement_Number__c</queriedFields>
        <queriedFields>Related_Opportunity__c</queriedFields>
        <queriedFields>Legal_Entity_Customer__c</queriedFields>
        <queriedFields>Contract_Start_Date__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Subtype__c</queriedFields>
        <queriedFields>Primary_Business_Line1__c</queriedFields>
        <queriedFields>Version_Number__c</queriedFields>
        <queriedFields>Original_Agreement__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Contract_End_Date__c</queriedFields>
        <queriedFields>Legal_Entity_1__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Agreement_Number__c</queriedFields>
        <queriedFields>Related_Master_IQVIAAgreement__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Other_Agreement</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>textT_AgreementName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a href=&quot;{!forT_AgreementLink}&quot; target=&quot;_blank&quot;&gt;{!Loop_Through_IQVIA_Agreements.FF_Agreement_Number__c} / {!Loop_Through_IQVIA_Agreements.Name}&lt;/a&gt;</text>
    </textTemplates>
    <variables>
        <name>collR_IqviaAgreement</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IQVIA_Agreement__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Other_Agreements_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IQVIA_Agreement__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varR_IqviaAgreement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IQVIA_Agreement__c</objectType>
    </variables>
    <variables>
        <name>varR_IqviaAgrList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>IQVIA_Agreement__c</objectType>
    </variables>
    <variables>
        <name>varT_AmendFlowForOtherAgreeement</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varT_OppParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_Subtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
