src/flows/CLM_Subflow_Notification_on_Addition_of_Third_Party_Vendor_As_Service.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Notification_on_Addition_of_Third_Party_Vendor_As_Service</name>
        <label>Send Notification on Addition of Third Party Vendor As Service</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <actionName>Apttus__APTS_Agreement__c.AGR_WEA07_CLM_MC_Third_Party_Vendor_As_Service</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varR_NewAgreement.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Apttus__APTS_Agreement__c.AGR_WEA07_CLM_MC_Third_Party_Vendor_As_Service</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Condition_Meeting</name>
        <label>Condition Meeting?</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Not Meeting</defaultConnectorLabel>
        <rules>
            <name>Meeting</name>
            <conditionLogic>(1 OR NOT(2)) AND 3 AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>varR_OldAgreement.Services__c</leftValueReference>
                <operator>Contains</operator>
            </conditions>
            <conditions>
                <leftValueReference>varR_OldAgreement.Services__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Third Party Vendors</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewAgreement.Services__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewAgreement.Services__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_OldAgreement.Services__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewAgreement.Services__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Third Party Vendors</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Notification_on_Addition_of_Third_Party_Vendor_As_Service</targetReference>
            </connector>
            <label>Meeting</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CLM Subflow: Notification on Addition of Third Party Vendor As Service {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM Subflow: Notification on Addition of Third Party Vendor As Service</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Condition_Meeting</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varR_NewAgreement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>varR_OldAgreement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
</Flow>
