src/flows/CLM_USBU_Assignment_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Reload_Agreement</name>
        <label>Reload Agreement</label>
        <locationX>1071</locationX>
        <locationY>2955</locationY>
        <actionName>c:LXC_CLM_RefreshFlow</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:LXC_CLM_RefreshFlow</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_TL_as_CA</name>
        <label>Assign TL as CA</label>
        <locationX>1511</locationX>
        <locationY>2126</locationY>
        <assignmentItems>
            <assignToReference>Loop_on_filtered_TLs.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contract Analyst;Team Lead</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_updatedCAs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_filtered_TLs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varB_isTL_CA</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_filtered_TLs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Agreement_Team_Role</name>
        <label>Set Agreement Team Role</label>
        <locationX>1344</locationX>
        <locationY>1726</locationY>
        <assignmentItems>
            <assignToReference>varT_ExistingCARole</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_filtered_CAs.Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_on_filtered_CAs.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_UpdatedCARole</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_updatedCAs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_filtered_CAs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_filtered_CAs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Role_Id_Set</name>
        <label>Set Role Id Set</label>
        <locationX>1156</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>varT_RoleIdSet</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_UserRoles.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_UserRoles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Value_to_Helper</name>
        <label>Set Value to Helper</label>
        <locationX>1177</locationX>
        <locationY>2471</locationY>
        <assignmentItems>
            <assignToReference>varC_Helper</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_IQVIA_Agreement.Helper__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_Helper</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Agreement_Status_to_Assigned</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_varT_Emails</name>
        <label>Set varT_Emails</label>
        <locationX>936</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>varT_Emails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Contact.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_Emails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forT_RequestorEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_Emails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_IQVIA_Agreement.Related_Opportunity__r.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Existing_CA</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_existing_CAs</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter existing CAs</label>
        <locationX>1068</locationX>
        <locationY>1538</locationY>
        <assignNextValueToReference>currentItem_Filter_existing_CAs</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Existing_CA</collectionReference>
        <conditionLogic>1 AND NOT(2)</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_existing_CAs.Role__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Contract Analyst</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_existing_CAs.Role__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Other Contract Analyst</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_on_filtered_CAs</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Existing_TLs</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Existing TLs</label>
        <locationX>1068</locationX>
        <locationY>1984</locationY>
        <assignNextValueToReference>currentItem_Filter_Existing_TLs</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Existing_CA</collectionReference>
        <conditionLogic>1 AND NOT(2) AND NOT(3)</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Existing_TLs.Role__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Team Lead</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Existing_TLs.Role__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Contract Analyst</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Existing_TLs.Role__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Other Contract Analyst</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_on_filtered_TLs</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_If_TL_is_assigned_as_CA</name>
        <label>Check If TL is assigned as CA</label>
        <locationX>1278</locationX>
        <locationY>1836</locationY>
        <defaultConnector>
            <targetReference>Loop_on_filtered_TLs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existing_TL_is_assigned_as_CA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_filtered_TLs.Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Contact.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_TL_as_CA</targetReference>
            </connector>
            <label>Existing TL is assigned as CA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_TL_was_assigned_as_CA</name>
        <label>Check If TL was assigned as CA</label>
        <locationX>1253</locationX>
        <locationY>2362</locationY>
        <defaultConnector>
            <targetReference>Create_Agreement_Team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>TL is not CA</defaultConnectorLabel>
        <rules>
            <name>TL_is_assigned_as_CA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varB_isTL_CA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Value_to_Helper</targetReference>
            </connector>
            <label>TL is assigned as CA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Contact_is_not_null</name>
        <label>Is Contact is not null ?</label>
        <locationX>1068</locationX>
        <locationY>1130</locationY>
        <defaultConnector>
            <targetReference>Get_Existing_CA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_found1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_varT_Emails</targetReference>
            </connector>
            <label>Email found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Email_found</name>
        <label>Is Email found?</label>
        <locationX>1057</locationX>
        <locationY>2616</locationY>
        <defaultConnector>
            <targetReference>Create_Note</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varT_Emails</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Notification_and_Create_Email_Message</targetReference>
            </connector>
            <label>Email Found</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choice_Users</name>
        <collectionReference>Get_Users</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>EmployeeNumber</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>forT_AccountLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) + {!Get_IQVIA_Agreement.Account__c}</expression>
    </formulas>
    <formulas>
        <name>forT_agreementLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_140},FIND(&apos;.com&apos;,{!$Api.Partner_Server_URL_140})+4)+{!recordId}</expression>
    </formulas>
    <formulas>
        <name>forT_AgreementType</name>
        <dataType>String</dataType>
        <expression>IF({!Get_IQVIA_Agreement.Version_Number__c} == 0,Text({!Get_IQVIA_Agreement.Subtype__c}), Text({!Get_IQVIA_Agreement.Original_Agreement__r.Subtype__c}))</expression>
    </formulas>
    <formulas>
        <name>forT_FinalHelper</name>
        <dataType>String</dataType>
        <expression>IF(BEGINS(TRIM(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!varC_Helper}, &quot;[&quot;, &quot;&quot;),&quot;]&quot;,&quot;&quot;),&quot;,&quot;,&quot;;&quot;)), &quot;;&quot;), TRIM(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!varC_Helper}, &quot;[&quot;, &quot;&quot;),&quot;]&quot;,&quot;&quot;),&quot;,&quot;,&quot;&quot;)),TRIM(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!varC_Helper}, &quot;[&quot;, &quot;&quot;),&quot;]&quot;,&quot;&quot;),&quot;,&quot;,&quot;;&quot;)))</expression>
    </formulas>
    <formulas>
        <name>forT_OpportunityLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_140},FIND(&apos;.com&apos;,{!$Api.Partner_Server_URL_140})+4)+{!Get_IQVIA_Agreement.Related_Opportunity__c}</expression>
    </formulas>
    <formulas>
        <name>forT_RequestorEmail</name>
        <dataType>String</dataType>
        <expression>IF({!Get_IQVIA_Agreement.Requestor__r.IsActive}, {!Get_IQVIA_Agreement.Requestor__r.Email}, {!Get_IQVIA_Agreement.Owner:Group.Email})</expression>
    </formulas>
    <formulas>
        <name>forT_Status</name>
        <dataType>String</dataType>
        <expression>IF(INCLUDES({!Get_IQVIA_Agreement.Helper__c}, &apos;Self-Service SOW&apos;),TEXT({!Get_IQVIA_Agreement.Status__c}),&apos;Assigned&apos;)</expression>
    </formulas>
    <formulas>
        <name>forT_TypeofRequest</name>
        <dataType>String</dataType>
        <expression>IF(OR(Text({!Get_IQVIA_Agreement.Subtype__c}) == &quot;Amendment&quot;,Text({!Get_IQVIA_Agreement.Subtype__c}) == &quot;Change Order&quot;),Text({!Get_IQVIA_Agreement.Subtype__c}), &quot;New Agreement&quot;)</expression>
    </formulas>
    <formulas>
        <name>forT_UpdatedCARole</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!varT_ExistingCARole}, &apos;Contract Analyst&apos;, &apos;Other Contract Analyst&apos;)</expression>
    </formulas>
    <interviewLabel>CLM USBU Assignment Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM USBU Assignment Flow</label>
    <loops>
        <name>Loop_on_filtered_CAs</name>
        <label>Loop on filtered CAs</label>
        <locationX>1068</locationX>
        <locationY>1646</locationY>
        <collectionReference>Filter_existing_CAs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Agreement_Team_Role</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Filter_Existing_TLs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_filtered_TLs</name>
        <label>Loop on filtered TLs</label>
        <locationX>1063</locationX>
        <locationY>2121</locationY>
        <collectionReference>Filter_Existing_TLs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_If_TL_is_assigned_as_CA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Existing_CAs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_UserRoles</name>
        <label>Loop on UserRoles</label>
        <locationX>1068</locationX>
        <locationY>506</locationY>
        <collectionReference>Get_User_Role</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Role_Id_Set</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Users</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Agreement_Team</name>
        <label>Create Agreement Team</label>
        <locationX>1476</locationX>
        <locationY>2471</locationY>
        <connector>
            <targetReference>Set_Value_to_Helper</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Agreement__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <stringValue>Contract Analyst</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>IQVIA User Contact</stringValue>
            </value>
        </inputAssignments>
        <object>IQVIA_Agreement_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>1068</locationX>
        <locationY>1022</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Contact_is_not_null</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EmployeeNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contract_Analyst</elementReference>
            </value>
        </filters>
        <filters>
            <field>EmployeeNumber__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_User</name>
        <label>Get Current User</label>
        <locationX>1068</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Role</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_IQVIA_Agreement.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_CA</name>
        <label>Get Existing CA</label>
        <locationX>1069</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_existing_CAs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Agreement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>IQVIA_Agreement_Team__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Role__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_IQVIA_Agreement</name>
        <label>Get IQVIA Agreement</label>
        <locationX>1068</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_User</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IQVIA_Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_For_Owner</name>
        <label>Get User For Owner</label>
        <locationX>1259</locationX>
        <locationY>2233</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_TL_was_assigned_as_CA</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EmployeeNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contract_Analyst</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Role</name>
        <label>Get User Role</label>
        <locationX>1069</locationX>
        <locationY>399</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_UserRoles</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>USBU_Contracting_</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>USBU_Contracting</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Users</name>
        <label>Get Users</label>
        <locationX>1068</locationX>
        <locationY>806</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_CA</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>In</operator>
            <value>
                <elementReference>varT_RoleIdSet</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Agreement_Status_to_Assigned</name>
        <label>Update Agreement Status to Assigned</label>
        <locationX>1068</locationX>
        <locationY>2471</locationY>
        <connector>
            <targetReference>Is_Email_found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assigned_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Helper__c</field>
            <value>
                <elementReference>forT_FinalHelper</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_User_For_Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>forT_Status</elementReference>
            </value>
        </inputAssignments>
        <object>IQVIA_Agreement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_CAs</name>
        <label>Update Existing CAs</label>
        <locationX>1066</locationX>
        <locationY>2298</locationY>
        <connector>
            <targetReference>Get_User_For_Owner</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>varR_updatedCAs</inputReference>
    </recordUpdates>
    <screens>
        <name>Assign_CA</name>
        <label>Assign CA</label>
        <locationX>1069</locationX>
        <locationY>913</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Assign Request&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contract_Analyst</name>
            <choiceReferences>choice_Users</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contract Analyst</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comments</name>
            <dataType>String</dataType>
            <fieldText>Comments</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>50</locationX>
        <locationY>2236</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reload_Agreement</targetReference>
        </connector>
        <fields>
            <name>Error_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;An unexpected error has occurred. Please contact the support team for help.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Error Details&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; :  {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>942</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_IQVIA_Agreement</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Note</name>
        <label>Create Note</label>
        <locationX>871</locationX>
        <locationY>2926</locationY>
        <connector>
            <targetReference>Reload_Agreement</targetReference>
        </connector>
        <flowName>CLM_Subflow_Create_Notes</flowName>
        <inputAssignments>
            <name>varT_Content</name>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_Title</name>
            <value>
                <stringValue>Assign</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_Notification_and_Create_Email_Message</name>
        <label>Send Notification and Create Email Message</label>
        <locationX>826</locationX>
        <locationY>2770</locationY>
        <connector>
            <targetReference>Create_Note</targetReference>
        </connector>
        <flowName>CLM_Subflow_Send_Notfication</flowName>
        <inputAssignments>
            <name>varC_EmailRecipients</name>
            <value>
                <elementReference>varT_Emails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_EmailBody</name>
            <value>
                <elementReference>emailBodyForCA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_EmailSubject</name>
            <value>
                <elementReference>subjectForCA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_FromAddress</name>
            <value>
                <stringValue>clmintegration@iqvia.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_SenderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>emailBodyForCA</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>AGREEMENT REQUEST ASSIGNED
&lt;br/&gt;
&lt;br/&gt;
Your agreement request has been assigned to {!Get_Contact.Name}
&lt;br/&gt;
&lt;br/&gt;
&lt;table border=&quot;1&quot; style=&quot;border-collapse: collapse; border: 1px solid&quot;&gt;
    &lt;tr style=&quot;border-bottom: 1px solid&quot;&gt;
        &lt;td style=&quot;border-right: 1px solid&quot;&gt; 
            Agreement: 
        &lt;/td&gt;
        &lt;/td&gt;
        &lt;td&gt;
            &lt;a href=&quot;{!forT_agreementLink}&quot;&gt;{!Get_IQVIA_Agreement.FF_Agreement_Number__c} - {!Get_IQVIA_Agreement.Name}&lt;/a&gt;                                                              
        &lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr style=&quot;border-bottom: 1px solid&quot;&gt;
        &lt;td style=&quot;border-right: 1px solid&quot;&gt; 
            Requester: 
        &lt;/td&gt;
        &lt;td&gt;
           {!Get_IQVIA_Agreement.Requestor__r.FirstName} {!Get_IQVIA_Agreement.Requestor__r.LastName}
        &lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr style=&quot;border-bottom: 1px solid&quot;&gt;
        &lt;td style=&quot;border-right: 1px solid&quot;&gt; 
           Client:  
        &lt;/td&gt;
        &lt;td&gt;
		&lt;a href=&quot;{!forT_AccountLink}&quot;&gt;{!Get_IQVIA_Agreement.Account__r.Name}&lt;/a&gt;
        &lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr style=&quot;border-bottom: 1px solid&quot;&gt;
        &lt;td style=&quot;border-right: 1px solid&quot;&gt; 
            Opportunity:
        &lt;/td&gt;
        &lt;td&gt;
		&lt;a href = &quot;{!forT_OpportunityLink}&quot;&gt;{!Get_IQVIA_Agreement.Related_Opportunity__r.Opportunity_Number__c} - {!Get_IQVIA_Agreement.Related_Opportunity__r.Name}&lt;/a&gt;
        &lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr style=&quot;border-bottom: 1px solid&quot;&gt;
        &lt;td style=&quot;border-right: 1px solid&quot;&gt; 
            Type of Request: 
        &lt;/td&gt;
        &lt;td&gt;
            {!forT_TypeofRequest}
        &lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr style=&quot;border-bottom: 1px solid&quot;&gt;
        &lt;td style=&quot;border-right: 1px solid&quot;&gt; 
            IQVIA Service Line: 
        &lt;/td&gt;
        &lt;td&gt;
            {!Get_IQVIA_Agreement.Primary_Business_Line1__c}
        &lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr style=&quot;border-bottom: 1px solid&quot;&gt;
        &lt;td style=&quot;border-right: 1px solid&quot;&gt; 
            Agreement Type: 
        &lt;/td&gt;
        &lt;td&gt;
            {!forT_AgreementType}
        &lt;/td&gt;
    &lt;/tr&gt;
&lt;/table&gt;
&lt;br/&gt;
&lt;i&gt;&lt;b&gt;Comments:&lt;/b&gt; {!Comments} &lt;/i&gt;
&lt;br/&gt;
&lt;br/&gt;
Thank You,
&lt;br/&gt;
US Contracting Center (USCC)
&lt;br/&gt;
The CLM integration email &lt;u&gt;&lt;b&gt;is not&lt;/b&gt;&lt;/u&gt; an active or monitored email account, please reach out to USCC-CLM-Support@iqvia.com for any additional assistance.</text>
    </textTemplates>
    <textTemplates>
        <name>subjectForCA</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Agreement Request Assigned || Client: {!Get_IQVIA_Agreement.Account__r.Name} || Agreement : {!Get_IQVIA_Agreement.FF_Agreement_Number__c} - {!Get_IQVIA_Agreement.Name}</text>
    </textTemplates>
    <variables>
        <name>currentItem_Filter_existing_CAs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IQVIA_Agreement_Team__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Existing_TLs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IQVIA_Agreement_Team__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Boolean variable to store if TL is assigned as CA</description>
        <name>varB_isTL_CA</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varC_Helper</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varR_updatedCAs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IQVIA_Agreement_Team__c</objectType>
    </variables>
    <variables>
        <name>varT_Emails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_ExistingCARole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_RoleIdSet</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
