src/flows/CLM_SubFlow_Email_To_CA_For_PSA_In_Signature_Status_Category.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_To_Quote_Owner</name>
        <label>Send Email To Quote Owner</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <actionName>UTL_CLM_Flow_ActionHandler</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Send_Email_By_Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agreementId</name>
            <value>
                <elementReference>varR_NewRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccAddress</name>
            <value>
                <elementReference>varT_ccEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputString</name>
            <value>
                <stringValue>AGR_ET28_Email_For_PSA_In_Signature</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>clmintegration@iqvia.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAddress</name>
            <value>
                <elementReference>varT_toEmail</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UTL_CLM_Flow_ActionHandler</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Set_Quote_Owner_Emails</name>
        <label>Set Quote Owner Emails</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varT_toEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_NewRecord.Apttus_QPComply__RelatedProposalId__r.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Quote_owner_and_Agreement_Owner_is_same</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Record_Owner_Email</name>
        <label>Set Record Owner Email</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varT_ccEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_NewRecord.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_To_Quote_Owner</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Quote_Exist</name>
        <label>Check If Quote  Exist</label>
        <locationX>336</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_NewRecord.Apttus_QPComply__RelatedProposalId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Apttus__Subtype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Change Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Apttus__Status_Category__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_OldRecord.Apttus__Status_Category__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Apttus__Status_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Signatures</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Quote_Owner_Emails</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Quote_owner_and_Agreement_Owner_is_same</name>
        <label>Check if Quote owner and Agreement Owner is same</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Send_Email_To_Quote_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_NewRecord.Apttus_QPComply__RelatedProposalId__r.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_NewRecord.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Record_Owner_Email</targetReference>
            </connector>
            <label>not same</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CLM SubFlow: Email to CA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM SubFlow: Email To CA For PSA In Signature Status Category</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_Quote_Exist</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varR_NewRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>varR_OldRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>varT_ccEmail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_toEmail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
