src/flows/CLM_Agreement_Populate_Date_First_Sent_To_Customer_Scheduled_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Is_Status_Not_Internal_Review</name>
        <label>Is Status Not Internal Review?</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Apttus__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Internal Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Date_First_Sent_To_Customer</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>CLMCMA-19289: Created for the user story</description>
    <environments>Default</environments>
    <formulas>
        <name>ForDT_CurrentDT</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>CLM Agreement Populate Date First Sent To Customer Scheduled Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM Agreement Populate Date First Sent To Customer Scheduled Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Date_First_Sent_To_Customer</name>
        <label>Set Date First Sent To Customer</label>
        <locationX>242</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>Date_first_sent_to_Customer__c</field>
            <value>
                <elementReference>ForDT_CurrentDT</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>(1 OR 2 OR 3 OR 4) AND 5 AND 6</filterLogic>
        <filters>
            <field>Record_Type_Developer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PSA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Developer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Developer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OSA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Developer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RWLP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Other Party Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>Date_first_sent_to_Customer__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Apttus__APTS_Agreement__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Scheduled_Path_to_Update_Date_First_Sent_To_Customer</name>
            <connector>
                <targetReference>Is_Status_Not_Internal_Review</targetReference>
            </connector>
            <label>Scheduled Path to Update Date First Sent To Customer</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
