src/flows/CLM_USBU_Send_Feedback_Screen_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>FileUpload</name>
        <label>FileUpload</label>
        <locationX>534</locationX>
        <locationY>1466</locationY>
        <actionName>UTL_CLM_Flow_ActionHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_IQVIA_Agreement_History</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>File</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agreementId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fileList</name>
            <value>
                <elementReference>varR_Files</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputString</name>
            <value>
                <stringValue>Upload File</stringValue>
            </value>
        </inputParameters>
        <nameSegment>UTL_CLM_Flow_ActionHandler</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Refresh</name>
        <label>Refresh</label>
        <locationX>358</locationX>
        <locationY>3566</locationY>
        <actionName>c:LXC_CLM_RefreshFlow</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:LXC_CLM_RefreshFlow</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_CA</name>
        <label>Assign CA</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varT_CA_EmployeeNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_existing_CAs.Contact__r.EmployeeNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_AnalystEmpStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_existing_CAs.Contact__r.Employment_Status_FF__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_existing_CAs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead</name>
        <label>Assign Lead</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varT_LeadEmployeeNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_existing_CAs.Contact__r.EmployeeNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_LeadEmpStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_existing_CAs.Contact__r.Employment_Status_FF__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_existing_CAs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Previous_Status</name>
        <label>Assign Previous Status</label>
        <locationX>754</locationX>
        <locationY>1982</locationY>
        <assignmentItems>
            <assignToReference>varT_previousStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_IQVIA_Agreement_History_for_status.OldValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varD_previousStatusChangeTimestamp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_IQVIA_Agreement_History_for_status.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_IQVIA_Agreement_History_for_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Previous_Status_Category</name>
        <label>Assign Previous Status Category</label>
        <locationX>754</locationX>
        <locationY>2474</locationY>
        <assignmentItems>
            <assignToReference>varT_previousStatusCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_IQVIA_Agreement_History_for_Status_Category.OldValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_IQVIA_Agreement_History_for_Status_Category</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_File_List</name>
        <label>Set File List</label>
        <locationX>754</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>varT_FileData</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_File_Repeater.File_Upload_R.fData</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_FileData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>~{!Loop_Through_File_Repeater.Document_Type_M}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Files</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varT_FileData</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_FileData</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_File_Repeater</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Previous_CA_User_Email</name>
        <label>Set Previous CA User Email</label>
        <locationX>534</locationX>
        <locationY>3074</locationY>
        <assignmentItems>
            <assignToReference>varT_EmailAdddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Previous_Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_and_Create_Email_Message</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice_Approval</name>
        <choiceText>Approval</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approval</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Draft</name>
        <choiceText>Agreement Draft</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agreement Draft</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Other</name>
        <choiceText>Other Document</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Document</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Pricing_Document</name>
        <choiceText>Pricing Document</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pricing Document</stringValue>
        </value>
    </choices>
    <constants>
        <name>contT_rule</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;hr style=&quot;margin-top: 0px;margin-bottom: 15px;&quot;&gt;</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Are_Contacts_Active</name>
        <label>Are Contacts Active?</label>
        <locationX>358</locationX>
        <locationY>842</locationY>
        <defaultConnector>
            <targetReference>Upload_file_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Active</defaultConnectorLabel>
        <rules>
            <name>Inactive</name>
            <conditionLogic>(1 AND 2) OR (3 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>varT_AnalystEmpStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>T</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varT_LeadEmpStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>T</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varT_CA_EmployeeNumber</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inactive_Contact_Error_Screen</targetReference>
            </connector>
            <label>Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_File_Exists</name>
        <label>Check if File Exists</label>
        <locationX>666</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>Get_IQVIA_Agreement_History</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_File</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_Files</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FileUpload</targetReference>
            </connector>
            <label>Has File</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_User_Exist</name>
        <label>Check If User Exist</label>
        <locationX>666</locationX>
        <locationY>2966</locationY>
        <defaultConnector>
            <targetReference>Create_Note</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Exist</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Previous_Owner</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Previous_CA_User_Email</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Previous_Status_Category</name>
        <label>Check Previous Status Category</label>
        <locationX>886</locationX>
        <locationY>2366</locationY>
        <defaultConnector>
            <targetReference>Loop_through_IQVIA_Agreement_History_for_Status_Category</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>Previous_Status_Category_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_IQVIA_Agreement_History_for_Status_Category.Field</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Status_Category__c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varD_previousStatusChangeTimestamp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_IQVIA_Agreement_History_for_Status_Category.CreatedDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varD_previousStatusChangeTimestamp</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varT_previousStatusCategory</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Previous_Status_Category</targetReference>
            </connector>
            <label>Previous Status Category Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Previous_Status_Status_Category</name>
        <label>Check Previous Status &amp; Status Category</label>
        <locationX>886</locationX>
        <locationY>1874</locationY>
        <defaultConnector>
            <targetReference>Loop_through_IQVIA_Agreement_History_for_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>Previous_Status_Change_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_IQVIA_Agreement_History_for_status.Field</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Status__c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varT_previousStatus</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Previous_Status</targetReference>
            </connector>
            <label>Previous Status Change found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Role</name>
        <label>Check Contact Role</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Loop_through_existing_CAs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_existing_CAs.Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Team Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Analyst</name>
            <conditionLogic>1 AND NOT(2)</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_existing_CAs.Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Contract Analyst</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_existing_CAs.Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Other Contract Analyst</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CA</targetReference>
            </connector>
            <label>Analyst</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forT_AccountLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) + {!Get_IQVIA_Agreement.Account__c}</expression>
    </formulas>
    <formulas>
        <name>forT_AgreementLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) + {!Get_IQVIA_Agreement.Id}</expression>
    </formulas>
    <formulas>
        <name>forT_agreementType</name>
        <dataType>String</dataType>
        <expression>IF({!Get_IQVIA_Agreement.Original_Agreement__c} != null, TEXT({!Get_IQVIA_Agreement.Original_Agreement__r.Subtype__c}), TEXT({!Get_IQVIA_Agreement.Subtype__c}))</expression>
    </formulas>
    <formulas>
        <name>forT_EmailAddress</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!varT_EmailAdddress}, &quot;[&quot;, &quot;&quot;), &quot;]&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>forT_FinalEmployeeNumber</name>
        <dataType>String</dataType>
        <expression>IF(AND(NOT(ISBLANK({!varT_CA_EmployeeNumber})), {!varT_AnalystEmpStatus} != &apos;T&apos;), {!varT_CA_EmployeeNumber}, {!varT_LeadEmployeeNumber})</expression>
    </formulas>
    <formulas>
        <name>forT_OpportunityLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) +{!Get_IQVIA_Agreement.Related_Opportunity__c}</expression>
    </formulas>
    <formulas>
        <name>forT_previousStatusCategory</name>
        <dataType>String</dataType>
        <expression>IF({!varT_previousStatusCategory} != null &amp;&amp; {!varT_previousStatusCategory} != &apos;&apos;, {!varT_previousStatusCategory}, TEXT({!Get_IQVIA_Agreement.Status_Category__c}))</expression>
    </formulas>
    <formulas>
        <name>forT_TypeofRequest</name>
        <dataType>String</dataType>
        <expression>IF({!Get_IQVIA_Agreement.Version_Number__c} &gt; 0, TEXT({!Get_IQVIA_Agreement.Subtype__c}), &quot;New Agreement&quot;)</expression>
    </formulas>
    <formulas>
        <name>forT_userIdOfContractAnalyst</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Previous_Owner.Id} != null, {!Get_Previous_Owner.Id}, {!Get_IQVIA_Agreement.OwnerId})</expression>
    </formulas>
    <interviewLabel>CLM USBU Send Feedback Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM USBU Send Feedback Screen Flow</label>
    <loops>
        <name>Loop_through_existing_CAs</name>
        <label>Loop through existing CAs</label>
        <locationX>358</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Existing_CA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Role</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_Contacts_Active</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_File_Repeater</name>
        <label>Loop Through File Repeater</label>
        <locationX>666</locationX>
        <locationY>1058</locationY>
        <collectionReference>File_Repeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_File_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_File_Exists</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_IQVIA_Agreement_History_for_status</name>
        <label>Loop through IQVIA Agreement History For Status</label>
        <locationX>666</locationX>
        <locationY>1766</locationY>
        <collectionReference>Get_IQVIA_Agreement_History</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Previous_Status_Status_Category</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_IQVIA_Agreement_History_for_Status_Category</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_IQVIA_Agreement_History_for_Status_Category</name>
        <label>Loop through IQVIA Agreement History For Status Category</label>
        <locationX>666</locationX>
        <locationY>2258</locationY>
        <collectionReference>Get_IQVIA_Agreement_History</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Previous_Status_Category</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Previous_Owner</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Existing_CA</name>
        <label>Get Existing CA</label>
        <locationX>358</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_existing_CAs</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Agreement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>IQVIA_Agreement_Team__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Role__c</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>Name__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_IQVIA_Agreement</name>
        <label>Get IQVIA Agreement</label>
        <locationX>358</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_CA</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IQVIA_Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_IQVIA_Agreement_History</name>
        <label>Get IQVIA Agreement History</label>
        <locationX>666</locationX>
        <locationY>1658</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_IQVIA_Agreement_History_for_status</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Roll_Back_records</targetReference>
        </faultConnector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Field</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Status__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Field</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Status_Category__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>IQVIA_Agreement__History</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Previous_Owner</name>
        <label>Get Previous Owner</label>
        <locationX>666</locationX>
        <locationY>2750</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_IQVIA_Agreement</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Roll_Back_records</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EmployeeNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>forT_FinalEmployeeNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>EmployeeNumber</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Roll_Back_records</name>
        <label>Roll Back records</label>
        <locationX>974</locationX>
        <locationY>2966</locationY>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_IQVIA_Agreement</name>
        <label>Update IQVIA Agreement</label>
        <locationX>666</locationX>
        <locationY>2858</locationY>
        <connector>
            <targetReference>Check_If_User_Exist</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Roll_Back_records</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>forT_userIdOfContractAnalyst</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Category__c</field>
            <value>
                <elementReference>forT_previousStatusCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>varT_previousStatus</elementReference>
            </value>
        </inputAssignments>
        <object>IQVIA_Agreement__c</object>
    </recordUpdates>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>974</locationX>
        <locationY>3074</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Refresh</targetReference>
        </connector>
        <fields>
            <name>Error_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;An unexpected error has occurred. Please contact the support team for help.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Error Details&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; :  &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Inactive_Contact_Error_Screen</name>
        <label>Inactive Contact Error Screen</label>
        <locationX>50</locationX>
        <locationY>950</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Refresh</targetReference>
        </connector>
        <fields>
            <name>Header_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Send Feedback&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_Rule_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!contT_rule}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Document_Type_Error_Message_0</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(205, 33, 59); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;The Contract Manager&apos;s contact to whom the request is to be sent is inactive. Please connect with the support team to update the Contract Manager&apos;s field and then try to respond.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(205, 33, 59); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload_file_Screen</name>
        <label>Upload file Screen</label>
        <locationX>666</locationX>
        <locationY>950</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Through_File_Repeater</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Send Feedback&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_Rule</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!contT_rule}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>File_Repeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>File_Upload_R</name>
                <extensionName>c:lWC_CLM_FileUpload</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>label</name>
                    <value>
                        <stringValue>Upload the File</stringValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
            </fields>
            <fields>
                <name>Document_Type_M</name>
                <choiceReferences>choice_Draft</choiceReferences>
                <choiceReferences>choice_Other</choiceReferences>
                <choiceReferences>choice_Approval</choiceReferences>
                <choiceReferences>choice_Pricing_Document</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Document Type</fieldText>
                <fieldType>DropdownBox</fieldType>
                <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Select the type of files uploaded&lt;/span&gt;&lt;/p&gt;</helpText>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>File_Repeater.AllItems[$EachItem].File_Upload_R.fData</leftValueReference>
                        <operator>Contains</operator>
                        <rightValue>
                            <stringValue>conVerId</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Document_Type_o</name>
                <choiceReferences>choice_Draft</choiceReferences>
                <choiceReferences>choice_Other</choiceReferences>
                <choiceReferences>choice_Approval</choiceReferences>
                <choiceReferences>choice_Pricing_Document</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Document Type</fieldText>
                <fieldType>DropdownBox</fieldType>
                <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Select the type of files uploaded&lt;/span&gt;&lt;/p&gt;</helpText>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isDisabled>
                    <booleanValue>true</booleanValue>
                </isDisabled>
                <isRequired>false</isRequired>
                <visibilityRule>
                    <conditionLogic>NOT(1)</conditionLogic>
                    <conditions>
                        <leftValueReference>File_Repeater.AllItems[$EachItem].File_Upload_R.fData</leftValueReference>
                        <operator>Contains</operator>
                        <rightValue>
                            <stringValue>conVerId</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_IQVIA_Agreement</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Note</name>
        <label>Create Note</label>
        <locationX>666</locationX>
        <locationY>3374</locationY>
        <connector>
            <targetReference>Refresh</targetReference>
        </connector>
        <flowName>CLM_Subflow_Create_Notes</flowName>
        <inputAssignments>
            <name>varT_Content</name>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_Title</name>
            <value>
                <stringValue>Submit Feedback</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_Notification_and_Create_Email_Message</name>
        <label>Send Notification and Create Email Message</label>
        <locationX>534</locationX>
        <locationY>3182</locationY>
        <connector>
            <targetReference>Create_Note</targetReference>
        </connector>
        <flowName>CLM_Subflow_Send_Notfication</flowName>
        <inputAssignments>
            <name>varC_EmailRecipients</name>
            <value>
                <elementReference>varT_EmailAdddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_EmailBody</name>
            <value>
                <elementReference>textT_EmailBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_EmailSubject</name>
            <value>
                <elementReference>textT_EmailSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_FromAddress</name>
            <value>
                <stringValue>clmintegration@iqvia.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_SenderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>textT_EmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>AGREEMENT REQUEST FEEDBACK SUBMITTED BY REQUESTER
&lt;br&gt;&lt;br&gt;
The requester {!Get_IQVIA_Agreement.Requestor__r.FirstName} {!Get_IQVIA_Agreement.Requestor__r.LastName} for the following agreement has submitted a response to your request for additional information. This agreement is now reassigned to you for further action.
&lt;br&gt;&lt;br&gt;
&lt;table border=&quot;1&quot; class=&quot;ql-table-blob&quot; style=&quot;border-collapse: collapse; border: 1px solid&quot;&gt; 
    &lt;tbody&gt;
        &lt;tr style=&quot;border-bottom: 1px solid;&quot;&gt; 
            &lt;td style=&quot;border-right: 1px solid&quot;&gt;
                Agreement
            &lt;/td&gt;
            &lt;td style=&quot;padding-left:10px;&quot;&gt;
                &lt;a rel=&quot;noopener noreferrer&quot; href=&quot;{!forT_AgreementLink}&quot;&gt;{!Get_IQVIA_Agreement.FF_Agreement_Number__c} - {!Get_IQVIA_Agreement.Name}&lt;/a&gt;
            &lt;/td&gt; 
        &lt;/tr&gt; 
        &lt;tr style=&quot;border-bottom: 1px solid;&quot;&gt; 
            &lt;td style=&quot;border-right: 1px solid&quot;&gt;
                Requester
            &lt;/td&gt; 
            &lt;td style=&quot;padding-left:10px;&quot;&gt;
                {!Get_IQVIA_Agreement.Requestor__r.FirstName} {!Get_IQVIA_Agreement.Requestor__r.LastName}
            &lt;/td&gt; 
        &lt;/tr&gt;
        &lt;tr style=&quot;border-bottom: 1px solid;&quot;&gt; 
            &lt;td style=&quot;border-right: 1px solid&quot;&gt;
                Client
            &lt;/td&gt; 
            &lt;td style=&quot;padding-left:10px;&quot;&gt;
                &lt;a rel=&quot;noopener noreferrer&quot; href=&quot;{!forT_AccountLink}&quot;&gt;{!Get_IQVIA_Agreement.Account__r.Name}&lt;/a&gt;
            &lt;/td&gt;
        &lt;/tr&gt; 
        &lt;tr style=&quot;border-bottom: 1px solid;&quot;&gt;
            &lt;td style=&quot;border-right: 1px solid&quot;&gt;
                Opportunity
            &lt;/td&gt; 
            &lt;td style=&quot;padding-left:10px;&quot;&gt;
                &lt;a rel=&quot;noopener noreferrer&quot; href=&quot;{!forT_OpportunityLink}&quot;&gt;{!Get_IQVIA_Agreement.Related_Opportunity__r.Opportunity_Number__c} - {!Get_IQVIA_Agreement.Related_Opportunity__r.Name}&lt;/a&gt;
            &lt;/td&gt; 
        &lt;/tr&gt;
        &lt;tr style=&quot;border-bottom: 1px solid;&quot;&gt; 
            &lt;td style=&quot;border-right: 1px solid&quot;&gt;
                Type of Request
            &lt;/td&gt; 
            &lt;td style=&quot;padding-left:10px;&quot;&gt;
                {!forT_TypeofRequest}
            &lt;/td&gt; 
        &lt;/tr&gt;
        &lt;tr style=&quot;border-bottom: 1px solid;&quot;&gt; 
            &lt;td style=&quot;border-right: 1px solid&quot;&gt;
                IQVIA Service Line
            &lt;/td&gt; 
            &lt;td style=&quot;padding-left:10px;&quot;&gt;
                {!Get_IQVIA_Agreement.Primary_Business_Line1__c}
            &lt;/td&gt;
        &lt;/tr&gt; 
        &lt;tr style=&quot;border-bottom: 1px solid;&quot;&gt;
            &lt;td style=&quot;border-right: 1px solid&quot;&gt;
                Agreement Type 
            &lt;/td&gt; 
            &lt;td style=&quot;padding-left:10px;&quot;&gt;
                {!forT_agreementType}
            &lt;/td&gt; 
        &lt;/tr&gt;
    &lt;/tbody&gt;
&lt;/table&gt;
&lt;br&gt;&lt;br&gt;
&lt;i&gt;&lt;b&gt;Comments&lt;/b&gt;: {!Notes}&lt;/i&gt;
&lt;br&gt;&lt;br&gt;
Thank you,
&lt;br&gt;
CLM System Notifications&lt;br/&gt;
The CLM integration email &lt;b&gt;&lt;u&gt;is not&lt;/u&gt;&lt;/b&gt; an active or monitored email account, please reach out to USCC-CLM-Support@iqvia.com for any additional assistance.</text>
    </textTemplates>
    <textTemplates>
        <name>textT_EmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Agreement Request Feedback Submitted || Client: {!Get_IQVIA_Agreement.Account__r.Name} || Agreement : {!Get_IQVIA_Agreement.FF_Agreement_Number__c} - {!Get_IQVIA_Agreement.Name}</text>
    </textTemplates>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IQVIA_Agreement__History</objectType>
    </variables>
    <variables>
        <name>FileUploadSkipped</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>title</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varD_previousStatusChangeTimestamp</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varR_Files</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_AnalystEmpStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_CA_EmployeeNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_ContentDocId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_contentDocIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_CountOfUploadedDocument</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varT_EmailAdddress</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_FileData</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_LeadEmployeeNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_LeadEmpStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_previousOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_previousStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_previousStatusCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
