src/flows/CLM_Subflow_Notification_on_Is_Study_Awarded_Update.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Notification_on_Is_Study_Awarded_Update_From_No_to_Yes</name>
        <label>Send Notification on Is Study Awarded Update From No to Yes</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <actionName>Apttus__APTS_Agreement__c.AGR_WEA06_CLM_MC_Is_Study_Awarded_Updated</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varR_NewAgreement.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Apttus__APTS_Agreement__c.AGR_WEA06_CLM_MC_Is_Study_Awarded_Updated</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Condition_Meeting</name>
        <label>Condition Meeting?</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Not Meeting</defaultConnectorLabel>
        <rules>
            <name>Meeting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_OldAgreement.Is_Study_Awarded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewAgreement.Is_Study_Awarded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Notification_on_Is_Study_Awarded_Update_From_No_to_Yes</targetReference>
            </connector>
            <label>Meeting</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CLM Subflow: Notification on Is Study Awarded Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM Subflow: Notification on Is Study Awarded Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Condition_Meeting</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varR_NewAgreement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>varR_OldAgreement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
</Flow>
