src/flows/CLM_IQVIA_Account_Update_ScreenFlow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Filtered_Accounts</name>
        <label>Get Filtered Accounts</label>
        <locationX>590</locationX>
        <locationY>342</locationY>
        <actionName>UTL_CLM_Flow_ActionHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Account_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback_Records</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Get Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <elementReference>Get_Existing_IQVIA_Agreement.Subtype__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UTL_CLM_Flow_ActionHandler</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Navigate_To_Original_Record</name>
        <label>Navigate To Original Record</label>
        <locationX>51</locationX>
        <locationY>770</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Refresh_Agreement</name>
        <label>Refresh Agreement</label>
        <locationX>589</locationX>
        <locationY>840</locationY>
        <actionName>c:LXC_CLM_RefreshFlow</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:LXC_CLM_RefreshFlow</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <description>CLM-MC-CLMCMA-20567 - This flow is used to update account for avacare agreements.</description>
    <dynamicChoiceSets>
        <name>colChoice_Accounts</name>
        <collectionReference>Get_Filtered_Accounts.accList</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>forT_FinalAccountLabel</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!Get_Existing_IQVIA_Agreement.Subtype__c}) == &apos;Vendor Contract&apos;, &apos;Vendor Account&apos;, 
IF(TEXT({!Get_Existing_IQVIA_Agreement.Subtype__c}) == &apos;Sub Investigator Contract&apos;, &apos;Sub Investigator Account&apos;,
IF(TEXT({!Get_Existing_IQVIA_Agreement.Subtype__c}) == &apos;Clinic Contract&apos;, &apos;Clinic Site&apos;,
IF(TEXT({!Get_Existing_IQVIA_Agreement.Subtype__c}) == &apos;Investigator Contract&apos;, &apos;PI&apos;, &apos;&apos;))))</expression>
    </formulas>
    <interviewLabel>CLM IQVIA Account Update ScreenFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM IQVIA Account Update ScreenFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Existing_IQVIA_Agreement</name>
        <label>Get Existing IQVIA Agreement</label>
        <locationX>592</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Filtered_Accounts</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback_Records</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IQVIA_Agreement__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subtype__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Rollback_Records</name>
        <label>Rollback Records</label>
        <locationX>53</locationX>
        <locationY>474</locationY>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_IQVIA_Agreement</name>
        <label>Update IQVIA Agreement</label>
        <locationX>589</locationX>
        <locationY>659</locationY>
        <connector>
            <targetReference>Refresh_Agreement</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback_Records</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Account.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <object>IQVIA_Agreement__c</object>
    </recordUpdates>
    <screens>
        <name>Account_Screen</name>
        <label>Account Screen</label>
        <locationX>590</locationX>
        <locationY>517</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_IQVIA_Agreement</targetReference>
        </connector>
        <fields>
            <name>Account</name>
            <choiceReferences>colChoice_Accounts</choiceReferences>
            <defaultValue>
                <elementReference>Get_Existing_IQVIA_Agreement.Account__c</elementReference>
            </defaultValue>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>{!forT_FinalAccountLabel}</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>53</locationX>
        <locationY>629</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Navigate_To_Original_Record</targetReference>
        </connector>
        <fields>
            <name>Error_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;An unexpected error has occurred. Please contact the support team for help.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Error Details&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; :  &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>465</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Existing_IQVIA_Agreement</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
