src/flows/CLM_Subflow_Agreement_Contacts_Handler.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Which_Event</name>
        <label>Which Event?</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>After_Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varB_IsInsert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CLM_Subflow_Role_Upsert_Notification_Insert</targetReference>
            </connector>
            <label>After Insert</label>
        </rules>
        <rules>
            <name>After_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varB_IsUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CLM_Subflow_Role_Upsert_Notification_Update</targetReference>
            </connector>
            <label>After Update</label>
        </rules>
    </decisions>
    <description>CLM-MC-CLMCMA-14493 - Agreement Contacts Handler</description>
    <environments>Default</environments>
    <interviewLabel>CLM Subflow : Agreement Contacts Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM Subflow : Agreement Contacts Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Which_Event</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>CLM_Subflow_Role_Upsert_Notification_Insert</name>
        <label>CLM Subflow : Role Upsert Notification Insert</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <flowName>CLM_Subflow_Role_Upsert_Notification</flowName>
        <inputAssignments>
            <name>varR_NewAgreementContacts</name>
            <value>
                <elementReference>varR_NewAgreementContacts</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>CLM_Subflow_Role_Upsert_Notification_Update</name>
        <label>CLM Subflow : Role Upsert Notification Update</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <flowName>CLM_Subflow_Role_Upsert_Notification</flowName>
        <inputAssignments>
            <name>varR_NewAgreementContacts</name>
            <value>
                <elementReference>varR_NewAgreementContacts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_OldAgreementContacts</name>
            <value>
                <elementReference>varR_OldAgreementContacts</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varB_IsInsert</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varB_IsUpdate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varR_NewAgreementContacts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Agreement_Contacts__c</objectType>
    </variables>
    <variables>
        <name>varR_OldAgreementContacts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Agreement_Contacts__c</objectType>
    </variables>
</Flow>
