src/flows/CLM_LCN_Review_Check.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigate_To_Agreement_Record</name>
        <label>Navigate To Agreement Record</label>
        <locationX>274</locationX>
        <locationY>973</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>839</locationX>
        <locationY>2302</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Email_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Setup.CLM_Configuration__c.LCN_Review_Email_Address__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>clmintegration@iqvia.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>LCN - Review assignment request - {!Acc_Name} {!agreement.Apttus__Subtype__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>forT_FinalEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Error_Email</name>
        <label>Send Error Email</label>
        <locationX>599</locationX>
        <locationY>808</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Navigate_To_Agreement_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>textT_ErrorMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Setup.CLM_Configuration__c.CLM_Flow_Support_Email_Address__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>clmintegration@iqvia.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>CLM LCN Review Check Flow Error Occurred</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Set_Agreement_Document_Type</name>
        <label>Set Agreement Document Type</label>
        <locationX>2629</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>varR_DocumentVersionAGR.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Document_Versions.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_DocumentVersionAGR.Apttus__Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Document_Versions.Apttus__Title__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_DocumentVersionAGR.LastModifiedById</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Document_Versions.LastModifiedBy.Full_User_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_DocumentVersionAGR.LastModifiedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Document_Versions.LastModifiedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_DocumentVersionAGR.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Document_Versions.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Final_Agreement_Document_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Document_Id</name>
        <label>Set Document Id</label>
        <locationX>2968</locationX>
        <locationY>1891</locationY>
        <assignmentItems>
            <assignToReference>varR_TempId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Selected_Document_AGR_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Selected_Document_AGR_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_End_List_Tag</name>
        <label>Set End List Tag</label>
        <locationX>2150</locationX>
        <locationY>2309</locationY>
        <assignmentItems>
            <assignToReference>varR_SelectedDocument</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/ol&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Submit_Request_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Final_Agreement_Document_Type</name>
        <label>Set Final Agreement Document Type</label>
        <locationX>2395</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>varR_DocumentVersionsAgrType</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_DocumentVersionAGR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_DocumentVersionAGR</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Document_Versions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Final_Description_1</name>
        <label>Set Final Description</label>
        <locationX>1686</locationX>
        <locationY>1860</locationY>
        <assignmentItems>
            <assignToReference>varT_FinalDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fourth_Question_No</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Final_Description_2</name>
        <label>Set Final Description</label>
        <locationX>1338</locationX>
        <locationY>2062</locationY>
        <assignmentItems>
            <assignToReference>varT_FinalDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_FinalActivityDescriptionForYes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Final_Description_3</name>
        <label>Set Final Description</label>
        <locationX>1344</locationX>
        <locationY>1365</locationY>
        <assignmentItems>
            <assignToReference>varT_FinalDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_FinalActvityDescriptionForNO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_Final_Other_Document_Type</name>
        <label>set Final Other Document Type</label>
        <locationX>2385</locationX>
        <locationY>550</locationY>
        <assignmentItems>
            <assignToReference>varR_DocumentversionsOther</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_DocumentVersionOther</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_DocumentVersionOther</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Document_Versions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_List_Tag</name>
        <label>set List Tag</label>
        <locationX>2594</locationX>
        <locationY>1774</locationY>
        <assignmentItems>
            <assignToReference>varR_SelectedDocument</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;ol&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Selected_Document_AGR_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Other_Document_Id</name>
        <label>Set Other Document Id</label>
        <locationX>2968</locationX>
        <locationY>2368</locationY>
        <assignmentItems>
            <assignToReference>varR_TempId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Other_Document_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Selected_Document_Other_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Other_Document_Type</name>
        <label>Set Other Document Type</label>
        <locationX>2626</locationX>
        <locationY>550</locationY>
        <assignmentItems>
            <assignToReference>varR_DocumentVersionOther.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Document_Versions.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_DocumentVersionOther.Apttus__Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Document_Versions.Apttus__Title__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_DocumentVersionOther.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Document_Versions.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_DocumentVersionOther.LastModifiedById</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Document_Versions.LastModifiedBy.Full_User_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_DocumentVersionOther.LastModifiedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Document_Versions.LastModifiedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set_Final_Other_Document_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Selected_Document_AGR_Type</name>
        <label>Set Selected Document AGR Type</label>
        <locationX>2968</locationX>
        <locationY>2038</locationY>
        <assignmentItems>
            <assignToReference>varR_SelectedDocument</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;li&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_SelectedDocument</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;a href = &quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_SelectedDocument</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forT_DocumentLink</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_SelectedDocument</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_SelectedDocument</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Selected_Document_AGR_Type.Apttus__Title__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_SelectedDocument</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/a&gt;&lt;/li&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_TempId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Selected_Document_AGR_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Selected_Document_Other_Type</name>
        <label>Set Selected Document Other Type</label>
        <locationX>2968</locationX>
        <locationY>2189</locationY>
        <assignmentItems>
            <assignToReference>varR_SelectedDocument</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;li&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_SelectedDocument</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;a href = &apos;&apos;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_SelectedDocument</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forT_DocumentLink</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_SelectedDocument</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_SelectedDocument</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Other_Document_Type.Apttus__Title__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_SelectedDocument</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/a&gt;&lt;/li&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_TempId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Other_Document_Type</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Amendment</name>
        <choiceText>Amendment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Amendment</stringValue>
        </value>
    </choices>
    <choices>
        <name>ATP</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;ATP&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ATP</stringValue>
        </value>
    </choices>
    <choices>
        <name>Clinical_Only</name>
        <choiceText>&lt;span style=&quot;font-size: 14px;&quot;&gt;Clinical Only&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Clinical Only</stringValue>
        </value>
    </choices>
    <choices>
        <name>ClinTec</name>
        <choiceText>&lt;span style=&quot;font-size: 14px;&quot;&gt;ClinTec&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ClinTec</stringValue>
        </value>
    </choices>
    <choices>
        <name>CO</name>
        <choiceText>CO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Connected_Devices_Choice</name>
        <choiceText>Connected Devices</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Connected Devices</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fifth_No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Fifth_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>First_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>First_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fourth_No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Fourth_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>FSP</name>
        <choiceText>FSP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FSP</stringValue>
        </value>
    </choices>
    <choices>
        <name>GSA</name>
        <choiceText>GSA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GSA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hybrid_Choice</name>
        <choiceText>&lt;span style=&quot;font-size: 14px;&quot;&gt;Hybrid&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hybrid</stringValue>
        </value>
    </choices>
    <choices>
        <name>Immunexperts</name>
        <choiceText>&lt;span style=&quot;font-size: 14px;&quot;&gt;Immunexperts&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Immunexperts</stringValue>
        </value>
    </choices>
    <choices>
        <name>IQB</name>
        <choiceText>IQB</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IQB</stringValue>
        </value>
    </choices>
    <choices>
        <name>LRA</name>
        <choiceText>LRA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LRA</stringValue>
        </value>
    </choices>
    <choices>
        <name>MSA</name>
        <choiceText>MSA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MSA</stringValue>
        </value>
    </choices>
    <choices>
        <name>MTA</name>
        <choiceText>MTA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MTA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Nexelis</name>
        <choiceText>&lt;span style=&quot;font-size: 14px;&quot;&gt;Nexelis&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nexelis</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Saas</name>
        <choiceText>&lt;span style=&quot;color: black; font-size: 14px;&quot;&gt;No SaaS offerings&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No SaaS offerings</stringValue>
        </value>
    </choices>
    <choices>
        <name>Novasyte</name>
        <choiceText>&lt;span style=&quot;font-size: 14px;&quot;&gt;Novasyte&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Novasyte</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_First</name>
        <choiceText>&lt;span style=&quot;font-size: 14px;&quot;&gt;Other&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_Name</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Other&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>O</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_Second</name>
        <choiceText>&lt;span style=&quot;font-size: 14px;&quot;&gt;Other&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2</name>
        <choiceText>Q2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Q2</stringValue>
        </value>
    </choices>
    <choices>
        <name>QA</name>
        <choiceText>QA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>QA</stringValue>
        </value>
    </choices>
    <choices>
        <name>RDS</name>
        <choiceText>&lt;span style=&quot;font-size: 14px;&quot;&gt;RDS&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RDS</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rel_No</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;No Relevant Contracts&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Relevant Contracts</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rel_None</name>
        <choiceText>&lt;span style=&quot;font-size: 14px; color: black;&quot;&gt;None - New Customer &lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None - New Customer </stringValue>
        </value>
    </choices>
    <choices>
        <name>RWS</name>
        <choiceText>RWS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RWS</stringValue>
        </value>
    </choices>
    <choices>
        <name>Second_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Second_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sixth_No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Sixth_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Third_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Third_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>WO</name>
        <choiceText>WO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WO</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Document_Type</name>
        <label>Check Document Type</label>
        <locationX>2619</locationX>
        <locationY>770</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Agreement_Document</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Document_Versions.Apttus__DocumentType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agreement Document</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Agreement_Document_Type</targetReference>
            </connector>
            <label>Agreement Document</label>
        </rules>
        <rules>
            <name>Other_Document</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Document_Versions.Apttus__DocumentType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Agreement Document</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Other_Document_Type</targetReference>
            </connector>
            <label>Other Document</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_MSA_Amendment</name>
        <label>check if MSA Amendment</label>
        <locationX>1847</locationX>
        <locationY>761</locationY>
        <defaultConnector>
            <targetReference>Screening_Questions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_MSA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>agreement.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MSA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Document_Versions</targetReference>
            </connector>
            <label>New MSA</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_If_Record_is_RWSSOW</name>
        <label>check If Record is RWSSOW</label>
        <locationX>1861</locationX>
        <locationY>173</locationY>
        <defaultConnector>
            <targetReference>Get_Agreement_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RWSSOW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_RecordType_Developer_Name.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RWSSOW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RWSSOW_Record</targetReference>
            </connector>
            <label>RWSSOW</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_Task_is_available</name>
        <label>Check if Task is available</label>
        <locationX>580</locationX>
        <locationY>1419</locationY>
        <defaultConnector>
            <targetReference>Create_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_LCN_Task</targetReference>
            </connector>
            <label>Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fourth_Question_Confirmation</name>
        <label>Fourth Question Confirmation</label>
        <locationX>2369</locationX>
        <locationY>1855</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Fourth_Answer_Is_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fourth_Yes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Escalation_Form_First</targetReference>
            </connector>
            <label>If Fourth Answer Is Yes</label>
        </rules>
        <rules>
            <name>If_Fourth_Answer_Is_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fourth_No</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alternate_Screening_Exit</targetReference>
            </connector>
            <label>If Fourth Answer Is No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Screening_Outcome_No</name>
        <label>Screening Outcome No</label>
        <locationX>1991</locationX>
        <locationY>1362</locationY>
        <defaultConnector>
            <targetReference>Escalation_Form_First</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Third_Answer_Is_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Third_Yes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Third_Question_Confirmation_Screen</targetReference>
            </connector>
            <label>If Third Answer Is Yes</label>
        </rules>
        <rules>
            <name>If_All_Are_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>First_No</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Second_No</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Third_No</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screening_Exit</targetReference>
            </connector>
            <label>If All Are No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Error_Email_To_Support_Team</name>
        <label>Send Error Email To Support Team?</label>
        <locationX>268</locationX>
        <locationY>585</locationY>
        <defaultConnector>
            <targetReference>Navigate_To_Agreement_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Send</defaultConnectorLabel>
        <rules>
            <name>Send</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.CLM_Configuration__c.CLM_Flow_Support_Email_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Error_Email</targetReference>
            </connector>
            <label>Send</label>
        </rules>
    </decisions>
    <description>CLM-MC-CLMCMA-11327 - This flow is used for LCN review check.</description>
    <environments>Default</environments>
    <formulas>
        <name>Account_Name</name>
        <dataType>String</dataType>
        <expression>{!agreement.Apttus__Account__r.Name}</expression>
    </formulas>
    <formulas>
        <name>Business_Unit_Core_Formula</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Business_Unit_Core}, &quot;Other&quot;, &quot; &quot;)</expression>
    </formulas>
    <formulas>
        <name>Calculate_First_Question_Default</name>
        <dataType>String</dataType>
        <expression>IF({!Document_Version_Count} &gt; 0, {!First_Yes}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Contract_Value_Updated</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!agreement.Actual_Agreement_Value__c}), &quot;N/A&quot;, TEXT({!agreement.Actual_Agreement_Value__c})+&quot; &quot;+TEXT({!agreement.CurrencyIsoCode}))</expression>
    </formulas>
    <formulas>
        <name>forT_AgreementLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_140},FIND(&apos;.com&apos;,{!$Api.Partner_Server_URL_140})+4)+{!agreement.Id}</expression>
    </formulas>
    <formulas>
        <name>forT_DocumentLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_140},FIND(&apos;.com&apos;,{!$Api.Partner_Server_URL_140})+4)+{!varR_TempId}</expression>
    </formulas>
    <formulas>
        <name>forT_FinalActivityDescriptionForYes</name>
        <dataType>String</dataType>
        <expression>If({!agreement.Record_Type_Developer_Name__c} == &apos;MSA&apos;, {!textT_Description_If_Answer_Yes_For_MSA}, {!Activity_Description_If_Any_Answer_Is_Yes})</expression>
    </formulas>
    <formulas>
        <name>forT_FinalActvityDescriptionForNO</name>
        <dataType>String</dataType>
        <expression>{!Activity_Description_If_All_Answers_No}</expression>
    </formulas>
    <formulas>
        <name>forT_FinalEmailBody</name>
        <dataType>String</dataType>
        <expression>If({!agreement.Record_Type_Developer_Name__c} == &apos;MSA&apos;, {!finalEmailBodyforMSA}, {!Final_Email_Body})</expression>
    </formulas>
    <formulas>
        <name>forT_HybridOption</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Hybrid_Options}, &quot;Other&quot;, &quot; &quot;)</expression>
    </formulas>
    <formulas>
        <name>forT_JustificationDisplay</name>
        <dataType>String</dataType>
        <expression>if(AND({!agreement.Record_Type_Developer_Name__c} == &apos;MSA&apos;, NOT(ISBLANK({!Review_Text_8}))), {!Review_Text_7}, {!Review_Text7})</expression>
    </formulas>
    <formulas>
        <name>forT_ReviewDisplay2</name>
        <dataType>String</dataType>
        <expression>if(AND({!agreement.Record_Type_Developer_Name__c} == &apos;MSA&apos;, {!agreement.Apttus__Version_Number__c} &gt; 0), {!Display_Text1},{!Relevant_Options_Change_Other}+{!Rel_Other})</expression>
    </formulas>
    <formulas>
        <name>Opportunity_Number_Updated</name>
        <dataType>String</dataType>
        <expression>IF({!agreement.Record_Type_Developer_Name__c}&lt;&gt; &apos;MSA&apos;,IF(ISBLANK({!agreement.Apttus__Related_Opportunity__c}), &apos;Opp #:&apos;+ &quot;N/A&quot;+&apos;; &apos;,  &apos;Opp #:&apos; + {!agreement.Apttus__Related_Opportunity__r.Legacy_Quintiles_Opportunity_Number__c} + &quot; / &quot; + {!agreement.Apttus__Related_Opportunity__r.Name} +&apos;; &apos;), &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>Protocol_Number_Updated</name>
        <dataType>String</dataType>
        <expression>IF(AND({!agreement.Record_Type_Developer_Name__c} &lt;&gt; &apos;MSA&apos;, {!agreement.Record_Type_Developer_Name__c} &lt;&gt; &apos;RWSSOW&apos;)
, IF(ISBLANK({!agreement.Protocol_Number__c}), &apos;﻿Protocol #:&apos;+ &quot;N/A&quot;, &apos;﻿Protocol #:&apos;+{!agreement.Protocol_Number__c}),&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>Relevant_Options_Change_Other</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Relevant_Options}, &quot;Other&quot;, &quot; &quot;)</expression>
    </formulas>
    <formulas>
        <name>Saas_Other_Formula</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Saas_Options}, &quot;Other&quot;, &quot; &quot;)</expression>
    </formulas>
    <formulas>
        <name>Target_Date_Default_Value</name>
        <dataType>Date</dataType>
        <expression>CASE(
MOD( TODAY() - DATE(1900, 1, 7), 7),
0, TODAY() + 1, 
1, TODAY() + 1,
2, TODAY() + 1, 
3, TODAY() + 1, 
4, TODAY() + 1, 
5,TODAY() + 3, 
6,TODAY() + 2, 
TODAY())</expression>
    </formulas>
    <interviewLabel>CLM LCN Review Check ScreenFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM LCN Review Check ScreenFlow</label>
    <loops>
        <name>Loop_Through_Document_Versions</name>
        <label>Loop Through Document Versions</label>
        <locationX>2231</locationX>
        <locationY>768</locationY>
        <collectionReference>varR_DocumentVersions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Document_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Screening_Outcome_No</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Other_Document_Type</name>
        <label>Loop Through Other Document Type</label>
        <locationX>2591</locationX>
        <locationY>2308</locationY>
        <collectionReference>varR_SelectedOtherType</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Other_Document_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_End_List_Tag</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Selected_Document_AGR_Type</name>
        <label>Loop Through Selected Document AGR Type</label>
        <locationX>2594</locationX>
        <locationY>1970</locationY>
        <collectionReference>varR_SelectedAgreementType</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Document_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_Other_Document_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Email_Message</name>
        <label>Create Email Message</label>
        <locationX>1127</locationX>
        <locationY>2061</locationY>
        <connector>
            <targetReference>Set_Final_Description_2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>clmintegration@iqvia.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>forT_FinalEmailBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>LCN - Review assignment request - {!Acc_Name} {!agreement.Apttus__Subtype__c}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Setup.CLM_Configuration__c.LCN_Review_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>589</locationX>
        <locationY>1197</locationY>
        <connector>
            <targetReference>Navigate_To_Agreement_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varT_FinalDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>agreement.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varT_RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type__c</field>
            <value>
                <stringValue>LCN Escalation Check</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>LCN Escalation Check</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Review and Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Agreement_Record</name>
        <label>Get Agreement Record</label>
        <locationX>1709</locationX>
        <locationY>368</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Document_Versions</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Apttus__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Status_Category__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <object>Apttus__APTS_Agreement__c</object>
        <outputReference>agreement</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Opportunity_Number__c</queriedFields>
        <queriedFields>Opportunity_Name__c</queriedFields>
        <queriedFields>Apttus__Account__c</queriedFields>
        <queriedFields>Apttus__Related_Opportunity__c</queriedFields>
        <queriedFields>Protocol_Number__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Actual_Agreement_Value__c</queriedFields>
        <queriedFields>Apttus__FF_Agreement_Number__c</queriedFields>
        <queriedFields>Apttus__Subtype__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Record_Type_Developer_Name__c</queriedFields>
        <queriedFields>Apttus__Version_Number__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Document_Versions</name>
        <label>Get Document Versions</label>
        <locationX>1858</locationX>
        <locationY>497</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Apttus__AgreementId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>agreement.Id</elementReference>
            </value>
        </filters>
        <object>Apttus__DocumentVersion__c</object>
        <outputReference>varR_DocumentVersions</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Apttus__DocumentType__c</queriedFields>
        <queriedFields>LastModifiedById</queriedFields>
        <queriedFields>LastModifiedDate</queriedFields>
        <queriedFields>Apttus__Title__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Id</name>
        <label>Get Record Type Id</label>
        <locationX>1857</locationX>
        <locationY>643</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_if_MSA_Amendment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard_Task</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varT_RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordType_Developer_Name</name>
        <label>Get RecordType Developer Name</label>
        <locationX>1661</locationX>
        <locationY>163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_If_Record_is_RWSSOW</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Apttus__APTS_Agreement__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Record_Type_Developer_Name__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RWSSOW_Record</name>
        <label>Get RWSSOW Record</label>
        <locationX>1989</locationX>
        <locationY>365</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Document_Versions</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Apttus__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Status_Category__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <object>Apttus__APTS_Agreement__c</object>
        <outputReference>agreement</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Opportunity_Number__c</queriedFields>
        <queriedFields>Opportunity_Name__c</queriedFields>
        <queriedFields>Apttus__Account__c</queriedFields>
        <queriedFields>Apttus__Related_Opportunity__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Actual_Agreement_Value__c</queriedFields>
        <queriedFields>Apttus__FF_Agreement_Number__c</queriedFields>
        <queriedFields>Apttus__Subtype__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Record_Type_Developer_Name__c</queriedFields>
        <queriedFields>Apttus__Version_Number__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>1337</locationX>
        <locationY>1687</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_if_Task_is_available</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LCN Escalation Check</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Review and Approval</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sub_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LCN Escalation Check</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_RecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_LCN_Task</name>
        <label>Update LCN Task</label>
        <locationX>283</locationX>
        <locationY>1421</locationY>
        <connector>
            <targetReference>Navigate_To_Agreement_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varT_FinalDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <screens>
        <name>Alternate_Screening_Exit</name>
        <label>Alternate Screening Exit</label>
        <locationX>1931</locationX>
        <locationY>1860</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Final_Description_1</targetReference>
        </connector>
        <fields>
            <name>Header_5</name>
            <fieldText>&lt;p&gt;{!Main_Heading}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Subheading_5</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;{!Fourth_Question_No}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Custom_Error_Screen</name>
        <label>Custom Error Screen</label>
        <locationX>853</locationX>
        <locationY>668</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_Error_Email_To_Support_Team</targetReference>
        </connector>
        <fields>
            <name>Error_Text</name>
            <fieldText>&lt;p&gt;{!textT_ErrorMessageDisplay}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Escalation_Form_First</name>
        <label>Escalation Form First</label>
        <locationX>2381</locationX>
        <locationY>1364</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Escalation_Form_Second</targetReference>
        </connector>
        <fields>
            <name>Header_3</name>
            <fieldText>&lt;p&gt;{!Main_Heading}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Subheading_2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: black; font-size: 14px;&quot;&gt;Key Contract Information:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Escalation_Form_First_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Escalation_Form_First_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Customer_Heading</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Customer Name&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Relevant_Heading</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-size: 14px;&quot;&gt;Relevant existing customer contracts&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Escalation_Form_First_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Acc_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Account_Name</elementReference>
                    </defaultValue>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Relevant_Options</name>
                    <choiceReferences>Rel_None</choiceReferences>
                    <choiceReferences>Rel_No</choiceReferences>
                    <choiceReferences>Other_Name</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Rel_None</defaultSelectedChoiceReference>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>NOT(1 AND 2)</conditionLogic>
                        <conditions>
                            <leftValueReference>agreement.Record_Type_Developer_Name__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>MSA</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>agreement.Apttus__Version_Number__c</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Rel_Other</name>
                    <dataType>String</dataType>
                    <fieldText>Enter Contract details</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Relevant_Options</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Other_Name</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Display_Text1</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Associated with a MSA&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>agreement.Record_Type_Developer_Name__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>MSA</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>agreement.Apttus__Version_Number__c</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Escalation_Form_First_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Escalation_Form_First_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contract_Name</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: black;&quot;&gt;﻿Agreement Number/Name&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Opportunity_Number</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: black;&quot;&gt;Opportunity Number/Name&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>agreement.Record_Type_Developer_Name__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>MSA</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Protocol_Heading</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: black; font-size: 14px;&quot;&gt;Protocol Number?&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>agreement.Record_Type_Developer_Name__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>MSA</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Contract_Heading</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: black; font-size: 14px;&quot;&gt;Agreement Type&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Escalation_Form_First_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Name</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!agreement.Apttus__FF_Agreement_Number__c} / {!agreement.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Opp_Number</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Opportunity_Number_Updated}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>agreement.Record_Type_Developer_Name__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>MSA</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Protocol_Number</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Protocol_Number_Updated}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>agreement.Record_Type_Developer_Name__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>MSA</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Display_SubType</name>
                    <fieldText>&lt;p&gt;{!agreement.Apttus__Subtype__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Escalation_Form_First_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Escalation_Form_First_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contract_Value_Heading</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: black;&quot;&gt;Agreement Value&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>agreement.Record_Type_Developer_Name__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>MSA</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>RFP_Heading</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: black;&quot;&gt;RFP based?&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Escalation_Form_First_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contract_Value</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Contract_Value_Updated}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>agreement.Record_Type_Developer_Name__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>MSA</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>RFP_Based</name>
                    <choiceReferences>First_Yes</choiceReferences>
                    <choiceReferences>First_No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>First_No</defaultSelectedChoiceReference>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>BU_Heading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: black;&quot;&gt;BU/Service Type Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Escalation_Form_First_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Escalation_Form_First_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BU_Subheading</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Business Unit / Core services group&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Escalation_Form_First_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Business_Unit_Core</name>
                    <choiceReferences>RDS</choiceReferences>
                    <choiceReferences>RWS</choiceReferences>
                    <choiceReferences>QA</choiceReferences>
                    <choiceReferences>IQB</choiceReferences>
                    <choiceReferences>FSP</choiceReferences>
                    <choiceReferences>ClinTec</choiceReferences>
                    <choiceReferences>Novasyte</choiceReferences>
                    <choiceReferences>Nexelis</choiceReferences>
                    <choiceReferences>Immunexperts</choiceReferences>
                    <choiceReferences>Other_First</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>RDS</defaultSelectedChoiceReference>
                    <fieldText>(choose all applicable)</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Display_2</name>
                    <dataType>String</dataType>
                    <fieldText>Please specify if Other</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Business_Unit_Core</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <elementReference>Other_First</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Escalation_Form_First_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Escalation_Form_First_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Service_Type_Heading</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: black;&quot;&gt;Service Type&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Escalation_Form_First_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Service_Type</name>
                    <choiceReferences>Clinical_Only</choiceReferences>
                    <choiceReferences>Hybrid_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Clinical_Only</defaultSelectedChoiceReference>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Hybrid_Options</name>
                    <choiceReferences>Q2</choiceReferences>
                    <choiceReferences>Connected_Devices_Choice</choiceReferences>
                    <choiceReferences>ClinTec</choiceReferences>
                    <choiceReferences>Other_Second</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Choose if Hybrid</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Service_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Hybrid_Choice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Service_Type_Other</name>
                    <dataType>String</dataType>
                    <fieldText>Please specify if Other</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Hybrid_Options</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <elementReference>Other_Second</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Escalation_Form_First_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Escalation_Form_First_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Saas_Heading</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: black;&quot;&gt;Specify SaaS offerings (if any)&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Escalation_Form_First_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Saas_Options</name>
                    <choiceReferences>No_Saas</choiceReferences>
                    <choiceReferences>Other_Name</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>No_Saas</defaultSelectedChoiceReference>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Saas_Other</name>
                    <dataType>String</dataType>
                    <fieldText>Please specify if SaaS offering included</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Saas_Options</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Other_Name</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Escalation_Form_First_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Escalation_Form_First_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(18, 18, 18);&quot;&gt;Does this contract or the project in any way relate to Russia, Ukraine or Belarus?&lt;/span&gt;&lt;span style=&quot;font-size: 12px; color: rgb(17, 18, 18);&quot;&gt; (e.g. contracting party/parties located in any of these countries and/or any vendors, services, patients or sites will be located/provided in any of these countries?)&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Escalation_Form_First_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Fifth_Question</name>
                    <choiceReferences>Fifth_No</choiceReferences>
                    <choiceReferences>Fifth_Yes</choiceReferences>
                    <dataType>Boolean</dataType>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Please_specify_if_Yes</name>
                    <dataType>String</dataType>
                    <fieldText>Please specify if Yes</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Fifth_Question</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Escalation_Form_First_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Escalation_Form_First_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Text12</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Personal data transfer involved? If so, provide details.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>agreement.Record_Type_Developer_Name__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>MSA</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Escalation_Form_First_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sixth_Question</name>
                    <choiceReferences>Sixth_No</choiceReferences>
                    <choiceReferences>Sixth_Yes</choiceReferences>
                    <dataType>Boolean</dataType>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>agreement.Record_Type_Developer_Name__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>MSA</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Review_Text4</name>
                    <fieldText>Please Specify if Yes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Sixth_Question</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Escalation_Form_Second</name>
        <label>Escalation Form Second</label>
        <locationX>2594</locationX>
        <locationY>1363</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_Document</targetReference>
        </connector>
        <fields>
            <name>Main_Heading_2</name>
            <fieldText>&lt;p&gt;{!Main_Heading}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Review_Heading</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: black;&quot;&gt;Review Request Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Escalation_Form_Second_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Escalation_Form_Second_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Text_9</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Sections to be reviewed by LCN&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Escalation_Form_Second_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Text_1</name>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Escalation_Form_Second_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Escalation_Form_Second_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Text_10</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;If previously reviewed by LCN or Legal, provide name of reviewer&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Escalation_Form_Second_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Text_2</name>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Escalation_Form_Second_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Escalation_Form_Second_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Text_11</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Any previously discussed/approved specific customer requirements? (e.g. within proposal phase)&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Escalation_Form_Second_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Text_3</name>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Escalation_Form_Second_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Escalation_Form_Second_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Text_13</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Other information/notes helpful to the reviewer/negotiator&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Escalation_Form_Second_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Text_5</name>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Escalation_Form_Second_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Escalation_Form_Second_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Text_14</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Target date for Review&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Escalation_Form_Second_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Text_8</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Target_Date_Default_Value</elementReference>
                    </defaultValue>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Escalation_Form_Second_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Escalation_Form_Second_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Text_15</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Justification (milestone/RFP deadline etc.)&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Escalation_Form_Second_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Text_7</name>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Review_Text_8</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>agreement.Record_Type_Developer_Name__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>MSA</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Review_Text7</name>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>(1 AND 2) OR 3</conditionLogic>
                        <conditions>
                            <leftValueReference>agreement.Record_Type_Developer_Name__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>MSA</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Review_Text_8</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>agreement.Record_Type_Developer_Name__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>MSA</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Request_Submitted_Screen</name>
        <label>Request Submitted Screen</label>
        <locationX>1650</locationX>
        <locationY>2307</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
        <fields>
            <name>Main_Heading_3</name>
            <fieldText>&lt;p&gt;{!Main_Heading}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sub_Heading_3</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: black; font-size: 14px;&quot;&gt;Request Submitted&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Submitted_Instructions</name>
            <fieldText>&lt;p&gt;{!Summary_Text}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screening_Exit</name>
        <label>Screening Exit</label>
        <locationX>1590</locationX>
        <locationY>1355</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Final_Description_3</targetReference>
        </connector>
        <fields>
            <name>Header_2</name>
            <fieldText>&lt;p&gt;{!Main_Heading}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Summary_Heading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Summary&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>No_Summary_Detail</name>
            <fieldText>&lt;p&gt;{!Summary_For_No_Answers}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>agreement.Record_Type_Developer_Name__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>MSA</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screening_Questions</name>
        <label>Screening Questions</label>
        <locationX>1854</locationX>
        <locationY>1030</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Through_Document_Versions</targetReference>
        </connector>
        <fields>
            <name>Header_1</name>
            <fieldText>&lt;p&gt;{!Main_Heading}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Subheading_1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: black; font-size: 16px;&quot;&gt;Screening Questions&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Options</name>
            <choiceReferences>First_Yes</choiceReferences>
            <choiceReferences>First_No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>First_Yes</defaultSelectedChoiceReference>
            <fieldText>{!First_Question}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>agreement.Record_Type_Developer_Name__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>MSA</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Second_Options</name>
            <choiceReferences>Second_Yes</choiceReferences>
            <choiceReferences>Second_No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Second_Yes</defaultSelectedChoiceReference>
            <fieldText>{!Second_Question}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>agreement.Record_Type_Developer_Name__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>MSA</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Third_Options</name>
            <choiceReferences>Third_Yes</choiceReferences>
            <choiceReferences>Third_No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Third_Yes</defaultSelectedChoiceReference>
            <fieldText>{!Third_Question}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>agreement.Record_Type_Developer_Name__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>MSA</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Document</name>
        <label>Select Document</label>
        <locationX>2594</locationX>
        <locationY>1601</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>set_List_Tag</targetReference>
        </connector>
        <fields>
            <name>Display_Text_14</name>
            <fieldText>&lt;p&gt;{!Main_Heading}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_select_Docs</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Select Document(s)&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Agr_Document_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Apttus__DocumentVersion__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>1. Agreement Documents</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>varR_DocumentVersionsAgrType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Apttus__Title__c&quot;,&quot;guid&quot;:&quot;column-4d79&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Document Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Title&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-a669&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Document Type&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;LastModifiedById&quot;,&quot;guid&quot;:&quot;column-9fb0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Last Modified By&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Last Modified By ID&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;LastModifiedDate&quot;,&quot;guid&quot;:&quot;column-5d1a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Last Modified Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varR_SelectedAgreementType</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Other_Document_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Apttus__DocumentVersion__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>2. Supporting Document</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>varR_DocumentversionsOther</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Apttus__Title__c&quot;,&quot;guid&quot;:&quot;column-fbf5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Document Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Title&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-5d2f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Document Type&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;LastModifiedById&quot;,&quot;guid&quot;:&quot;column-a9ff&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Last Modified By&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Last Modified By ID&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;LastModifiedDate&quot;,&quot;guid&quot;:&quot;column-7836&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Last Modified Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varR_SelectedOtherType</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Submit_Request_Screen</name>
        <label>Submit Request Screen</label>
        <locationX>1947</locationX>
        <locationY>2308</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Request_Submitted_Screen</targetReference>
        </connector>
        <fields>
            <name>Submit_Request_Screen_Heading</name>
            <fieldText>&lt;p&gt;{!Main_Heading}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Review_Subheading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: black; font-size: 14px;&quot;&gt;Review and Submit&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Submit_Request_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Submit_Request_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Selected_Documents</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;﻿Documents to Review&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Submit_Request_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Selected_Document_List</name>
                    <fieldText>&lt;p&gt;{!varR_SelectedDocument}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Submit_Request_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Submit_Request_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Heading_1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Please enter customer name in the subject line&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Submit_Request_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Display_1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Acc_Name} &lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Submit_Request_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Submit_Request_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Heading_2</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Is this a new customer? If not, do we have any existing relevant contracts with them? (If Yes, please provide contract reference)&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Submit_Request_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Display_2</name>
                    <fieldText>&lt;p&gt;{!forT_ReviewDisplay2}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Submit_Request_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Submit_Request_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Heading_3</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Contract number (such as CLM Nr., Study Code, Protocol number or Opportunity Code)&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Submit_Request_Screen_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Display_3</name>
                    <fieldText>&lt;p&gt;Contract#: &lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!agreement.Apttus__FF_Agreement_Number__c} / {!agreement.Name}&lt;/span&gt;;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(43, 58, 66); font-size: 14px;&quot;&gt;{!Opportunity_Number_Updated}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(43, 58, 66); font-size: 14px;&quot;&gt;﻿{!Protocol_Number_Updated}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Submit_Request_Screen_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Submit_Request_Screen_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Heading_4</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Identify Business Unit or type of core services. E.g. RDS, RWS, QA, IQB, ClinTech, NOVASYTE, Nexelis, Immunexperts, other?&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Submit_Request_Screen_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Display_4</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Business_Unit_Core_Formula} {!Display_2}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Submit_Request_Screen_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Submit_Request_Screen_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Heading_5</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Is this request for clinical services only or hybrid services?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;If hybrid – which other IQVIA services in addition to clinical service?&amp;nbsp;Such as Q Squared, Connected Devices, FSP, ClinTech, other?&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Submit_Request_Screen_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Display_5</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Service_Type} {!forT_HybridOption} {!Service_Type_Other}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Submit_Request_Screen_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Submit_Request_Screen_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Heading_6</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Do the services include any cloud technologies (SAAS offerings)? If yes, please specify which.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Submit_Request_Screen_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Display_6</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Saas_Other_Formula} {!Saas_Other}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Submit_Request_Screen_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Submit_Request_Screen_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Heading_7</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Type of contract (e.g ATP/GSA/WO/CO/MTA/MSA/Amendment/ LRA)?&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Submit_Request_Screen_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Display_7</name>
                    <fieldText>&lt;p&gt;{!Display_SubType}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Submit_Request_Screen_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Submit_Request_Screen_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Heading_8</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Sections to be reviewed by LCN (please specify).&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Submit_Request_Screen_Section9_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Display_8</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Review_Text_1}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Submit_Request_Screen_Section10</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Submit_Request_Screen_Section10_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Heading_9</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Was this previously reviewed by LCN or Legal? (indicate who).&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Submit_Request_Screen_Section10_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Display_9</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Review_Text_2}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Submit_Request_Screen_Section11</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Submit_Request_Screen_Section11_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Heading_10</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Any previously discussed/approved specific customer requirements? (e.g. within proposal phase)&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Submit_Request_Screen_Section11_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Display_10</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Review_Text_3}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Submit_Request_Screen_Section12</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Submit_Request_Screen_Section12_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Heading_11</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Is this based on an RFP?&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Submit_Request_Screen_Section12_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Display_11</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!RFP_Based}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Submit_Request_Screen_Section13</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Submit_Request_Screen_Section13_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Heading_12</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Personal data transfer involved? If so provide details.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>agreement.Record_Type_Developer_Name__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>MSA</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Submit_Request_Screen_Section13_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Display_12</name>
                    <fieldText>&lt;p&gt;{!Review_Text4}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>agreement.Record_Type_Developer_Name__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>MSA</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Submit_Request_Screen_Section14</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Submit_Request_Screen_Section14_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Heading_13</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Value of Contract&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Submit_Request_Screen_Section14_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Display_13</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Contract_Value}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>agreement.Record_Type_Developer_Name__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>MSA</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Submit_Request_Screen_Section15</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Submit_Request_Screen_Section15_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Heading_15</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: black;&quot;&gt;Target date for Review&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Submit_Request_Screen_Section15_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Display_15</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Review_Text_8}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Submit_Request_Screen_Section16</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Submit_Request_Screen_Section16_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Heading_16</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: black;&quot;&gt;Justification (milestone/RFP deadline etc.)&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Submit_Request_Screen_Section16_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Display_16</name>
                    <fieldText>&lt;p&gt;{!forT_JustificationDisplay}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Submit_Request_Screen_Section17</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Submit_Request_Screen_Section17_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Heading_14</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Other information/notes helpful to the reviewer/negotiator&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Submit_Request_Screen_Section17_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Display_14</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;{!Review_Text_5}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit Request</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Third_Question_Confirmation_Screen</name>
        <label>Third Question Confirmation Screen</label>
        <locationX>2087</locationX>
        <locationY>1620</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Fourth_Question_Confirmation</targetReference>
        </connector>
        <fields>
            <name>Header_4</name>
            <fieldText>&lt;p&gt;{!Main_Heading}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Subheading_4</name>
            <fieldText>&lt;p&gt;{!Third_Answer_Template}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Fourth_Question</name>
            <choiceReferences>Fourth_Yes</choiceReferences>
            <choiceReferences>Fourth_No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Based on the guidelines, do you still need to escalate to LCN?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1724</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_RecordType_Developer_Name</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>CLM-MC-CLMCMA-11381: Added a resource to store description in rich text format.</description>
        <name>Activity_Description_If_All_Answers_No</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>No LCN Review/Escalation is needed.

1. Is the contract based on an IQVIA Standard Template, has the Customer proposed any material changes to that IQVIA Template?
A: No

2. Is the contract based on a Customer Specific Template*, that has not been agreed upon by an LCN representative in the past 1 year? (*excluding MSA Approved Customer Specific Templates).
A: No

3. Has the Customer proposed any language, or changes to the language within the legal terms, or scope of services, or budget, or any other attachments, or exhibits that contain any of the items listed in the LCN review Guideline?
A: No</text>
    </textTemplates>
    <textTemplates>
        <description>CLM-MC-CLMCMA-11381: Added a resource to store description in rich text format.</description>
        <name>Activity_Description_If_Any_Answer_Is_Yes</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>LCN Review/Escalation is NEEDED.

1. Is the contract based on an IQVIA Standard Template, has the Customer proposed any material changes to that IQVIA Template?

A: {!First_Options}



2. Is the contract based on a Customer Specific Template*, that has not been agreed upon by an LCN representative in the past 1 year? (*excluding MSA Approved Customer Specific Templates).

A: {!Second_Options}



3. Has the Customer proposed any language, or changes to the language within the legal terms, or scope of services, or budget, or any other attachments, or exhibits that contain any of the items listed in the LCN review Guideline?

A: {!Third_Options}</text>
    </textTemplates>
    <textTemplates>
        <name>Final_Email_Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Agreement Link :&lt;a href= &quot;{!forT_AgreementLink}&quot;&gt;{!agreement.Name}&lt;/a&gt;&lt;/p&gt;
&lt;div style= &quot;display:table;&quot;&gt;
 &lt;div style= &quot;diplay : table-cell;&quot;&gt;Document to Review : &lt;/div&gt;
 &lt;div style= &quot;display: table-cell;&quot;&gt; {!varR_SelectedDocument}&lt;/div&gt;
 &lt;/div&gt;

&lt;table border=&quot;1&quot; style=&quot;border-collapse: collapse; border: 1px solid&quot;&gt;
&lt;tr style=&quot;border-bottom: 1px solid&quot;&gt;
&lt;td style=&quot;border-right: 1px solid&quot;&gt; 
{!Review_Heading_1}
&lt;/td&gt;
&lt;td style=&quot;padding-left:10px;&quot;&gt;
{!Review_Display_1}
&lt;/td&gt;
&lt;/tr&gt;

&lt;tr style=&quot;border-bottom: 1px solid;&quot;&gt;
&lt;td style=&quot;border-right: 1px solid;&quot;&gt;
{!Review_Heading_2}
&lt;/td&gt;
&lt;td style=&quot;padding-left:10px;&quot;&gt;
{!Review_Display_2}
&lt;/td&gt;
&lt;/tr&gt;

&lt;tr style=&quot;border-bottom: 1px solid&quot;&gt;
&lt;td style=&quot;border-right: 1px solid&quot;&gt;
{!Review_Heading_3}
&lt;/td&gt;

&lt;td style=&quot;padding-left:10px;&quot;&gt;
{!Review_Display_3}
&lt;/td&gt;
&lt;/tr&gt;

&lt;tr style=&quot;border-bottom: 1px solid&quot;&gt;
&lt;td style=&quot;border-right: 1px solid&quot;&gt;
{!Review_Heading_4}
&lt;/td&gt;
&lt;td style=&quot;padding-left:10px;&quot;&gt;
{!Review_Display_4}
&lt;/td&gt;
&lt;/tr&gt;

&lt;tr style=&quot;border-bottom: 1px solid&quot;&gt;
&lt;td style=&quot;border-right: 1px solid&quot;&gt;
{!Review_Heading_5}
&lt;/td&gt;
&lt;td style=&quot;padding-left:10px;&quot;&gt;
{!Review_Display_5}
&lt;/td&gt;
&lt;/tr&gt;


&lt;tr style=&quot;border-bottom: 1px solid&quot;&gt;
&lt;td style=&quot;border-right: 1px solid&quot;&gt;
{!Review_Heading_6}
&lt;/td&gt;
&lt;td style=&quot;padding-left:10px;&quot;&gt;
{!Review_Display_6}
&lt;/td&gt;
&lt;/tr&gt;

&lt;tr style=&quot;border-bottom: 1px solid&quot;&gt;
&lt;td style=&quot;border-right: 1px solid&quot;&gt;
{!Review_Heading_7}
&lt;/td&gt;
&lt;td style=&quot;padding-left:10px;&quot;&gt;
{!Review_Display_7}
&lt;/td&gt;
&lt;/tr&gt;

&lt;tr style=&quot;border-bottom: 1px solid&quot;&gt;
&lt;td style=&quot;border-right: 1px solid&quot;&gt;
{!Review_Heading_8}
&lt;/td&gt;
&lt;td style=&quot;padding-left:10px;&quot;&gt;
{!Review_Display_8}
&lt;/td&gt;
&lt;/tr&gt;

&lt;tr style=&quot;border-bottom: 1px solid&quot;&gt;
&lt;td style=&quot;border-right: 1px solid&quot;&gt;
{!Review_Heading_9}
&lt;/td&gt;
&lt;td style=&quot;padding-left:10px;&quot;&gt;
{!Review_Display_9}
&lt;/td&gt;
&lt;/tr&gt;

&lt;tr style=&quot;border-bottom: 1px solid&quot;&gt;
&lt;td style=&quot;border-right: 1px solid&quot;&gt;
{!Review_Heading_10}
&lt;/td&gt;
&lt;td style=&quot;padding-left:10px;&quot;&gt;
{!Review_Display_10}
&lt;/td&gt;
&lt;/tr&gt;

&lt;tr style=&quot;border-bottom: 1px solid&quot;&gt;
&lt;td style=&quot;border-right: 1px solid&quot;&gt;
{!Review_Heading_11}
&lt;/td&gt;
&lt;td style=&quot;padding-left:10px;&quot;&gt;
{!Review_Display_11}
&lt;/td&gt;
&lt;/tr&gt;


&lt;tr style=&quot;border-bottom: 1px solid&quot;&gt;
&lt;td style=&quot;border-right: 1px solid&quot;&gt;
{!Review_Heading_12}
&lt;/td&gt;
&lt;td style=&quot;padding-left:10px;&quot;&gt;
{!Review_Display_12}
&lt;/td&gt;
&lt;/tr&gt;

&lt;tr style=&quot;border-bottom: 1px solid&quot;&gt;
&lt;td style=&quot;border-right: 1px solid&quot;&gt;
{!Review_Heading_13}
&lt;/td&gt;
&lt;td style=&quot;padding-left:10px;&quot;&gt;
{!Review_Display_13}
&lt;/td&gt;
&lt;/tr&gt;
&lt;tr style=&quot;border-bottom: 1px solid&quot;&gt;
&lt;td style=&quot;border-right: 1px solid&quot;&gt;
{!Review_Heading_15}
&lt;/td&gt;
&lt;td style=&quot;padding-left:10px;&quot;&gt;
{!Review_Display_15}
&lt;/td&gt;
&lt;/tr&gt;

&lt;tr style=&quot;border-bottom: 1px solid&quot;&gt;
&lt;td style=&quot;border-right: 1px solid&quot;&gt;
{!Review_Heading_16}
&lt;/td&gt;
&lt;td style=&quot;padding-left:10px;&quot;&gt;
{!Review_Display_16}
&lt;/td&gt;
&lt;/tr&gt;

&lt;tr style=&quot;border-bottom: 1px solid&quot;&gt;
&lt;td style=&quot;border-right: 1px solid&quot;&gt;
{!Review_Heading_14}
&lt;/td&gt;
&lt;td style=&quot;padding-left:10px;&quot;&gt;
{!Review_Display_14}
&lt;/td&gt;
&lt;/tr&gt;
&lt;/table&gt;
&lt;br /&gt;
&lt;div style= &quot;display:table;&quot;&gt;
&lt;div style= &quot;diplay : table-cell;&quot;&gt;Regards,&lt;/div&gt;
&lt;div style= &quot;diplay : table-cell;&quot;&gt;{!$User.Full_User_Name__c}&lt;/div&gt;
 &lt;div style= &quot;diplay : table-cell;&quot;&gt;Email :{!$User.Email}&lt;/div&gt;
&lt;/div&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>finalEmailBodyforMSA</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Agreement Link :&lt;a href= &quot;{!forT_AgreementLink}&quot;&gt;{!agreement.Name}&lt;/a&gt;&lt;/p&gt;
&lt;div style= &quot;display:table;&quot;&gt;
 &lt;div style= &quot;diplay : table-cell;&quot;&gt;Document to Review : &lt;/div&gt;
 &lt;div style= &quot;display: table-cell;&quot;&gt; {!varR_SelectedDocument}&lt;/div&gt;
 &lt;/div&gt;

&lt;table border=&quot;1&quot; style=&quot;border-collapse: collapse; border: 1px solid&quot;&gt;
&lt;tr style=&quot;border-bottom: 1px solid&quot;&gt;
&lt;td style=&quot;border-right: 1px solid&quot;&gt; 
{!Review_Heading_1}
&lt;/td&gt;
&lt;td style=&quot;padding-left:10px;&quot;&gt;
{!Review_Display_1}
&lt;/td&gt;
&lt;/tr&gt;

&lt;tr style=&quot;border-bottom: 1px solid;&quot;&gt;
&lt;td style=&quot;border-right: 1px solid;&quot;&gt;
{!Review_Heading_2}
&lt;/td&gt;
&lt;td style=&quot;padding-left:10px;&quot;&gt;
{!Review_Display_2}
&lt;/td&gt;
&lt;/tr&gt;

&lt;tr style=&quot;border-bottom: 1px solid&quot;&gt;
&lt;td style=&quot;border-right: 1px solid&quot;&gt;
{!Review_Heading_3}
&lt;/td&gt;

&lt;td style=&quot;padding-left:10px;&quot;&gt;
{!Review_Display_3}
&lt;/td&gt;
&lt;/tr&gt;

&lt;tr style=&quot;border-bottom: 1px solid&quot;&gt;
&lt;td style=&quot;border-right: 1px solid&quot;&gt;
{!Review_Heading_4}
&lt;/td&gt;
&lt;td style=&quot;padding-left:10px;&quot;&gt;
{!Review_Display_4}
&lt;/td&gt;
&lt;/tr&gt;

&lt;tr style=&quot;border-bottom: 1px solid&quot;&gt;
&lt;td style=&quot;border-right: 1px solid&quot;&gt;
{!Review_Heading_5}
&lt;/td&gt;
&lt;td style=&quot;padding-left:10px;&quot;&gt;
{!Review_Display_5}
&lt;/td&gt;
&lt;/tr&gt;


&lt;tr style=&quot;border-bottom: 1px solid&quot;&gt;
&lt;td style=&quot;border-right: 1px solid&quot;&gt;
{!Review_Heading_6}
&lt;/td&gt;
&lt;td style=&quot;padding-left:10px;&quot;&gt;
{!Review_Display_6}
&lt;/td&gt;
&lt;/tr&gt;

&lt;tr style=&quot;border-bottom: 1px solid&quot;&gt;
&lt;td style=&quot;border-right: 1px solid&quot;&gt;
{!Review_Heading_7}
&lt;/td&gt;
&lt;td style=&quot;padding-left:10px;&quot;&gt;
{!Review_Display_7}
&lt;/td&gt;
&lt;/tr&gt;

&lt;tr style=&quot;border-bottom: 1px solid&quot;&gt;
&lt;td style=&quot;border-right: 1px solid&quot;&gt;
{!Review_Heading_8}
&lt;/td&gt;
&lt;td style=&quot;padding-left:10px;&quot;&gt;
{!Review_Display_8}
&lt;/td&gt;
&lt;/tr&gt;

&lt;tr style=&quot;border-bottom: 1px solid&quot;&gt;
&lt;td style=&quot;border-right: 1px solid&quot;&gt;
{!Review_Heading_9}
&lt;/td&gt;
&lt;td style=&quot;padding-left:10px;&quot;&gt;
{!Review_Display_9}
&lt;/td&gt;
&lt;/tr&gt;

&lt;tr style=&quot;border-bottom: 1px solid&quot;&gt;
&lt;td style=&quot;border-right: 1px solid&quot;&gt;
{!Review_Heading_10}
&lt;/td&gt;
&lt;td style=&quot;padding-left:10px;&quot;&gt;
{!Review_Display_10}
&lt;/td&gt;
&lt;/tr&gt;

&lt;tr style=&quot;border-bottom: 1px solid&quot;&gt;
&lt;td style=&quot;border-right: 1px solid&quot;&gt;
{!Review_Heading_11}
&lt;/td&gt;
&lt;td style=&quot;padding-left:10px;&quot;&gt;
{!Review_Display_11}
&lt;/td&gt;
&lt;/tr&gt;

&lt;tr style=&quot;border-bottom: 1px solid&quot;&gt;
&lt;td style=&quot;border-right: 1px solid&quot;&gt;
{!Review_Heading_15}
&lt;/td&gt;
&lt;td style=&quot;padding-left:10px;&quot;&gt;
{!Review_Display_15}
&lt;/td&gt;
&lt;/tr&gt;

&lt;tr style=&quot;border-bottom: 1px solid&quot;&gt;
&lt;td style=&quot;border-right: 1px solid&quot;&gt;
{!Review_Heading_16}
&lt;/td&gt;
&lt;td style=&quot;padding-left:10px;&quot;&gt;
{!Review_Display_16}
&lt;/td&gt;
&lt;/tr&gt;

&lt;tr style=&quot;border-bottom: 1px solid&quot;&gt;
&lt;td style=&quot;border-right: 1px solid&quot;&gt;
{!Review_Heading_14}
&lt;/td&gt;
&lt;td style=&quot;padding-left:10px;&quot;&gt;
{!Review_Display_14}
&lt;/td&gt;
&lt;/tr&gt;
&lt;/table&gt;
&lt;br /&gt;
&lt;div style= &quot;display:table;&quot;&gt;
&lt;div style= &quot;diplay : table-cell;&quot;&gt;Regards,&lt;/div&gt;
&lt;div style= &quot;diplay : table-cell;&quot;&gt;{!$User.Full_User_Name__c}&lt;/div&gt;
 &lt;div style= &quot;diplay : table-cell;&quot;&gt;Email :{!$User.Email}&lt;/div&gt;
&lt;/div&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>First_Question</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Is the contract based on an &lt;/span&gt;&lt;a href=&quot;https://quintiles.sharepoint.com/sites/Contract_Policies_and_Templates/_layouts/15/AccessDenied.aspx?Source=https://quintiles.sharepoint.com/sites/Contract_Policies_and_Templates/default.aspx&amp;amp;correlation=cc6c3ca0-40d6-1000-bd83-bc9e6c802b3d&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(101, 99, 227); font-size: 14px;&quot;&gt;&lt;u&gt;IQVIA Standard Template&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;, has the Customer proposed any material changes to that IQVIA Template?&amp;nbsp;&lt;/span&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Fourth_Question_No</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Based on your answers above, no LCN Review / Escalation is needed. Please proceed to customer review or signatures.</text>
    </textTemplates>
    <textTemplates>
        <name>Main_Heading</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: black;&quot;&gt;LCN Reviewer Assignment Request&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Review_Display_3_1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Contract#: &lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(68, 68, 68);&quot;&gt;{!agreement.Apttus__FF_Agreement_Number__c} / {!agreement.Name}&lt;/span&gt;;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(43, 58, 66); font-size: 14px;&quot;&gt;Opp #: {!Opportunity_Number_Updated}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(43, 58, 66); font-size: 14px;&quot;&gt;﻿Protocol #: {!&lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Protocol_Number_Updated&lt;/span&gt;&lt;span style=&quot;color: rgb(43, 58, 66); font-size: 14px;&quot;&gt;}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Second_Question</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Is the contract based on a Customer Specific Template*, that has not been agreed upon by an LCN representative in the past 1 year? (*excluding MSA Approved Customer Specific Templates)&lt;/span&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Summary_For_No_Answers</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!First_Question}&lt;/p&gt;&lt;p&gt;A: {!First_Options}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Second_Question}&lt;/p&gt;&lt;p&gt;A: {!Second_Options}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Third_Question}&lt;/p&gt;&lt;p&gt;A: {!Third_Options}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;Based on your answers above, no LCN Review / Escalation is needed. Please proceed to customer review or signatures.&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Summary_Text</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(43, 58, 66); font-size: 16pt; font-family: Arial;&quot;&gt;Your request for the LCN review has been submitted. You will receive a notification when an LCN Reviewer has been assigned to your Agreement.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>textT_Description_If_Answer_Yes_For_MSA</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>LCN Review/Escalation is NEEDED.

1. Is the contract based on a Customer template OR if based on IQVIA Standard Template, did the Customer proposed material changes to that Template?

A: Yes</text>
    </textTemplates>
    <textTemplates>
        <name>textT_ErrorMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;An unexpected error has occurred. Please contact the support team for help.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Error Details&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; :  &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Error Time&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; :&amp;nbsp;{!$Flow.CurrentDateTime}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Running User&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; : {!$User.FirstName} &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$User.LastName}&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Record Id &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;: {!recordId} 		&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>textT_ErrorMessageDisplay</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;An unexpected error has occurred. Please contact the support team for help.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Error Details&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; :  &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Third_Answer_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Please review the following guidelines and determine what escalation (if any) is required - &lt;a href=&quot;https://quintiles.sharepoint.com/:w:/r/sites/LCN-Sharepoint/Shared%20Documents/LCN%20Checklist%20for%20GBO_Contracting%20Policy_July%202021.docx?d=wd70a3c0fbd384024918e5c25add79bd0&amp;amp;csf=1&amp;amp;web=1&amp;amp;e=FbKYLw&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(101, 99, 215); font-size: 14px;&quot;&gt;&lt;u&gt;LCN Review Guideline&lt;/u&gt;&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Third_Question</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Has the Customer proposed any language, or changes to the language within the legal terms, or scope of services, or budget, or any other attachments, or exhibits that contains any of the items listed in the &lt;/span&gt;&lt;a href=&quot;https://quintiles.sharepoint.com/:w:/r/sites/LCN-Sharepoint/Shared%20Documents/LCN%20Checklist%20for%20GBO_Contracting%20Policy_July%202021.docx?d=wd70a3c0fbd384024918e5c25add79bd0&amp;csf=1&amp;web=1&amp;e=FbKYLw&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px; color: rgb(101, 99, 215);&quot;&gt;&lt;u&gt;LCN Review Guideline&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;?&lt;/span&gt;</text>
    </textTemplates>
    <variables>
        <name>agreement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>Document_Version_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varR_DocumentVersionAGR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__DocumentVersion__c</objectType>
    </variables>
    <variables>
        <name>varR_DocumentVersionOther</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__DocumentVersion__c</objectType>
    </variables>
    <variables>
        <name>varR_DocumentVersions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__DocumentVersion__c</objectType>
    </variables>
    <variables>
        <name>varR_DocumentVersionsAgrType</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__DocumentVersion__c</objectType>
    </variables>
    <variables>
        <name>varR_DocumentversionsOther</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__DocumentVersion__c</objectType>
    </variables>
    <variables>
        <name>varR_SelectedAgreementType</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__DocumentVersion__c</objectType>
    </variables>
    <variables>
        <name>varR_SelectedDocument</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varR_SelectedOtherType</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__DocumentVersion__c</objectType>
    </variables>
    <variables>
        <name>varR_TempId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_FinalDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
