src/flows/CLM_Sub_Flow_RDS_Notification_on_Status_Update.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Notification_On_CA_Status_Update</name>
        <label>Email Notification On CA Status Update</label>
        <locationX>50</locationX>
        <locationY>743</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Email_on_Clinical_Agreement</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Related_Agreements.Apttus__APTS_Contract_To__r.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no.reply.support@iqvia.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_Record_is_created_or_amended</name>
        <label>Check Record is created or amended</label>
        <locationX>819</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CA_Status_Update</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>newRecord.Apttus__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>oldRecord.Apttus__Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newRecord.Apttus__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newRecord.Apttus__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fully Signed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newRecord.Apttus__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newRecord.Apttus__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other Party Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Related_Agreements</targetReference>
            </connector>
            <label>CA Status Update</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if related agreement record fetched has value</description>
        <name>Is_Related_Agreements_Exists</name>
        <label>Is Related Agreements Exists</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Related_Agreements.Apttus__APTS_Contract_To__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Notification_On_CA_Status_Update</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Formula used to create link for Agreement Record.</description>
        <name>AgreementLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_140},FIND(&apos;.com&apos;,{!$Api.Partner_Server_URL_140})+4)+{!newRecord.Id}</expression>
    </formulas>
    <formulas>
        <name>forT_GetRecipientsonEmailMessage</name>
        <dataType>String</dataType>
        <expression>{!varT_GetRelatedAgreementId}&amp;&quot;;&quot;&amp;{!varT_GetAgreementContactId}</expression>
    </formulas>
    <interviewLabel>CLM Sub Flow: RDS Notification on Status Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM Sub Flow: RDS Notification on Status Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Email_on_Clinical_Agreement</name>
        <label>Email on Clinical Agreement</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Email_On_RWSFS_Agreement</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>no.reply.support@iqvia.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>newRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>Related_Agreements.Apttus__APTS_Contract_To__r.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Email_On_RWSFS_Agreement</name>
        <label>Email On RWSFS Agreement</label>
        <locationX>50</locationX>
        <locationY>983</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>ActivityBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Related_Agreements.Apttus__APTS_Contract_To__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Related_Agreements</name>
        <label>Related Agreements</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Related_Agreements_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Apttus__APTS_Contract_From__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Apttus__Relationship_From_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Is Full Service Master of</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Apttus__APTS_Related_Agreement__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>694</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_Record_is_created_or_amended</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ActivityBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Clinical Agreement Status updated to {!newRecord.Apttus__Status__c} - take necessary action if required.</text>
    </textTemplates>
    <textTemplates>
        <name>Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello,&lt;br&gt;Clinical {!newRecord.Apttus__Subtype__c} status has been updated to : {!newRecord.Apttus__Status__c}&lt;br&gt;&lt;br&gt;Clinical Agreement Details :&lt;br&gt;&lt;br&gt;Agreement Number : {!newRecord.Apttus__FF_Agreement_Number__c}&lt;br&gt;Customer Name  : {!newRecord.Apttus__Account__r.Name}&lt;br&gt;Agreement owner : {!newRecord.Owner:User.Full_User_Name__c}&lt;br&gt;Link to CLM clinical agreement : {!AgreementLink}&lt;br&gt;Project number: {!newRecord.Project_Number__c}&lt;br&gt;&lt;br&gt;Best regards</text>
    </textTemplates>
    <textTemplates>
        <name>Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Clinical {!newRecord.Apttus__Subtype__c} {!newRecord.Apttus__FF_Agreement_Number__c} status updated</text>
    </textTemplates>
    <textTemplates>
        <name>Title</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Clinical Agreement Status updated to {!newRecord.Apttus__Status__c}</text>
    </textTemplates>
    <variables>
        <name>CollectionOfEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Count_Of_Emails</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Individual_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>oldRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>varT_GetAgreementContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_GetRelatedAgreementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
