src/flows/CLM_Subflow_RDS_Notification_for_Regulatory_LOB.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notification_of_Agreement_Creation_to_Non_GBO_Triage</name>
        <label>Notification of Agreement Creation to Non- GBO Triage</label>
        <locationX>542</locationX>
        <locationY>599</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Email_Message</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>CollectionOfEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>clmintegration@iqvia.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assignment_for_Radds_Contract_Email</name>
        <label>Assignment for Radds Contract Email</label>
        <locationX>334</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>CollectionOfEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Setup.CLM_Configuration__c.RADDS_Contracts_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notification_of_Agreement_Creation_to_Non_GBO_Triage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Owner</name>
        <label>Assignment Owner</label>
        <locationX>603</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>CollectionOfEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newRecord.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Radds_Email_Address_Available</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Record_is_created_or_amended</name>
        <label>Check Record is created or amended</label>
        <locationX>820</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Created_OR_Amended_Record</name>
            <conditionLogic>((1 AND 2 AND 3) OR (4 AND 5 AND 8)) AND 6 AND 7</conditionLogic>
            <conditions>
                <leftValueReference>newRecord.Apttus__Version_Number__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newRecord.Apttus__Subtype__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>oldRecord.Apttus__Subtype__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newRecord.Apttus__Version_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>oldRecord.Apttus__Related_Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newRecord.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Regulatory &amp; Drug Development Solutions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newRecord.Apttus__Subtype__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varB_IsAfterInsert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Owner</targetReference>
            </connector>
            <label>Created OR Amended Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Radds_Email_Address_Available</name>
        <label>Is_Radds_Email_Address_Available?</label>
        <locationX>324</locationX>
        <locationY>405</locationY>
        <defaultConnector>
            <targetReference>Notification_of_Agreement_Creation_to_Non_GBO_Triage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.CLM_Configuration__c.RADDS_Contracts_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_for_Radds_Contract_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Formula used to create link for Agreement Record.</description>
        <name>AgreementLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_140},FIND(&apos;.com&apos;,{!$Api.Partner_Server_URL_140})+4)+{!newRecord.Id}</expression>
    </formulas>
    <interviewLabel>CLM Subflow : RDS Notification for Regulatory LOB {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM Subflow : RDS Notification for Regulatory LOB</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Email_Message</name>
        <label>Email Message</label>
        <locationX>781</locationX>
        <locationY>597</locationY>
        <inputAssignments>
            <field>CcAddress</field>
            <value>
                <elementReference>$Setup.CLM_Configuration__c.RADDS_Contracts_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>clmintegration@iqvia.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>newRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>newRecord.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>694</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_Record_is_created_or_amended</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;This Email is to Inform you that following {!newRecord.Apttus__Subtype__c} request has been created.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Agreement Name : {!newRecord.Name}&lt;/p&gt;&lt;p&gt;Agreement Number : {!newRecord.Apttus__FF_Agreement_Number__c}&lt;/p&gt;&lt;p&gt;Opportunity Number : {!newRecord.Legacy_Quintiles_Opportunity_Number__c}&lt;/p&gt;&lt;p&gt;Account Name : {!newRecord.Apttus__Account__r.Name}&lt;/p&gt;&lt;p&gt;Requester : {!newRecord.Bid_History__r.Requester_Name__c}&lt;/p&gt;&lt;p&gt;Agreement : {!AgreementLink}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Agreement {!newRecord.Apttus__FF_Agreement_Number__c} Created Successfully</text>
    </textTemplates>
    <variables>
        <name>CollectionOfEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Count_Of_Emails</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>newRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>oldRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <description>To store it is a after insert event.</description>
        <name>varB_IsAfterInsert</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
