src/flows/CLM_Subflow_RWS_Notification_on_Submit_to_Clinical.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_An_Email_To_Clinical_CA_Once_FS_Agreement_Is_Ready</name>
        <label>Send An Email To Clinical CA Once FS Agreement Is Ready</label>
        <locationX>930</locationX>
        <locationY>1871</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Email_on_Clinical_Agreement_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Bodyforemail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>CollectionOfEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no.reply.support@iqvia.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subjectforemail</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_BD_Representative_Email_to_Email_Collection</name>
        <label>Add BD Representative Email to Email Collection</label>
        <locationX>1482</locationX>
        <locationY>1072</locationY>
        <assignmentItems>
            <assignToReference>CollectionOfEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Related_Agreement_Contacts_Loop.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Count_Of_Emails</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>CollectionOfEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Related_Agreement_Contacts_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Project_Manager</name>
        <label>Add Project Manager</label>
        <locationX>1223</locationX>
        <locationY>1276</locationY>
        <assignmentItems>
            <assignToReference>CollectionOfEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newRecord.IQVIA_Project_Manager_Con__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Count_Of_Emails</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>CollectionOfEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Collection_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Email_Collection_From_Related_Agreements</name>
        <label>Email Collection From Related Agreements</label>
        <locationX>1150</locationX>
        <locationY>743</locationY>
        <assignmentItems>
            <assignToReference>CollectionOfEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Related_Agreements_Loop.Apttus__APTS_Contract_From__r.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_GetRelatedAgreementId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Related_Agreements_Loop.Apttus__APTS_Contract_From__r.Owner:User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Related_Agreements_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Individual_Emails</name>
        <label>Individual Emails</label>
        <locationX>1018</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>Individual_Email</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Email_Collection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Individual_Email</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_BD_Role</name>
        <label>Check BD Role</label>
        <locationX>1256</locationX>
        <locationY>1078</locationY>
        <defaultConnector>
            <targetReference>Related_Agreement_Contacts_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Related_Agreement_Contacts_Loop.Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>BD Representative</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_BD_Representative_Email_to_Email_Collection</targetReference>
            </connector>
            <label>BD</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Project_Manager</name>
        <label>Check Project Manager</label>
        <locationX>1049</locationX>
        <locationY>1284</locationY>
        <defaultConnector>
            <targetReference>Email_Collection_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newRecord.IQVIA_Project_Manager_Con__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Project_Manager</targetReference>
            </connector>
            <label>PM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_is_created_or_amended</name>
        <label>Check Record is created or amended</label>
        <locationX>820</locationX>
        <locationY>382</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CA_Status_Update_In_RWSSOW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newRecord.Apttus__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>oldRecord.Apttus__Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newRecord.Apttus__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted to Clinical</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Agreements</targetReference>
            </connector>
            <label>CA Status Update In RWSSOW</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Collection_Check</name>
        <label>Email_Collection_Check</label>
        <locationX>1045</locationX>
        <locationY>1470</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Email_Collection_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectionOfEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Count_Of_Emails</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Collection</targetReference>
            </connector>
            <label>If Email Collection Check</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Formula used to create link for Agreement Record.</description>
        <name>AgreementLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_140},FIND(&apos;.com&apos;,{!$Api.Partner_Server_URL_140})+4)+{!newRecord.Id}</expression>
    </formulas>
    <formulas>
        <name>forT_GetRecipientsonEmailMessage</name>
        <dataType>String</dataType>
        <expression>{!varT_GetRelatedAgreementId}&amp;&quot;;&quot;&amp;{!varT_GetAgreementContactId}</expression>
    </formulas>
    <interviewLabel>CLM Subflow : RWS Notification on Submit to Clinical {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM Subflow : RWS Notification on Submit to Clinical</label>
    <loops>
        <name>Email_Collection</name>
        <label>Email_Collection</label>
        <locationX>930</locationX>
        <locationY>1535</locationY>
        <collectionReference>CollectionOfEmails</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Individual_Emails</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_An_Email_To_Clinical_CA_Once_FS_Agreement_Is_Ready</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Related_Agreement_Contacts_Loop</name>
        <label>Related Agreement Contacts Loop</label>
        <locationX>1061</locationX>
        <locationY>1078</locationY>
        <collectionReference>Get_Related_Agreement_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_BD_Role</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Project_Manager</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Related_Agreements_Loop</name>
        <label>Related Agreements Loop</label>
        <locationX>1062</locationX>
        <locationY>623</locationY>
        <collectionReference>Get_Related_Agreements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Email_Collection_From_Related_Agreements</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Related_Agreement_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Email_on_Clinical_Agreement_0</name>
        <label>Email on Clinical Agreement</label>
        <locationX>930</locationX>
        <locationY>1991</locationY>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>no.reply.support@iqvia.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>Bodyforemail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>newRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subjectforemail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>forT_GetRecipientsonEmailMessage</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Related_Agreement_Contacts</name>
        <label>Get Related Agreement Contacts</label>
        <locationX>1062</locationX>
        <locationY>959</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_Agreement_Contacts_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Agreement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Agreement_Contacts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Agreements</name>
        <label>Get Related Agreements</label>
        <locationX>1062</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_Agreements_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Apttus__APTS_Contract_To__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Apttus__Relationship_From_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Is Full Service Master Of</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Relationship_To_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Is Full Service Child Of</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__APTS_Contract_From__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Apttus__APTS_Related_Agreement__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>694</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_Record_is_created_or_amended</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Bodyforemail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello,&lt;br&gt;Follows eCOA RWS Scope of Work, as well as T&amp;amp;C to be included in Clinical “{!newRecord.Apttus__Subtype__c}”.&lt;br&gt;&lt;br&gt;eCOA RWS Agreement Details :&lt;br&gt;&lt;br&gt;Agreement Number : {!newRecord.Apttus__FF_Agreement_Number__c}&lt;br&gt;Customer Name : {!newRecord.Apttus__Account__r.Name}&lt;br&gt;Agreement owner : {!newRecord.Owner:User.Full_User_Name__c}&lt;br&gt;Link to CLM eCOA agreement : {!AgreementLink}&lt;br&gt;Project number: {!newRecord.Project_Number__c}&lt;br&gt;&lt;br&gt;Best Regards</text>
    </textTemplates>
    <textTemplates>
        <name>Subjectforemail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Follows eCOA Scope of Work for {!newRecord.Apttus__Subtype__c}  {!newRecord.Apttus__Agreement_Number__c}</text>
    </textTemplates>
    <variables>
        <name>CollectionOfEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Count_Of_Emails</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Individual_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>oldRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>varT_GetAgreementContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_GetRelatedAgreementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
