src/flows/CLM_Upload_Signed_Document_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_recall_Esignature</name>
        <label>Recall Esignature</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <actionName>UTL_CLM_Flow_ActionHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_File_List</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Recall_eSignature</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agreementWrapper</name>
            <value>
                <elementReference>varA_agreementWrapper</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UTL_CLM_Flow_ActionHandler</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Refresh_Flow</name>
        <label>Refresh Flow</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <actionName>c:LXC_CLM_RefreshFlow</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:LXC_CLM_RefreshFlow</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>UploadFiles</name>
        <label>UploadFiles</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <actionName>UTL_CLM_Flow_ActionHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_IQVIA_Agreement</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>File</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agreementId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fileList</name>
            <value>
                <elementReference>varR_Files</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputString</name>
            <value>
                <stringValue>Upload Signed Document</stringValue>
            </value>
        </inputParameters>
        <nameSegment>UTL_CLM_Flow_ActionHandler</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Set_Agreement_Wrapper</name>
        <label>Set Agreement Wrapper</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varA_agreementWrapper.iqviaAgreement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_IQVIA_Agreement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_recall_Esignature</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_File_List</name>
        <label>Set File List</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>File_Upload.fData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>~Final Signed Document</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Files</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>File_Upload.fData</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UploadFiles</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>contT_rule</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;hr style=&quot;margin-top: 0px;margin-bottom: 15px;&quot;&gt;</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_docusign_status</name>
        <label>Check docusign status</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_File_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_IQVIA_Agreement.DocuSign_Envelope_Id__r.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Agreement_Wrapper</targetReference>
            </connector>
            <label>Sent</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forD_otherPartySignedDate</name>
        <dataType>Date</dataType>
        <expression>IF({!Other_Party_Does_Not_Need_To_Sign} == false, {!Other_Party_Signed_Date_Mandatory}, {!Other_Party_Signed_Date_NotMandatory})</expression>
    </formulas>
    <interviewLabel>CLM Upload Signed Document Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM Upload Signed Document Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_IQVIA_Agreement</name>
        <label>Get IQVIA Agreement</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Upload_file_Screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IQVIA_Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_IQVIA_Agreement</name>
        <label>Update IQVIA Agreement</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Refresh_Flow</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Company_Signed_By__c</field>
            <value>
                <elementReference>Company_Signed_By.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Signed_Date__c</field>
            <value>
                <elementReference>Company_Signed_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Party_Does_Not_Need_To_Sign__c</field>
            <value>
                <elementReference>Other_Party_Does_Not_Need_To_Sign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Party_Signed_By__c</field>
            <value>
                <elementReference>Other_Party_Signed_By.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Party_Signed_Date__c</field>
            <value>
                <elementReference>forD_otherPartySignedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Category__c</field>
            <value>
                <stringValue>In Signatures</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Fully Signed</stringValue>
            </value>
        </inputAssignments>
        <object>IQVIA_Agreement__c</object>
    </recordUpdates>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Refresh_Flow</targetReference>
        </connector>
        <fields>
            <name>Error_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;An unexpected error has occurred. Please contact the support team for help.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Error Details&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; :  &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload_file_Screen</name>
        <label>Upload file Screen</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_docusign_status</targetReference>
        </connector>
        <fields>
            <name>Header_01</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(2, 2, 2);&quot;&gt;Upload Signed Document&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sub_Header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Please provide the signed document, signature dates, and (optionally) signatory information for the agreement.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_Line</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!contT_rule}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Warning_Message_sent</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(244, 10, 10); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Please note that the DocuSign Process is already initiated. You may continue to upload a signed document and DocuSign process will be auto cancelled.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_IQVIA_Agreement.DocuSign_Envelope_Id__r.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Sent</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Upload_file_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Upload_file_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>File_Upload</name>
                    <extensionName>c:lWC_CLM_FileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>isMultiple</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Upload the File</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isMandatory</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Upload_file_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Upload_file_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Other_Party_Does_Not_Need_To_Sign</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_IQVIA_Agreement.Other_Party_Does_Not_Need_To_Sign__c</elementReference>
                    </defaultValue>
                    <fieldText>Other Party Does Not Need To Sign</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Other_Party_Help_Text</name>
                    <fieldText>&lt;p&gt;&lt;em style=&quot;font-size: 11px; color: rgb(0, 0, 0);&quot;&gt;For PO Under MSA (PUMA) and other such agreements that do not need client signatures, check the following checkbox.&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Upload_file_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Upload_file_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Company_Signed_By</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Company_Signed_By__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Company Signed By</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>IQVIA_Agreement__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Company_Signed_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Company Signed Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(244, 10, 10);&quot;&gt;Company Signed Date cannot be in future&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Company_Signed_Date} &lt;= {!$Flow.CurrentDate}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Upload_file_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Other_Party_Signed_By</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Other Party Signed By</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Other_Party_Signed_By__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>IQVIA_Agreement__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Other_Party_Signed_Date_NotMandatory</name>
                    <dataType>Date</dataType>
                    <fieldText>Other Party Signed Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(244, 10, 10);&quot;&gt;Other Party Signed Date cannot be in future&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Other_Party_Signed_Date_NotMandatory} &lt;= {!$Flow.CurrentDate}</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Other_Party_Does_Not_Need_To_Sign</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Other_Party_Signed_Date_Mandatory</name>
                    <dataType>Date</dataType>
                    <fieldText>Other Party Signed Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(244, 10, 10);&quot;&gt;Other Party Signed Date cannot be in future&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Other_Party_Signed_Date_Mandatory} &lt;= {!$Flow.CurrentDate}</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Other_Party_Does_Not_Need_To_Sign</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_IQVIA_Agreement</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varA_agreementWrapper</name>
        <apexClass>AgreementWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varR_Files</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
