src/flows/CLM_USBU_Request_Signature_Screen_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>File_Upload_Action</name>
        <label>File Upload</label>
        <locationX>1008</locationX>
        <locationY>1623</locationY>
        <actionName>UTL_CLM_Flow_ActionHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_IQVIA_Agreement</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>File</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agreementId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fileList</name>
            <value>
                <elementReference>varR_Files</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputString</name>
            <value>
                <stringValue>Upload File</stringValue>
            </value>
        </inputParameters>
        <nameSegment>UTL_CLM_Flow_ActionHandler</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Refresh_page</name>
        <label>Refresh page</label>
        <locationX>777</locationX>
        <locationY>2189</locationY>
        <actionName>c:LXC_CLM_RefreshFlow</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:LXC_CLM_RefreshFlow</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Lead_Fields</name>
        <label>Assign Lead Fields</label>
        <locationX>1438</locationX>
        <locationY>591</locationY>
        <assignmentItems>
            <assignToReference>varT_LeadEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Though_Team.Contact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_LeadEmpStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Though_Team.Contact__r.Employment_Status_FF__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_LeadEmpNo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Though_Team.Contact__r.EmployeeNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_EmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Though_Team.Contact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Though_Team</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_File_List</name>
        <label>Set File List</label>
        <locationX>1009</locationX>
        <locationY>1432</locationY>
        <assignmentItems>
            <assignToReference>File_Upload.fData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>~Document for Signature</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Files</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>File_Upload.fData</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>File_Upload_Action</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>conT_Ruler</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;hr style=&quot;margin-top: 0px;margin-bottom: 15px;&quot;&gt;</stringValue>
        </value>
    </constants>
    <constants>
        <name>contT_rule</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;hr style=&quot;margin-top: 0px;margin-bottom: 15px;&quot;&gt;</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_Active_Lead_Exist</name>
        <label>Is Active Lead Exist?</label>
        <locationX>1175</locationX>
        <locationY>667</locationY>
        <defaultConnector>
            <targetReference>Loop_Though_Team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Though_Team.Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Team Lead</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Though_Team.Contact__r.Employment_Status_FF__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>T</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_Fields</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Email_Exists</name>
        <label>Is Email Exists?</label>
        <locationX>1008</locationX>
        <locationY>2195</locationY>
        <defaultConnector>
            <targetReference>Call_Subflow_to_Create_Notes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varT_EmailAddress</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Notification_and_Create_Email_Message</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Lead_Active</name>
        <label>Is Lead Active?</label>
        <locationX>769</locationX>
        <locationY>773</locationY>
        <defaultConnector>
            <targetReference>Get_User_From_Emp_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varT_LeadEmpStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>T</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varT_LeadEmpNo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inactive_TL_Error</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forD_DateTimeNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>forT_Accountlink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) + {!Get_IQVIA_Agreement.Account__c}</expression>
    </formulas>
    <formulas>
        <name>forT_AgreementLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) + {!Get_IQVIA_Agreement.Id}</expression>
    </formulas>
    <formulas>
        <name>forT_AgreementType</name>
        <dataType>String</dataType>
        <expression>IF({!Get_IQVIA_Agreement.Original_Agreement__c} != null, TEXT({!Get_IQVIA_Agreement.Original_Agreement__r.Subtype__c}), TEXT({!Get_IQVIA_Agreement.Subtype__c}))</expression>
    </formulas>
    <formulas>
        <name>forT_OpportunityLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) + {!Get_IQVIA_Agreement.Related_Opportunity__c}</expression>
    </formulas>
    <formulas>
        <name>forT_otherPartySign</name>
        <dataType>String</dataType>
        <expression>If({!Other_Party_Does_Not_Need_To_Sign}, &apos;No&apos;, &apos;Yes&apos;)</expression>
    </formulas>
    <formulas>
        <name>forT_OwnerId</name>
        <dataType>String</dataType>
        <expression>IF({!Get_User_From_Emp_Number.IsActive}, {!Get_User_From_Emp_Number.Id},{!Get_IQVIA_Agreement.OwnerId})</expression>
    </formulas>
    <interviewLabel>CLM USBU Request Signature Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM USBU Request Signature Screen Flow</label>
    <loops>
        <name>Loop_Though_Team</name>
        <label>Loop Though Team</label>
        <locationX>776</locationX>
        <locationY>595</locationY>
        <collectionReference>Get_IQ_Agreement_Team</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Active_Lead_Exist</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Lead_Active</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_IQ_Agreement_Team</name>
        <label>Get IQ Agreement Team</label>
        <locationX>776</locationX>
        <locationY>410</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Though_Team</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Agreement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_IQVIA_Agreement.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>IQVIA_Agreement_Team__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Role__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_IQVIA_Agreement</name>
        <label>Get IQVIA Agreement</label>
        <locationX>776</locationX>
        <locationY>251</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_IQ_Agreement_Team</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IQVIA_Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_From_Emp_Number</name>
        <label>Get User From Emp Number</label>
        <locationX>1007</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Request_Signature_Support_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EmployeeNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_LeadEmpNo</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_IQVIA_Agreement</name>
        <label>Update IQVIA Agreement</label>
        <locationX>1015</locationX>
        <locationY>1824</locationY>
        <connector>
            <targetReference>Is_Email_Exists</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Other_Party_Does_Not_Need_To_Sign__c</field>
            <value>
                <elementReference>Other_Party_Does_Not_Need_To_Sign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>forT_OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Date__c</field>
            <value>
                <elementReference>forD_DateTimeNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Category__c</field>
            <value>
                <stringValue>In Signatures</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Ready for Signatures</stringValue>
            </value>
        </inputAssignments>
        <object>IQVIA_Agreement__c</object>
    </recordUpdates>
    <screens>
        <name>Error_Screen</name>
        <label>Error_Screen</label>
        <locationX>2345</locationX>
        <locationY>403</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Refresh_page</targetReference>
        </connector>
        <fields>
            <name>ErrorScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;An unexpected error has occurred. Please contact the support team for help.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Error Details&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; :  &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Inactive_TL_Error</name>
        <label>Inactive_TL_Error</label>
        <locationX>777</locationX>
        <locationY>1131</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Refresh_page</targetReference>
        </connector>
        <fields>
            <name>Header_InactiveTL_DT</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: black; font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;Request for Signature Support&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Ruler</name>
            <fieldText>&lt;p&gt;{!conT_Ruler}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrMsg_Screen_DT</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(205, 33, 59);&quot;&gt;The Contract Manager&apos;s contact to whom the request is to be sent is inactive/or not assigned to the request. Please connect with the support team to update the Contract Manager&apos;s field and then try to request for review.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(205, 33, 59);&quot;&gt;﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Request_Signature_Support_Screen</name>
        <label>Request Signature Support Screen</label>
        <locationX>1002</locationX>
        <locationY>1212</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_File_List</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 20px;&quot;&gt;Request Signature Support&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sub_Header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 11px; color: black;&quot;&gt;Please provide the information below to request support from the USCC in obtaining the signatures.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_Line</name>
            <fieldText>&lt;p&gt;{!contT_rule}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Request_Signature_Support_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Request_Signature_Support_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>File_Upload</name>
                    <extensionName>c:lWC_CLM_FileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>isMultiple</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isMandatory</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Upload Document for Signature</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>upload_helpText</name>
                    <fieldText>&lt;p&gt;&lt;em style=&quot;font-size: 11px; color: black;&quot;&gt;Please upload the document to be sent for signatures.&amp;nbsp;&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Request_Signature_Support_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Request_Signature_Support_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Notes</name>
                    <fieldText>{!textT_Notes}</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Request_Signature_Support_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Request_Signature_Support_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Other_Party_Does_Not_Need_To_Sign</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_IQVIA_Agreement.Other_Party_Does_Not_Need_To_Sign__c</elementReference>
                    </defaultValue>
                    <fieldText>{!textT_other_party_label}</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Other_Party_Help_Text</name>
                    <fieldText>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); font-size: 11px; color: rgb(0, 0, 0);&quot;&gt;For PO Under MSA (PUMA) and other such agreements that do not need client signatures, check the following checkbox.&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_IQVIA_Agreement</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_Subflow_to_Create_Notes</name>
        <label>Call Subflow to Create Notes</label>
        <locationX>767</locationX>
        <locationY>2349</locationY>
        <connector>
            <targetReference>Refresh_page</targetReference>
        </connector>
        <flowName>CLM_Subflow_Create_Notes</flowName>
        <inputAssignments>
            <name>varT_Content</name>
            <value>
                <elementReference>textT_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_Title</name>
            <value>
                <stringValue>Signature Request</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_Notification_and_Create_Email_Message</name>
        <label>Send Notification and Create Email Message</label>
        <locationX>1007</locationX>
        <locationY>2449</locationY>
        <connector>
            <targetReference>Call_Subflow_to_Create_Notes</targetReference>
        </connector>
        <flowName>CLM_Subflow_Send_Notfication</flowName>
        <inputAssignments>
            <name>varC_EmailRecipients</name>
            <value>
                <elementReference>varT_EmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_EmailBody</name>
            <value>
                <elementReference>textT_EmailBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_EmailSubject</name>
            <value>
                <elementReference>textT_EmailSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_FromAddress</name>
            <value>
                <stringValue>clmintegration@iqvia.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_SenderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>textT_EmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>SIGNATURE SUPPORT REQUESTED&lt;br&gt;&lt;br&gt;{!Get_IQVIA_Agreement.Requestor__r.FirstName} {!Get_IQVIA_Agreement.Requestor__r.LastName} has requested assistance with signature processing for the following agreement. You may navigate to the agreement record directly using the link below. The document to be sent for signatures can be found in the Files list in the &apos;Related&apos; tab.&lt;br&gt;&lt;br&gt;
&lt;table class=&quot;ql-table-blob&quot; style=&quot;border-collapse: collapse; border: 1px solid&quot;&gt;&lt;tbody&gt;&lt;tr style=&quot;border-bottom: 1px solid; white-space: pre;&quot;&gt;&lt;td style=&quot;border-right: 1px solid&quot;&gt;Agreement&lt;/td&gt;&lt;td style=&quot;padding-left:10px;&quot;&gt;&lt;a href=&quot;{!forT_AgreementLink}&quot; rel=&quot;noopener noreferrer&quot;&gt;{!Get_IQVIA_Agreement.FF_Agreement_Number__c} - {!Get_IQVIA_Agreement.Name}&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;
&lt;tr style=&quot;border-bottom: 1px solid; white-space: pre;&quot;&gt;&lt;td style=&quot;border-right: 1px solid&quot;&gt;Requester&lt;/td&gt;&lt;td style=&quot;padding-left:10px;&quot;&gt;{!Get_IQVIA_Agreement.Requestor__r.FirstName}{!Get_IQVIA_Agreement.Requestor__r.LastName}&lt;/td&gt;
&lt;/tr&gt;&lt;tr style=&quot;border-bottom: 1px solid; white-space: pre;&quot;&gt;&lt;td style=&quot;border-right: 1px solid&quot;&gt;Client&lt;/td&gt;&lt;td style=&quot;padding-left:10px;&quot;&gt;&lt;a href=&quot;{!forT_Accountlink}&quot; rel=&quot;noopener noreferrer&quot;&gt;{!Get_IQVIA_Agreement.Account__r.Name}&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;
&lt;tr style=&quot;border-bottom: 1px solid; white-space: pre;&quot;&gt;&lt;td style=&quot;border-right: 1px solid&quot;&gt;Opportunity&lt;/td&gt;&lt;td style=&quot;padding-left:10px;&quot;&gt;&lt;a href=&quot;{!forT_OpportunityLink}&quot; rel=&quot;noopener noreferrer&quot;&gt;{!Get_IQVIA_Agreement.Related_Opportunity__r.Opportunity_Number__c} - {!Get_IQVIA_Agreement.Related_Opportunity__r.Name}&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;
&lt;tr style=&quot;border-bottom: 1px solid; white-space: pre;&quot;&gt;&lt;td style=&quot;border-right: 1px solid&quot;&gt;Type of Request&lt;/td&gt;&lt;td style=&quot;padding-left:10px;&quot;&gt;Signature Request&lt;/td&gt;&lt;/tr&gt;
&lt;tr style=&quot;border-bottom: 1px solid; white-space: pre;&quot;&gt;&lt;td style=&quot;border-right: 1px solid&quot;&gt;IQVIA Service Line&lt;/td&gt;&lt;td style=&quot;padding-left:10px;&quot;&gt;{!Get_IQVIA_Agreement.Primary_Business_Line1__c}&lt;/td&gt;&lt;/tr&gt;
&lt;tr style=&quot;border-bottom: 1px solid; white-space: pre;&quot;&gt;&lt;td style=&quot;border-right: 1px solid&quot;&gt;Agreement Type &lt;/td&gt;&lt;td style=&quot;padding-left:10px;&quot;&gt;{!forT_AgreementType}&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;br&gt;&lt;b&gt;&lt;em&gt;Client signatory information and other notes&lt;/em&gt;&lt;/b&gt;&lt;em&gt; : {!Notes}&lt;/em&gt;&lt;br&gt;&lt;b&gt;&lt;em&gt;Other Party Needs to Sign&lt;/em&gt;&lt;/b&gt;&lt;em&gt; : {!forT_otherPartySign}&lt;/em&gt;&lt;br&gt;&lt;br&gt;Thank you,&lt;br&gt;CLM System Notifications&lt;br&gt;
The CLM integration email &lt;b&gt;&lt;u&gt;is not&lt;/u&gt;&lt;/b&gt; an active or monitored email account, please reach out to USCC-CLM-Support@iqvia.com for any additional assistance.</text>
    </textTemplates>
    <textTemplates>
        <name>textT_EmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Signature Support Requested || Client: {!Get_IQVIA_Agreement.Account__r.Name} || Agreement : {!Get_IQVIA_Agreement.FF_Agreement_Number__c} - {!Get_IQVIA_Agreement.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>textT_Notes</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
	&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Client signatory information and other notes&lt;/strong&gt;
&lt;/p&gt;
&lt;p&gt;
	&lt;span style=&quot;font-size: 8px;&quot;&gt; &lt;/span&gt;
&lt;/p&gt;
&lt;p&gt;
	&lt;em style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 11px;&quot;&gt;﻿Please provide the name(s) and email address(es) of the client signatory(ies), and any other relevant signature process details.﻿&lt;/em&gt;
&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>textT_other_party_label</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Other Party Does Not Need To Sign&lt;/strong&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varR_Files</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_EmailAddress</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_LeadEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_LeadEmpNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_LeadEmpStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
