src/flows/CNF_Linking_with_Change_Order.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>Add the CNF to the update List</description>
        <name>addCNFToUpdateList</name>
        <label>addCNFToUpdateList</label>
        <locationX>1194</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>UpdateCNFList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CNFRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateSelectedCNFsList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>It adds the record for delinking</description>
        <name>addCNFToUpdateListDelink</name>
        <label>addCNFToUpdateListDelink</label>
        <locationX>754</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>UpdateCNFList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CNFRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateDefaultSelectedCNFList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This will concatenate all the values to be displayed on the popup</description>
        <name>concateValuesToDisplay</name>
        <label>concateValuesToDisplay</label>
        <locationX>1018</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>concatinatedCNFInfo</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>concatinatedCNFInfo</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;b&gt;Quote Name:&lt;/b&gt;&amp;nbsp;&lt;a href=&quot;/{!Iterate_CNFs.Id}&quot; target=&quot;__blank&quot;&gt;{!formattedName}&lt;/a&gt;,&amp;nbsp;&amp;nbsp;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>concatinatedCNFInfo</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;b&gt;Scenario:&lt;/b&gt;&amp;nbsp;{!formattedScenario},&amp;nbsp;&amp;nbsp;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>concatinatedCNFInfo</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;b&gt;CO Number:&lt;/b&gt;&amp;nbsp;{!formattedCONumber},&amp;nbsp;&amp;nbsp;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>concatinatedCNFInfo</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;b&gt;Status:&lt;/b&gt;&amp;nbsp;{!formattedCNFStatus},&amp;nbsp;&amp;nbsp;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>concatinatedCNFInfo</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;b&gt;Currency:&lt;/b&gt;&amp;nbsp;{!formattedCurrency},&amp;nbsp;&amp;nbsp;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>concatinatedCNFInfo</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;b&gt;Actual Quote Amount:&lt;/b&gt;&amp;nbsp;{!formattedActualQuoteAmount},&amp;nbsp;&amp;nbsp;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>concatinatedCNFInfo</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;b&gt;Approval/Rejected/Completed Date:&lt;/b&gt;&amp;nbsp;{!formattedApprovalDate}&lt;br&gt;&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>nameChangeAddToChoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This creates CNF records from selected CNF ids</description>
        <name>CreateCNFRecords</name>
        <label>CreateCNFRecords</label>
        <locationX>1106</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>CNFRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>extractOneCNFId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CNFRecord.Change_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScenarioNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CNFRecord.Related_Change_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IfCNFDefaultSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>It creates CNF records for delinking</description>
        <name>createCNFsRecordDelink</name>
        <label>createCNFsRecordDelink</label>
        <locationX>666</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>CNFRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>extractOneCNFIdDelink</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CNFRecord.Related_Change_Order__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>IfCNFStillSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>It contains the CNF already linked to CO and hence will be default selected</description>
        <name>getCNFDefaultSelected</name>
        <label>getCNFDefaultSelected</label>
        <locationX>886</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>defaultSelectedCNFIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_CNFs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>defaultSelectedCNFIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_CNFs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This will change the name of the record and also add to the choice collection for user selection</description>
        <name>nameChangeAddToChoice</name>
        <label>nameChangeAddToChoice</label>
        <locationX>1018</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Iterate_CNFs.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>concatinatedCNFInfo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CNFChoiceCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_CNFs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkCNFAlreadyLinked</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This contains all the selected CNFs on the popup</description>
        <name>SelectedCNFOnPopup</name>
        <label>SelectedCNFsOnPopup</label>
        <locationX>798</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>SelectedCNFsOnPopup</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CNF_Records_Selection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChangeOrderNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fetchChangeOrderRecordDetails.RFP_Scenario__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedCNFsOnPopup</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SelectedCNFRecordsEmpty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>It removes the iterated record id from string</description>
        <name>updateDefaultSelectedCNFList</name>
        <label>updateDefaultSelectedCNFList</label>
        <locationX>666</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>defaultSelectedCNFIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemoveOneCNFIdDelink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>defaultSelectedCNFsEmpty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This removes the currently iterated CNF</description>
        <name>UpdateSelectedCNFsList</name>
        <label>UpdateSelectedCNFsList</label>
        <locationX>1106</locationX>
        <locationY>2126</locationY>
        <assignmentItems>
            <assignToReference>SelectedCNFsOnPopup</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemoveOneCNFId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SelectedCNFRecordsEmpty</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>It will check if the CNF record is already linked to the current CO record</description>
        <name>checkCNFAlreadyLinked</name>
        <label>checkCNFAlreadyLinked</label>
        <locationX>1018</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Iterate_CNFs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CNFNotLinked</defaultConnectorLabel>
        <rules>
            <name>CNFAlreadyLinked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_CNFs.Related_Change_Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCNFDefaultSelected</targetReference>
            </connector>
            <label>CNFAlreadyLinked</label>
        </rules>
    </decisions>
    <decisions>
        <description>It checks and loop through all the default selected CNF records</description>
        <name>defaultSelectedCNFsEmpty</name>
        <label>defaultSelectedCNFsEmpty</label>
        <locationX>490</locationX>
        <locationY>1670</locationY>
        <defaultConnector>
            <targetReference>createCNFsRecordDelink</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>defaultSelectedCNFsisNotEmpty</defaultConnectorLabel>
        <rules>
            <name>defaultSelectedCNFsisEmpty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>defaultSelectedCNFIds</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>;</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>defaultSelectedCNFIds</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>UpdateCNFRecords</targetReference>
            </connector>
            <label>defaultSelectedCNFsisEmpty</label>
        </rules>
    </decisions>
    <decisions>
        <description>It checks whether there is at least 1 eligible CNF record for linking</description>
        <name>eligibleCNFsExists</name>
        <label>eligibleCNFsExists</label>
        <locationX>424</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Iterate_CNFs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CNF Exists</defaultConnectorLabel>
        <rules>
            <name>CNF_Does_Not_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getEligibleCNFRecords</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>CNF_Does_Not_Exist</targetReference>
            </connector>
            <label>CNF Does Not Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the CNF was default selected</description>
        <name>IfCNFDefaultSelected</name>
        <label>IfCNFDefaultSelected</label>
        <locationX>1106</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>addCNFToUpdateList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CNFNotDefaultSelected</defaultConnectorLabel>
        <rules>
            <name>CNFIsDefaultSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>defaultSelectedCNFIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>CNFRecord.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateSelectedCNFsList</targetReference>
            </connector>
            <label>CNFIsDefaultSelected</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the default selected CNF is still selected</description>
        <name>IfCNFStillSelected</name>
        <label>IfCNFStillSelected</label>
        <locationX>666</locationX>
        <locationY>1910</locationY>
        <defaultConnector>
            <targetReference>addCNFToUpdateListDelink</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CNFisNotStillSelected</defaultConnectorLabel>
        <rules>
            <name>CNFisStillSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CNF_Records_Selection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>CNFRecord.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateDefaultSelectedCNFList</targetReference>
            </connector>
            <label>CNFisStillSelected</label>
        </rules>
    </decisions>
    <decisions>
        <description>This will check if the Selected CNF Records are Empty</description>
        <name>SelectedCNFRecordsEmpty</name>
        <label>SelectedCNFRecordsEmpty</label>
        <locationX>798</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>CreateCNFRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SelectedCNFRecordNotEmpty</defaultConnectorLabel>
        <rules>
            <name>SelectedCNFRecordEmpty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SelectedCNFsOnPopup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>;</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectedCNFsOnPopup</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>defaultSelectedCNFsEmpty</targetReference>
            </connector>
            <label>SelectedCNFRecordEmpty</label>
        </rules>
    </decisions>
    <description>This Flow facilitates the CNF linking with the Change Order records.</description>
    <dynamicChoiceSets>
        <description>This is collection of CNFs to be shown</description>
        <name>CNFChoiceResource</name>
        <collectionReference>CNFChoiceCollection</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Apttus_Proposal__Proposal__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>This contains CNFs that are already linked to CO</description>
        <name>CNFDefaultSelectedResource</name>
        <collectionReference>CNFDefaultSelected</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Apttus_Proposal__Proposal__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <description>This extracts one CNF id from the String</description>
        <name>extractOneCNFId</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT({!SelectedCNFsOnPopup},FIND(&quot;;&quot;,{!SelectedCNFsOnPopup})-1))</expression>
    </formulas>
    <formulas>
        <description>It extracts CNF id from the id string</description>
        <name>extractOneCNFIdDelink</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT({!defaultSelectedCNFIds},FIND(&quot;;&quot;,{!defaultSelectedCNFIds})-1))</expression>
    </formulas>
    <formulas>
        <description>This will set value as 0 if its null</description>
        <name>formattedActualQuoteAmount</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!Iterate_CNFs.Actual_Quote_Amount__c})), &apos;0&apos;, TEXT({!Iterate_CNFs.Actual_Quote_Amount__c}))</expression>
    </formulas>
    <formulas>
        <description>set value as BLANK if approval date is not set</description>
        <name>formattedApprovalDate</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!Iterate_CNFs.CNF_Approval_Date__c})), &apos;BLANK&apos;, TEXT({!Iterate_CNFs.CNF_Approval_Date__c}))</expression>
    </formulas>
    <formulas>
        <description>This will substitute BLANK if the status is empty</description>
        <name>formattedCNFStatus</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!Iterate_CNFs.CNF_Status__c})), &apos;BLANK&apos;, TEXT({!Iterate_CNFs.CNF_Status__c}))</expression>
    </formulas>
    <formulas>
        <description>Set value as BLANK if its null</description>
        <name>formattedCONumber</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!Iterate_CNFs.Change_Order_Number__c})), &apos;BLANK&apos;, TEXT({!Iterate_CNFs.Change_Order_Number__c}))</expression>
    </formulas>
    <formulas>
        <description>Set value to BLANK if its null</description>
        <name>formattedCurrency</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!Iterate_CNFs.CurrencyIsoCode})), &apos;BLANK&apos;, TEXT({!Iterate_CNFs.CurrencyIsoCode}))</expression>
    </formulas>
    <formulas>
        <description>Sets value BLANK if its null</description>
        <name>formattedName</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Iterate_CNFs.Name}), &apos;BLANK&apos;, {!Iterate_CNFs.Name})</expression>
    </formulas>
    <formulas>
        <description>Set the value to Blank if its null</description>
        <name>formattedScenario</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!Iterate_CNFs.RFP_Scenario__c})), &apos;BLANK&apos;, TEXT({!Iterate_CNFs.RFP_Scenario__c}))</expression>
    </formulas>
    <formulas>
        <description>This removes the iterated CNF</description>
        <name>RemoveOneCNFId</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE({!SelectedCNFsOnPopup},{!extractOneCNFId}+&quot;;&quot;,&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <description>It removes the processed id from the string</description>
        <name>RemoveOneCNFIdDelink</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE({!defaultSelectedCNFIds},{!extractOneCNFIdDelink}+&quot;;&quot;,&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <description>Extract the Scenario Number to be assigned</description>
        <name>ScenarioNumber</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE({!ChangeOrderNumber},&quot;Change Order &quot;,&quot;&quot;))</expression>
    </formulas>
    <interviewLabel>CNF Linking with Change Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CNF Linking with Change Order</label>
    <loops>
        <description>This action will loop through the eligible CNF records</description>
        <name>Iterate_CNFs</name>
        <label>Iterate CNFs</label>
        <locationX>798</locationX>
        <locationY>518</locationY>
        <collectionReference>getEligibleCNFRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>concateValuesToDisplay</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CNF_Record_Selection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>This &quot;Get Records&quot; action is used to get all the record details of the change order record on which the CNF linking popup is opened.</description>
        <name>fetchChangeOrderRecordDetails</name>
        <label>fetchChangeOrderRecordDetails</label>
        <locationX>424</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getEligibleCNFRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Apttus_Proposal__Proposal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This &quot;Get Record&quot; action will fetch all the CNF records that are eligible for linking.</description>
        <name>getEligibleCNFRecords</name>
        <label>getEligibleCNFRecords</label>
        <locationX>424</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>eligibleCNFsExists</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5)</filterLogic>
        <filters>
            <field>Apttus_Proposal__Proposal_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CNF</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus_Proposal__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fetchChangeOrderRecordDetails.Apttus_Proposal__Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CNF_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>Related_Change_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Related_Change_Order__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Apttus_Proposal__Proposal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>This updates all the net changes of CNF records</description>
        <name>UpdateCNFRecords</name>
        <label>UpdateCNFRecords</label>
        <locationX>314</locationX>
        <locationY>1790</locationY>
        <inputReference>UpdateCNFList</inputReference>
    </recordUpdates>
    <screens>
        <description>This screen is used to show the message to the user that there are no eligible CNFs for linking.</description>
        <name>CNF_Does_Not_Exist</name>
        <label>CNF Does Not Exist</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>userMessage</name>
            <fieldText>&lt;p&gt;There are no CNF records for linking on this Opportunity.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>This shows a user popup with all the eligible CNFs for selection</description>
        <name>CNF_Record_Selection</name>
        <label>CNF Record Selection</label>
        <locationX>798</locationX>
        <locationY>1310</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SelectedCNFOnPopup</targetReference>
        </connector>
        <fields>
            <name>CNF_Records_Selection</name>
            <choiceReferences>CNFChoiceResource</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>defaultSelectedCNFIds</elementReference>
            </defaultValue>
            <fieldText>CNF Records Selection:</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>298</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>fetchChangeOrderRecordDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>It contains the change order number to be assigned to CNFs</description>
        <name>ChangeOrderNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>It will contain all the CNF records to be shown to user for selection</description>
        <name>CNFChoiceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Apttus_Proposal__Proposal__c</objectType>
    </variables>
    <variables>
        <description>CNF is already linked to CO and hence default selected</description>
        <name>CNFDefaultSelected</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Apttus_Proposal__Proposal__c</objectType>
    </variables>
    <variables>
        <description>This represents a single CNF record</description>
        <name>CNFRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus_Proposal__Proposal__c</objectType>
    </variables>
    <variables>
        <description>This contains the CNF record values in the concatenated form</description>
        <name>concatinatedCNFInfo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>This contains ; separated ids of default selected CNFs</description>
        <name>defaultSelectedCNFIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id of the current Change Order record</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This will store all selected CNF records</description>
        <name>SelectedCNFsOnPopup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is the list of CNFs to be updated</description>
        <name>UpdateCNFList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus_Proposal__Proposal__c</objectType>
    </variables>
</Flow>