src/flows/CPQ_Send_Email_Notification.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CPQ_Auto_Quote_Acceptance_Failure</name>
        <label>CPQ Auto Quote Acceptance Failure</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>Workflow_Email_Record__c.CPQ_Quote_Acceptance_Failure</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Workflow_Email_Record__c.CPQ_Quote_Acceptance_Failure</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Rejection_Email_For_EMEA</name>
        <label>Rejection Email For EMEA</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <actionName>Workflow_Email_Record__c.CPQ_IQVIA_Quote_Rejection_Email_Alert_EMEA</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Workflow_Email_Record__c.CPQ_IQVIA_Quote_Rejection_Email_Alert_EMEA</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Rejection_Email_For_Non_EMEA</name>
        <label>Rejection Email For Non EMEA</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <actionName>Workflow_Email_Record__c.CPQ_IQVIA_Quote_Rejection_Email_Alert_For_Non_EMEA</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Workflow_Email_Record__c.CPQ_IQVIA_Quote_Rejection_Email_Alert_For_Non_EMEA</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <actionName>Workflow_Email_Record__c.IQVIA_CPQ_Send_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Workflow_Email_Record__c.IQVIA_CPQ_Send_Email_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_To_Notifiers</name>
        <label>Send Email To Notifiers</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Workflow_Email_Record__c.CPQ_Approval_Process_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Workflow_Email_Record__c.CPQ_Approval_Process_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_To_Quote_Notifiers</name>
        <label>Send Email To Quote Notifiers</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <actionName>Workflow_Email_Record__c.CPQ_IQVIA_Quote_Notifier_EmailAlert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Workflow_Email_Record__c.CPQ_IQVIA_Quote_Notifier_EmailAlert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Recall_Notification</name>
        <label>Send Recall Notification</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <actionName>Workflow_Email_Record__c.CPQ_IQVIA_Quote_Recall_Notifier_EmailAlert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Workflow_Email_Record__c.CPQ_IQVIA_Quote_Recall_Notifier_EmailAlert</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>CPQ_Select_Email</name>
        <label>CPQ Select Email</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CPQ_Approval_Process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CPQ_01_SendEmail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_To_Notifiers</targetReference>
            </connector>
            <label>CPQ Approval Process</label>
        </rules>
        <rules>
            <name>CPQ_Batch_Failure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CPQ_02_SendEmail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CPQ_Auto_Quote_Acceptance_Failure</targetReference>
            </connector>
            <label>CPQ Batch Failure</label>
        </rules>
        <rules>
            <name>IQVIA_CPQ_Approval_Process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CPQ_03_SendEmail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_To_Quote_Notifiers</targetReference>
            </connector>
            <label>IQVIA CPQ Approval Process</label>
        </rules>
        <rules>
            <name>IQVIA_CPQ_Recall</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CPQ_04_SendEmail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Recall_Notification</targetReference>
            </connector>
            <label>IQVIA CPQ Recall Notification</label>
        </rules>
        <rules>
            <name>CPQ_IQVIA_Send_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CPQ_05_SendEmail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email</targetReference>
            </connector>
            <label>CPQ_IQVIA_Send_Email</label>
        </rules>
        <rules>
            <name>CPQ_IQVIA_Final_Rejection_Email_For_EMEA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CPQ_06_SendEmail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rejection_Email_For_EMEA</targetReference>
            </connector>
            <label>CPQ IQVIA Final Rejection Email For EMEA</label>
        </rules>
        <rules>
            <name>CPQ_IQVIA_Final_Rejection_Email_For_Non_EMEA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CPQ_07_SendEmail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rejection_Email_For_Non_EMEA</targetReference>
            </connector>
            <label>CPQ IQVIA Final Rejection Email For Non EMEA</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CPQ Send A {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CPQ Send Email Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CPQ_Select_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Module_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CPQ</stringValue>
            </value>
        </filters>
        <object>Workflow_Email_Record__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
