src/flows/CRM_Subflow_Task_Email_Alert.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Task_Creator_Email</name>
        <label>Notify Task Creator Email</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <actionName>Task.CRM_MC_ESPSFDCQI_2064_Notify_task_creator</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>TaskRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Task.CRM_MC_ESPSFDCQI_2064_Notify_task_creator</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <constants>
        <name>CPQTask</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CPQ_Task</stringValue>
        </value>
    </constants>
    <constants>
        <name>EloquaAppUser</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Eloqua App User</stringValue>
        </value>
    </constants>
    <constants>
        <name>EloquaIntegrationUser</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Eloqua Integration User</stringValue>
        </value>
    </constants>
    <constants>
        <name>PRMCommunityUser</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PRM Community User</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Task_Email_Alert</name>
        <label>Task Email Alert</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TaskEmailAlert</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5 AND 6 AND 7 AND 8 AND 9</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Mulesoft_Integration_Control__c.Ignore_Validation_Rules__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.Mulesoft_Integration_Control__c.Is_Mulesoft_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TaskRecord.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CPQTask</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TaskRecord.CreatedById</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>TaskRecord.LastModifiedById</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TaskRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TaskRecord.CreatedBy.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>PRMCommunityUser</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TaskRecord.CreatedBy.Full_User_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>EloquaIntegrationUser</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TaskRecord.CreatedBy.Full_User_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>EloquaAppUser</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TaskRecord.CreatedBy.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Task_Creator_Email</targetReference>
            </connector>
            <label>TaskEmailAlert</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CRM Subflow : CRM_Task_Email_Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CRM Subflow : Task_Email_Alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Task_Email_Alert</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>TaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
