src/flows/CRM_Subflow_Account_Descartes_Risk_Rating_Notifications.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alert_for_update_risk_rating_notifications</name>
        <label>Alert for update risk rating notifications</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <actionName>Account.ACC_WEA01_CRM_MC_UpdateRiskRatingNotification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>AccountRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.ACC_WEA01_CRM_MC_UpdateRiskRatingNotification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <description>Condition check for DPS status pending</description>
        <name>Check_DPS_Status</name>
        <label>Check_DPS_Status</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DPS_Status_PENDING</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountRecord.DPS_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsChangedDPSStatusVal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_for_update_risk_rating_notifications</targetReference>
            </connector>
            <label>DPS_Status_PENDING</label>
        </rules>
    </decisions>
    <description>Subflow for the workflow rule - ACC_WR02_CRM_Descartes_RiskRating</description>
    <environments>Default</environments>
    <interviewLabel>CRM_Subflow_Account_Descartes_Risk_Rating_Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CRM_Subflow_Account_Descartes_Risk_Rating_Notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_DPS_Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Variable to hold account record</description>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>IsChangedDPSStatusVal</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
