src/flows/CRM_SubFlow_OLI_WR02_CRM_Tech_Lead_Assign.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>OLI_EA01_CRM_Tech_Lead_Assign</name>
        <label>OLI_EA01_CRM_Tech Lead Assign</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <actionName>OpportunityLineItem.OLI_EA01_CRM_Tech_Lead_Assign</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <stringValue>{!Opportunity_Product.Id}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>OpportunityLineItem.OLI_EA01_CRM_Tech_Lead_Assign</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Product_SalesLead_Record</name>
        <label>Product SalesLead Record</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_SalesLead_Record1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity_Product.Product_SalesLead__r.Salesforce_User__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Current_Userid</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Is_Changed_Product_SalesLead</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity_Product.Product_SalesLead__r.Email</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.Email_Execution_Control__c.Stop_Send_Emails__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OLI_EA01_CRM_Tech_Lead_Assign</targetReference>
            </connector>
            <label>Product SalesLead Record</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Current_Userid</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <interviewLabel>CRM SubFlow : {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CRM SubFlow : OLI_WR02_CRM_Tech_Lead_Assign</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Product_SalesLead_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Is_Changed_Product_SalesLead</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Opportunity_Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
