src/flows/CRM_Subflow_BNF_WR01_Purchase_BNF_Send_Mail_to_RA.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Alert_BNF_Approval</name>
        <label>Email Alert BNF Approval</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <actionName>BNF2__c.Internal_notification_to_Revenue_Analyst_to_begin_BNF_Approval_process</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_newRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BNF2__c.Internal_notification_to_Revenue_Analyst_to_begin_BNF_Approval_process</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <constants>
        <name>isNull</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Purchase_BNF_Status_Email_alert_condition</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 )AND 5</conditionLogic>
            <conditions>
                <leftValueReference>var_newRecord.BNF_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_newRecord.BNF_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LO Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_newRecord.BNF_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SAP Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_newRecord.BNF_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SAP Contract Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_newRecord.Revenue_Analyst__r.Owner:Group.Id</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Email_Alert_BNF_Approval</targetReference>
            </connector>
            <label>Purchase/BNF_Status_Email_alert_condition</label>
        </rules>
    </decisions>
    <description>CRM-MC-ESPSFDCQI-6100</description>
    <environments>Default</environments>
    <interviewLabel>CRM_Subflow : BNF_WR01_Purchase_BNF_Send_Mail_to_RA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CRM_Subflow : BNF_WR01_Purchase_BNF_Send_Mail_to_RA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_newRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BNF2__c</objectType>
    </variables>
    <variables>
        <name>var_oldRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BNF2__c</objectType>
    </variables>
</Flow>
