src/flows/CRM_Opp_Product_RecordTriggeredAfter.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>Is_Changed_Product_Sales_Lead_Formula</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.Product_SalesLead__c})</expression>
    </formulas>
    <formulas>
        <name>Is_Changed_SalesEngineer_Formula</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.SalesEngineer__c})</expression>
    </formulas>
    <interviewLabel>CRM_Opp_Product_RecordTriggeredAfter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CRM_Opp_Product_RecordTriggeredAfter</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>OLI_WR03_CRM_Sales_Engineer_Assign</targetReference>
        </connector>
        <object>OpportunityLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>OLI_WR02_CRM_Tech_Lead_Assign</name>
        <label>OLI_WR02_CRM_Tech_Lead_Assign</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <flowName>CRM_SubFlow_OLI_WR02_CRM_Tech_Lead_Assign</flowName>
        <inputAssignments>
            <name>Is_Changed_Product_SalesLead</name>
            <value>
                <elementReference>Is_Changed_Product_Sales_Lead_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Opportunity_Product</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>OLI_WR03_CRM_Sales_Engineer_Assign</name>
        <label>OLI_WR03_CRM_Sales_Engineer_Assign</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>OLI_WR02_CRM_Tech_Lead_Assign</targetReference>
        </connector>
        <flowName>CRM_SubFlow_OLI_WR03_CRM_Sales_Engineer_Assign</flowName>
        <inputAssignments>
            <name>IS_Changed_SalesEngineer</name>
            <value>
                <elementReference>Is_Changed_SalesEngineer_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
