src/flows/CRM_Flow_CSAT_Survey_Recipient_to_Qualtrics.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>This outbound is sent when all the conditions of the decision element are satisfied and IQVIA Biotech field is not considered</description>
        <name>Send_Outbound_irrespective_of_IQVIA_Biotech_field</name>
        <label>Send Outbound irrespective of IQVIA Biotech field</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <actionName>Client_Sat_Survey_Recipient__c.Create_Outbound_Message_Survey_Rec</actionName>
        <actionType>outboundMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Client_Sat_Survey_Recipient__c.Create_Outbound_Message_Survey_Rec</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Outbound_when_BioTech_Only</name>
        <label>Send Outbound when BioTech Only</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <actionName>Client_Sat_Survey_Recipient__c.CSAT_Survey_Rec_BioTech_Outbound</actionName>
        <actionType>outboundMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Client_Sat_Survey_Recipient__c.CSAT_Survey_Rec_BioTech_Outbound</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Outbound_when_MedTech</name>
        <label>Send Outbound when MedTech</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>Client_Sat_Survey_Recipient__c.CSAT_Survey_Rec_MedTech_Outbound</actionName>
        <actionType>outboundMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Client_Sat_Survey_Recipient__c.CSAT_Survey_Rec_MedTech_Outbound</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <constants>
        <name>BioTechGPU</name>
        <dataType>String</dataType>
        <value>
            <stringValue>BioTech</stringValue>
        </value>
    </constants>
    <constants>
        <name>MedTechGPU</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MedTech</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_if_Send_or_Not</name>
        <label>Check if Send or Not</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Condition_Met</name>
            <conditionLogic>(( 1 AND 5  ) OR ( 2 AND 3 AND 4 ))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Retrigger_Outbound__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact__r.Survey_Opt_Out__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Line_of_Business__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Q2 Solutions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckIfRecordIsCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Retrigger_Outbound__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_IQVIA_BioTech_Yes</targetReference>
            </connector>
            <label>Condition Met</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_IQVIA_BioTech_Yes</name>
        <label>Is IQVIA BioTech Yes</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Send_Outbound_irrespective_of_IQVIA_Biotech_field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Send_Outbound_message_for_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Client_Sat_Survey__r.Opportunity__r.Is_this_IQVIA_Biotech__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Global_Project_Unit__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>MedTechGPU</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Outbound_when_MedTech</targetReference>
            </connector>
            <label>Yes_MedTech</label>
        </rules>
        <rules>
            <name>Send_Outbound_for_BioTech</name>
            <conditionLogic>1 AND 2 AND (NOT 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Client_Sat_Survey__r.Opportunity__r.Is_this_IQVIA_Biotech__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Global_Project_Unit__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>BioTechGPU</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Global_Project_Unit__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>MedTechGPU</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Outbound_when_BioTech_Only</targetReference>
            </connector>
            <label>Yes_BioTech</label>
        </rules>
    </decisions>
    <description>ESPSFDCQI-15319</description>
    <environments>Default</environments>
    <formulas>
        <name>CheckIfRecordIsCreated</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>CRM Flow : CSAT Survey Receipient to Qualtrics {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CRM Flow : CSAT Survey Recipient to Qualtrics</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Send_or_Not</targetReference>
        </connector>
        <object>Client_Sat_Survey_Recipient__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>MailSendwhenIQVIAbiotechNO</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>This Mail Is Send When The IQVIA biotech is no</text>
    </textTemplates>
    <textTemplates>
        <name>SubjectIQVIABiotechNo</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Subject When IQVIA Biotech No</text>
    </textTemplates>
    <textTemplates>
        <name>TestEmailSub</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Subject&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TextTempForMedtect</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;hi Test This is Test Email When GPU Contains &lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Biotech MedTech Both&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>WhenGPUBIOTECHonly</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>When GPU BIOTECH only</text>
    </textTemplates>
    <textTemplates>
        <name>WhenGpUisBiotechOnly</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Mail When GPU is Biotech Only</text>
    </textTemplates>
</Flow>
