src/flows/CRM_SubFlow_Email_alert_for_Opportunity_Closed_Lost_and_LOB_Avacare.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>email_alert_Opportunity_Closed_Lost</name>
        <label>email alert: &apos;Opportunity Closed Lost&apos;</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <actionName>Opportunity.Opp_EA11_Opportunity_Marked_Lost_Avacare</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opp_EA11_Opportunity_Marked_Lost_Avacare</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Opportunity_Changed</name>
        <label>Opportunity Stage Changed</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Confition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7b. Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Avacare</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>email_alert_Opportunity_Closed_Lost</targetReference>
            </connector>
            <label>Check Confition</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CRM SubFlow :  Email alert for &apos;Opportunity Closed Lost&apos; and LOB=Avacare {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CRM SubFlow :  Email alert for &apos;Opportunity Closed Lost&apos; and LOB=Avacare</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opportunity_Changed</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>IsChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
