src/flows/CRM_Subflow_MQL_task_reminder_including_manager.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>MQL_Task_reminder_including_manager</name>
        <label>MQL Task reminder including manager</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <actionName>Task.TSK_EA02_MQL_task_reminder_including_manager</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>TaskRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Task.TSK_EA02_MQL_task_reminder_including_manager</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <constants>
        <name>GlobalMarketing</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Global Marketing</stringValue>
        </value>
    </constants>
    <constants>
        <name>InsideSales</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Inside Sales</stringValue>
        </value>
    </constants>
    <constants>
        <name>MQLTask</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MQL_Task</stringValue>
        </value>
    </constants>
    <decisions>
        <name>MQLTaskReminderCheck</name>
        <label>MQLTaskReminderCheck</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckConditions</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>TaskRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Started</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TaskRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MQLTask</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TaskRecord.Owner:User.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>GlobalMarketing</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TaskRecord.Owner:User.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>InsideSales</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TaskRecord.Email_Of_Manager__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MQL_Task_reminder_including_manager</targetReference>
            </connector>
            <label>CheckConditions</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CRM Subflow : MQL task reminder including manager {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CRM Subflow : MQL task reminder including manager</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>MQLTaskReminderCheck</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>flowTriggerDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.InterviewStartTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>TaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
