src/flows/CRM_Task_ScheduledRecordTriggered_After.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <description>This record triggered flow contains scheduled path only for Task flows</description>
    <environments>Default</environments>
    <interviewLabel>CRM_Task_ScheduledRecordTriggered_After {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CRM_Task_ScheduledRecordTriggered_After</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>TSK_WR01_CRM_MQL_Task_Reminder_Path</name>
            <connector>
                <targetReference>CRM_Subflow_CRM_MQL_Task_Reminder</targetReference>
            </connector>
            <label>TSK_WR01_CRM_MQL_Task_Reminder_Path</label>
            <offsetNumber>4</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>ActivityDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>TSK_WR03_MQL_task_reminder_Path</name>
            <connector>
                <targetReference>CRM_Subflow_MQL_task_reminder</targetReference>
            </connector>
            <label>TSK_WR03_MQL task reminder_Path</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>TSK_WR04_MQL_task_reminder_including_manager_Path</name>
            <connector>
                <targetReference>CRM_Subflow_MQL_task_reminder_including_manager</targetReference>
            </connector>
            <label>TSK_WR04_MQL task reminder including manager Path</label>
            <offsetNumber>4</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>CRM_Subflow_CRM_MQL_Task_Reminder</name>
        <label>CRM Subflow CRM_MQL_Task_Reminder</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <flowName>CRM_Subflow_CRM_MQL_Task_Reminder</flowName>
        <inputAssignments>
            <name>TaskRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>CRM_Subflow_MQL_task_reminder</name>
        <label>CRM Subflow MQL task reminder</label>
        <locationX>314</locationX>
        <locationY>276</locationY>
        <flowName>CRM_Subflow_MQL_task_reminder</flowName>
        <inputAssignments>
            <name>TaskRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>CRM_Subflow_MQL_task_reminder_including_manager</name>
        <label>CRM Subflow MQL task reminder including manager</label>
        <locationX>578</locationX>
        <locationY>276</locationY>
        <flowName>CRM_Subflow_MQL_task_reminder_including_manager</flowName>
        <inputAssignments>
            <name>TaskRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
