src/flows/CRM_SiteSubmission_RecordTriggerAfter.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <description>Under ESPSFDCQI-16338</description>
    <environments>Default</environments>
    <formulas>
        <name>IsChangedPSVScheduledFor</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.PSV_Scheduled_for__c})</expression>
    </formulas>
    <formulas>
        <name>IsChangedStatus</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.Status__c})</expression>
    </formulas>
    <formulas>
        <description>Returns true if site submission record is new</description>
        <name>IsNewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>CRM_SiteSubmission_RecordTriggerAfter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CRM_SiteSubmission_RecordTriggerAfter</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PSVdateschedulednotification</targetReference>
        </connector>
        <object>Site_Submission__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>PSVdateschedulednotification</name>
        <label>PSV Date Scheduled</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Site_awarded_notification</targetReference>
        </connector>
        <flowName>CRM_Subflow_SS_PSV_Date_Scheduled</flowName>
        <inputAssignments>
            <name>IsChangedPSVDate</name>
            <value>
                <elementReference>IsChangedPSVScheduledFor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IsNew</name>
            <value>
                <elementReference>IsNewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SiteSubmissionRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Site awarded notification</description>
        <name>Site_awarded_notification</name>
        <label>Site awarded notification</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Site_Lost_Notification</targetReference>
        </connector>
        <flowName>CRM_Subflow_SS_Site_Awarded_Notification</flowName>
        <inputAssignments>
            <name>IsChangedStatus</name>
            <value>
                <elementReference>IsChangedStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IsNew</name>
            <value>
                <elementReference>IsNewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SiteSubmissionRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Site_Lost_Notification</name>
        <label>Site Lost Notification</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Site_Selected_notification</targetReference>
        </connector>
        <flowName>CRM_Subflow_SS_Site_Lost_Notification</flowName>
        <inputAssignments>
            <name>IsChangedStatus</name>
            <value>
                <elementReference>IsChangedStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IsNew</name>
            <value>
                <elementReference>IsNewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SiteSubmissionRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Site_Selected_notification</name>
        <label>Site Selected notification</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <flowName>CRM_Subflow_SS_Site_Selected_Notification</flowName>
        <inputAssignments>
            <name>IsChangedStatus</name>
            <value>
                <elementReference>IsChangedStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IsNew</name>
            <value>
                <elementReference>IsNewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SiteSubmissionRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
