src/flows/CRM_Subflow_Opportunity_Win_Loss_Email_Alerts.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>IQVIA_Biotech_Opportunity_Closed_Lost_Alert_Email</name>
        <label>IQVIA_Biotech_Opportunity_Closed_Lost_Alert</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <actionName>Opportunity.IQVIA_Biotech_Opportunity_Closed_Lost_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varR_NewRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.IQVIA_Biotech_Opportunity_Closed_Lost_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Opp_win_alert_amount_50k</name>
        <label>Opp win alert amount &gt;= 50k</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <actionName>Opportunity.OPP_EA10_CRM_R_D_Opp_Win_Alert_50k</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varR_NewRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.OPP_EA10_CRM_R_D_Opp_Win_Alert_50k</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>RD_S_Opportunity_5_Finalizing_Deal_AlertEmail</name>
        <label>RD&amp;S Opportunity 5-Finalizing Deal Alert</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <actionName>Opportunity.RD_S_Opportunity_5_Finalizing_Deal_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varR_NewRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.RD_S_Opportunity_5_Finalizing_Deal_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>RD_S_Opportunity_Closed_Lost_AlertEmail</name>
        <label>RD&amp;S Opportunity Closed Lost Alert</label>
        <locationX>1370</locationX>
        <locationY>782</locationY>
        <actionName>Opportunity.RD_S_Opportunity_Closed_Lost_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varR_NewRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.RD_S_Opportunity_Closed_Lost_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>TAKEDA_Account_Opportunity_5_Finalizing_Deal_EmailAlert</name>
        <label>TAKEDA_Account_Opportunity_5_Finalizing_Deal_Alert</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <actionName>Opportunity.TAKEDA_Account_Opportunity_5_Finalizing_Deal_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varR_NewRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.TAKEDA_Account_Opportunity_5_Finalizing_Deal_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Takeda_Closed_lost_alert</name>
        <label>Takeda Closed lost alert</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <actionName>Opportunity.TAKEDA_Account_Opportunity_7b_Closed_Lost_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varR_NewRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.TAKEDA_Account_Opportunity_7b_Closed_Lost_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <constants>
        <description>Constant that denotes NULL value</description>
        <name>NULL_VALUE</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <decisions>
        <name>OPP_CRM_IQVIABiotech_LossAlert</name>
        <label>OPP_CRM_IQVIABiotech_LossAlert</label>
        <locationX>1073</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>OPP_WR06_CRM_RD_S_Opportunity_5_Finalizing_Deal_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IQVIA_Biotech_Opportunity_Closed_Lost_Alert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsChangedStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7b. Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Is_this_IQVIA_Biotech__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IQVIA_Biotech_Opportunity_Closed_Lost_Alert_Email</targetReference>
            </connector>
            <label>IQVIA_Biotech_Opportunity_Closed_Lost_Alert</label>
        </rules>
    </decisions>
    <decisions>
        <name>OPP_WR06_CRM_RD_S_Opportunity_5_Finalizing_Deal_Alert</name>
        <label>OPP_WR06_CRM_RD&amp;S Opportunity 5-Finalizing Deal Alert</label>
        <locationX>1304</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>OPP_WR07_CRM_RD_S_Opportunity_Closed_Lost_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RD_S_Opportunity_5_Finalizing_Deal_Alert</name>
            <conditionLogic>1 AND 2 AND 3 AND  (4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15 OR 16)</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsChangedStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5. Finalizing Deal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clinical</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Connected Devices</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Data Sciences</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Safety &amp; Med Info</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Early Clinical Development</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Evidence Based Medicine (EBM)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outcome</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Regulatory &amp; Drug Development Solutions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Patient &amp; DCT Solutions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clinical Technology</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RWLP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medical Affairs</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tech &amp; Data</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RD_S_Opportunity_5_Finalizing_Deal_AlertEmail</targetReference>
            </connector>
            <label>RD_S_Opportunity_5_Finalizing_Deal_Alert</label>
        </rules>
    </decisions>
    <decisions>
        <name>OPP_WR07_CRM_RD_S_Opportunity_Closed_Lost_Alert</name>
        <label>OPP_WR07_CRM_RD&amp;S Opportunity Closed Lost Alert</label>
        <locationX>1502</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RD_S_Opportunity_Closed_Lost_Alert</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 15 OR 16 OR 17) AND (NOT(13 OR 14))</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsChangedStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7b. Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clinical</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Connected Devices</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Data Sciences</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Safety &amp; Med Info</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Early Clinical Development</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Evidence Based Medicine (EBM)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outcome</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Regulatory &amp; Drug Development Solutions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Patient &amp; DCT Solutions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Loss_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stopped</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Loss_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Duplicate Opportunity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RWLP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medical Affairs</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tech &amp; Data</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RD_S_Opportunity_Closed_Lost_AlertEmail</targetReference>
            </connector>
            <label>RD_S_Opportunity_Closed_Lost_Alert</label>
        </rules>
    </decisions>
    <decisions>
        <name>OPP_WR10_CRM_R_D_Opp_Win_Alert_50k</name>
        <label>OPP_WR10_CRM_R&amp;D_Opp_Win_Alert_&gt;_50k</label>
        <locationX>309</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>TAKEDA_Win_Alert_Criteria</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OPP_EA10_CRM_R_D_Opp_Win_Alert_50k</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>varR_OldRecord.Actual_Close_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Actual_Close_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Main_Delivery_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Germany</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Amount_In_USD__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>50000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7a. Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7b. Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opp_win_alert_amount_50k</targetReference>
            </connector>
            <label>OPP_EA10_CRM_R_D_Opp_Win_Alert_50k</label>
        </rules>
    </decisions>
    <decisions>
        <name>TAKEDA_Loss_Alert_Criteria</name>
        <label>TAKEDA Loss Alert Criteria</label>
        <locationX>825</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>OPP_CRM_IQVIABiotech_LossAlert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TAKEDA_Account_Closed_Lost_Alert</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13) AND 14  AND (NOT(15 OR 16))</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsChangedStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Account.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Account.Parent.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TAKEDA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clinical</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Connected Devices</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Data Sciences</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clinical Technology</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Early Clinical Development</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Safety &amp; Med Info</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outcome</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Regulatory &amp; Drug Development Solutions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Patient &amp; DCT Solutions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7b. Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Loss_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stopped</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Loss_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Duplicate Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Takeda_Closed_lost_alert</targetReference>
            </connector>
            <label>TAKEDA_Account_Closed_Lost_Alert</label>
        </rules>
    </decisions>
    <decisions>
        <name>TAKEDA_Win_Alert_Criteria</name>
        <label>TAKEDA Win Alert Criteria</label>
        <locationX>569</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>TAKEDA_Loss_Alert_Criteria</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TAKEDA_Account_Opportunity_5_Finalizing_Deal_Alert</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13) AND 14</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsChangedStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Account.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Account.Parent.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TAKEDA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clinical</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Connected Devices</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Data Sciences</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clinical Technology</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Early Clinical Development</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Safety &amp; Med Info</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outcome</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Regulatory &amp; Drug Development Solutions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Patient &amp; DCT Solutions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_NewRecord.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5. Finalizing Deal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TAKEDA_Account_Opportunity_5_Finalizing_Deal_EmailAlert</targetReference>
            </connector>
            <label>TAKEDA_Account_Opportunity_5_Finalizing_Deal_Alert</label>
        </rules>
    </decisions>
    <description>This flow will run for Opportunity win loss email alerts</description>
    <environments>Default</environments>
    <interviewLabel>CRM Subflow Opportunity Win Loss Email Alerts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CRM Subflow Opportunity Win Loss Email Alerts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>183</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>OPP_WR10_CRM_R_D_Opp_Win_Alert_50k</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>IsChangedStage</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varR_NewRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varR_OldRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
