src/flows/CRM_Subflow_MQL_TASK_Creation_Reminder.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>MQL_Task_Creation_Alert</name>
        <label>MQL Task Creation Alert</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <actionName>Task.TSK_EA03_MQL_Task_Creation_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>TaskRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Task.TSK_EA03_MQL_Task_Creation_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <constants>
        <name>MQLTask</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MQL_Task</stringValue>
        </value>
    </constants>
    <decisions>
        <name>CheckForMQLTask</name>
        <label>CheckForMQLTask</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MQLTaskCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MQLTask</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TaskRecord.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Urgent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TaskRecord.Owner:User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MQL_Task_Creation_Alert</targetReference>
            </connector>
            <label>MQLTaskCheck</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CRM Subflow : MQL_TASK_Creation_Reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CRM Subflow : MQL_TASK_Creation_Reminder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckForMQLTask</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>TaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
