src/flows/CRM_TASK_RecordTriggeredAfter.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>IsChangedStatus</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.Status})</expression>
    </formulas>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>CRM_TASK_RecordTriggerAfter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CRM_TASK_RecordTriggeredAfter</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CRM_Subflow_Task_Email_Alert</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>CRM_Subflow_MQL_TASK_Creation_Reminder</name>
        <label>CRM Subflow MQL_TASK_Creation_Reminder</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <flowName>CRM_Subflow_MQL_TASK_Creation_Reminder</flowName>
        <inputAssignments>
            <name>IsNew</name>
            <value>
                <elementReference>ISNEW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TaskRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>CRM_Subflow_Task_Email_Alert</name>
        <label>CRM Subflow Task_Email_Alert</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>CRM_Subflow_MQL_TASK_Creation_Reminder</targetReference>
        </connector>
        <flowName>CRM_Subflow_Task_Email_Alert</flowName>
        <inputAssignments>
            <name>TaskRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>flowTriggerDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.InterviewStartTime</elementReference>
        </value>
    </variables>
</Flow>
