src/flows/CSM_Knowledge_PublishedArticle_AND_ReviewDate.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_KNO_WEA01_CSM_ACN_ArticleReviewDate</name>
        <label>KNO_WEA01_CSM_ACN_ArticleReviewDate</label>
        <locationX>1370</locationX>
        <locationY>384</locationY>
        <actionName>Knowledge__kav.KNO_WEA01_CSM_ACN_ArticleReviewDate</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Knowledge__kav.KNO_WEA01_CSM_ACN_ArticleReviewDate</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>CSM-2724</description>
        <name>KNO_ET_CSM_ArticleArchivedDeleted</name>
        <label>KNO_ET_CSM_ArticleArchivedDeleted</label>
        <locationX>314</locationX>
        <locationY>492</locationY>
        <actionName>Account.Approval_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.Approval_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>KNO_KNO_WEA02_CSM_ACN_PublishedArticleWEA02_CSM_ACN_PublishedArticle</name>
        <label>KNO_WEA02_CSM_ACN_PublishedArticle</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <actionName>Knowledge__kav.KNO_WEA02_CSM_ACN_PublishedArticle</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Knowledge__kav.KNO_WEA02_CSM_ACN_PublishedArticle</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>KNO_WEA01_CSM_ACN_ArticleReviewDate</name>
        <label>KNO_WEA01_CSM_ACN_ArticleReviewDate</label>
        <locationX>842</locationX>
        <locationY>384</locationY>
        <actionName>Knowledge__kav.KNO_WEA01_CSM_ACN_ArticleReviewDate</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Knowledge__kav.KNO_WEA01_CSM_ACN_ArticleReviewDate</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_for_Archieved_or_Deleted</name>
        <label>Check for Archieved or Deleted</label>
        <locationX>446</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ArchievedORDeleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PublishStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Archived</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsDeleted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>KNO_ET_CSM_ArticleArchivedDeleted</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>ArchievedORDeleted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Publication_Status</name>
        <label>Check Publication Status</label>
        <locationX>248</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Check_for_Archieved_or_Deleted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Publication_Status</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PublishStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Online</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Title</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>:CSM_Knowledge_PublishedArticle_AND_ReviewDate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>KNO_KNO_WEA02_CSM_ACN_PublishedArticleWEA02_CSM_ACN_PublishedArticle</targetReference>
            </connector>
            <label>Publication Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Publication_Status</name>
        <label>Check Publication Status</label>
        <locationX>1502</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Publication_Status</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PublishStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Online</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Title</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>:CSM_Knowledge_PublishedArticle_AND_ReviewDate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_KNO_WEA01_CSM_ACN_ArticleReviewDate</targetReference>
            </connector>
            <label>Status = Publication</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Check_Publication_Status</name>
        <label>Check Publication Status</label>
        <locationX>974</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Status_Publication</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PublishStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Online</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Title</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>:CSM_Knowledge_PublishedArticle_AND_ReviewDate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>KNO_WEA01_CSM_ACN_ArticleReviewDate</targetReference>
            </connector>
            <label>Status = Publication</label>
        </rules>
    </decisions>
    <description>Updated as per CSM-2615 Knowledge published Article,Updated as per CSM-2724,Update as Per CSM-3082</description>
    <environments>Default</environments>
    <interviewLabel>CSM_Knowledge_PublishedArticle_AND_ReviewDate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CSM_Knowledge_PublishedArticle_AND_ReviewDate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>749</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Publication_Status</targetReference>
        </connector>
        <object>Knowledge__kav</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>ScheduledPathForReviewDate</name>
            <connector>
                <targetReference>Copy_2_of_Check_Publication_Status</targetReference>
            </connector>
            <label>ScheduledPathForReviewDate</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>ReviewDate__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X10_Days_before_ReviewDate</name>
            <connector>
                <targetReference>Copy_1_of_Check_Publication_Status</targetReference>
            </connector>
            <label>10 Days before ReviewDate</label>
            <offsetNumber>-10</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>ReviewDate__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>