src/flows/CSM_Send_Email_to_CSH_Case_Follower_when_Status_Changed.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CSM_TECH_EN_Case_Status_Change_CSH_Follower</name>
        <label>CSM TECH EN Case Status Change CSH Follower</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <actionName>CSM_QI_Case_Follower__c.CSM_TECH_EN_Case_Status_Change_CSH_Follower</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Loop_through_CSM_QI_Case_Followers</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseFollower.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CSM_QI_Case_Follower__c.CSM_TECH_EN_Case_Status_Change_CSH_Follower</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CSM_TECH_EN_Case_Status_Change_CSH_Follower_Default</name>
        <label>CSM TECH EN Case Status Change CSH Follower Default</label>
        <locationX>1056</locationX>
        <locationY>518</locationY>
        <actionName>CSM_QI_Case_Follower__c.CSM_TECH_EN_Case_Status_Change_CSH_Follower</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Loop_through_CSM_QI_Case_Followers</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseFollower.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CSM_QI_Case_Follower__c.CSM_TECH_EN_Case_Status_Change_CSH_Follower</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CSM_TECH_FI_Case_Status_Change_CSH_Case_Follower</name>
        <label>CSM_TECH_FI_Case_Status_Change_CSH_Case_Follower</label>
        <locationX>792</locationX>
        <locationY>518</locationY>
        <actionName>CSM_QI_Case_Follower__c.CSM_TECH_FI_Case_Status_Change_CSH_Case_Follower</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Loop_through_CSM_QI_Case_Followers</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseFollower.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CSM_QI_Case_Follower__c.CSM_TECH_FI_Case_Status_Change_CSH_Case_Follower</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CSM_TECH_JP_Case_Status_Change_CSH_Case_Follower</name>
        <label>CSM TECH JP Case Status Change CSH Case Follower</label>
        <locationX>528</locationX>
        <locationY>518</locationY>
        <actionName>CSM_QI_Case_Follower__c.CSM_TECH_JP_Case_Status_Change_CSH_Case_Follower</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Loop_through_CSM_QI_Case_Followers</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseFollower.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CSM_QI_Case_Follower__c.CSM_TECH_JP_Case_Status_Change_CSH_Case_Follower</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>StatusChangeSendEmailbyAccountCountry</name>
        <label>StatusChangeSendEmailbyAccountCountry</label>
        <locationX>660</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>CSM_TECH_EN_Case_Status_Change_CSH_Follower_Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>CSH_US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseFollower.Account_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CSM_TECH_EN_Case_Status_Change_CSH_Follower</targetReference>
            </connector>
            <label>CSH US</label>
        </rules>
        <rules>
            <name>CSH_JP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseFollower.Account_Country__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>CSM_TECH_JP_Case_Status_Change_CSH_Case_Follower</targetReference>
            </connector>
            <label>CSH JP</label>
        </rules>
        <rules>
            <name>CSH_FI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseFollower.Account_Country__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>CSM_TECH_FI_Case_Status_Change_CSH_Case_Follower</targetReference>
            </connector>
            <label>CSH FI</label>
        </rules>
    </decisions>
    <interviewLabel>CSM Send Email to CSH Case Follower when Status Changed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CSM Send Email to CSH Case Follower when Status Changed</label>
    <loops>
        <name>Loop_through_CSM_QI_Case_Followers</name>
        <label>Loop through CSM QI Case Followers</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNextValueToReference>CaseFollower</assignNextValueToReference>
        <collectionReference>curCSMQICaseFollowers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>StatusChangeSendEmailbyAccountCountry</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getCSMQICaseFollowerRecordsByCaseId</name>
        <label>getCSMQICaseFollowerRecordsByCaseId</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_CSM_QI_Case_Followers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>CSM_QI_Case_Follower__c</object>
        <outputReference>curCSMQICaseFollowers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account_Country__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Case__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCSMQICaseFollowerRecordsByCaseId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseFollower</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CSM_QI_Case_Follower__c</objectType>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>curCSMQICaseFollowers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CSM_QI_Case_Follower__c</objectType>
    </variables>
</Flow>
