src/flows/CSM_Self_Registration_Notification.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CSM_Email_Alert</name>
        <label>CSM_Email_Alert</label>
        <locationX>50</locationX>
        <locationY>288</locationY>
        <actionName>Case.CSM_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Self_registration_date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CSM_Email_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>notify_Contact</name>
        <label>notify Contact</label>
        <locationX>314</locationX>
        <locationY>288</locationY>
        <actionName>Case.notify_Contact</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Self_registration_date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.notify_Contact</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <description>Calculating the Self Registration Date</description>
        <name>Cal_Self_Registration_Date</name>
        <dataType>Date</dataType>
        <expression>Today()+{!$Setup.CSM_User_Self_Registration__c.Add_days_to_Self_Registration__c}</expression>
    </formulas>
    <interviewLabel>CSM_Self_Registration_Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CSM Self Registration Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Self_registration_date</name>
        <label>Update Self registration date</label>
        <locationX>182</locationX>
        <locationY>527</locationY>
        <inputAssignments>
            <field>Self_Registration_Date__c</field>
            <value>
                <elementReference>Cal_Self_Registration_Date</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CSM_Email_Alert</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>AND( ISPICKVAL({!$Record.Contact.CSH_User__c},&apos;No&apos;), ISPICKVAL({!$Record.Contact.Contact_User_Type__c},&apos;HO User&apos;), {!$Record.Contact_Already_In_Self_Registration__c} = false, NOT (INCLUDES({!$Record.Contact.Opt_Out_From__c}, &apos;Self Registration&apos;)), OR(AND({!$Record.RecordType.DeveloperName}  = &apos;TechnologyCase&apos;, INCLUDES({!$Record.Account.CSH_Self_Registration__c}, &apos;Technology Solutions&apos;)), AND({!$Record.RecordType.DeveloperName} = &apos;DATA Case&apos; , INCLUDES({!$Record.Account.CSH_Self_Registration__c} , &apos;Information Offering&apos;))))</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>ScheduledPath1</name>
            <connector>
                <targetReference>notify_Contact</targetReference>
            </connector>
            <label>ScheduledPath1</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Self_Registration_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
