src/flows/Edit_New_Employee_Relationship.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Refreshes the record detail page to display updated values from the flow</description>
        <name>Refresh_Record_detail_page</name>
        <label>Refresh Record detail page</label>
        <locationX>308</locationX>
        <locationY>758</locationY>
        <actionName>c:LXC_CRM_Open_RecordDetailPage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <choices>
        <name>region_none</name>
        <choiceText>--None--</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <constants>
        <name>IQVIA_Contact</name>
        <dataType>String</dataType>
        <value>
            <stringValue>IQVIA_User_Contact</stringValue>
        </value>
    </constants>
    <constants>
        <name>RegionHQ</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Region/HQ</stringValue>
        </value>
    </constants>
    <decisions>
        <name>isRedirectionPathAccountDetailPage</name>
        <label>isRedirectionPathAccountDetailPage?</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Refresh_Record_detail_page</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Refresh and Redirect to Account Contact record page</defaultConnectorLabel>
        <rules>
            <name>Redirect_to_Account_Detail_Page</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>redirectionPath</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account Detail Page</stringValue>
                </rightValue>
            </conditions>
            <label>Redirect to Account Detail Page</label>
        </rules>
    </decisions>
    <description>ESPSFDCQI-13063</description>
    <dynamicChoiceSets>
        <name>focus</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Focus__c</picklistField>
        <picklistObject>AccountContactRelation</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>function</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Function__c</picklistField>
        <picklistObject>AccountContactRelation</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>geographic_responsibility</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Geographic_Responsibility__c</picklistField>
        <picklistObject>AccountContactRelation</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rbu</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>RBU__c</picklistField>
        <picklistObject>AccountContactRelation</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>region</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Region__c</picklistField>
        <picklistObject>AccountContactRelation</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>responsibility</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Responsibility__c</picklistField>
        <picklistObject>AccountContactRelation</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>roles</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Roles</picklistField>
        <picklistObject>AccountContactRelation</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>rep_location</name>
        <dataType>String</dataType>
        <expression>TEXT({!$User.Sales_Rep_Location__c})</expression>
    </formulas>
    <formulas>
        <name>user_country</name>
        <dataType>String</dataType>
        <expression>TEXT({!$User.User_Country__c})</expression>
    </formulas>
    <interviewLabel>Edit New Employee Relationship {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Edit Employee Relationship</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_Account_Contact_Relationship_info</name>
        <label>get Account Contact Relationship info</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Contact_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Contact_Info</name>
        <label>get Contact Info</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Employee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Account_Contact_Relationship_info.Contact.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>contactName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Employee_Records</name>
        <label>Update Employee Records</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>isRedirectionPathAccountDetailPage</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>get_End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Focus__c</field>
            <value>
                <elementReference>get_Focus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Function__c</field>
            <value>
                <elementReference>get_Function</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Geographic_Responsibility__c</field>
            <value>
                <elementReference>get_Geographic_Responsibility</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <elementReference>Active</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>get_Region</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Responsibility__c</field>
            <value>
                <elementReference>get_Segment_Responsibility</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>get_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>{!$Flow.FaultMessage}</description>
        <name>Error</name>
        <label>Error</label>
        <locationX>572</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Employee</name>
        <label>Update Employee</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Employee_Records</targetReference>
        </connector>
        <fields>
            <name>getEmployeeName</name>
            <fieldText>&lt;p&gt;{!contactName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Active</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>get_Account_Contact_Relationship_info.IsActive</elementReference>
            </defaultValue>
            <fieldText>Active</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>get_Function</name>
            <choiceReferences>function</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>get_Account_Contact_Relationship_info.Function__c</elementReference>
            </defaultValue>
            <fieldText>Function</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>get_Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>get_Account_Contact_Relationship_info.StartDate</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>get_End_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>get_Account_Contact_Relationship_info.EndDate</elementReference>
            </defaultValue>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>get_Segment_Responsibility</name>
            <choiceReferences>responsibility</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>get_Account_Contact_Relationship_info.Responsibility__c</elementReference>
            </defaultValue>
            <fieldText>Segment Responsibility</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>get_Focus</name>
            <choiceReferences>focus</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>get_Account_Contact_Relationship_info.Focus__c</elementReference>
            </defaultValue>
            <fieldText>Focus</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>get_Geographic_Responsibility</name>
            <choiceReferences>geographic_responsibility</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>get_Account_Contact_Relationship_info.Geographic_Responsibility__c</elementReference>
            </defaultValue>
            <fieldText>Geographic Responsibility</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>get_Region</name>
            <choiceReferences>region</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>get_Account_Contact_Relationship_info.Region__c</elementReference>
            </defaultValue>
            <fieldText>Region</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>get_Geographic_Responsibility</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Regional / HQ</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Account_Contact_Relationship_info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>redirectionPath</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
