src/flows/EM_FLW_CSM_UpdateCaseOutBoundMessage.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>UpdateCaseIRTMilestone</name>
        <label>UpdateCaseIRTMilestone</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>UTL_CSM_FLW_CompleteIRTMilestone</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailMessage</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UTL_CSM_FLW_CompleteIRTMilestone</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <description>This Condition is used to check the RecordType for TechnologyCase or DATACase</description>
        <name>checkCaseOutboundEmail</name>
        <label>checkCaseOutboundEmail</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutboundEmail</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CaseOutboundEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCaseIRTMilestone</targetReference>
            </connector>
            <label>OutboundEmail</label>
        </rules>
    </decisions>
    <description>This flow is used to update the Outbound Email filed in Case to Complete IRT or BISM Send Comment or RnD Milestone Complete</description>
    <environments>Default</environments>
    <formulas>
        <description>CAS_PB01_CSM_BISM_SendOutBoundComment</description>
        <name>CaseOutboundEmail</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT({!$Record.Incoming}), NOT(ISBLANK({!$Record.ParentId} )) , OR(ISPICKVAL({!$Record.Status}, &apos;2&apos;),ISPICKVAL({!$Record.Status}, &apos;3&apos;),ISPICKVAL({!$Record.Status}, &apos;4&apos;)))</expression>
    </formulas>
    <interviewLabel>EM_FLW_CSM_UpdateCaseOutBoundMessage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EM_FLW_CSM_UpdateCaseOutBoundMessage</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkCaseOutboundEmail</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND ((3 AND 7) OR (6 AND (3 OR 4 OR 5)))</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Incoming</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>4</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsSendAsComment__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>EmailMessage</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
