src/flows/IG_FL01_OWF_SendEmailNotification.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Email Alert:
ING_WEA03_CRM_Investigator grant assigned alert email</description>
        <name>Investigator_grant_assigned_alert</name>
        <label>Investigator grant assigned alert</label>
        <locationX>50</locationX>
        <locationY>900</locationY>
        <actionName>Investigator_Grant__c.ING_WEA03_CRM_Investigator_grant_assigned_alert_email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Investigator_grant_assigned_PD_alert_email_on_insert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Investigator_Grant__c.ING_WEA03_CRM_Investigator_grant_assigned_alert_email</nameSegment>        
    </actionCalls>
    <actionCalls>
        <description>Email Alert:
ING_WEA03_CRM_Investigator grant assigned alert email</description>
        <name>Investigator_grant_assigned_alert_email_notification</name>
        <label>Investigator grant assigned alert email notification</label>
        <locationX>578</locationX>
        <locationY>1308</locationY>
        <actionName>Investigator_Grant__c.ING_WEA03_CRM_Investigator_grant_assigned_alert_email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Investigator_grant_assigned_PD_alert_email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Investigator_Grant__c.ING_WEA03_CRM_Investigator_grant_assigned_alert_email</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Email Alert:
ING_WEA04_CRM_Investigator grant assigned PD alert email</description>
        <name>Investigator_grant_assigned_PD_alert_email</name>
        <label>Investigator grant assigned PD alert email</label>
        <locationX>578</locationX>
        <locationY>1416</locationY>
        <actionName>Investigator_Grant__c.ING_WEA04_CRM_Investigator_grant_assigned_PD_alert_email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Investigator_Grant__c.ING_WEA04_CRM_Investigator_grant_assigned_PD_alert_email</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Email Alert:
ING_WEA04_CRM_Investigator grant assigned PD alert email</description>
        <name>Investigator_grant_assigned_PD_alert_email_on_insert</name>
        <label>Investigator grant assigned PD alert email on insert</label>
        <locationX>50</locationX>
        <locationY>1008</locationY>
        <actionName>Investigator_Grant__c.ING_WEA04_CRM_Investigator_grant_assigned_PD_alert_email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Investigator_initial_request_alert_email_on_insert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Investigator_Grant__c.ING_WEA04_CRM_Investigator_grant_assigned_PD_alert_email</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Email Alert:
ING_WEA02_CRM_Investigator Grant uploaded alert email</description>
        <name>Investigator_Grant_uploaded_alert</name>
        <label>Investigator Grant uploaded alert</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <actionName>Investigator_Grant__c.ING_WEA02_CRM_Investigator_Grant_uploaded_alert_email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>IG_Close_date_Update</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Investigator_Grant__c.ING_WEA02_CRM_Investigator_Grant_uploaded_alert_email</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Email Alert:
ING_WEA02_CRM_Investigator Grant uploaded alert email</description>
        <name>Investigator_Grant_uploaded_alert_on_update</name>
        <label>Investigator Grant uploaded alert on update</label>
        <locationX>578</locationX>
        <locationY>900</locationY>
        <actionName>Investigator_Grant__c.ING_WEA02_CRM_Investigator_Grant_uploaded_alert_email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>IG_Close_date_Update_on_Record_Update</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Investigator_Grant__c.ING_WEA02_CRM_Investigator_Grant_uploaded_alert_email</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Investigator_Grants_past_due_date_email_notification</name>
        <label>Investigator Grants past due date email notification</label>
        <locationX>1370</locationX>
        <locationY>384</locationY>
        <actionName>Investigator_Grant__c.ING_WEA01_CRM_Investigator_Grants_past_due_date_email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Investigator_Grant__c.ING_WEA01_CRM_Investigator_Grants_past_due_date_email</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Email Alert:
ING_WEA01_OWF_Investigator_IGDeveloper_Assigned</description>
        <name>Investigator_IGDeveloper_Assigned_Send_Email_Notification</name>
        <label>Investigator IGDeveloper Assigned Send Email Notification</label>
        <locationX>578</locationX>
        <locationY>492</locationY>
        <actionName>Investigator_Grant__c.ING_WEA01_OWF_Investigator_IGDeveloper_Assigned</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Investigator_IGDeveloper_Modified_Send_Email_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Investigator_Grant__c.ING_WEA01_OWF_Investigator_IGDeveloper_Assigned</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Email Alert:
ING_WEA02_OWF_Investigator_IGDeveloper_Modified</description>
        <name>Investigator_IGDeveloper_Modified_Send_Email_Notification</name>
        <label>Investigator IGDeveloper Modified Send Email Notification</label>
        <locationX>578</locationX>
        <locationY>600</locationY>
        <actionName>Investigator_Grant__c.ING_WEA02_OWF_Investigator_IGDeveloper_Modified</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Investigator_Grant_uploaded_alert_email_on_update</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Investigator_Grant__c.ING_WEA02_OWF_Investigator_IGDeveloper_Modified</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Email Alert:
ING_WEA05_CRM_New investigator Grants request</description>
        <name>New_investigator_Grants_request_alert</name>
        <label>New investigator Grants request alert</label>
        <locationX>50</locationX>
        <locationY>1308</locationY>
        <actionName>Investigator_Grant__c.ING_WEA05_CRM_New_investigator_Grants_request</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Investigator_Grant__c.ING_WEA05_CRM_New_investigator_Grants_request</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <description>Workflow Rule:
ING_WR03_CRM_Investigator grant assigned alert email</description>
        <name>Assigned_Investigator_Grants_Developer_alert_on_update</name>
        <label>Assigned Investigator Grants Developer alert on update</label>
        <locationX>710</locationX>
        <locationY>1200</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Investigator_grant_assigned_alert_on_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assigned_Investigator_Grants_Developer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assigned_Investigator_Grants_Developer__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Investigator_grant_assigned_alert_email_notification</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Investigator grant assigned alert on update</label>
        </rules>
    </decisions>
    <decisions>
        <description>Workflow Rule:
ING_WR03_CRM_Investigator grant assigned alert email</description>
        <name>Investigator_grant_assigned_alert_email_on_insert</name>
        <label>Investigator grant assigned alert email on insert</label>
        <locationX>182</locationX>
        <locationY>792</locationY>
        <defaultConnector>
            <targetReference>Investigator_initial_request_alert_email_on_insert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Investigator_grant_assigned_alert_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assigned_Investigator_Grants_Developer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assigned_Investigator_Grants_Developer__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Investigator_grant_assigned_alert</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Investigator grant assigned alert email</label>
        </rules>
    </decisions>
    <decisions>
        <description>Workflow Rule:
ING_WR02_CRM_Investigator Grant uploaded alert email</description>
        <name>Investigator_Grant_uploaded_alert_email</name>
        <label>Investigator Grant uploaded alert email</label>
        <locationX>182</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Investigator_grant_assigned_alert_email_on_insert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Investigator_Grant_uploaded_alert_email_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Box_Link_to_Quotes_Folder__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Investigator_Grant_uploaded_alert</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Investigator Grant uploaded alert email Notification</label>
        </rules>
    </decisions>
    <decisions>
        <description>Workflow Rule:
ING_WR02_CRM_Investigator Grant uploaded alert email</description>
        <name>Investigator_Grant_uploaded_alert_email_on_update</name>
        <label>Investigator Grant uploaded alert email on update</label>
        <locationX>710</locationX>
        <locationY>792</locationY>
        <defaultConnector>
            <targetReference>Assigned_Investigator_Grants_Developer_alert_on_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Investigator_Grant_uploaded_alert_email_Notification_on_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Box_Link_to_Quotes_Folder__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Investigator_Grant_uploaded_alert_on_update</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Investigator Grant uploaded alert email Notification on update</label>
        </rules>
    </decisions>
    <decisions>
        <description>Workflow Rule
ING_WR01_CRM_Investigator Grants past due date email</description>
        <name>Investigator_Grants_past_due_date_email</name>
        <label>Investigator Grants past due date email</label>
        <locationX>1502</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Investigator_Grants_past_due_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Investigator_Grants_past_due_date_email_notification</targetReference>
            </connector>
            <label>Investigator Grants past due date</label>
        </rules>
    </decisions>
    <decisions>
        <description>Workflow Rule:
ING_WR01_OWF_Investigator_IGDeveloper_Assigned</description>
        <name>Investigator_IGDeveloper_Assigned_Check</name>
        <label>Investigator IGDeveloper Assigned Check</label>
        <locationX>710</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Investigator_Grant_uploaded_alert_email_on_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Investigator_IGDeveloper_Assigned_Email_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assigned_Investigator_Grants_Developer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assigned_Investigator_Grants_Developer__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Assigned_Investigator_Grants_Developer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assigned_Investigator_Grants_Developer__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Investigator_IGDeveloper_Assigned_Send_Email_Notification</targetReference>
            </connector>
            <label>Investigator IGDeveloper Assigned Email Notification</label>
        </rules>
    </decisions>
    <decisions>
        <description>Workflow Rule:
ING_WR05_CRM_Investigator initial request alert email</description>
        <name>Investigator_initial_request_alert_email_on_insert</name>
        <label>Investigator initial request alert email on insert</label>
        <locationX>182</locationX>
        <locationY>1200</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_investigator_Grants_request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assigned_Investigator_Grants_Developer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_investigator_Grants_request_alert</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>New investigator Grants request</label>
        </rules>
    </decisions>
    <decisions>
        <description>To check if record is newly inserted or updated.</description>
        <name>Is_record_inserted_updated</name>
        <label>Is record inserted/updated</label>
        <locationX>644</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Inserted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsInsert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Investigator_Grant_uploaded_alert_email</targetReference>
            </connector>
            <label>Record Inserted</label>
        </rules>
        <rules>
            <name>Record_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsInsert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Investigator_IGDeveloper_Assigned_Check</targetReference>
            </connector>
            <label>Record Updated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CustomValidation</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.Mulesoft_Integration_Control__c.Is_Mulesoft_User__c} || NOT({!$Setup.Mulesoft_Integration_Control__c.By_Pass_Flow_Process__c})</expression>
    </formulas>
    <formulas>
        <name>IsInsert</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>todayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>IG FL01 OWF SendEmailNotification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IG FL01 OWF SendEmailNotification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Field Update:
CTR_WFU1_CRM_IG Close date</description>
        <name>IG_Close_date_Update</name>
        <label>IG Close date Update</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Investigator_grant_assigned_alert_email_on_insert</targetReference>
        </connector>
        <inputAssignments>
            <field>Closed_Date__c</field>
            <value>
                <elementReference>todayDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Field Update:
CTR_WFU1_CRM_IG Close date</description>
        <name>IG_Close_date_Update_on_Record_Update</name>
        <label>IG Close date Update on Record Update</label>
        <locationX>578</locationX>
        <locationY>1008</locationY>
        <connector>
            <targetReference>Assigned_Investigator_Grants_Developer_alert_on_update</targetReference>
        </connector>
        <inputAssignments>
            <field>Closed_Date__c</field>
            <value>
                <elementReference>todayDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>947</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_record_inserted_updated</targetReference>
        </connector>
        <filterFormula>{!$Setup.Mulesoft_Integration_Control__c.Is_Mulesoft_User__c} || NOT({!$Setup.Mulesoft_Integration_Control__c.By_Pass_Flow_Process__c})</filterFormula>
        <object>Investigator_Grant__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Scheduled_Email_Notification</name>
            <connector>
                <targetReference>Investigator_Grants_past_due_date_email</targetReference>
            </connector>
            <label>Scheduled Email Notification</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Investigator_Grants_Due_Date_to_PD__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
