src/flows/MLS_FL01_Milestone_Notifications.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>If a Service Milestone is greater than 80% complete then sends an email alert</description>
        <name>MilestoneUnitsNearingCompletion</name>
        <label>MilestoneUnitsNearingCompletion</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>pse__Milestone__c.PSA_Milestone_Nearing_Completion_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pse__Milestone__c.PSA_Milestone_Nearing_Completion_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <description>IQVIAPSA-6716</description>
        <name>Is_Milestone_Unit_Nearing_Completion</name>
        <label>Is Milestone Unit Nearing Completion</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No Milestone Unit Not Nearing Completion</defaultConnectorLabel>
        <rules>
            <name>Yes_Milestone_Unit_Nearing_Completion</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4 AND 5) AND (6 OR 7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RDS_Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ActualQuantitytoBudgetQuantityRatio</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.8</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Budget_Quantity__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Line_Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Line_Lead__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Line_Lead__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Budget_Quantity__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Actual_Quantity__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MilestoneUnitsNearingCompletion</targetReference>
            </connector>
            <label>Yes Milestone Unit Nearing Completion</label>
        </rules>
    </decisions>
    <description>IQVIAPSA-6716: Workflow to flow conversion.</description>
    <environments>Default</environments>
    <formulas>
        <description>IQVIAPSA-6716</description>
        <name>ActualQuantitytoBudgetQuantityRatio</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Actual_Quantity__c}/{!$Record.Budget_Quantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>MLS FL01 Milestone Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MLS FL01 Milestone Notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Milestone_Unit_Nearing_Completion</targetReference>
        </connector>
        <filterFormula>NOT {!$Setup.Mulesoft_Integration_Control__c.By_Pass_Flow_Process__c} || {!$Setup.Mulesoft_Integration_Control__c.Is_Mulesoft_User__c}</filterFormula>
        <object>pse__Milestone__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
