src/flows/OPP_PB02_CRM_Win_Loss_Emails.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>RD_S_Opportunity_5_Finalizing_Deal_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_11_A1</name>
        <label>RD_S_Opportunity_5_Finalizing_Deal_Alert</label>
        <locationX>1100</locationX>
        <locationY>200</locationY>
        <actionName>Opportunity.RD_S_Opportunity_5_Finalizing_Deal_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.RD_S_Opportunity_5_Finalizing_Deal_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>RD_S_Opportunity_Closed_Lost_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_13_A1</name>
        <label>RD_S_Opportunity_Closed_Lost_Alert</label>
        <locationX>1300</locationX>
        <locationY>200</locationY>
        <actionName>Opportunity.RD_S_Opportunity_Closed_Lost_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.RD_S_Opportunity_Closed_Lost_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>OPP_EA10_CRM_R_D_Opp_Win_Alert_50k</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>OPP_EA10_CRM_R_D_Opp_Win_Alert_50k</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Opportunity.OPP_EA10_CRM_R_D_Opp_Win_Alert_50k</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.OPP_EA10_CRM_R_D_Opp_Win_Alert_50k</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>OPP_EA10_CRM_R_D_Opp_Win_Alert_50k</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>OPP_EA10_CRM_R_D_Opp_Win_Alert_50k</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>Opportunity.OPP_EA10_CRM_R_D_Opp_Win_Alert_50k</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.OPP_EA10_CRM_R_D_Opp_Win_Alert_50k</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>TAKEDA_Account_Opportunity_5_Finalizing_Deal_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>TAKEDA_Account_Opportunity_5_Finalizing_Deal_Alert</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>Opportunity.TAKEDA_Account_Opportunity_5_Finalizing_Deal_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.TAKEDA_Account_Opportunity_5_Finalizing_Deal_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>TAKEDA_Account_Opportunity_7b_Closed_Lost_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>TAKEDA_Account_Opportunity_7b_Closed_Lost_Alert</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <actionName>Opportunity.TAKEDA_Account_Opportunity_7b_Closed_Lost_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.TAKEDA_Account_Opportunity_7b_Closed_Lost_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>IQVIA_Biotech_Opportunity_Closed_Lost_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>IQVIABiotech_Opportunity_Closed_Lost_Alert</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <actionName>Opportunity.IQVIA_Biotech_Opportunity_Closed_Lost_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.IQVIA_Biotech_Opportunity_Closed_Lost_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>OPP_WR10_CRM_R&amp;D_Opp_Win_Alert_&gt;_50k</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision10</name>
        <label>myDecision10</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>OPP_WR06_CRM_RD&amp;S Opportunity 5-Finalizing Deal Alert</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision12</name>
        <label>myDecision12</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_13</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>OPP_WR07_CRM_RD&amp;S Opportunity Closed Lost Alert</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>OPP_WR11_CRM_R&amp;D_Opp_Loss_Alert_&gt;_50k</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>TAKEDA Win Alert Criteria</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>TAKEDA Loss Alert Criteria</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>OPP_CRM_IQVIABiotech_LossAlert</label>
        </rules>
    </decisions>
    <description>ESPSFDCQI-7235</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
ISPICKVAL([Opportunity].StageName, &apos;7a. Closed Won&apos;),
ISNULL(PRIORVALUE([Opportunity].Actual_Close_Date__c)),
NOT(ISNULL([Opportunity].Actual_Close_Date__c)),
ISPICKVAL( [Opportunity].Main_Delivery_Country__c ,&quot;Germany&quot; ),
([Opportunity].Amount_In_USD__c &gt;= 50000),
ISBLANK([Opportunity].DMD_Opportunity_Id__c )
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISPICKVAL({!myVariable_current.StageName}, &apos;7a. Closed Won&apos;),
ISNULL(PRIORVALUE({!myVariable_current.Actual_Close_Date__c})),
NOT(ISNULL({!myVariable_current.Actual_Close_Date__c})),
ISPICKVAL( {!myVariable_current.Main_Delivery_Country__c} ,&quot;Germany&quot; ),
({!myVariable_current.Amount_In_USD__c} &gt;= 50000),
ISBLANK({!myVariable_current.DMD_Opportunity_Id__c} )
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
NOT(ISNEW()),ISCHANGED([Opportunity].StageName),
ISPICKVAL( [Opportunity].StageName , &apos;5. Finalizing Deal&apos;),
ISBLANK([Opportunity].DMD_Opportunity_Id__c ),
OR( 
ISPICKVAL([Opportunity].Line_of_Business__c , &apos;Clinical&apos;), 
ISPICKVAL([Opportunity].Line_of_Business__c , &apos;Connected Devices&apos;),
ISPICKVAL([Opportunity].Line_of_Business__c , &apos;Data Sciences&apos;), 
ISPICKVAL([Opportunity].Line_of_Business__c, &apos;Safety &amp; Med Info&apos;),
ISPICKVAL([Opportunity].Line_of_Business__c , &apos;Early Clinical Development&apos;),
ISPICKVAL([Opportunity].Line_of_Business__c , &apos;Evidence Based Medicine (EBM)&apos;),
ISPICKVAL([Opportunity].Line_of_Business__c , &apos;Outcome&apos;),
ISPICKVAL([Opportunity].Line_of_Business__c , &apos;Regulatory &amp; Drug Development Solutions&apos;),
ISPICKVAL([Opportunity].Line_of_Business__c , &apos;Patient &amp; DCT Solutions&apos;),
ISPICKVAL([Opportunity].Line_of_Business__c , &apos;Clinical Technology&apos;)))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_11</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(ISNEW()),ISCHANGED({!myVariable_current.StageName}),
ISPICKVAL( {!myVariable_current.StageName} , &apos;5. Finalizing Deal&apos;),
ISBLANK({!myVariable_current.DMD_Opportunity_Id__c} ),
OR( 
 ISPICKVAL({!myVariable_current.Line_of_Business__c} , &apos;Clinical&apos;), 
 ISPICKVAL({!myVariable_current.Line_of_Business__c} , &apos;Connected Devices&apos;),
 ISPICKVAL({!myVariable_current.Line_of_Business__c} , &apos;Data Sciences&apos;), 
 ISPICKVAL({!myVariable_current.Line_of_Business__c}, &apos;Safety &amp; Med Info&apos;),
 ISPICKVAL({!myVariable_current.Line_of_Business__c} , &apos;Early Clinical Development&apos;),
 ISPICKVAL({!myVariable_current.Line_of_Business__c} , &apos;Evidence Based Medicine (EBM)&apos;),
 ISPICKVAL({!myVariable_current.Line_of_Business__c} , &apos;Outcome&apos;),
 ISPICKVAL({!myVariable_current.Line_of_Business__c} , &apos;Regulatory &amp; Drug Development Solutions&apos;),
 ISPICKVAL({!myVariable_current.Line_of_Business__c} , &apos;Patient &amp; DCT Solutions&apos;),
 ISPICKVAL({!myVariable_current.Line_of_Business__c} , &apos;Clinical Technology&apos;)))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
NOT(ISNEW()),
ISCHANGED([Opportunity].StageName),
ISPICKVAL( [Opportunity].StageName , &apos;7b. Closed Lost&apos;),
ISBLANK([Opportunity].DMD_Opportunity_Id__c ),
OR( 
ISPICKVAL([Opportunity].Line_of_Business__c , &apos;Clinical&apos;), 
ISPICKVAL([Opportunity].Line_of_Business__c , &apos;Connected Devices&apos;),
ISPICKVAL([Opportunity].Line_of_Business__c , &apos;Data Sciences&apos;),
ISPICKVAL([Opportunity].Line_of_Business__c, &apos;Safety &amp; Med Info&apos;),
ISPICKVAL([Opportunity].Line_of_Business__c , &apos;Early Clinical Development&apos;), 
ISPICKVAL([Opportunity].Line_of_Business__c , &apos;Evidence Based Medicine (EBM)&apos;), 
ISPICKVAL([Opportunity].Line_of_Business__c , &apos;Outcome&apos;), 
ISPICKVAL([Opportunity].Line_of_Business__c , &apos;Regulatory &amp; Drug Development Solutions&apos;), 
ISPICKVAL([Opportunity].Line_of_Business__c , &apos;Patient &amp; DCT Solutions&apos;)  ),
NOT(OR(ISPICKVAL([Opportunity].Loss_Type__c, &apos;Stopped&apos;),
ISPICKVAL([Opportunity].Loss_Type__c, &apos;Duplicate Opportunity&apos;))
))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_13</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(ISNEW()),
ISCHANGED({!myVariable_current.StageName}),
ISPICKVAL( {!myVariable_current.StageName} , &apos;7b. Closed Lost&apos;),
ISBLANK({!myVariable_current.DMD_Opportunity_Id__c} ),
OR( 
ISPICKVAL({!myVariable_current.Line_of_Business__c} , &apos;Clinical&apos;),  
ISPICKVAL({!myVariable_current.Line_of_Business__c} , &apos;Clinical Technology&apos;),
ISPICKVAL({!myVariable_current.Line_of_Business__c} , &apos;Connected Devices&apos;),
ISPICKVAL({!myVariable_current.Line_of_Business__c} , &apos;Data Sciences&apos;),
ISPICKVAL({!myVariable_current.Line_of_Business__c}, &apos;Safety &amp; Med Info&apos;),
ISPICKVAL({!myVariable_current.Line_of_Business__c} , &apos;Early Clinical Development&apos;), 
ISPICKVAL({!myVariable_current.Line_of_Business__c} , &apos;Evidence Based Medicine (EBM)&apos;), 
ISPICKVAL({!myVariable_current.Line_of_Business__c} , &apos;Outcome&apos;), 
ISPICKVAL({!myVariable_current.Line_of_Business__c} , &apos;Regulatory &amp; Drug Development Solutions&apos;), 
ISPICKVAL({!myVariable_current.Line_of_Business__c} , &apos;Patient &amp; DCT Solutions&apos;)  ),
NOT(OR(ISPICKVAL({!myVariable_current.Loss_Type__c}, &apos;Stopped&apos;),
ISPICKVAL({!myVariable_current.Loss_Type__c}, &apos;Duplicate Opportunity&apos;))
))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
ISPICKVAL([Opportunity].StageName, &apos;7b. Closed Lost&apos;),
ISPICKVAL([Opportunity].Main_Delivery_Country__c ,&quot;Germany&quot;),([Opportunity].Amount_In_USD__c &gt;= 50000),
ISNULL(PRIORVALUE([Opportunity].Actual_Close_Date__c)),
NOT(ISNULL([Opportunity].Actual_Close_Date__c)),
ISBLANK([Opportunity].DMD_Opportunity_Id__c )
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISPICKVAL({!myVariable_current.StageName}, &apos;7b. Closed Lost&apos;),
ISPICKVAL({!myVariable_current.Main_Delivery_Country__c} ,&quot;Germany&quot;),({!myVariable_current.Amount_In_USD__c} &gt;= 50000),
ISNULL(PRIORVALUE({!myVariable_current.Actual_Close_Date__c})),
NOT(ISNULL({!myVariable_current.Actual_Close_Date__c})),
ISBLANK({!myVariable_current.DMD_Opportunity_Id__c} )
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
NOT(ISNEW()),ISCHANGED([Opportunity].StageName),
ISPICKVAL( [Opportunity].StageName , &apos;5. Finalizing Deal&apos;),
[Opportunity].Account.ParentId != NULL,
[Opportunity].Account.Parent.Name == &apos;TAKEDA&apos;,
ISBLANK([Opportunity].DMD_Opportunity_Id__c ),
OR( 
ISPICKVAL([Opportunity].Line_of_Business__c , &apos;Clinical&apos;), 
ISPICKVAL([Opportunity].Line_of_Business__c , &apos;Connected Devices&apos;),
ISPICKVAL([Opportunity].Line_of_Business__c , &apos;Data Sciences&apos;), 
ISPICKVAL([Opportunity].Line_of_Business__c , &apos;Clinical Technology&apos;),
ISPICKVAL([Opportunity].Line_of_Business__c , &apos;Early Clinical Development&apos;),
ISPICKVAL([Opportunity].Line_of_Business__c, &apos;Safety &amp; Med Info&apos;),
ISPICKVAL([Opportunity].Line_of_Business__c , &apos;Outcome&apos;),
ISPICKVAL([Opportunity].Line_of_Business__c, &apos;Regulatory &amp; Drug Development Solutions&apos;),
ISPICKVAL([Opportunity].Line_of_Business__c, &apos;Patient &amp; DCT Solutions&apos;)))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(ISNEW()),ISCHANGED({!myVariable_current.StageName}),
ISPICKVAL( {!myVariable_current.StageName} , &apos;5. Finalizing Deal&apos;),
{!myVariable_current.Account.ParentId} != NULL,
{!myVariable_current.Account.Parent.Name} == &apos;TAKEDA&apos;,
ISBLANK({!myVariable_current.DMD_Opportunity_Id__c} ),
OR( 
ISPICKVAL({!myVariable_current.Line_of_Business__c} , &apos;Clinical&apos;), 
ISPICKVAL({!myVariable_current.Line_of_Business__c} , &apos;Connected Devices&apos;),
ISPICKVAL({!myVariable_current.Line_of_Business__c} , &apos;Data Sciences&apos;), 
ISPICKVAL({!myVariable_current.Line_of_Business__c} , &apos;Clinical Technology&apos;),
ISPICKVAL({!myVariable_current.Line_of_Business__c} , &apos;Early Clinical Development&apos;),
ISPICKVAL({!myVariable_current.Line_of_Business__c}, &apos;Safety &amp; Med Info&apos;),
ISPICKVAL({!myVariable_current.Line_of_Business__c} , &apos;Outcome&apos;),
ISPICKVAL({!myVariable_current.Line_of_Business__c}, &apos;Regulatory &amp; Drug Development Solutions&apos;),
ISPICKVAL({!myVariable_current.Line_of_Business__c}, &apos;Patient &amp; DCT Solutions&apos;)))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
NOT(ISNEW()),
ISCHANGED([Opportunity].StageName),
ISPICKVAL( [Opportunity].StageName , &apos;7b. Closed Lost&apos;),
[Opportunity].Account.ParentId != NULL,
[Opportunity].Account.Parent.Name == &apos;TAKEDA&apos;,
ISBLANK([Opportunity].DMD_Opportunity_Id__c ),
OR( 
ISPICKVAL([Opportunity].Line_of_Business__c , &apos;Clinical&apos;), 
ISPICKVAL([Opportunity].Line_of_Business__c , &apos;Connected Devices&apos;),
ISPICKVAL([Opportunity].Line_of_Business__c , &apos;Data Sciences&apos;), 
ISPICKVAL([Opportunity].Line_of_Business__c , &apos;Clinical Technology&apos;),
ISPICKVAL([Opportunity].Line_of_Business__c , &apos;Early Clinical Development&apos;),
ISPICKVAL([Opportunity].Line_of_Business__c, &apos;Safety &amp; Med Info&apos;) , ISPICKVAL([Opportunity].Line_of_Business__c , &apos;Outcome&apos;), ISPICKVAL([Opportunity].Line_of_Business__c , &apos;Regulatory &amp; Drug Development Solutions&apos;), ISPICKVAL([Opportunity].Line_of_Business__c , &apos;Patient &amp; DCT Solutions&apos;) ),
NOT(OR(ISPICKVAL([Opportunity].Loss_Type__c, &apos;Stopped&apos;),
ISPICKVAL([Opportunity].Loss_Type__c, &apos;Duplicate Opportunity&apos;))
))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(ISNEW()),
ISCHANGED({!myVariable_current.StageName}),
ISPICKVAL( {!myVariable_current.StageName} , &apos;7b. Closed Lost&apos;),
{!myVariable_current.Account.ParentId} != NULL,
{!myVariable_current.Account.Parent.Name} == &apos;TAKEDA&apos;,
ISBLANK({!myVariable_current.DMD_Opportunity_Id__c} ),
OR( 
ISPICKVAL({!myVariable_current.Line_of_Business__c} , &apos;Clinical&apos;), 
ISPICKVAL({!myVariable_current.Line_of_Business__c} , &apos;Connected Devices&apos;),
ISPICKVAL({!myVariable_current.Line_of_Business__c} , &apos;Data Sciences&apos;), 
ISPICKVAL({!myVariable_current.Line_of_Business__c} , &apos;Clinical Technology&apos;),
ISPICKVAL({!myVariable_current.Line_of_Business__c} , &apos;Early Clinical Development&apos;),
ISPICKVAL({!myVariable_current.Line_of_Business__c}, &apos;Safety &amp; Med Info&apos;) , ISPICKVAL({!myVariable_current.Line_of_Business__c} , &apos;Outcome&apos;), ISPICKVAL({!myVariable_current.Line_of_Business__c} , &apos;Regulatory &amp; Drug Development Solutions&apos;), ISPICKVAL({!myVariable_current.Line_of_Business__c} , &apos;Patient &amp; DCT Solutions&apos;) ),
NOT(OR(ISPICKVAL({!myVariable_current.Loss_Type__c}, &apos;Stopped&apos;),
ISPICKVAL({!myVariable_current.Loss_Type__c}, &apos;Duplicate Opportunity&apos;))
))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
NOT(ISNEW()),
ISCHANGED([Opportunity].StageName),
ISPICKVAL([Opportunity].StageName , &apos;7b. Closed Lost&apos;),
ISPICKVAL([Opportunity].Is_this_IQVIA_Biotech__c, &apos;Yes&apos;),
ISBLANK([Opportunity].DMD_Opportunity_Id__c )
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(ISNEW()),
ISCHANGED({!myVariable_current.StageName}),
ISPICKVAL({!myVariable_current.StageName} , &apos;7b. Closed Lost&apos;),
ISPICKVAL({!myVariable_current.Is_this_IQVIA_Biotech__c}, &apos;Yes&apos;),
ISBLANK({!myVariable_current.DMD_Opportunity_Id__c} )
)</expression>
    </formulas>
    <interviewLabel>OPP_PB02_CRM_Win_Loss_Emails-4_InterviewLabel</interviewLabel>
    <label>OPP_PB02_CRM_Win_Loss_Emails</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Opportunity</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
