src/flows/PJE_FL01_PSA_ProjEventNotifications.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>IQVIAPSA-6719</description>
        <name>PJE_WEA02_PSA_SG_Upcoming_Planned_Due_Date_Alert_Action_1</name>
        <label>PJE WEA02 PSA SG Upcoming Planned Due Date Alert Action 1</label>
        <locationX>1700</locationX>
        <locationY>1200</locationY>
        <actionName>Project_Event__c.PJE_WEA02_PSA_SG_Upcoming_Planned_Due_Date_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Project_Event__c.PJE_WEA02_PSA_SG_Upcoming_Planned_Due_Date_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-6719</description>
        <name>PJE_WEA03_PSA_NS_Missed_Compliance_Deadlines_Escalation_Alert_Action_1</name>
        <label>PJE WEA03 PSA NS Missed Compliance Deadlines Escalation Alert Action 1</label>
        <locationX>116</locationX>
        <locationY>900</locationY>
        <actionName>Project_Event__c.PJE_WEA03_PSA_NS_Missed_Compliance_Deadlines_Escalation_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Project_Event__c.PJE_WEA03_PSA_NS_Missed_Compliance_Deadlines_Escalation_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-6721</description>
        <name>PJE_WEA09_PSA_SD_Run_Missed_Due_Date_Alert_Action_1</name>
        <label>PJE WEA09 PSA SD Run Missed Due Date Alert Action 1</label>
        <locationX>908</locationX>
        <locationY>792</locationY>
        <actionName>Project_Event__c.PJE_WEA09_PSA_SD_Run_Missed_Due_Date_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Evaluation_Due_Date_Missed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Project_Event__c.PJE_WEA09_PSA_SD_Run_Missed_Due_Date_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-6722</description>
        <name>PJE_WEA10_PSA_Signal_Validation_Missed_Due_Date_Alert</name>
        <label>PJE WEA10 PSA Signal Validation Missed Due Date Alert</label>
        <locationX>908</locationX>
        <locationY>1392</locationY>
        <actionName>Project_Event__c.PJE_WEA10_PSA_Signal_Validation_Missed_Due_Date_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Project_Event__c.PJE_WEA10_PSA_Signal_Validation_Missed_Due_Date_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-6722</description>
        <name>PJE_WEA11_PSA_Signal_Evaluation_Missed_Due_Date_Alert</name>
        <label>PJE WEA11 PSA Signal Evaluation Missed Due Date Alert</label>
        <locationX>908</locationX>
        <locationY>1092</locationY>
        <actionName>Project_Event__c.PJE_WEA11_PSA_Signal_Evaluation_Missed_Due_Date_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Validation_Due_Date_Missed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Project_Event__c.PJE_WEA11_PSA_Signal_Evaluation_Missed_Due_Date_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-6720</description>
        <name>PJE_WR04_PSA_SG_Missed_Compliance_Deadlines_Escalation_Alert</name>
        <label>PJE WR04 PSA SG Missed Compliance Deadlines Escalation Alert</label>
        <locationX>215</locationX>
        <locationY>384</locationY>
        <actionName>Project_Event__c.PJE_WEA04_PSA_SG_Missed_Compliance_Deadlines_Escalation_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_primary_resource_secondary_resource_other_resource_available</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Project_Event__c.PJE_WEA04_PSA_SG_Missed_Compliance_Deadlines_Escalation_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-6720</description>
        <name>PJE_WR05_PSA_Signal_Evaluation_Due_Date_Alert</name>
        <label>PJE WR05 PSA Signal Evaluation Due Date Alert</label>
        <locationX>1964</locationX>
        <locationY>792</locationY>
        <actionName>Project_Event__c.PJE_WR05_PSA_Signal_Evaluation_Due_Date_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_report_record_type_sanofi</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Project_Event__c.PJE_WR05_PSA_Signal_Evaluation_Due_Date_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-6720</description>
        <name>PJE_WR06_PSA_PSSF_Effective_Date_Alert</name>
        <label>PJE WR06 PSA PSSF Effective Date Alert</label>
        <locationX>908</locationX>
        <locationY>492</locationY>
        <actionName>Project_Event__c.PJE_WR06_PSA_PSSF_Effective_Date_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_SD_Run_due_date_missed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Project_Event__c.PJE_WR06_PSA_PSSF_Effective_Date_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-6721</description>
        <name>PJE_WR08_PSA_Signal_Validation_Due_Date_Alert_Action_1</name>
        <label>PJE WR08 PSA Signal Validation Due Date Alert Action 1</label>
        <locationX>1964</locationX>
        <locationY>492</locationY>
        <actionName>Project_Event__c.PJE_WR08_PSA_Signal_Validation_Due_Date_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Signal_Evaluation_Due_Date_upcoming</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Project_Event__c.PJE_WR08_PSA_Signal_Validation_Due_Date_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Upcoming_Planned_Due_Date_Alert</name>
        <label>Upcoming Planned Due Date Alert</label>
        <locationX>2228</locationX>
        <locationY>1200</locationY>
        <actionName>Project_Event__c.PJE_WEA01_PSA_NS_Upcoming_Planned_Due_Date_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Project_Event__c.PJE_WEA01_PSA_NS_Upcoming_Planned_Due_Date_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Are_primary_resource_secondary_resource_other_resource_available</name>
        <label>Are primary resource, secondary resource, other resource available</label>
        <locationX>1238</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Not available</defaultConnectorLabel>
        <rules>
            <name>Yes_primary_resource_secondary_resource_other_resource_are_available</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_Resource__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Secondary_Resource__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Other_Resource__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PSSF_Effective_Date_passed</targetReference>
            </connector>
            <label>Yes primary resource, secondary resource, other resource are available</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-6719, PSA-CLD-IQVIAPSA-1227- Non-Sanofi Compliance Deadlines Escalation Alert</description>
        <name>Is_deadline_missed</name>
        <label>Is deadline missed</label>
        <locationX>248</locationX>
        <locationY>792</locationY>
        <defaultConnectorLabel>not missed</defaultConnectorLabel>
        <rules>
            <name>Yes_deadline_missed</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND (6 OR 7 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Event_Due_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event_Actual_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PSA_Event__r.Send_Missed_Due_Date_Notification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Report__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event_Actual_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event_Due_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PSA_Event__r.Send_Missed_Due_Date_Notification__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PJE_WEA03_PSA_NS_Missed_Compliance_Deadlines_Escalation_Alert_Action_1</targetReference>
            </connector>
            <label>Yes deadline missed</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-6722, IQVIAPSA-4225</description>
        <name>Is_Evaluation_Due_Date_Missed</name>
        <label>Is Evaluation Due Date Missed</label>
        <locationX>1040</locationX>
        <locationY>984</locationY>
        <defaultConnector>
            <targetReference>Is_Validation_Due_Date_Missed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Evaluation Due Date Not Missed</defaultConnectorLabel>
        <rules>
            <name>Yes_Evaluation_Due_Date_Missed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Event_Actual_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event_Due_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PSA_Event__r.Send_Missed_Due_Date_Notification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Signal__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Evaluation Due Date</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PJE_WEA11_PSA_Signal_Evaluation_Missed_Due_Date_Alert</targetReference>
            </connector>
            <label>Yes Evaluation Due Date Missed</label>
        </rules>
    </decisions>
    <decisions>
        <description>PSA-CLD-IQVIAPSA-1227- Non-Sanofi Upcoming Planned Due Date Alert, IQVIAPSA-6719, IQVIAPSA-6721</description>
        <name>Is_Event_Due_Date_in_future</name>
        <label>Is Event Due Date in future</label>
        <locationX>2360</locationX>
        <locationY>1092</locationY>
        <defaultConnectorLabel>No Event Due Date not in future</defaultConnectorLabel>
        <rules>
            <name>Yes_Event_Due_Date_in_future</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Event_Due_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event_Actual_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Report__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upcoming_Planned_Due_Date_Alert</targetReference>
            </connector>
            <label>Yes Event Due Date in future</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-6719</description>
        <name>Is_Planned_Due_Date_In_Future</name>
        <label>Is Planned Due Date In Future</label>
        <locationX>1832</locationX>
        <locationY>1092</locationY>
        <defaultConnectorLabel>No Planned Due Date Not In Future</defaultConnectorLabel>
        <rules>
            <name>Yes_Planned_Due_Date_In_Future</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Event_Due_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event_Actual_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PJE_WEA02_PSA_SG_Upcoming_Planned_Due_Date_Alert_Action_1</targetReference>
            </connector>
            <label>Yes Planned Due Date In Future</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_primary_resource_secondary_resource_other_resource_available</name>
        <label>Is primary resource, secondary resource, other resource available</label>
        <locationX>347</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>Not available</defaultConnectorLabel>
        <rules>
            <name>Yes_primary_resource_secondary_resource_other_resource_available</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_Resource__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Secondary_Resource__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Other_Resource__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_report_record_type_equals_sanofi</targetReference>
            </connector>
            <label>Yes primary resource, secondary resource, other resource available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_primary_resource_secondary_resource_other_resources_available</name>
        <label>Is primary resource, secondary resource, other resources available</label>
        <locationX>2426</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Not available</defaultConnectorLabel>
        <rules>
            <name>Yes_primary_resource_secondary_resource_other_resources_available</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_Resource__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Secondary_Resource__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Other_Resource__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Signal_Validation_Due_Date_Upcoming</targetReference>
            </connector>
            <label>Yes primary resource, secondary resource, other resources available</label>
        </rules>
    </decisions>
    <decisions>
        <description>Sanofi: Sanofi PVS, Sanofi GSO
Non-Sanofi: General, Takeda, RA Response, Sandoz</description>
        <name>Is_report_record_type_equals_sanofi</name>
        <label>Is report record type equals sanofi</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Is_deadline_missed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No  report record type does not equals sanofi</defaultConnectorLabel>
        <rules>
            <name>Yes_report_record_type_equals_sanofi</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Report__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sanofi_GSO_Report</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Report__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sanofi_PVS_Report</stringValue>
                </rightValue>
            </conditions>
            <label>Yes  report record type equals sanofi</label>
        </rules>
    </decisions>
    <decisions>
        <description>Sanofi: Sanofi PVS, Sanofi GSO
Non-Sanofi: General, Takeda, RA Response, Sandoz</description>
        <name>Is_report_record_type_sanofi</name>
        <label>Is report record type sanofi</label>
        <locationX>2096</locationX>
        <locationY>984</locationY>
        <defaultConnector>
            <targetReference>Is_Event_Due_Date_in_future</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No  report record type does not equals sanofi</defaultConnectorLabel>
        <rules>
            <name>Yes_report_record_type_sanofi</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Report__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sanofi_GSO_Report</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Report__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sanofi_PVS_Report</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Planned_Due_Date_In_Future</targetReference>
            </connector>
            <label>Yes  report record type sanofi</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-6721</description>
        <name>Is_SD_Run_due_date_missed</name>
        <label>Is SD Run due date missed</label>
        <locationX>1040</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Is_Evaluation_Due_Date_Missed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No SD Run due date not missed</defaultConnectorLabel>
        <rules>
            <name>Yes_SD_Run_due_date_missed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Event_Due_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event_Actual_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PSA_Event__r.Send_Missed_Due_Date_Notification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SD_Runs__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PJE_WEA09_PSA_SD_Run_Missed_Due_Date_Alert_Action_1</targetReference>
            </connector>
            <label>Yes SD Run due date missed</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-6720</description>
        <name>Is_Signal_Evaluation_Due_Date_upcoming</name>
        <label>Is Signal Evaluation Due Date  upcoming</label>
        <locationX>2096</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Is_report_record_type_sanofi</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Signal Evaluation Due Date  not upcoming</defaultConnectorLabel>
        <rules>
            <name>Yes_Signal_Evaluation_Due_Date_upcoming</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Event_Due_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event_Actual_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Signal__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Evaluation Due Date</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PJE_WR05_PSA_Signal_Evaluation_Due_Date_Alert</targetReference>
            </connector>
            <label>Yes Signal Evaluation Due Date  upcoming</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-6721</description>
        <name>Is_Signal_Validation_Due_Date_Upcoming</name>
        <label>Is Signal Validation Due Date Upcoming</label>
        <locationX>2096</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Is_Signal_Evaluation_Due_Date_upcoming</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Signal Validation Due Date Not Upcoming</defaultConnectorLabel>
        <rules>
            <name>Yes_Signal_Validation_Due_Date_Upcoming</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Event_Due_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event_Actual_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Signal__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Validation Due Date</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PJE_WR08_PSA_Signal_Validation_Due_Date_Alert_Action_1</targetReference>
            </connector>
            <label>Yes Signal Validation Due Date Upcoming</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-6722, IQVIAPSA-4225</description>
        <name>Is_Validation_Due_Date_Missed</name>
        <label>Is Validation Due Date Missed</label>
        <locationX>1040</locationX>
        <locationY>1284</locationY>
        <defaultConnectorLabel>No Validation Due Date Not Missed</defaultConnectorLabel>
        <rules>
            <name>Yes_Validation_Due_Date_Missed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Event_Actual_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event_Due_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PSA_Event__r.Send_Missed_Due_Date_Notification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Signal__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Validation Due Date</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PJE_WEA10_PSA_Signal_Validation_Missed_Due_Date_Alert</targetReference>
            </connector>
            <label>Yes Validation Due Date Missed</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-6720, IQVIAPSA-MC-3202</description>
        <name>PSSF_Effective_Date_passed</name>
        <label>PSSF Effective Date passed</label>
        <locationX>1040</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Is_SD_Run_due_date_missed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No PSSF Effective Date not passed</defaultConnectorLabel>
        <rules>
            <name>Yes_PSSF_Effective_Date_passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Event_Due_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event_Actual_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PSSF__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PJE_WR06_PSA_PSSF_Effective_Date_Alert</targetReference>
            </connector>
            <label>Yes PSSF Effective Date passed</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-6720: PSA-CLD-IQVIAPSA-1226- Sanofi-Galen Compliance Deadlines Escalation Alert</description>
        <name>SG_Missed_Compliance_Deadlines_Escalation</name>
        <label>SG Missed Compliance Deadlines Escalation</label>
        <locationX>347</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Is_primary_resource_secondary_resource_other_resource_available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No SG Not Missed Compliance Deadlines</defaultConnectorLabel>
        <rules>
            <name>Yes_SG_Missed_Compliance_Deadlines</name>
            <conditionLogic>1 AND (2 OR 3) AND 4 AND 5 AND 6 AND (7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Report__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sanofi_GSO_Report</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Report__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sanofi_PVS_Report</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event_Due_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event_Actual_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PSA_Event__r.Send_Missed_Due_Date_Notification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event_Due_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event_Actual_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PJE_WR04_PSA_SG_Missed_Compliance_Deadlines_Escalation_Alert</targetReference>
            </connector>
            <label>Yes SG Missed Compliance Deadlines</label>
        </rules>
    </decisions>
    <description>IQVIAPSA_6719</description>
    <environments>Default</environments>
    <interviewLabel>PJE_FL01_PSA_ProjEventNotifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PJE_FL01_PSA_ProjEventNotifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>1260</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SG_Missed_Compliance_Deadlines_Escalation</targetReference>
        </connector>
        <filterFormula>NOT {!$Setup.Mulesoft_Integration_Control__c.By_Pass_Flow_Process__c} || {!$Setup.Mulesoft_Integration_Control__c.Is_Mulesoft_User__c}</filterFormula>
        <object>Project_Event__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>One_Day_After_Due_Date</name>
            <connector>
                <targetReference>Are_primary_resource_secondary_resource_other_resource_available</targetReference>
            </connector>
            <label>One Day After Due Date</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Event_Due_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>ZeroHoursAfterNotificationDate</name>
            <connector>
                <targetReference>Is_primary_resource_secondary_resource_other_resources_available</targetReference>
            </connector>
            <label>ZeroHoursAfterNotificationDate</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Notification_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
