src/flows/PRM_Contract_RecordTriggered_After_Insert_Update.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Non_Standard_Contract</name>
        <label>Non Standard Contract</label>
        <locationX>248</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Partner_Contract_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>TRUE</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Non_Standard_Contract__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Updation1</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Partner_Contract_Type</name>
        <label>Partner Contract Type</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contract_Type_True</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PRM_Contract_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agency Program SOW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PRM_Contract_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Data Program</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PRM_Contract_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sandbox Agreement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Name</targetReference>
            </connector>
            <label>Contract Type True</label>
        </rules>
    </decisions>
    <description>PRM-987 Migrated from the PRM_UpdateNonStandardContract workflow rule
Workflow rule description:</description>
    <environments>Default</environments>
    <formulas>
        <name>Update_EndDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS($Record.StartDate,$Record.Agency_Program__r.Duration_in_month__c)-1</expression>
    </formulas>
    <formulas>
        <name>Update_FirstNotificationDateNSCFormula</name>
        <dataType>Date</dataType>
        <expression>$Record.EndDate-$Record.Agency_Program__r.First_Notification__c -1</expression>
    </formulas>
    <formulas>
        <name>Update_RenewalDateNSCFormula</name>
        <dataType>Date</dataType>
        <expression>$Record.EndDate-$Record.Agency_Program__r.First_Notification__c-1</expression>
    </formulas>
    <formulas>
        <name>Update_SecondNotificationDateNSCFormula</name>
        <dataType>Date</dataType>
        <expression>$Record.EndDate-$Record.Agency_Program__r.Second_Notification__c -1</expression>
    </formulas>
    <formulas>
        <name>Update_ThirdNotificationDateNSCFormula</name>
        <dataType>Date</dataType>
        <expression>$Record.EndDate-$Record.Agency_Program__r.Third_Notification__c -1</expression>
    </formulas>
    <interviewLabel>PRM_Contract_RecordTriggered_After_Insert_Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PRM_Contract_RecordTriggered_After_Insert_Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Contract_Name</name>
        <label>Contract Name</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>EndDate_Updation</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Agency_Program__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Contract_Updation1</name>
        <label>Contract Updation1</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND 7 AND (8 OR 9 OR 10)</filterLogic>
        <filters>
            <field>Non_Standard_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>First_Notification_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Second_Notification_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Third_Notification_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Renewal_date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PRM_Contract_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agency Program SOW</stringValue>
            </value>
        </filters>
        <filters>
            <field>PRM_Contract_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sandbox Agreement</stringValue>
            </value>
        </filters>
        <filters>
            <field>PRM_Contract_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Data Program</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>First_Notification_Date__c</field>
            <value>
                <elementReference>Update_FirstNotificationDateNSCFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_date__c</field>
            <value>
                <elementReference>Update_RenewalDateNSCFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Second_Notification_Date__c</field>
            <value>
                <elementReference>Update_SecondNotificationDateNSCFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Third_Notification_Date__c</field>
            <value>
                <elementReference>Update_ThirdNotificationDateNSCFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>EndDate_Updation</name>
        <label>EndDate Updation</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StartDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>Update_EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Non_Standard_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract_Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PRM Contract</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Update_ContractName</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
</Flow>
