src/flows/PRP_FL01_CPQ_Proposal.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CPQ_Send_Email_for_sync_fail_to_Opportunity_Owner</name>
        <label>CPQ Send Email for sync fail to Opportunity Owner</label>
        <locationX>314</locationX>
        <locationY>384</locationY>
        <actionName>Apttus_Proposal__Proposal__c.CPQ_Send_Email_for_sync_fail_to_Opportunity_Owner</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Apttus_Proposal__Proposal__c.CPQ_Send_Email_for_sync_fail_to_Opportunity_Owner</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_Budget_Owner_to_Unlock_Budget_Last_Mail</name>
        <label>Notify Budget Owner to Unlock Budget Last Mail</label>
        <locationX>2162</locationX>
        <locationY>384</locationY>
        <actionName>Apttus_Proposal__Proposal__c.Notify_Budget_Owner_to_Unlock_Budget_Last</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Apttus_Proposal__Proposal__c.Notify_Budget_Owner_to_Unlock_Budget_Last</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_Budget_Owner_to_Unlock_Budget_Second_mail</name>
        <label>Notify Budget Owner to Unlock Budget Second mail</label>
        <locationX>1634</locationX>
        <locationY>384</locationY>
        <actionName>Apttus_Proposal__Proposal__c.Notify_Budget_Owner_to_Unlock_Budget_First_Second</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Apttus_Proposal__Proposal__c.Notify_Budget_Owner_to_Unlock_Budget_First_Second</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_Budget_Owner_to_Unlock_First_Mail</name>
        <label>Notify Budget Owner to Unlock First Mail</label>
        <locationX>1106</locationX>
        <locationY>384</locationY>
        <actionName>Apttus_Proposal__Proposal__c.Notify_Budget_Owner_to_Unlock_Budget_First_Second</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Apttus_Proposal__Proposal__c.Notify_Budget_Owner_to_Unlock_Budget_First_Second</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>RDS_Budget_Quote_Creation_Alert</name>
        <label>RDS Budget Quote Creation Alert</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <actionName>Apttus_Proposal__Proposal__c.RDS_Budget_Quote_Creation_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Apttus_Proposal__Proposal__c.RDS_Budget_Quote_Creation_Alert</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>CPQ_Send_Email</name>
        <label>CPQ Send Email</label>
        <locationX>446</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CPQ_Notify_Opportunity_Owner_for_Sync_fail</name>
            <conditionLogic>1 AND (2 OR 3) AND 4 AND 5 AND (6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RDS Budget</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apttus_Proposal__Approval_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Generated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apttus_Proposal__Approval_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Presented</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Execution_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Execution_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Failed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apttus_Proposal__Opportunity__r.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CPQ_Send_Email_for_sync_fail_to_Opportunity_Owner</targetReference>
            </connector>
            <label>CPQ Notify Opportunity Owner for Sync fail</label>
        </rules>
        <rules>
            <name>Send_Email_on_RDS_Budget_Quote_Creation</name>
            <conditionLogic>1 AND 2 AND 3 AND ( 4 OR 5) AND (6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Clinical_Bid__r.Is_there_a_Client_Bid_Grid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RDS Budget</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apttus_Proposal__Proposal_Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Apttus_Proposal__Proposal_Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apttus_Proposal__Proposal_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apttus_Proposal__Proposal_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rebid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RDS_Budget_Quote_Creation_Alert</targetReference>
            </connector>
            <label>Send Email on RDS Budget Quote Creation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Entry_Criteria</name>
        <label>Entry Criteria</label>
        <locationX>1238</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_Mail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RDS Budget</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Budget_Checked_Out_By__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pricing_Tool_Locked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Budget_Checked_Out_By__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Budget_Owner_to_Unlock_First_Mail</targetReference>
            </connector>
            <label>First Mail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Entry_Criteria_2</name>
        <label>Entry Criteria 2</label>
        <locationX>1766</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Second_Mail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RDS Budget</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Budget_Checked_Out_By__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pricing_Tool_Locked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Budget_Checked_Out_By__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Budget_Owner_to_Unlock_Budget_Second_mail</targetReference>
            </connector>
            <label>Second Mail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Entry_Criteria_3</name>
        <label>Entry Criteria 3</label>
        <locationX>2294</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Third_Mail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RDS Budget</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Budget_Checked_Out_By__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pricing_Tool_Locked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Budget_Checked_Out_By__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Budget_Owner_to_Unlock_Budget_Last_Mail</targetReference>
            </connector>
            <label>Third Mail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Entry_Criteria_4</name>
        <label>Entry Criteria 4</label>
        <locationX>2822</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Field_Updates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RDS_Budget</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Budget_Checked_Out_By__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pricing_Tool_Locked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unlock_Record</targetReference>
            </connector>
            <label>Field Updates</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>PRP_FL01_CPQ_Proposal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PRP_FL01_CPQ_Proposal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Unlock_Record</name>
        <label>Unlock Record</label>
        <locationX>2690</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>Budget_Checked_Out_By__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Pricing_Tool_Locked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>XAE_Lock_Timestamp__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1508</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CPQ_Send_Email</targetReference>
        </connector>
        <object>Apttus_Proposal__Proposal__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Notify_Budget_Owner_to_Unlock_Budget_First</name>
            <connector>
                <targetReference>Entry_Criteria</targetReference>
            </connector>
            <label>Notify Budget Owner to Unlock Budget First</label>
            <maxBatchSize>100</maxBatchSize>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>XAE_Lock_Timestamp__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Notify_Budget_Owner_to_Unlock_Budget_Second</name>
            <connector>
                <targetReference>Entry_Criteria_2</targetReference>
            </connector>
            <label>Notify Budget Owner to Unlock Budget Second</label>
            <offsetNumber>4</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>XAE_Lock_Timestamp__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Notify_Budget_Owner_to_Unlock_Budget_Last</name>
            <connector>
                <targetReference>Entry_Criteria_3</targetReference>
            </connector>
            <label>Notify Budget Owner to Unlock Budget Last</label>
            <offsetNumber>6</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>XAE_Lock_Timestamp__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Notify_Budget_Owner_to_Unlock_Budget</name>
            <connector>
                <targetReference>Entry_Criteria_4</targetReference>
            </connector>
            <label>Notify Budget Owner to Unlock Budget</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>XAE_Unlock_Timestamp__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>10</triggerOrder>
</Flow>
