src/flows/PTS_FL01_PSA_Proj_Task.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>An email notification three days prior to the task end date.</description>
        <name>PTS_WEA01_PSA_CLD_PSA_Project_Task_Upcoming_Task_Alert</name>
        <label>PTS_WEA01_PSA_CLD - PSA Project Task Upcoming Task Alert</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <actionName>pse__Project_Task__c.PTS_WEA01_PSA_CLD_UpcomingTaskAlert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pse__Project_Task__c.PTS_WEA01_PSA_CLD_UpcomingTaskAlert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>PTS_WEA01_PSA_CLD_PSA_Project_Task_Upcoming_Task_Alert1</name>
        <label>PTS_WEA01_PSA_CLD - PSA Project Task Upcoming Task Alert</label>
        <locationX>2162</locationX>
        <locationY>384</locationY>
        <actionName>pse__Project_Task__c.PTS_WEA01_PSA_CLD_UpcomingTaskAlert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pse__Project_Task__c.PTS_WEA01_PSA_CLD_UpcomingTaskAlert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>PTS_WEA02_PSA_CLD_PSA_Project_Task_Past_Due_Alert</name>
        <label>PTS_WEA02_PSA_CLD- PSA Project Task Past Due Alert</label>
        <locationX>2690</locationX>
        <locationY>384</locationY>
        <actionName>pse__Project_Task__c.PTS_WEA02_PSA_CLD_PastDueAlert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>PTS_WFU01_SetTriggerPastDue</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pse__Project_Task__c.PTS_WEA02_PSA_CLD_PastDueAlert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>PTS_WEA03_PSA_CLD_PSA_Project_New_Task_Assignment_Alert</name>
        <label>PTS_WEA03_PSA_CLD - PSA Project New Task Assignment Alert</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <actionName>pse__Project_Task__c.PTS_WEA03_PSA_CLD_NewTaskAssignmentAlert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pse__Project_Task__c.PTS_WEA03_PSA_CLD_NewTaskAssignmentAlert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>PTS_WEA05_PSA_MC_PSA_Proj_Task_Due_Dt_Alert</name>
        <label>PTS-WEA05-PSA-MC-PSA_Proj_Task_Due_Dt_Alert</label>
        <locationX>1106</locationX>
        <locationY>384</locationY>
        <actionName>pse__Project_Task__c.PTS_WEA05_PSA_MC_PSA_Proj_Task_Due_Dt_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pse__Project_Task__c.PTS_WEA05_PSA_MC_PSA_Proj_Task_Due_Dt_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>PTS_WEA05_PSA_MC_PSA_Proj_Task_Due_Dt_Alert_2</name>
        <label>PTS-WEA05-PSA-MC-PSA_Proj_Task_Due_Dt_Alert</label>
        <locationX>1634</locationX>
        <locationY>384</locationY>
        <actionName>pse__Project_Task__c.PTS_WEA05_PSA_MC_PSA_Proj_Task_Due_Dt_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pse__Project_Task__c.PTS_WEA05_PSA_MC_PSA_Proj_Task_Due_Dt_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>IQVIAPSA-9339</description>
        <name>Status_Email_Reminder_To_Resource</name>
        <label>Status Email Reminder To Resource</label>
        <locationX>3218</locationX>
        <locationY>384</locationY>
        <actionName>pse__Project_Task__c.PTS_WEA06_PSA_StatusReminderToResource</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pse__Project_Task__c.PTS_WEA06_PSA_StatusReminderToResource</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <decisions>
        <description>IQVIAPSA-6727
PSA-CLD-USNONE - This rule will send an email notification seven days prior to the task end date.</description>
        <name>DateUpcomingNotification_Mail</name>
        <label>DateUpcomingNotification_Mail</label>
        <locationX>2294</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PTS_WR01_PSA_DateUpcomingNotification_Mail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PTS_WR01_PSA_DateUpcomingNotification_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Resource__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Resource__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PTS_WEA01_PSA_CLD_PSA_Project_Task_Upcoming_Task_Alert1</targetReference>
            </connector>
            <label>PTS_WR01_PSA_DateUpcomingNotification_Mail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_to_service_line_lead_5_days_before_planned_end_date_and_time</name>
        <label>Email to service line lead 5 days before planned end date and time</label>
        <locationX>1766</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_planned_end_date_and_time_upcoming_in_5_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PTS_WR07_PSA_Date_SrvcLineLead_UpcomingNotification_Mail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PTS_WEA05_PSA_MC_PSA_Proj_Task_Due_Dt_Alert_2</targetReference>
            </connector>
            <label>Yes planned end date and time upcoming in 5 days</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-6727
PSA-CLD-USNONE - This rule will send an email notification to the resource when they are assigned to a Deliverable or related Task</description>
        <name>Immediately</name>
        <label>Immediately</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PTS_WR02_PSA_NewTaskNotification_Mail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PTS_WR02_PSA_NewTaskNotification_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Resource__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Resource__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PTS_WEA03_PSA_CLD_PSA_Project_New_Task_Assignment_Alert</targetReference>
            </connector>
            <label>PTS_WR02_PSA_NewTaskNotification_Mail</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-MC- 610 - This rule will send an email notification three days prior to the task end date.</description>
        <name>Is_Project_Task_planned_date_Upcoming_within_3_Day</name>
        <label>Is Project Task planned end date Upcoming within 3 Day</label>
        <locationX>710</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Project_Task_planned_end_date_Upcoming_within_3_Day</name>
            <conditionLogic>(1 OR 2) AND 3 AND (4 OR 5) AND 6 AND 7 AND 8 AND 9</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RDS_Deliverable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RDS_Deliverable_Task</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Line_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PVA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Planned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Actual_End_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Resource__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Resource__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>enddateandcreateddatedifference</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PTS_WEA01_PSA_CLD_PSA_Project_Task_Upcoming_Task_Alert</targetReference>
            </connector>
            <label>Yes Project Task planned end date Upcoming within 3 Day</label>
        </rules>
      </decisions>
      <decisions>
        <description>IQVIAPSA-9339</description>
        <name>Mulesoft_Integration_and_Email_Criteria_check</name>
        <label>Mulesoft Integration and Email Criteria check</label>
        <locationX>3350</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Bypass due to integration or criteria not met</defaultConnectorLabel>
        <rules>
            <name>Criteria_Met</name>
            <conditionLogic>1  AND 2 AND 3 AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RDS Deliverable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Resource__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Billing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Resource__r.pse__Group__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RADDS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Email_Reminder_To_Resource</targetReference>
            </connector>
            <label>Criteria Met</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-3865, IQVIAPSA-4697, IQVIAPSA-5640</description>
        <name>PSA_Date_SrvcLineLead_UpcomingNotification_Mail</name>
        <label>PSA_Date_SrvcLineLead_UpcomingNotification_Mail</label>
        <locationX>1238</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>No PSA_Date_SrvcLineLead_NotUpcomingNotification_Mail</defaultConnectorLabel>
        <rules>
            <name>Yes_PSA_Date_SrvcLineLead_UpcomingNotification_Mail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PTS_WR07_PSA_Date_SrvcLineLead_UpcomingNotification_Mail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PTS_WEA05_PSA_MC_PSA_Proj_Task_Due_Dt_Alert</targetReference>
            </connector>
            <label>Yes PSA_Date_SrvcLineLead_UpcomingNotification_Mail</label>
        </rules>
    </decisions>
    <decisions>
        <description>IQVIAPSA-6727
PSA-CLD-USNONE - Sends daily reminder email that task is past due</description>
        <name>X1_Day_After_Decision</name>
        <label>1 Day After Decision</label>
        <locationX>2822</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PTS_WR03_PSA_RecurringPastDueNotification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PTS_WEA02_PSA_CLD_PSAProjectTaskPastDueAlert_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Resource__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Resource__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PTS_WEA02_PSA_CLD_PSA_Project_Task_Past_Due_Alert</targetReference>
            </connector>
            <label>PTS_WR03_PSA_RecurringPastDueNotification</label>
        </rules>
    </decisions>
    <description>This flow is used to trigger email notifications for Project Task object</description>
    <environments>Default</environments>
    <formulas>
        <name>enddateandcreateddatedifference</name>
        <dataType>Number</dataType>
        <expression>DATEVALUE({!$Record.pse__End_Date_Time__c}) - DATEVALUE({!$Record.CreatedDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>PTS_WEA02_PSA_CLD_PSAProjectTaskPastDueAlert_Formula</name>
        <dataType>Boolean</dataType>
        <expression>OR({!$Record.Trigger_Past_Due_Workflow__c}&amp;&amp; TEXT({!$Record.pse__Status__c}) != &apos;Complete&apos; &amp;&amp; {!$Record.pse__End_Date__c} &lt;= Today() &amp;&amp; !ISBLANK({!$Record.Resource__c}) &amp;&amp; OR({!$Record.RecordType.DeveloperName} = &apos;RDS_Deliverable_Task&apos;,{!$Record.RecordType.DeveloperName}= &apos;RDS_Project_Task&apos;), {!$Record.Trigger_Past_Due_Workflow__c}&amp;&amp; TEXT({!$Record.pse__Status__c}) != &apos;Complete&apos; &amp;&amp; {!$Record.End_Date_Planned__c}&lt;= Today() &amp;&amp; !ISBLANK({!$Record.Resource__c}) &amp;&amp; {!$Record.RecordType.DeveloperName} = &apos;RDS_Deliverable&apos; )</expression>
    </formulas>
    <formulas>
        <name>PTS_WR01_PSA_DateUpcomingNotification_Formula</name>
        <dataType>Boolean</dataType>
        <expression>AND ( OR({!$Record.RecordType.DeveloperName} = &apos;RDS_Deliverable&apos;, {!$Record.RecordType.DeveloperName} =&apos;RDS_Deliverable_Task&apos;), {!$Record.Service_Line_Code__c} != &apos;PVA&apos;, OR(TEXT({!$Record.pse__Status__c}) == &apos;In Progress&apos;, TEXT({!$Record.pse__Status__c}) == &apos;Planned&apos;) , ISBLANK( {!$Record.pse__Actual_End_Date_Time__c}), NOT(ISBLANK({!$Record.Resource__c})), VALUE(TEXT({!$Record.pse__End_Date__c}- DATEVALUE({!$Record.CreatedDate}))) &gt; 7 )</expression>
    </formulas>
    <formulas>
        <name>PTS_WR02_PSA_NewTaskNotification_Formula</name>
        <dataType>Boolean</dataType>
        <expression>AND ( OR ( {!$Record.RecordType.DeveloperName}= &apos;RDS_Deliverable&apos;, {!$Record.RecordType.DeveloperName} = &apos;RDS_Deliverable_Task&apos; ), TEXT({!$Record.pse__Status__c}) != &apos;Complete&apos;, OR ( (ISNEW() &amp;&amp; !ISBLANK({!$Record.Resource__c})), (ISCHANGED({!$Record.Resource__c}) &amp;&amp; !ISBLANK({!$Record.Resource__c})) ) )</expression>
    </formulas>
    <formulas>
        <description>IQVIAPSA-3865, IQVIAPSA-4697, IQVIAPSA-5640</description>
        <name>PTS_WR07_PSA_Date_SrvcLineLead_UpcomingNotification_Mail</name>
        <dataType>Boolean</dataType>
        <expression>AND( AND({!$Record.RecordType.DeveloperName} = &apos;RDS_Project_Task&apos;,  {!$Record.Trigger_Email_Notification__c} = True), {!$Record.Service_Line_Lead__c} != null, IF( ISBLANK({!$Record.pse__Actual_End_Date__c}), TRUE, FALSE), IF({!$Record.pse__End_Date__c}  &gt;  TODAY(), TRUE, FALSE),  NOT( AND({!$Record.Service_Line__r.Name} = &apos;PV Solutions&apos;, CONTAINS({!$Record.Name}, &apos;Complete Project Files Review&apos;))), {!$Record.Activate_Workflow_Rule_Conditionally__c} = TRUE)</expression>
    </formulas>
    <interviewLabel>PTS_FL01_PSA_Proj_Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PTS_FL01_PSA_Proj_Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>PTS_WFU01_SetTriggerPastDue</name>
        <label>PTS_WFU01_SetTriggerPastDue</label>
        <locationX>2690</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Trigger_Past_Due_Workflow__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1376</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Immediately</targetReference>
        </connector>
        <filterFormula>NOT {!$Setup.Mulesoft_Integration_Control__c.By_Pass_Flow_Process__c} || {!$Setup.Mulesoft_Integration_Control__c.Is_Mulesoft_User__c}</filterFormula>
        <object>pse__Project_Task__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X3_days_prior_to_planed_end_date</name>
            <connector>
                <targetReference>Is_Project_Task_planned_date_Upcoming_within_3_Day</targetReference>
            </connector>
            <label>3 days prior to planed end date</label>
            <offsetNumber>-3</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>pse__End_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X14_days_before_planned_end_date_and_time</name>
            <connector>
                <targetReference>PSA_Date_SrvcLineLead_UpcomingNotification_Mail</targetReference>
            </connector>
            <label>14 days before planned end date and time</label>
            <offsetNumber>-14</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>pse__End_Date_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X5_days_before_planned_end_date_and_time</name>
            <connector>
                <targetReference>Email_to_service_line_lead_5_days_before_planned_end_date_and_time</targetReference>
            </connector>
            <label>5 days before planned end date and time</label>
            <offsetNumber>-5</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>pse__End_Date_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X7_days_prior_to_planed_end_date</name>
            <connector>
                <targetReference>DateUpcomingNotification_Mail</targetReference>
            </connector>
            <label>7 days prior to planed end date</label>
            <offsetNumber>-7</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>pse__End_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X1_days_After_to_planed_end_date</name>
            <connector>
                <targetReference>X1_Day_After_Decision</targetReference>
            </connector>
            <label>1 days After to planed end date</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X30_days_after_record_updation</name>
            <connector>
                <targetReference>Mulesoft_Integration_and_Email_Criteria_check</targetReference>
            </connector>
            <label>30 days after record updation</label>
            <offsetNumber>30</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
