src/flows/PTS_FL01_PSA_EmailNotification.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>IQVIAPSA-3493</description>
        <name>Status_Email_Reminder_To_Resource</name>
        <label>Status Email Reminder To Resource</label>
        <locationX>314</locationX>
        <locationY>408</locationY>
        <actionName>pse__Project_Task__c.PTS_WEA06_PSA_StatusReminderToResource</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pse__Project_Task__c.PTS_WEA06_PSA_StatusReminderToResource</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <description>IQVIAPSA-3493</description>
        <name>Status_Ready_for_Billing_variable_assignment</name>
        <label>Status &apos;Ready for Billing&apos; variable assignment [For removing field integrity exception in deployment as flow is empty]</label>
        <locationX>50</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>$Record.pse__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StatusReadyforBilling</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <description>IQVIAPSA-3493</description>
        <name>PTSRecordTypeRDSDeliverable</name>
        <dataType>String</dataType>
        <value>
            <stringValue>RDS Deliverable</stringValue>
        </value>
    </constants>
    <constants>
        <description>IQVIAPSA-3493</description>
        <name>RecordTypeRDSDeliverable</name>
        <dataType>String</dataType>
        <value>
            <stringValue>RDS Deliverable</stringValue>
        </value>
    </constants>
    <constants>
        <description>IQVIAPSA-3493</description>
        <name>StatusReadyforBilling</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Ready for Billing</stringValue>
        </value>
    </constants>
    <decisions>
        <description>IQVIAPSA-3493</description>
        <name>Mulesoft_Integration_and_Email_Criteria_check</name>
        <label>Mulesoft Integration and Email Criteria check</label>
        <locationX>446</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Bypass due to integration or criteria not met</defaultConnectorLabel>
        <rules>
            <name>Criteria_Met</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5 AND 6 AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Mulesoft_Integration_Control__c.Is_Mulesoft_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.Mulesoft_Integration_Control__c.Ignore_Validation_Rules__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RDS Deliverable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Resource__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Billing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Resource__r.pse__Group__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RADDS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Email_Reminder_To_Resource</targetReference>
            </connector>
            <label>Criteria Met</label>
        </rules>
    </decisions>
    <description>IQVIAPSA-3493</description>
    <environments>Default</environments>
    <interviewLabel>PTS FL01 PSA EmailNotification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PTS FL01 PSA EmailNotification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status_Ready_for_Billing_variable_assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Resource__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pse__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ready for Billing</stringValue>
            </value>
        </filters>
        <object>pse__Project_Task__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X30_days_after_record_updation</name>
            <connector>
                <targetReference>Mulesoft_Integration_and_Email_Criteria_check</targetReference>
            </connector>
            <label>30 days after record updation</label>
            <offsetNumber>30</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
