src/flows/TPA_Email_Alert.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>TPA_WFEA_AMA_Fee_Declined_Email</name>
        <label>TPA_WFEA_AMA_Fee_Declined_Email</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <actionName>Workflow_Email_Record__c.TPA_WFEA_AMA_Fee_Declined_Email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>TPA_WFEA_ComplianceHoldResponse</name>
        <label>TPA_WFEA_ComplianceHoldResponse</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <actionName>Workflow_Email_Record__c.TPA_WFEA_ComplianceHoldResponse</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>TPA_WFEA_CountryWorkbookReport</name>
        <label>TPA_WFEA_CountryWorkbookReport</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <actionName>Workflow_Email_Record__c.TPA_WFEA_CountryWorkbookReport</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>TPA_WFEA_Perm_CO_Change</name>
        <label>TPA_WFEA_Perm_CO_Change</label>
        <locationX>1898</locationX>
        <locationY>431</locationY>
        <actionName>Workflow_Email_Record__c.TPA_WFEA_Perm_CO_Change</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>TPA_WFEA_Temp_CO_Change</name>
        <label>TPA_WFEA_Temp_CO_Change</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <actionName>Workflow_Email_Record__c.TPA_WFEA_Temp_CO_Change</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>TPA_WFEA_TPA_50_or_more_licenses_Email</name>
        <label>TPA_WFEA_TPA_50_or_more_licenses_Email</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <actionName>Workflow_Email_Record__c.TPA_WFEA_TPA_50_or_more_licenses_Email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>TPA_WFEA_VendorSubmission</name>
        <label>TPA_WFEA_VendorSubmission</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Workflow_Email_Record__c.TPA_WFEA_VendorSubmission</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>TPA_Workflow_EmailAlert</name>
        <label>TPA_Workflow_EmailAlert</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>Workflow_Email_Record__c.TPA_Workflow_EmailAlert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Email_Action_Decison</name>
        <label>Email Action Decison</label>
        <locationX>1106</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Action</defaultConnectorLabel>
        <rules>
            <name>TPA_02_SendVendorSubmissionEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TPA_02_SendVendorSubmissionEmail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TPA_WFEA_VendorSubmission</targetReference>
            </connector>
            <label>TPA_02_SendVendorSubmissionEmail</label>
        </rules>
        <rules>
            <name>TPA_01_SendEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TPA_01_SendEmail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TPA_Workflow_EmailAlert</targetReference>
            </connector>
            <label>TPA_01_SendEmail</label>
        </rules>
        <rules>
            <name>TPA_03_SendCountryOfferingReport</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TPA_03_SendCountryOfferingReport</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TPA_WFEA_CountryWorkbookReport</targetReference>
            </connector>
            <label>TPA_03_SendCountryOfferingReport</label>
        </rules>
        <rules>
            <name>TPA_04_SendComplianceHoldRes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TPA_04_SendComplianceHoldRes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TPA_WFEA_ComplianceHoldResponse</targetReference>
            </connector>
            <label>TPA_04_SendComplianceHoldRes</label>
        </rules>
        <rules>
            <name>TPA_05_AMA_Fee_Declined_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TPA_05_AMA_Fee_Declined_Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TPA_WFEA_AMA_Fee_Declined_Email</targetReference>
            </connector>
            <label>TPA_05_AMA_Fee_Declined_Email</label>
        </rules>
        <rules>
            <name>TPA_06_50orMore_Licenses_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TPA_06_50orMore_Licenses_Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TPA_WFEA_TPA_50_or_more_licenses_Email</targetReference>
            </connector>
            <label>TPA_06_50orMore_Licenses_Email</label>
        </rules>
        <rules>
            <name>TPA_07_ConfirmTempChangeOfCO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TPA_07_ConfirmTempChangeOfCO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TPA_WFEA_Temp_CO_Change</targetReference>
            </connector>
            <label>TPA_07_ConfirmTempChangeOfCO</label>
        </rules>
        <rules>
            <name>TPA_08_ConfirmPermChangeOfCO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TPA_08_ConfirmPermChangeOfCO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TPA_WFEA_Perm_CO_Change</targetReference>
            </connector>
            <label>TPA_08_ConfirmPermChangeOfCO</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>TPA_Email-Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TPA_Email-Alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Email_Action_Decison</targetReference>
        </connector>
        <filterFormula>AND({!$Setup.TPA_Settings__c.Is_Skip_TPA_Triggers__c} = FALSE,
         {!$Setup.TPA_Settings__c.TPA_Send_Emails__c} = TRUE , {!$Setup.TPA_Settings__c.Is_Processing_TPA_Flow__c} = TRUE ,
         {!$Record.Module_Name__c}=&apos;TPA&apos;)</filterFormula>
        <object>Workflow_Email_Record__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
