src/flows/WER_PB01_TPA_Email_Alert.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>TPA_WFEA_VendorSubmission</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Vendor_Submission_Email</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Workflow_Email_Record__c.TPA_WFEA_VendorSubmission</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>TPA_Workflow_EmailAlert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Email_Without_Attachments</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>Workflow_Email_Record__c.TPA_Workflow_EmailAlert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>TPA_WFEA_CountryWorkbookReport</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Send Country offering Workbook Report</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>Workflow_Email_Record__c.TPA_WFEA_CountryWorkbookReport</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>TPA_WFEA_ComplianceHoldResponse</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Send Compliance Hold Response</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <actionName>Workflow_Email_Record__c.TPA_WFEA_ComplianceHoldResponse</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Vendor Submission</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Emails without attachments</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Send Country Workbook Report</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Send Compliance Hold Response Mail</label>
        </rules>
    </decisions>
    <description>Send TPA Related Emails through Email Alert using Workflow Email Record object</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND($Setup.TPA_Settings__c.Is_Skip_TPA_Triggers__c = FALSE, $Setup.TPA_Settings__c.TPA_Send_Emails__c = TRUE, IsPickVal([Workflow_Email_Record__c].Email_Action__c, &apos;TPA_02_SendVendorSubmissionEmail&apos;), [Workflow_Email_Record__c].Module_Name__c = &apos;TPA&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND({!$Setup.TPA_Settings__c.Is_Skip_TPA_Triggers__c} = FALSE, {!$Setup.TPA_Settings__c.TPA_Send_Emails__c} = TRUE, IsPickVal({!myVariable_current.Email_Action__c}, &apos;TPA_02_SendVendorSubmissionEmail&apos;), {!myVariable_current.Module_Name__c} = &apos;TPA&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND($Setup.TPA_Settings__c.Is_Skip_TPA_Triggers__c = FALSE, $Setup.TPA_Settings__c.TPA_Send_Emails__c = TRUE, IsPickVal([Workflow_Email_Record__c].Email_Action__c, &apos;TPA_01_SendEmail&apos;), [Workflow_Email_Record__c].Module_Name__c = &apos;TPA&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND({!$Setup.TPA_Settings__c.Is_Skip_TPA_Triggers__c} = FALSE, {!$Setup.TPA_Settings__c.TPA_Send_Emails__c} = TRUE, IsPickVal({!myVariable_current.Email_Action__c}, &apos;TPA_01_SendEmail&apos;), {!myVariable_current.Module_Name__c} = &apos;TPA&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND($Setup.TPA_Settings__c.Is_Skip_TPA_Triggers__c = FALSE, $Setup.TPA_Settings__c.TPA_Send_Emails__c = TRUE, IsPickVal([Workflow_Email_Record__c].Email_Action__c, &apos;TPA_03_SendCountryOfferingReport&apos;), [Workflow_Email_Record__c].Module_Name__c = &apos;TPA&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>AND({!$Setup.TPA_Settings__c.Is_Skip_TPA_Triggers__c} = FALSE, {!$Setup.TPA_Settings__c.TPA_Send_Emails__c} = TRUE, IsPickVal({!myVariable_current.Email_Action__c}, &apos;TPA_03_SendCountryOfferingReport&apos;), {!myVariable_current.Module_Name__c} = &apos;TPA&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND($Setup.TPA_Settings__c.Is_Skip_TPA_Triggers__c = FALSE, $Setup.TPA_Settings__c.TPA_Send_Emails__c = TRUE, IsPickVal([Workflow_Email_Record__c].Email_Action__c, &apos;TPA_04_SendComplianceHoldRes&apos;), [Workflow_Email_Record__c].Module_Name__c = &apos;TPA&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>AND({!$Setup.TPA_Settings__c.Is_Skip_TPA_Triggers__c} = FALSE, {!$Setup.TPA_Settings__c.TPA_Send_Emails__c} = TRUE, IsPickVal({!myVariable_current.Email_Action__c}, &apos;TPA_04_SendComplianceHoldRes&apos;), {!myVariable_current.Module_Name__c} = &apos;TPA&apos;)</expression>
    </formulas>
    <interviewLabel>WER_PB01_TPA_Email_Alert-7_InterviewLabel</interviewLabel>
    <label>WER_PB01_TPA_Email-Alert</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Workflow_Email_Record__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Workflow_Email_Record__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Workflow_Email_Record__c</objectType>
    </variables>
</Flow>
